[2011-09-23 14:33] janahoffmann commented on #43
@ZhengLiAtos I think this sounds like the way to go, but will be applied for the advanced search then. If we predefine the search categories in simple search to author, title, year and taxon, we have to move this to the advanced search (see description). It should be possible that the user just copy/pastes a string with the BHL-Europe URL (from a different source for example) and finds the content

[2011-09-23 14:45] akohlbecker commented on #36
@janahoffmann Yes the new description correctly describes the problem

[2011-09-26 10:51] lobajuluwa commented on #182
The following bugs should also come under feature 1.3.1 i.e. no need to treat them as separate issues.
#183  Browse by Year
#181 Browse by Title

[2011-09-26 11:18] JiriFrank commented on #182
Hi Lola, it is nota a feature but reported bug =-)
@lobajuluwa

same as Browse by Title and Year

assigned person is solving the bug

[2011-09-26 11:23] lobajuluwa commented on #182
Ooops! Yep, you're right these are all being grouped as bugs!
@JiriFrank

[2011-09-26 14:05] leenamba commented on #54
@jirifrank

[2011-09-26 14:06] leenamba commented on #84
@jirifrank

[2011-09-26 14:06] leenamba commented on #95
@jirifrank

[2011-09-27 08:27] bgol commented on #222
The two buttons do have the same functionality. It's just for user convenience. If a folder with lots of files is opened, the bottom button will scroll out of the window. We added the top button so the user doesn't have to scroll down.

[2011-09-27 08:36] bgol commented on #224
It's just the internal workflow. The preingest can handle more than one OCR at a time. If one is finished the next one will be processed, eg: we have 4 queues: 1, 2, 3, 4 -> 3 is finished -> 1, 2, 5, 4 -> 1 is finished -> 6, 2, 5, 4, and so on.

[2011-09-27 08:52] bgol commented on #223
To re-submit a content you just have to submit it again after you uploaded the new/changed files into the same folder. Everything will be done again **except** the NOID and OCR for allready processed image-files. If you want to re-OCR an image file you have to delete the corresponding .txt file in the aip folder before re-submitting. If you delete the whole aip folder everything will be done again

[2011-09-27 09:09] bgol commented on #209
"our test mashine" is a VM running on Linux. The host is a quad core (intel Q6600@2.4GHz) with 4GB of memory and the VM gets all 4 cores and 2GB of memory.

[2011-09-27 10:36] melitabirthaelmer opened #230 "Preingest File Submission Guidelines: Naming of files"
<b><i>Question: </b></i>
The Pre-Ingest File Submission Guidelines (p. 5) suggests to name image files as followed:

821_0001_cover.tif
821_0002_blank.tif
821_0003_title.tif

Could the index page also be named similarly, ....._index.tif or ..._contents.tif (if it is the contents page)?

It would be very useful to be able to find this page.

@tiinaonttonen

[2011-09-27 11:46] JiriFrank commented on #225
The definition will be in agenda for the Tuesday workshop.

[2011-09-28 09:48] leenamba commented on #212
@akohlbecker
need to test to see if compatible with solr 3.3

[2011-09-28 09:52] akohlbecker commented on #212
see http://groups.google.com/group/islandora/browse_thread/thread/b23008bb780d40f8?pli=1 for possible problems

[2011-09-28 14:34] akohlbecker commented on #212
in the following I am using a ssh tunnel at port 58080 to connect to the tomcat instance on bhl-int1.nhm.ac.uk:8080:

at http://127.0.0.1:58080/fedoragsearch/rest?operation=browseIndex I get the following error message:

Wed Sep 28 15:31:18 BST 2011 Connection error (is Solr running at http://localhost:8983/solr/core3/update ?): java.net.ConnectException: Connection refused

[2011-09-28 16:30] audreyhzhang commented on #212
Solr Core3 for GSearch is running on port 8983 correctly now.

If the same error message occurs, it can be solved by doing this:
---@bhl-int1:~/dev/apache-solr-3.3.0/example$ java -jar start.jar

[2011-09-29 06:49] wkollernhm commented on #212
I re-opened the issue in order to be able to track the outcome of this.

[2011-09-29 08:51] akohlbecker commented on #212
relying on the admin to always manually start solr is not an option, we need to have a start-up script in /etc/init.d/.
there is already such script on mandible.I think it makes sense to share init-script between the multiple servers
@chris-sleep , @leenamba:
so i suggest having a folder /mnt/nfs-demeter/dev/init-scripts  which will hold all init-scripts. The /etc/init.d/ will contain symlinks to

[2011-09-29 10:18] akohlbecker commented on #212
Currently we are running:

  "Fedora Generic Search Service Version 2.3 (September 2011) !!! PRERELEASE !!!"

the welcome page http://127.0.0.1:58080/fedoragsearch/ states gesearch 2.3 to be compatible with:
- Lucene 3.3
- Solr 3.3

[2011-09-29 11:14] akohlbecker commented on #212
test performed so far:
1. Browsing the indedex **OK**
2. Updating the index (http://127.0.0.1:58080/fedoragsearch/rest?operation=updateIndex) **NO ERROR** but also no documents are being indexed - to me it looks like no no documents are found in Fedora

[2011-10-07 15:10] akohlbecker commented on #176
fixed but not ready to test

[2011-10-07 15:10] #176 closed, assigned to akohlbecker

[2011-10-07 15:13] akohlbecker commented on #36
this issue should fixed see #176, however I still need to connect the portal with gsearch and we need additional test data
to be ingested
@hengdi could you please "ingest" the following book? http://bhl-portal-dev.nhm.ac.uk/?q=node/21991&language=es
_Über die Ökologie und Verbreitung der Arthropoden der Triebsandgebiete an den Küsten Finnlands
Über die Jährlichen Zuwachszonen der Schuppen und B

[2011-10-07 15:27] audreyhzhang commented on #36
@akohlbecker yes, ok, could you please figure me out where are the original pages and files of this book? Thanks.

[2011-10-07 21:37] JiriFrank commented on #208
The final UI for Home page, Advanced search and Browse are agreed.
The result list and the content bibliographic page are in the finalization process.
The Book viewer design will be discus during next week.

[2011-10-10 07:20] akohlbecker commented on #36
@hengdi sorry I got no idea where to find this book. I wrote @melitabirthaelmer if she knows about it, but she is out of office today, maybe Lee or Chris know something?

[2011-10-10 13:46] leenamba commented on #212
need to test with new solr+jetty

[2011-10-10 13:57] leenamba commented on #99
Can select single or several pages for download

[2011-10-11 10:20] melitabirthaelmer commented on #36
Here are the original files for the book (http://bhl-portal-dev.nhm.ac.uk/?q=node/21991&language=es) :

http://bhl-celsus.nhm.ac.uk/uploads/UHViikki/FI-Hb/FI-Hb_299947_acta_zoologica/299947_12-14_1932/

[2011-10-11 14:53] audreyhzhang commented on #36
OK, this book is in the Fedora Repository now.

[2011-10-12 09:20] melitabirthaelmer commented on #200
Do we have any updates on the book viewer?

@grahamhrbge1670

[2011-10-12 11:12] chris-sleep commented on #200
I've put a short term fix in place  - a couple of edits to the aip-preview bookviewer php and kicked the permission on the aip-preview data, however this is not a long term solution as the URL presented is on a development host which is due to shut down.

Issue should currently be resolved, but we will need to ensure that once the live AS and access components are in place with data ingested, that

[2011-10-12 11:12] #200 closed, assigned to chris-sleep

[2011-10-12 15:50] lobajuluwa commented on #53
Update from The Hague_Portal Review Workshop: - 1.2.10 search for publishing country/language – needs to be in the metadata then it can be done.   An extra issue to be created for country – assign it to Chris.

November release: language stays 1.2.10

[2011-10-12 15:52] lobajuluwa commented on #126
Update from Portal Review Workshop - nothing ingested in the archive therefore may not be done – ready for November sub release? assigned to Chris Sleep.

[2011-10-12 16:04] lobajuluwa commented on #132
@JiriFrank
Hi Jiri, can you pls confirm whether this Issue is still a feature requirement or not i.e is it Closed for testing or to be "deleted". If ready for testing.....should it be scheduled for the Nov Release? Thanks, Lola.

[2011-10-12 16:06] lobajuluwa commented on #128
Update from The Hague workshop: assigned to Lee Namba already implemented on the NHM test server, not integrated into the portal – ready for testing.
Also see (#116)

[2011-10-12 16:20] lobajuluwa commented on #103
Release Milestone tbd

[2011-10-12 16:23] lobajuluwa commented on #102
Update from Portal Review Workshop: feature is already implemented.

[2011-10-12 16:25] lobajuluwa commented on #101
Update from Portal Review Workshop: function is created – Chris needs to implement it.

[2011-10-13 09:02] lobajuluwa commented on #76
Update from Portal Review workshop, The Hague: NHMW feature is ok, needs to be hooked into drupal 7, as per above comments Wolfgang is currently working on this.

[2011-10-13 09:03] lobajuluwa commented on #100
Update from Portal Review Session, The Hague: function created needs to be implemented by Chris.

[2011-10-13 09:06] lobajuluwa commented on #89
Update from Portal Review Workshop: page turning is implemented – should be tested.

[2011-10-13 09:13] lobajuluwa commented on #85
Update from Portal Review Workshop: assigned to ATOS, feature is functioning, should be tested.

[2011-10-13 09:23] lobajuluwa commented on #74
Same as Issue (#76)

[2011-10-13 09:28] lobajuluwa commented on #73
Update from Lee: more clarification reqd i.e is this for pregenerated info/ Zipped info?? For bookviewer, we can show size but for basket will be more complex as files may not always be on disk.

Release Milestone to be confirmed.

[2011-10-13 09:33] lobajuluwa commented on #72
Update from Portal Review Workshop, The Hague: Issue reassigned to CS.

Release Milestone tbc.

[2011-10-13 09:47] lobajuluwa commented on #71
Update from Portal Review Workshop: already fixed for development version - done.

Jiri - I've moved this into the next Milestone Release for November. does it still need testing?
@JiriFrank

[2011-10-13 09:52] melitabirthaelmer opened #234 "File Submission Guidelines: Are Umlaute e. g. ä permitted?"
Can a folder or filename contain Umlaute e. g. ä ?

<i><b>Example: </i></b> Folder name "Luonnon ystävä"

Should it be changed to "Luonnon ystava"?

@tiinaonttonen
@wkollernhm
@mehrrath

[2011-10-13 09:53] melitabirthaelmer commented on #230
@wkollernhm
@mehrrath

[2011-10-13 09:54] lobajuluwa commented on #70
Update from Portal Review Workshop, The Hague: Feature Completed - AIT

Once again Jiri, I've moved this into the next Milestone Release for Nov.
Not sure if it was tested on the development platform during the Hague workshop?
@JiriFrank

[2011-10-13 10:20] lobajuluwa commented on #52
Update from Portal Review workshop, The Hague: previously on AIT to-do list. Now reassigned to CS.
Moved to next Milestone Release - Nov. (tbc).

[2011-10-13 10:35] lobajuluwa commented on #46
Jiri following on from the Portal Review Workshop held in the Hague: This feature is still "Open" in the Test Core Release Milestone for August - Pls confirm if feature is fully functional or not? Thanks.
@JiriFrank

[2011-10-13 10:37] chris-sleep commented on #203
The copyright in the footer is correct, the full licence including conditions of use is found in the embedded licence file in the source, which can be seen at http://code.google.com/p/bhl-bits/source/browse/trunk/bhl-e/pre-ingest/PreIngest/LICENSE

[2011-10-13 10:38] mindcatch-com commented on #234
for now i dont know with which native language support the file servers
drives are mounted but i would always strongly recommend NOT to
use use "Umlaute" even if the servers are mounted with e.g. utf-8
charsets which would support that ...

the only thing what would be problematic is when the file or folder names
become part of the final content what i can not 100% preclude but not
assume.

@wkoll

[2011-10-13 10:39] #203 closed, assigned to chris-sleep

[2011-10-13 10:57] lobajuluwa commented on #193
Jiri pls confirm if this Issue still needs to go into the Test Core Release Milestone or not i.e it's presently Closed under the Development Core Release for August?
@JiriFrank

[2011-10-13 11:03] lobajuluwa commented on #194
Hi Jiri! Pls confirm if this bug fixed by AIT still needs to move to the Test Core Release process or not.

@JiriFrank

[2011-10-13 11:14] lobajuluwa commented on #198
Update from Portal Review workshop_The Hague: Search by year of publication  – reassign to Chris  for November sub release. (data issue).

[2011-10-13 11:29] mmalicky commented on #234
please change to:

<i><b>Example:</i></b>  Folder name "Luonnon yst&auml;v&auml;"

(HTMLENCODING)

Am 13.10.2011 11:53, schrieb melitabirthaelmer:

##

Dipl.-Ing. Michael Malicky
Biologiezentrum/Oberösterreichische Landesmuseen
Johann-Wilhelm-Klein Str. 73
4040 Linz
Mobil: +43 (0)664 6007252333

##

Das Sonnentor - Bolivien und seine Schaetze
Schlossmuseum Linz
17. Okt. 2011 bis 18. Maerz 2012
Ero

[2011-10-13 13:06] mindcatch-com commented on #234
you can try: http://www.htmlescape.net/htmlescape_tool.html

@mmalicky

we should think of a change that requirement in future?
it is not suitable that end users have to encode all their filenames manually
to a html encoded string containing the operators & and ;

is there a client side ingest preparation tool planed which could solve this
issue?

[2011-10-13 14:24] mmalicky commented on #234
of course this should not be done manually, but it should be done on the
data provider side, there are simple functions in programming languages
for this task, e.g. htmlspecialchars in php

Am 13.10.2011 15:06, schrieb mehrrath:

##

Dipl.-Ing. Michael Malicky
Biologiezentrum/Oberösterreichische Landesmuseen
Johann-Wilhelm-Klein Str. 73
4040 Linz
Mobil: +43 (0)664 6007252333

##

Das Sonnentor - B

[2011-10-13 14:52] mindcatch-com commented on #234
that is clear but i think we speak about the time of the file upload itself

i thought melitabirthaelmer wants to know if he/she can upload files from local
with umlaute and you answered no he/she should convert them instantly when/before
uploading....

besides when the server files system mount is not of an extendet charset type
you can forget the umlaute and we will hardly be able to recover the

[2011-10-13 14:55] melitabirthaelmer commented on #234
However, we should keep in mind that content providers are in the majority of cases non-technicians and have no programming skills.

We should provide them with a tool  or a script that is able to do this automatically. Would it be possible to have this function implemented in the pre-ingest tool?

[2011-10-13 15:08] mmalicky commented on #234
suggestion:

Step 1: When doing pressing the ingest button: ERROR: Your metadata
contains non standard charcters, please:
Step 2: Use tool XY for converting your data to correct format (see FAQ)
Step 3: Still no idea ;-) contact your local IT Helpdesk
Step 4: Your local Helpdesk is offline, please contact BHL Helpdesk,
ingest management

Am 13.10.2011 16:55, schrieb melitabirthaelmer:

##

Dipl.-I

[2011-10-14 07:33] akohlbecker commented on #225
@JiriFrank i think it would be good to put the outcome of the last two workshops to here, what do you think?

[2011-10-19 09:49] lobajuluwa commented on #178
needs inversion filter solr - moved to Jan 2012 release

[2011-10-19 10:01] lobajuluwa commented on #48
CS: will know if feature is complete once Archival Storage/OLEF are in place.

[2011-10-19 10:10] lobajuluwa commented on #135
Lee: Need to confirm if this refers to Book level or page level? If book level then more of a Portal Issue. Also, depends on if we use Islandora - as they might even have something that does this request.

[2011-10-19 10:12] lobajuluwa commented on #134
Islandora pre-requisite authorisation to be done for LDAP accs(mechanism). Drupal module can be plugged in by Atos. May need to create role for each CP and roll thru into the LDAP.(new project task to be created?)

[2011-10-19 10:24] lobajuluwa commented on #129
Update: all features grouped under "Portal Basket" to be reassigned temporarily to CS. Tasks need to be reassigned i.e. NMP/IT4Care.

[2011-10-19 11:31] lobajuluwa commented on #117
Update: all features grouped under "Portal Basket" to be reassigned temporarily to CS. Tasks  to be reassigned e.g. NMP/IT4Care.

[2011-10-19 11:41] lobajuluwa commented on #93
Portal Review Workshop update (Heimo): Taxon finder is not integrated in bookviewer. BHLUS has just the names finder at the moment, common names, scientific names will follow. What are the exact requirements? how to display it in the bookviewer. Reassigned to Jiri for Nov release.

[2011-10-19 11:44] lobajuluwa commented on #87
Portal Review workshop update_The Hague: BHL Australia integrated uBio more into the book viewer.

[2011-10-19 13:36] lobajuluwa commented on #86
confirm item description with Jana.

[2011-10-19 13:44] lobajuluwa commented on #81
Update from Portal Review Workshop_The Hague: metadata problem, same as country - March 2012 Release:- review what is available. Also need a recommendation from NHMW as to what is the sensible thing to do.

[2011-10-19 13:48] lobajuluwa commented on #75
Dependency:-  Pre-Ingest and taxon finder services - needs to define index in solr. Data has to come from Pre-Ingest and searching correct fields from OLEF. We can prepare function in portal i.e. so long as data can be driven thru.. then the portal can pick it up. (WK)

[2011-10-19 13:55] lobajuluwa commented on #66
Update from Portal Review Workshop_The Hague: 'Basket' - it is not in the book viewer but in the Portal. There is a download basket and a batch basket. (Moved to March 2012 Release).

[2011-10-19 13:58] lobajuluwa commented on #65
Update from Portal Review Workshop_The Hague: Resolution should be in the metadata. (March Release 2012)

[2011-10-19 14:02] lobajuluwa commented on #63
Update from Portal Review Workshop_The Hague: GRIB listing titles (Boris?)

[2011-10-19 14:05] lobajuluwa commented on #61
Developer yet to be assigned for Portal work required for GRIB Integration. Boris will create separate Project task Issues i.e Preconditions and link them to relevant features in GitHub. Nov Release timeline for GRIB Integration is dependent on GRIB being successfully tested by October 14th (deadline given by Boris Jacob).

[2011-10-19 14:14] lobajuluwa commented on #54
Can only do option 2 for Nov Release, Option 1 has preconditions on OCR(.There has been no discussion about performance so far?)

[2011-10-19 14:24] lobajuluwa commented on #51
Dependent on Pre-Ingest handling article level - can be integrated if Pre-Ingest works. Shldn't be a problem if we use Islandora packaging.  An additional search parameter can be implemented in portal before Pre-Ingest with a filter and once data is available in fedora/metadata results will populate. (WK)

[2011-10-19 14:28] lobajuluwa commented on #49
Developer yet to be assigned for Portal work required for GRIB Integration. Boris will create separate Project task Issues i.e Preconditions and link them to relevant features in GitHub. Nov Release timeline for GRIB Integration is dependent on GRIB being successfully tested by October 14th (deadline date given by Boris).

[2011-10-19 14:39] lobajuluwa commented on #190
Jana hi, not sure if you've had a chance to look at this feature request? Can you pls confirm if it's valid/agreed so that we can label it as a feature etc and assign accordingly to the right developer. Thanks.
@JanaHoffmann

[2011-10-19 14:43] #151 closed, assigned to wkollernhm

[2011-10-19 14:45] lobajuluwa commented on #152
This Project task Issue can be closed since it's already being covered under NHMW tasks grouped under Web Services.

[2011-10-19 14:45] #152 closed, assigned to wkollernhm

[2011-10-19 14:49] lobajuluwa commented on #153
This issue can now be closed as it's related to Pre-Ingest. (now being managed by NHMW).

[2011-10-19 14:49] #153 closed, assigned to wkollernhm

[2011-10-19 14:56] lobajuluwa commented on #44
Developer yet to be assigned for Portal work required for GRIB Integration. Boris will create separate Project task Issues ie Preconditions and link them to relevant features in GitHub. Nov Release timeline for GRIB Integration is dependent on GRIB being successfully tested by October 14th (deadline date given by Boris).

[2011-10-19 15:01] lobajuluwa commented on #42
AK: long term issue with dependency on language of the content; (which stemming to use) - Moved to March 2012.

[2011-10-19 16:00] lobajuluwa commented on #163
A lot of CPs are mapping already to OLEF. RMCA, RBGE has been done.Is it necessary to map more before end of Nov? Some are pretty straightforward i.e with DC or MODS, MAR21 , metadata. D3.8 nds to address wht happens afterwards.  Operational work should not sit with Developers. Mapping is crucial - cannot be incorrect otherwise metadata will have issues. mapping/et al still needs to sit with NHMW

[2011-10-19 16:04] lobajuluwa commented on #225
Hi Jiri! Can you pls confirm whether this is a new feature request.
@JiriFrank
@JanaHoffmann

[2011-10-19 16:09] lobajuluwa commented on #221
Hi Zheng, can you pls confirm whether this task should be assigned to the November Release or not. Many thanks, Lola.
@ZhengLIAtos

[2011-10-19 16:19] lobajuluwa commented on #146
Already done - testing required and need to discuss  HSM and folders separate from HSM (ZL)

[2011-10-19 16:24] lobajuluwa commented on #142
Jana hi! I'm currently going through the Issue tracker ensuring that all Issues are as up to date as can possibly be with correct labels/milestones etc. I stumbled upon this particular feature request! Has it been agreed to go ahead and label this as a new feature? Pls let me know so that I can assign it accordingly. Thanks, Lola.
@JanaHoffmann

[2011-10-20 08:15] zhengl commented on #221
No, it should be assigned to later release.
@lobajuluwa

[2011-10-20 08:38] lobajuluwa commented on #221
Ok thanks. I've put it for the March 2012 Release.
@ZhengLIAtos

[2011-10-20 10:14] janahoffmann commented on #44
This is not a default feature for the user, and the user has to be given a choice whether to include non digitised records or not. Therefore, this is a feature of the advanced search only.

@jirifrank Maybe you can think about how to include this functionality in the design for the advanced search as this requires a number of new 'boxes'.

[2011-10-20 10:25] Boris2pt0 commented on #44
Technical Information for the GRIB SRU:

For that the GRIB's SRU interface should be used http://grib.gbv.de/sru/ It allows for searching and retrieving information on the bibliographic data, as well as the digitisation status.

The status is an additional field in the metadata record: (pica)[DST] Digitalisierungsstatus. The values are (as described in D2.5): 8300 = “\Not Digitised”, 8301 = “Shoul

[2011-10-20 11:37] janahoffmann commented on #49
I think there is no final agreement on how this is going to be done.
The GRIB is one option but not the only option, especially as we do not know about the deduplication algorithm and how reliable it is.
The first option we should follow is to find a good way to display holdings on journals in general:
Here the situation:
We have a number of journal volumes (all the same title besides the volume n

[2011-10-20 11:42] janahoffmann commented on #50
This refers also to my comment in #49. Is there any progress?
@wkollernhm

[2011-10-20 11:47] janahoffmann commented on #52
In case we still plan to implement this we need a check box 'search in serach results' or similar.
@jirifrank

[2011-10-20 12:02] janahoffmann opened #237 "1.2.10b - Search for publishing language (Advanced search)"
Description:
Search in metadata field 'language', e.g. search for books published in German or Spanish.
Use unified language identifiers/ abbreviations

Precondition:
Provision of language information by CP in metadata.
or use language recognition tools

Connected issue #53  (previously summarised under 1.2.10 Search for publishing country/ language)

Related bug: #180

[2011-10-20 12:03] janahoffmann commented on #53
Done! see #237 or this issue
@lobajuluwa

[2011-10-20 12:05] lobajuluwa commented on #53
Thanks Jana!
@janahoffmann

[2011-10-20 12:06] janahoffmann commented on #180
@lobajuluwa Discussed and done!

[2011-10-20 12:13] janahoffmann commented on #54
Option 1 should be the one to go until the end of the project. Should we then really close this issue? Or do we wait for the feedback of the testers and leave it in the testing milestone?

[2011-10-20 12:15] lobajuluwa commented on #54
I agree, I think we should keep it open. Let me confirm with Mr Namba!
@Leenamba
@janahoffmann

[2011-10-20 12:39] janahoffmann commented on #58
@jirifrank
Do you keep this in mind for the design of the browse wire frames?

[2011-10-20 12:40] janahoffmann commented on #59
@jirifrank
Do you keep this in mind for the browse wire frames?

[2011-10-20 12:41] janahoffmann commented on #60
@jirifrank
Do you keep this in mind for the browse wire frames?

[2011-10-20 13:45] janahoffmann commented on #199
@lobajuluwa
I think we can close this bug as it does not refer to anything we will have in the portal anymore... The facet list categories are defined in #62.

[2011-10-20 13:48] lobajuluwa commented on #199
Good! I'll close the bug. Milestone also removed
@janahoffmann

[2011-10-20 13:48] #199 closed, assigned to akohlbecker

[2011-10-20 13:52] janahoffmann commented on #64
This is now one issue together with #62.

@lobajuluwa
Can we close this issue as it is the same as #62 now? Who will be assigned to this tasks Andreas or Atos?

#64 is assigned to the testing core release... #62 Nov sub release...should we change then the #62 to the Nov sub release?

[2011-10-20 14:07] janahoffmann commented on #61
@lobajuluwa:
This issue needs to be assigned to a developer.
Please remove the GRIB label.
@chris-sleep - nd to discuss with Chris before assigning to developer.

[2011-10-20 14:09] janahoffmann opened #239 "1.4.1b - Indicate content type (Result list)"
Content type should be indicated by icons
Defined content types: monograph, article, journal (Volume)

Precondition:
Icons for content type have to be designed.
Annotation of content type.

Connected issues: #61

[2011-10-20 14:10] janahoffmann commented on #239
@lobajuluwa
Please assign to a WP5 person and a developer.

[2011-10-20 14:12] janahoffmann opened #240 "1.4.1 - Direct download (link) from result list (now 3.2.6, Content Download )"
Provide direct link for direct download (formats, icons?) or redirection to content viewer in result list.
Direct download options for articles and monographs only.
Display size of to be downloaded item.

Preconditions:
Pre-generated pdfs?
Content viewer
File size in metadata or algorithm for estimation of file size.

Connected issue: #61

[2011-10-20 14:15] janahoffmann opened #241 "1.4.1c - Indicate scan status (Result list)"
Provide scan status check box (icon?)

Precondition:
Enable search in digitised and not digitise content; integration of GRIB (scan status)

Connected issue: #61

[2011-10-20 14:18] janahoffmann commented on #190
I assigned it to the feature #61. It is not a single feature unless you want it to be, it is more a requirement. Let me know what you want and I can change it.
@lobajuluwa

[2011-10-20 14:22] janahoffmann commented on #61
@jirifrank
How do we deal with very long titles, authors lists, etc. ? Is there a treshold for the title or any other category...? e.g. only 100 letters..

[2011-10-20 14:25] janahoffmann commented on #241
previous comments: lobajuluwa
Developer yet to be assigned for Portal work required for GRIB Integration. Boris will create separate Project task Issues i.e Preconditions and link them to relevant features in GitHub. Nov Release timeline for GRIB Integration is dependent on GRIB being successfully tested by October 14th (deadline given by Boris Jacob

[2011-10-20 14:32] janahoffmann commented on #194
@lobajuluwa
Mhhh. We cannot see whether this bug is fixed or not due to the lack of a testing platform.
However, I want to draw your attention to my comment above. Now, all the requirements are defined (last UI Workshop minutes) and included in #62.
So, if we keep this it can be a bug for #62, but closing it makes also sense (still adding it to the #62 description though).

[2011-10-20 14:33] lobajuluwa commented on #239
@JiriFrank

Hi Jiri can I assign this issue to Jan/IT4Care?

[2011-10-20 14:41] lobajuluwa commented on #64
Yes, #62 should be in the Nov Sub release since the revised feature needs to be picked up for testing. I will close this issue and cc Andreas.
@akohlbecker
@janahoffmann

[2011-10-20 14:44] #64 closed, assigned to akohlbecker

[2011-10-20 14:51] lobajuluwa commented on #190
Absolutely fine the way it is listed as one of the requirements for feature #61. Thanks.
@janahoffmann

[2011-10-20 15:16] #190 closed, assigned to chris-sleep

[2011-10-21 07:23] wkollernhm commented on #50
Not yet, as we did not research on reliable external services which provide journal acronyms list so far. At the moment simple & advanced search is focused on - however this feature can be easily integrated later on.

[2011-10-21 08:18] janahoffmann commented on #63
@lobajuluwa
@jirifrank
I would like to mention that I don't see why the GRIB should be the implementation for this feature. We have no control over the deduplication of the GRIB and erros might occur. Furthermore the GRIB works on item basis and not on overall title basis. Thus, the GRIB cannot deliver journal titles. On the other hand there are quality checked journal title databases like the ZDB

[2011-10-21 10:28] janahoffmann commented on #70
@lobajuluwa
This feature is not yet implemeneted, but discussion or under way (see last UI Workshop minutes). Thus it can't be closed. It remains Jiri's/IT4Care's tasks though. The wire frames are completed (see updated description), only the concept of the 'journal title' page is missing and needs some more discussion.

[2011-10-21 10:33] lobajuluwa commented on #70
Issue has been reopened - assigned to Jiri
@JiriFrank

[2011-10-21 12:15] janahoffmann commented on #73
@leenamba
This is related to the 'bibliographic information page' and maybe also the result list. It refers to the size of the item to be displayed in the browser (in the book viewer) not currently to any download option (althought this would be nice). This aims at helping people that have a slow internet connection/ old browser and prevent them from displaying a very large file, or at least expec

[2011-10-21 12:39] janahoffmann commented on #66
@lobajuluwa
There is a bibliographic basekt for metadata download (on the portal site) and
there is batch download basket for content (pdfs) in the content viewer, which also might be accesible from the portal site.

[2011-10-21 12:48] janahoffmann commented on #77
@wkollernhm
@lobalujuwa
The search by colloquial name is defined in issue #74
The search by colloquial name in various languages is this issue (multilingual expansion of colloquial names)
We already have 2 issues for this request.

[2011-10-21 13:04] janahoffmann commented on #82
@wkollernhm
@lobajuluwa
I agree. Can we close this issue then?

[2011-10-21 13:15] janahoffmann commented on #86
@lobajuluwa
Meant was content provider (instead of contributor). Otherwise this is not indicated in the content viewer at all, which some of the content provider might not like. If you link a stable URL directly to your homepage you won't go via the BHL-Europe portal and thus won't ever see the content provider. I think it is important to implement this. I think this information is contained in th

[2011-10-21 13:21] janahoffmann commented on #87
@lobajuluwa
There must be a way to view bibliographic information from the content viewer. The simpliest solution is to refer to the bibliographic information page. Other solutions welcome...
I agree. uBio should be integrated more into the book viewer.

[2011-10-21 13:26] janahoffmann commented on #89
@lobajuluwa
The page level scollbox is implemented as suggested by Francisco? Is there a way to see this somewhere. Who to ask? Otherwise I would add this as a new feature/ feature request. see comment #83

[2011-10-21 13:28] lobajuluwa commented on #194
As per above comments - bug is ytbc as fixed and hence I've Closed the issue and assigned it the Nov Release ready to be tested. Bug related to Issue #62

[2011-10-21 13:29] janahoffmann commented on #91
@zhengLiAtos
Can we print the entire book/ volume?

[2011-10-21 13:34] janahoffmann commented on #93
@lobajuluwa
@heimor
@jirifrank
I think it is helpful to see the scientific names (uBio) that are in the document (hyperlinks?). I leave it to Jiri to decide on how to do this. I think the BHLUS approach is not bad. I would not list any other 'extended search terms' in the content viewer. This feature is restricted to scientific names recognised by uBio in the literature. In the end the TaxonFinder

[2011-10-21 13:37] lobajuluwa commented on #86
Hi Lee! Based on Jana's updated description of this Issue, is this something that can be picked up for the Nov Release by Atos? Pls confirm before I reassign it to you. Thanks.
@leenamba
@ZhengLIAtos

[2011-10-21 13:42] zhengl commented on #91
Not directly,
I suggest to print books or pages from PDF, otherwise it may cause some problems to the users due to the cross-browser difference.
@janahoffmann

[2011-10-21 13:45] janahoffmann commented on #91
@zhengliatos
You mean after download?

[2011-10-21 13:46] janahoffmann commented on #50
@wkollernhm
Good. I am looking forward to it...
What about the ZDB, they do provide acronyms, don't they?

[2011-10-21 13:52] janahoffmann commented on #96
@leenamba
Yes. This feature is related to the book viewer only. Like in the Acrobat Reader version there should be a box where you can enter the page you want to go to...I agree, if no pagination is provided this will lead to image numbers...still you have an idea where you are in the document (in relation). Description is updated.

[2011-10-21 14:04] zhengl commented on #91
@janahoffmann
Yes, we can say so.
Because although we can re-organize pages in a new web page and print it out, we cannot make sure the layout fits A4 paper, because every page may have different size or resolution.

I have studied the solution from BHL-US and BHL-Australia, one doesn’t provide on-line printing, and the other fails on Google Chrome and it only can print a page at a time.

[2011-10-24 08:22] parmelia-michaela commented on #239
Be aware that there may be literature which cannot be asigend to monograph, article, journal (Volume) . E.g. Newsletters,...perhaps an additional button is needed for literature being in any other format than monograph, article, journal (Volume)

[2011-10-24 09:42] janahoffmann commented on #239
Good call Michaela. What do you think about naming the third icon 'Serial' meaning all sequential publications under a common title like journals and newsletters...Ich would like to avoid to many icons. Another solution would be to invent an 'others' icon for the content that cannot be put in any of the categories listed above.
@parmelia-michaela

[2011-10-24 09:44] JiriFrank commented on #132
@lobajuluwa
Hi Lola, this feature is part of the My account administration and it was functional during the first testing process. We need to test it together with the new UI on the stabile testing platform now. I will open it for the future testing. It will be part of the November release of course.

[2011-10-24 09:47] lobajuluwa commented on #132
Done!

[2011-10-24 09:56] parmelia-michaela commented on #239
Didn't we talk in The Hague about an "others" icon? I would prefer to make an "others" icon because if you have any other kinds of publications you can put them in there and like newsletters, posters, they do not necessarily have to be a sequential publication.
@janahoffmann

[2011-10-24 10:08] JiriFrank commented on #101
Will be closed and ready for testing after implementation.

[2011-10-24 10:10] JiriFrank commented on #100
Will be closed and ready for testing after implementation.

[2011-10-24 10:23] JiriFrank commented on #89
@lobajuluwa
@leenamba
@janahoffmann
Do we have the platform where is possible to test the book viewer or it is in the process of integration to the portal? We will need also the URL of the working bookwier for setting up the design and consult the integration. The last link is not working in last weeks. e.g. http://bhle-dev-1.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods/demo%3AbookSdef/bookreade

[2011-10-24 11:15] janahoffmann commented on #239
@parmelia-michaela
That is right, but was related to the facet list. This was related to the information declared as  'unkown' in general.
@jirifrank
Jiri, can you ask Pavel to also design the unkown icon for the content type?

[2011-10-24 11:43] JiriFrank commented on #71
@lobajuluwa
Yes, it needs to be tested before release, because we cannot check it right now without the content and functional result list. It was demonstrated (In The Hague) on the content viewer but not on the result list (portal basket).

[2011-10-24 11:52] janahoffmann commented on #103
@lobajuluwa
I think download by page range is already done, see issue #99, the other case depends on the available metadata provided by the content providers. I think this issue can be closed if we do not want the users to use the questionnaire for author, title, pages like BHLUS. As we cannot see the current implementation of the book reader we cannot judge how efficient this is. ... see also com

[2011-10-24 12:10] janahoffmann opened #242 "4.1.22 - Count visits per item and display on bibliographic information page (Community portal)"
Description:
Count user visits per item.
Display on bibliographic information page.

Extension: Sort by most viewed content in particular category.

Connected issue: #60

Explanation:
It is important for us internally to get information on user visits per item in order to access which kind of literature , disciplines/epochs etc. is more or are less requested. Provides important background informat

[2011-10-24 12:10] janahoffmann commented on #242
@lobajuluwa
Please assign to milestone.
The features is derived from Francisco's comment #105.

[2011-10-24 12:29] janahoffmann commented on #110
@jirifrank
So, this is then part of #104 (web design of portal).

[2011-10-24 12:36] janahoffmann commented on #112
@chris-sleep
As soon as we can guarantee stable URL's and they are correctly displayed in URL bar we can close this issue.

[2011-10-24 12:42] leenamba commented on #86
OK.  Please assign to Zheng.  We're assuming that the content provider will be in the OLEF.

[2011-10-24 12:43] JiriFrank commented on #70
@janahoffmann
@lobajuluwa
If we will have the metadata, there is no problem to display them, but for that we need to create the environment according to the draft e.g. http://design.mydev.cz/UIbhleDev/bibl_info1.html. For me is clear to have biblio for article, monograph and volume/series (in the case when the articles of the volume are not separated, in that case is the volume same as the monogra

[2011-10-24 12:45] janahoffmann commented on #113
@jirifrank
Well, these are two very different things. This featur ehere only deals with subscription for the newsletter (see BHL-Europe homepage).
The other aspect:
I don't know how the download from the batch download basket will work. The to be downloaded items won't be ready right away? Why do we need a notification for the user? I thought they can download items directly from the basket either

[2011-10-24 12:50] JiriFrank commented on #46
@lobajuluwa
It doesn’t works because of the problem with metadata. Now it is not possible to test it without functional testing platform with the content. It must be open and available for testing hopefully very soon.

[2011-10-24 12:52] janahoffmann commented on #114
@lobajuluwa
We can delete/  close this issue as it is a duplication of the following issues: #241

[2011-10-24 12:56] wkollernhm commented on #82
This also applies to not yet implemented webservice modules, so I would like to keep this open until all modules are in place - I will close it once it is done.

[2011-10-24 12:59] JiriFrank commented on #193
@lobajuluwa
It cannot be tested right now, hopefully it is fixed. Will be reopen if not.

[2011-10-24 13:06] janahoffmann commented on #115
@zhengliatos
Is this sufficient?

[2011-10-24 13:09] janahoffmann commented on #116
This issue is a duplicate of #68 and was deleted from the CoR.

[2011-10-24 13:13] janahoffmann commented on #117
@lobajuluwa
This feature can be closed/deleted as it is a duplication/ included on issue #68.

[2011-10-24 13:19] janahoffmann commented on #119
@jirifrank
Is this the same as #104? or is this the application/ integration of the theme?

[2011-10-24 13:20] JiriFrank commented on #194
The facet list will be rebuilt with additional functionalities. This bug could be closed; it is not related to the new facet list.

[2011-10-24 13:27] JiriFrank commented on #225
I will put the minutes from the UI workshops on the Wiki and I will put here the link. Done, see the desctiption.

[2011-10-24 13:53] leenamba commented on #91
Decision during Nov 24th tech call that print will be done by downloading PDF and then printing PDF.

[2011-10-24 13:53] #91 closed, assigned to zhengl

[2011-10-24 14:03] leenamba commented on #21
Will need further modification now that pre-ingest is being refactored.  So this issue will most likely stay open post november milestone.

[2011-10-25 13:43] lobajuluwa commented on #242
Hi Chris. Do you think this feature is do-able for the November release, if not I will move it to March 2012 Release.
@chris-sleep

[2011-10-25 14:00] lobajuluwa commented on #114
Issue Closed/Deleted - Duplicate!

[2011-10-25 14:00] #114 closed, assigned to Boris2pt0

[2011-10-25 14:05] lobajuluwa commented on #193
Okay that's fine. I've updated the milestone for the Nov Release so that it will be picked up once the testing process kicks off.
@JiriFrank

[2011-10-25 14:08] lobajuluwa commented on #117
Issue Closed/Deleted - Duplicate!

[2011-10-25 14:08] #117 closed, assigned to chris-sleep

[2011-10-25 14:43] lobajuluwa commented on #101
@chris-sleep

[2011-10-25 14:44] lobajuluwa commented on #100
@chris-sleep

[2011-10-26 09:19] zhengl commented on #115
@janahoffmann
@wkollernhm
Will all the bibliographic information come from OLEF?

This requirement involves two parts, one for the look-and-feel of basket in Portal, and the other for functionality of data conversion provided by Access. If everything is fully discussed, this issue can be assigned to me, and ALSO to a Portal designer or developer.

[2011-10-26 16:34] JiriFrank commented on #93
I agree with the point to display in book viewer just taxon which is included in the document. The extended terms as a common names are good for the facet list with the search combination. The best solution will be to use the same system as BHLUS. I am not sure how this system works exactly in technical view.

@janahoffmann
@lobajuluwa
@heimor
There are two different things. One is the developing

[2011-10-26 16:40] JiriFrank commented on #87
@janahoffmann
@lobajuluwa
It could be displayed in the light box view. Same solution could be for the contributor. Actually these information could be displayed together.

[2011-10-26 17:45] JiriFrank commented on #52
@janahoffmann
@lobajuluwa
I not fully understand what this option means. I see the solution with combination of my query which is actually my saved previous search result. I can load it and modify the search by new/different parameters. This is one of the reasons why we have save query option.

[2011-10-26 18:54] JiriFrank commented on #58
@janahoffmann
We plan to display this function not in the main Browse, but as the additional function. The final draft for this function will be done in the next phase (February 2012).

[2011-10-26 18:55] JiriFrank commented on #59
@janahoffmann
We plan to display this function not in the main Browse, but as the additional function. The final draft for this function will be done in the next phase (February 2012).

[2011-10-26 18:55] JiriFrank commented on #60
@janahoffmann
We plan to display this function not in the main Browse, but as the additional function. The final draft for this function will be done in the next phase (February 2012).

[2011-10-26 19:05] JiriFrank commented on #239
@parmelia-michaela
@janahoffmann
The Icons for Monograph, Article and Journal/Volume are done and will be implemented tomorrow. There is no problem to have fourth icon corresponding to unknown content (Others) – something with question marks, but I am wondering how many of these type of content we have? The newsletter is for me the same as a journal or serial, because it has volumes and even artic

[2011-10-26 19:30] JiriFrank commented on #61
@janahoffmann
For the titles I will keep in the list view the whole title.  You can see it here http://design.mydev.cz/UIbhleDev/search_result1.html

Longer title in table view and others metadata fields could be hidden when they cross two lines.
http://design.mydev.cz/UIbhleDev/search_result2.html
It is a mouse over option and will expand the original length.

[2011-10-26 19:59] JiriFrank commented on #242
This feature depends on which analytics tool we will use. I am not sure if the Piwik could handle with specific content item.

[2011-10-26 20:07] JiriFrank commented on #116
@janahoffmann
Template and user interface (UI) are two different things. Template is the overall design and the UI is more connected with the functionality and how it display to the user.

[2011-10-27 05:33] parmelia-michaela commented on #239
@janahoffmann
@JiriFrank
this was just a suggestion
nevertheless I think that the categories should be consistent in the Portal

[2011-10-27 05:40] JiriFrank commented on #239
@parmelia-michaela
@janahoffmann
Michaela it was a good point. It will be ok to have the fourth (actually fifth) type of content according to the content type in facet list.

Journal/Serial
Volume
Article
Monograph
Unknown (group of all others)

The icon for unknown content will be done till the end of this week.

[2011-10-27 05:42] parmelia-michaela commented on #239
:-)

[2011-10-27 13:09] wkollernhm commented on #79
Integration is done and now available through advanced search.

[2011-10-27 13:10] wkollernhm commented on #76
VIAF lookup is integrated into advanced search and can be tested.

[2011-10-27 13:13] wkollernhm commented on #74
We still need clarification on which fields we want to enable the colloquial name searching for? Only for scientific name?

[2011-10-27 13:14] wkollernhm commented on #187
Closing this issue since I re-opened issue #74 -> more specific task.

[2011-10-27 15:31] JiriFrank commented on #93
Adapt BHL-Australia
e.g.
http://bhl.ala.org.au/item/89647#page/48/mode/2up

[2011-11-01 10:49] akohlbecker commented on #191
**Solr does not analyze queries in which there are wildcards!**

This problem has been often reported in forums and mailing-lists, but it seems as if there is no straightforward solution to this. The QueryParser (by default the http://wiki.apache.org/solr/DisMaxQParserPlugin) does not support wildcard characters. the

Here are some threads on this issue, which recommend different solutions:
1. htt

[2011-11-01 10:52] akohlbecker commented on #178
We have to use the ReversedWildcardFilterFactory

Here is an article on this issue: http://lucidworks.lucidimagination.com/display/lweug/Wildcard+Queries#WildcardQueries-WildcardsatStartofTerms

[2011-11-01 14:35] akohlbecker commented on #179
@JiriFrank  This issue has become invalid. Using [] is not permitted neither in simple nor in advanced search
therefore I think we need a new ticket:

"Strip any disallowed characters from solr queries"

[2011-11-01 14:59] akohlbecker commented on #36
this is now fixed, closing issue

[2011-11-01 15:04] akohlbecker opened #247 "Strip or escape any disallowed characters from solr queries"
Using the solr query syntax is not permitted neither in simple nor in advanced search, thus these should be stripped or escaped from the solr queries in drupal.

[2011-11-01 15:08] akohlbecker commented on #179
new issue created: #247 and closing this one as invalid

[2011-11-01 15:08] #179 closed, assigned to akohlbecker

[2011-11-01 16:03] akohlbecker commented on #38
searching with diacritic marks works by now, but searching for special characters is not really an option since we are using. Solr usually only indexes letters and numbers. special characters are always ignored except those which are part of the query syntax, these have to be stripped out:  #247

So I am closing this issue as fixed.

[2011-11-01 16:03] #38 closed, assigned to akohlbecker

[2011-11-01 16:04] akohlbecker commented on #197
invalid and replaced by #247

[2011-11-01 16:04] #197 closed, assigned to akohlbecker

[2011-11-01 16:16] #178 closed, assigned to akohlbecker

[2011-11-01 16:19] akohlbecker commented on #178
#191 is unresolved special case which is related to this issue!

[2011-11-01 16:19] akohlbecker commented on #39
#191 is unresolved special case which is related to this issue!

[2011-11-01 16:26] akohlbecker commented on #56
this issue is solved in principle by e67d46e
The exact funtionality requested for in this issue would be to query for a whole phrase `"term1 term2 term3"` which is truncated by wildcards at the beginning and the end: `"*rm1 term2 ter*"`, but this is not possible at all in solr/lucene, however querying for `*rm1 term2 ter*` should be giving nearly the same results as expected.

So I am closing this

[2011-11-07 13:30] wkollernhm commented on #247
Why is this not permitted? I included a function which escapes those special characters according to: http://lucene.apache.org/java/2_9_1/queryparsersyntax.html#Escaping%20Special%20Characters

I guess this should be sufficient?

[2011-11-07 16:32] #160 closed, assigned to nobody

[2011-11-07 16:38] akohlbecker commented on #247
Escaping them is perfect, so we should no ,longer get any errors due to characters reserved by the query syntax.
I guess we can close this issue then.

[2011-11-07 16:41] akohlbecker commented on #247
The original issue description was not well chosen, since escaping these characters also solved the problem in #197.
So  I am correcting this.

[2011-11-08 07:17] wkollernhm commented on #247
okay so this issue is already fixed and I will close it.

[2011-11-08 07:17] #247 closed, assigned to wkollernhm

[2011-11-08 13:06] akohlbecker commented on #164
Drupal has been updated  to version 7.8 by @jhquentin  Thanks!

[2011-11-08 13:08] akohlbecker commented on #62
@JiriFrank I guess this ticket should be assigned to jan, since it is on the facet list

[2011-11-08 13:10] jhquentin commented on #164
Version 7.9 is out?
We should update it.

[2011-11-08 13:18] akohlbecker commented on #173
This ticket not up to date with latest decisions, changing description

[2011-11-08 13:18] akohlbecker commented on #173
This is fixed

[2011-11-08 13:27] akohlbecker commented on #61
Update to latest decisions:
1. Metadata fields in result list (constant 4 metadata fields)

a. Journal (serials)
a.i. title (which is a journal title actually)
a.ii. name of publisher
a.iii. place of publication
a.iv. publishing date (start year)

b. Others/Unknown
b.i. Title
b.ii. author/publisher
b.iii. year
b.iv. content provider

c. Journal article
c.i. title
c.ii. author
c.iii. year
c.iv. jou

[2011-11-10 07:30] wkollernhm commented on #50
After some communication with the ZDB I can confirm that they offer both abbreviated titles and codes for journals.
Details on this can be found here (WARNING: German content ahead):

http://www.zeitschriftendatenbank.de/erschliessung/arbeitsunterlagen/zeta/2200/
http://www.zeitschriftendatenbank.de/erschliessung/arbeitsunterlagen/zeta/3232/

Our service module will query for both and return any f

[2011-11-14 13:04] akohlbecker opened #253 "advanced search: space as search term leads to solr error"
entering only a space character in an advanced search field leads to an error in the solr query syntax:

for example space as term in title:

[code]

So fields only containing whitespace, that is fields which can be trimmed empty should be neglected.

[2011-11-17 11:09] wkollernhm commented on #253
Solved

[2011-11-17 11:09] #253 closed, assigned to wkollernhm

[2011-11-17 11:10] wkollernhm commented on #50
This is now implemented.

[2011-11-17 11:10] #50 closed, assigned to wkollernhm

[2011-11-17 11:11] wkollernhm commented on #82
I've changed this issue to the January 2012 milestone, as this is an ongoing issue, but implemented for all modules for the november sub-release.

[2011-11-18 09:37] wkollernhm commented on #74
Searching for common names is now possible using a own index field (which is a copy of the scientific name field). Thus the user will have to select common names in the target field drop down in order to search for a scientific name translated from a common name.

[2011-11-18 13:35] akohlbecker opened #257 "search always falls back to advanced search"
The bhle_search module always falls back to advanced search:
1. go to advanced search
2. select the _title_ field and enter _darwin_
3. execute search
4. go to **home** = simple search
5. enter _thomas_  as search term
6. execute search (now you get all books with _thomas_)
7. reload the page (now you have again executed the advanced search)

[2011-11-18 14:12] akohlbecker opened #258 "Advanced search creates invalid solr queries"
When no search fields are chosen advanced search created _empty_ solr queries which are invalid:

[code]

snipped from solr log:

[code]

You may have to delete your session cookies to see this bug.

[2011-11-18 15:00] akohlbecker opened #259 "advanced search: add field not working after going in "back in history""
After going back to advanced search from the result list (via browser back button) it is not possible to add a new search field unless the page has been reloaded.

[2011-11-21 01:18] JiriFrank commented on #87
There will be link button to the book matadata view. Same solution will be also for the content provider information.
Same solution is also on the Australian portal. uBio will be integrated same way as on the Australian portal.

[2011-11-21 01:23] JiriFrank commented on #104
Draft design for whole portal is done. The integration phase is related according to portal features developing proces.

[2011-11-21 01:27] JiriFrank commented on #106
Help/Tutorial for simple and advanced search is done same for Browse. The tutorial will be integrated to the portal as a combination of hint bar and tutorial links to the lightbox view on each page. Texts are wainting for corrections and translations.

[2011-11-21 01:32] JiriFrank commented on #239
Design of content type icons is done and integrated.

[2011-11-21 01:40] JiriFrank commented on #105
According to the new rules in Germany we can use the Google analytics instead of Piwik.

[2011-11-22 06:55] wkollernhm commented on #180
As discussed yesterday during the tech call I will close this issue.

[2011-11-22 06:57] wkollernhm commented on #63
We will most probably implement this feature using a ZDB integration during the Pre-Ingest process in order to correctly identify & normalize the journal title(s).
However it is unlikely that this will happen for the November release - we maybe should postpone this until the February release?

[2011-11-22 11:18] wkollernhm commented on #259
This is a drupal7 problem with AJAX - we won't be able to fix that.

See https://drupal.org/node/1237138

[2011-11-22 12:18] akohlbecker commented on #259
is this request for help really applicable to our situation?

The "add" button is a submit element not a select element. Ok, we are having two submit buttons in that form, this may cause problems. If the problem is having two submit buttons, I guess we could also use the form element type "button" for the add button. According to http://api.drupal.org/api/drupal/developer--topics--forms_api_refere

[2011-11-22 13:33] wkollernhm commented on #259
Please read the post carefully. The problem has nothing to do with the actual buttons but instead with the fact that after the user clicked submit (which happens when the search is executed) the ajax does not work anymore (most probably due to drupal's built in form protection).

[2011-11-22 14:49] akohlbecker commented on #259
Excuse me Wolfgang for insisting on the resolvability of this issue. First of all I have to admit that you are right, the problem actually lies in the form security mechanism.

I did some investigation:
1. processing the ajax request is skipped in ajax_get_form() which is invoked by ajax_form_callback(). Yes this is a security feature!
2. the documentation of this function sates the following: _Th

[2011-11-22 15:13] wkollernhm commented on #259
Well this would actually require us to re-implement the whole ajax processing in ajax_get_form.

However if you see this as a viable solution, feel free to implement it.

[2011-11-22 15:16] wkollernhm commented on #258
Empty inquiries are now skipped - so no search is executed!

[2011-11-22 15:16] #258 closed, assigned to wkollernhm

[2011-11-22 15:20] wkollernhm commented on #259
I've re-opened the issue and assigned it to the january sub-release, in addition I've removed the label critical.

I will investigate on this after the november release. As stated above, if you already know a viable solution feel free to implement it.

[2011-11-22 15:35] akohlbecker commented on #259
not a complete solution but I can offer some more or less working custom implementation of ajax_get_form(). It works but it always adds  two fields. I guess we can do something about it where I added the comment _//TODO avoid duplicate execution here?_

[code]

[2011-11-22 15:39] wkollernhm commented on #257
The type of search is now set in the validation handler instead of during rendering, this should fix this issue (and make it more clean anyway).

[2011-11-22 15:39] #257 closed, assigned to wkollernhm

[2011-11-22 15:41] wkollernhm commented on #259
I will investigate on this tomorrow. I guess it has something to do with the fact that the form is first build and then rebuild....

[2011-11-23 13:23] akohlbecker commented on #192
the solr scheme.xml is no longer using the SnowballPorterFilters, to this is no longer a bug. nevertheless we should keep this ticket open as a reminder that we have to think and discuss on this.

[2011-11-23 13:26] akohlbecker commented on #191
This will not be ready for the November sub release

[2011-11-23 13:31] akohlbecker commented on #43
Depends also on the pre-ingest, since the GUIDs will be added to the metadata during this step.
So this feature will most probably not be finished  for the November sub release.

[2011-11-23 13:39] akohlbecker commented on #33
This issue seems to be referring to faceted search and to simple search at the same time. Can someone (@JiriFrank, @lobajuluwa  ) review and update this ticket?

Simple search is done. So this ticket can considered being fixed if it's only on doing a simple search with unordered keywords.

[2011-11-23 13:40] akohlbecker commented on #174
this ticket is unclear, please see https://github.com/bhle/bhle/issues/33#issuecomment-2848698

[2011-11-23 13:43] akohlbecker commented on #62
@lobajuluwa, @JiriFrank I will reassign this ticket to jan, since it is obviously on the facet list.

[2011-11-23 13:47] akohlbecker commented on #23
after many months of using this system we all are having a good idea on the meaning of all important terms used herein.
So I will close this issue.

[2011-11-23 13:47] #23 closed, assigned to akohlbecker

[2011-11-24 08:40] akohlbecker commented on #33
@JiriFrank wrote:

this has nothing to do with facet list. It means that the result from searching the unordered keywords in simple search will give you just results with documents including all these words together.

You can use the facet list for other sorting in the result list, but this is the function of facet list and has nothing to do with this ticket unordered keywords (the feature descrip

[2011-11-29 11:55] JiriFrank commented on #107
It will be part of the tutorial on the right page, where is the download possibility. It is still not fully clear how the download will behave. There will be several types with download also connected with baskets.

[2011-11-29 11:57] JiriFrank commented on #108
Will be done in next days according to the final login functionality.

[2011-11-30 11:15] wkollernhm commented on #75
This is now possible in our portal using sample data (spices books).

[2011-11-30 11:16] wkollernhm commented on #163
I have moved this to the next milestone, as this is an ongoing task.

[2011-11-30 13:33] wkollernhm commented on #51
As there is no test data available as of today I will move this issue to the next milestone (January).

[2011-12-01 09:30] janahoffmann commented on #240
@lobajuluwa
In general not desired due to functional issues of multiple pdf copies for e.g. series (journals and monograph series) - Direct download preferred from bibliographic page.
Only for articles:
When a pdf is available/ or it can be pre-generated (access) it will be provided for direct download.
Display file size.

[2011-12-01 09:45] chris-sleep commented on #237
implemented

[2011-12-01 09:51] janahoffmann commented on #240
@lobajuluwa
Move to January release

[2011-12-01 09:58] chris-sleep commented on #141
Usage and rights to be discussed with JK;

not a first logon survey, after logon send email with a survey link

need definition of survey from JK before will progress

[2011-12-01 10:00] chris-sleep commented on #141
Target March 2012

[2011-12-01 10:03] janahoffmann commented on #141
@jirifrank
provide design/ concept for user survey

[2011-12-01 10:04] chris-sleep commented on #139
target Mar

[2011-12-01 10:05] janahoffmann commented on #138
@lobajuluwa
Assign to Boris - use Tervuren helpdesk
move to January release

[2011-12-01 10:07] chris-sleep commented on #138
target Mar

[2011-12-01 10:12] chris-sleep commented on #137
via tervuren helpdesk; target Mar , feedback will forward to CP

[2011-12-01 10:12] janahoffmann commented on #137
@lobajuluwa
assign to Boris
move to January release

[2011-12-01 10:13] chris-sleep commented on #136
via tervuren helpdesk; target Mar , feedback will forward to CP

[2011-12-01 10:13] janahoffmann commented on #136
@lobajuluwa
assign to Boris
move to January release

[2011-12-01 10:30] janahoffmann commented on #115
@lobajuluwa
follow up on 'Tagging' in Drupal, explore options
set up predefined tags for unregistered users (e.g. download metadata, download item)
move to January release

This applies to all other bibliographic basket issues (not content download basket though)

This also applies to the download basket. Explore similar option.

[2011-12-02 11:10] chris-sleep commented on #93
Feedback from US user survey raises that .au model does not meet user desires; display alongside the bookviewer with all recognized taxa is better fit

[2011-12-02 12:59] HenningScholz commented on #141
After having it today in the CWG, we don't think it makes sense to keep the feature. Making a survey after the hardlaunch would set expectations we are not able to fulfill. We better do the user survey with a grou we select and fulfill the user survey requirement.

[2011-12-02 12:59] #141 closed, assigned to JiriFrank

[2011-12-08 15:13] #191 closed, assigned to akohlbecker

[2011-12-08 15:16] akohlbecker commented on #41
searching with wildcards \* and ? is now possible in advanced search using the [] is no longer needed since we have an UI for time spans and intervals

[2011-12-08 15:16] #41 closed, assigned to akohlbecker

[2011-12-09 15:40] #101 closed, assigned to chris-sleep

[2011-12-09 15:50] lobajuluwa commented on #103
single articles dependant for download link from within result list.

[2011-12-09 15:56] lobajuluwa commented on #97
Dependency on metadata.

[2011-12-12 15:42] akohlbecker opened #274 "Search result: always sort by relevance"
The result list should always be sorted by relevance (decision from Portal review meeting in Brussles)
see also #173

[2011-12-12 15:54] akohlbecker opened #275 "Solve browse by title problem in solr"
The browse by title function needs to search for the start letters of the whole title string of books and journals.
The mods data can contain the mods:nonSort elements (see http://s2w.hbz-nrw.de/ulbbn/oai/?verb=GetRecord&metadataPrefix=mods&identifier=oai:s2w.hbz-nrw.de/ulbbn:191631&mode=view as an example ). The content of this element has to be strippes of the full title string before searching

[2011-12-12 15:59] akohlbecker commented on #275
I guess we have to solve this by extending the solr gsearch xslt. We would need to introduce a new solr field which contains only the first 4 letters from the beginning of mods:title One letter would be sufficient for solving the current problem the but having four might be a good investment towards a more fine grained browsing interface.

[2011-12-13 10:09] #274 closed, assigned to akohlbecker

[2011-12-13 10:09] #275 closed, assigned to akohlbecker

[2011-12-13 10:46] akohlbecker opened #276 "solr: provide date_issued field with fieldtype DateField"
prerequisite for #183

[2011-12-13 15:06] akohlbecker commented on #174
closing since #33 is also closed

[2011-12-13 15:06] #174 closed, assigned to akohlbecker

[2011-12-13 16:00] lobajuluwa opened #277 "Download item/Result List"

[2011-12-13 16:03] lobajuluwa opened #278 "Download metadata from result list/tagging basket"
Direct download of item from result list using tagging option

Connected Issue #100

Download item/content viewer side - implemented and ready for testing.

[2011-12-13 16:08] lobajuluwa commented on #100
Download from content viewer side - Closed & Ready for testing.

Download from Result list - ongoing discussions with developers regarding tagging options.

New Issue created for Result list-side. #278

[2011-12-13 16:08] #100 closed, assigned to chris-sleep

[2011-12-13 16:13] lobajuluwa commented on #278
@chris-sleep

[2011-12-13 16:20] lobajuluwa commented on #62
The function of the facet list has been improved: sort return by relevance - title, date, author, year etc - this is now done and ready for testing.

Close Issue.

[2011-12-13 16:20] #62 closed, assigned to jhquentin

[2011-12-13 16:24] lobajuluwa commented on #49
search for journal title; functionality done and implemented, as soon as we have data we can test. (can test with a manual ingest). Wolfgang/Zheng - ongoing discussions.

[2011-12-13 17:03] lobajuluwa commented on #70
needs URL schema data. Will be ready for testing by end of next week.

[2011-12-13 17:12] lobajuluwa commented on #44
GRIB dependency - move to March 2012 Release

[2011-12-14 10:08] lobajuluwa commented on #107
Implementation dependent on download facility.

[2011-12-14 10:20] lobajuluwa commented on #115
@JiriFrank
RSS already there; module for email subscription for news to email - there's a subscription on the project web site; (news to march from project website after which all moves to social media).  No need to deliver email from portal - only email for content downloads.

[2011-12-14 10:22] #113 closed, assigned to JiriFrank

[2011-12-14 10:31] lobajuluwa commented on #94
Page types can be handled based on filenames, content viewer will already handle this. Overall the function itself is in place, needs data in OLEF before Issue can be Closed for testing.

[2011-12-14 10:57] lobajuluwa commented on #93
@JiriFrank
ubio data in separate frame holding taxon - Re-assigned to Jiri

[2011-12-14 11:00] lobajuluwa commented on #87
Link button to book metadata view nds to be in place before Issue can be closed for testing.

[2011-12-14 11:13] lobajuluwa commented on #86
@chris-sleep
Pending Question:- do we need to put up the same level of detail for US CPs?
Chris Sleep to contact Tom Garnett (GarnettT@si.edu) - what does he wish us to do with US institutions CP information (and does he have it?)

[2011-12-14 11:19] lobajuluwa commented on #71
@JiriFrank
@chris-sleep
tagging for direct download.
Issue: review content viewer download - broken link?

[2011-12-14 11:33] lobajuluwa commented on #57
feature updates recently committed to GitHub by AK: Using Browse by relevance will help a great deal (i.e. browse by relevance, then alpha by title). We now have an extra field for browse by title.

[2011-12-14 11:39] lobajuluwa commented on #52
Recent modifications made to search facilities: header/nav will shrink for adv search; result list will appear under search (which will be collapsed to link where step back button sits. )

[2011-12-14 11:45] lobajuluwa commented on #107
@JiriFrank
Hi Jiri, I've moved this to the Jan 2012 Milestone. However, this is dependent on the outcome of your discussion held yesterday regarding the download facility so let me know if it will soon be implemented for the next release or to be moved to March 2012.
Thanks.

[2011-12-14 16:03] lobajuluwa commented on #155
Deliverable submitted to EC

[2011-12-14 16:29] lobajuluwa opened #279 "Closed Issues for Nov Release - ready for testing"
@JiriFrank

Jiri hi, we now have 51 Closed Issues ready for testing against the Nov Release milestone.
All issues previously planned for the Nov Sub Release which are not yet ready for testing have  been moved to the next milestone - Jan 2012. I have created this project issue so that you can move the Closed Issues planned for the Nov Release to the Test Release Milestone.
Hope all makes sense. ;-

[2011-12-14 16:44] akohlbecker commented on #276
searching for dates works perfectly with fieldType set to string, so we can leave it as it is by now. Ticket is invalid !

[2011-12-14 16:44] #276 closed, assigned to nobody

[2011-12-14 16:47] akohlbecker commented on #183
@karlos007 @wkollernhm  searching for a range of years is working now see  87b3b3fbb71d6943c8090d55fa506fa712ae54e9

[2012-01-05 10:32] JiriFrank commented on #107
@lobajuluwa
Hi Lola, it still needs to be decided. Help for download will be part of tutorial definitely on metadata view, there will be several options to download specific document in various formats and also download metadata types in their specific formats. Download from result list in advanced search and brows need to be finalized, but the help for download should be a part of tutorial also o

[2012-01-05 10:38] JiriFrank commented on #52
Yes, this task will be solved by integration of result list in to Advanced search (same for Browse), so the user can easily change his search parameters, search terms or use previously sets parameters for new search. In browse integration can user switch between all browse parameters and not leave for that the result list. In combination with facet list we will have amazing search functionality =)

[2012-01-05 10:53] JiriFrank commented on #86
@chris-sleep
According to the amount of data from BHL (US CP) it will be necessary to solve this problem. If we will have the possibility to browse by content provider, facet by content provider and showing the CP in book biblio page even in content viewer, we need to show also the US CP. Same for the hint bar under Browse. Chris do you have any feedback from US or our side?

[2012-01-05 10:55] JiriFrank commented on #87
It is related to Issue #86. Is the link button also ok for CP?

[2012-01-05 11:10] JiriFrank commented on #87
Solution could be easy, make the title of the book as a link to the book biblio. The same function is already in result list and this option is very intuitive.

[2012-01-05 11:28] JiriFrank commented on #115
It is still open task and need to be solved.

@lobajuluwa
Lola your last comment is for this issue?

[2012-01-09 12:55] lobajuluwa commented on #115
I've since removed the last paragraph of the above comment i.e (Outcomes of development blitz session will determine if feature is to be included for Jan 2012 Release - Jiri to confirm).- you're right the comments were related to another issue.
Thanks.
@JiriFrank

[2012-01-11 12:19] lobajuluwa commented on #279
Hi Jiri!
Just to remind you that there are 51 Closed Issues from the Nov Release that need to be opened up in the test release milestone ahead of Monday's proposed testing kick-off
Thanks.
@JiriFrank

[2012-01-11 12:41] #172 closed, assigned to chris-sleep

[2012-01-11 12:41] #175 closed, assigned to chris-sleep

[2012-01-11 12:42] #183 closed, assigned to jhquentin

[2012-01-11 13:26] JiriFrank commented on #279
@lobajuluwa
Hi Lola,

thank you for reminder, I know :-) I have plan to go through all of them tomorrow.
Cheers!
Jiri

[2012-01-11 15:07] #224 closed, assigned to mindcatch-com

[2012-01-11 15:08] lobajuluwa commented on #224
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:09] lobajuluwa commented on #223
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:09] #223 closed, assigned to mindcatch-com

[2012-01-11 15:10] lobajuluwa commented on #222
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:10] #222 closed, assigned to mindcatch-com

[2012-01-11 15:12] lobajuluwa commented on #220
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:12] #220 closed, assigned to mindcatch-com

[2012-01-11 15:12] lobajuluwa commented on #219
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:12] #219 closed, assigned to mindcatch-com

[2012-01-11 15:13] lobajuluwa commented on #217
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:13] #217 closed, assigned to mindcatch-com

[2012-01-11 15:14] lobajuluwa commented on #216
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:14] #216 closed, assigned to mindcatch-com

[2012-01-11 15:14] lobajuluwa commented on #215
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:14] #215 closed, assigned to mindcatch-com

[2012-01-11 15:15] lobajuluwa commented on #214
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:15] #214 closed, assigned to mindcatch-com

[2012-01-11 15:15] lobajuluwa commented on #213
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:15] #213 closed, assigned to mindcatch-com

[2012-01-11 15:15] lobajuluwa commented on #211
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:15] #211 closed, assigned to mindcatch-com

[2012-01-11 15:16] lobajuluwa commented on #210
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:16] #210 closed, assigned to mindcatch-com

[2012-01-11 15:16] lobajuluwa commented on #209
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:16] #209 closed, assigned to mindcatch-com

[2012-01-11 15:17] lobajuluwa commented on #207
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:17] #207 closed, assigned to mindcatch-com

[2012-01-11 15:17] lobajuluwa commented on #206
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:17] #206 closed, assigned to mindcatch-com

[2012-01-11 15:17] lobajuluwa commented on #205
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:17] #205 closed, assigned to mindcatch-com

[2012-01-11 15:18] lobajuluwa commented on #204
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:18] #204 closed, assigned to mindcatch-com

[2012-01-11 15:18] lobajuluwa commented on #202
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:18] #202 closed, assigned to mindcatch-com

[2012-01-11 15:19] lobajuluwa commented on #201
Issue relates to previous PI tool. New build now in progress

[2012-01-11 15:19] #201 closed, assigned to mindcatch-com

[2012-01-11 15:20] #230 closed, assigned to mindcatch-com

[2012-01-11 15:29] #65 closed, assigned to chris-sleep

[2012-01-11 15:33] lobajuluwa commented on #53
removing search by publication location

[2012-01-11 15:33] #53 closed, assigned to chris-sleep

[2012-01-11 15:35] #47 closed, assigned to chris-sleep

[2012-01-11 15:42] #126 closed, assigned to chris-sleep

[2012-01-11 15:44] #98 closed, assigned to chris-sleep

[2012-01-11 15:48] #92 closed, assigned to nobody

[2012-01-11 15:48] #81 closed, assigned to wkollernhm

[2012-01-11 15:49] #80 closed, assigned to wkollernhm

[2012-01-16 10:37] chris-sleep commented on #133
No further need for Personal Info; Picture etc.

User Profile for users to enable features for saved searches, tagging only

[2012-01-16 10:44] chris-sleep commented on #125
Save search is not currently active/enabled in the current portal.  The function hook needs to be identified and linked to the current save search button.

[2012-01-16 10:53] JiriFrank commented on #55
Reopened for testing in new Advanced search module

[2012-01-16 10:57] akohlbecker commented on #125
the "ait" implementation of save search is found in https://github.com/bhle/bhle/blob/master/portal/drupal/www/sites/all/modules/ait/advanced_search/advanced_search.module#L1124 at this line you will find the function:

[code]

[2012-01-16 10:58] JiriFrank commented on #37
Need to be tested in new portal search module.

[2012-01-16 11:00] chris-sleep commented on #37
No cyrillic in the test set but some umlauts and acute accents in the current corpus

[2012-01-16 11:34] JiriFrank commented on #46
Andreas will addapted that.

[2012-01-16 13:00] JiriFrank commented on #258
fixed

[2012-01-16 13:06] chris-sleep commented on #239
Implemented, but needs other content types in test data to test.

[2012-01-16 13:14] chris-sleep commented on #212
need to update solr from 3.3

[2012-01-16 14:32] JiriFrank commented on #164
7.10? :-)

[2012-01-16 14:41] chris-sleep commented on #128
dependency on content tagging

[2012-01-16 15:05] parmelia-michaela commented on #239
working on test data...

[2012-01-16 15:35] chris-sleep commented on #84
TOC to be in frame/iframe alongside bookviewer now

[2012-01-16 15:42] chris-sleep commented on #56
for testing search with:
(where terms are term1 term2 and term3)

`*rm1 term2 ter*`

which cannot be in quotes, as wildcards inside "" are not allowed with solr/lucene

[2012-01-16 15:57] chris-sleep commented on #38
special characters are now stripped from the index and searching

[2012-01-16 16:15] akohlbecker commented on #33
Use the extendeddismax (solr) parser for both simple and advance search and also add any combination of the fields author, year, scientific name and title to the field selection list of advanced search.
So it will be possible to also use the simple search specific behavior in advanced search. This will bring simple and advanced search in align and thus should solve the problems we are having with

[2012-01-17 09:27] akohlbecker opened #284 "bad links in 'Top menu' block and in other blocks"
The 'Top menu' which shows up in the 'Content top' region of the advanced search is using absolute url paths. This leads to problems everywhere where the portal is not installed at the server root. A 'Top menu' menu already exists (http://bhl-int.nhm.ac.uk/portal/admin/structure/menu/manage/menu-top-menu). This menu, which has correct links, could replace the block. However menus might not support

[2012-01-17 10:32] JiriFrank commented on #169
Testing comment for testing phase

@AnneSch

[2012-01-17 11:00] JiriFrank commented on #169
Testing comment for testing phase

@RalfH

[2012-01-17 12:06] JiriFrank commented on #34
1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search)

COR number: 1.2.14
Testing platform: http://bhl-test.nhm.ac.uk/portal/

Description:

search with AND, OR, NOT, +, “search term” in Advanced search

e.g. mouse AND Hedley
mouse OR Hedley
mouse + Hedley
"mature mouse"

Use the search terms from books I sent in the list yesterday.

Closer explanations of Boolean operators see here

[2012-01-17 12:22] JiriFrank commented on #35
1.1.3 - Autocomplete search (Simple Search)

COR number: 1.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Autocomplete involves the program predicting a word or phrase that the user wants to type in without the user actually typing it in completely (taken from Wikipedia).

Autocomplete features shall be enabled by default (in simple search).

Note: N

[2012-01-17 12:29] JiriFrank commented on #36
1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best ma

[2012-01-17 12:33] JiriFrank commented on #37
1.1.5 - Search in various languages including language specific characters (Simple Search)

COR number: 1.1.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search shall support Unicode characters for a number of non Latin alphabets, e.g. Cyrillic.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFran

[2012-01-17 12:38] JiriFrank commented on #38
1.1.6 - Search with special characters (Simple Search)

COR number: 1.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Special characters, not diacritics, shall be treated as regular characters. Some examples: !"§$%&/()=?+*#'-.,_:;^°~<>|

Special characters shall not interfere with the system.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbg

[2012-01-17 12:45] JiriFrank commented on #39
1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@R

[2012-01-17 12:47] JiriFrank commented on #40
1.1.8 - Search in all or one specific main search category (Simple Search)

COR number: 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Search in main categories: author, title/ journal title, year, taxon. Select specific categories (check box).

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@Ra

[2012-01-17 12:55] JiriFrank commented on #45
1.2.2 - Search by year of publication (Advanced search)

COR number: 1.2.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Search by exact year of publication, e.g. 1900

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 12:58] JiriFrank commented on #48
1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTes

[2012-01-17 13:04] JiriFrank commented on #54
1.2.11 - Search for words/ names in document

COR number: 1.2.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Live search in OCR document in content viewer, “Search inside”.

You can reach the content viewer by click on Read book in result list.
The Content viewer is connected with the portal but net yet integrated on the portal. This task is under de

[2012-01-17 13:11] JiriFrank commented on #55
1.2.12 - Search with exact phrase only (Advanced search)

COR number: 1.2.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search for exact phrase, e.g. ' evolution of'; no deviation allowed

---

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 13:14] JiriFrank commented on #56
Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

 should enable finding "Histoire natuRELLE DE MOllusques" but not "Histoire naturelle des annelides et mollusques". Like MS Word search function.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 14:02] JiriFrank commented on #61
1.4.1a - Metadata fields displayed in result lists (renamed, Result list)

COR number: 1.2.13
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Description:

(1) Journals (single volumes): title of journal, (title of volume), publisher, place of publication, publishing date (start year)

(2)Journal article: article title, author, year, journal title/ volume/ page range, (c

[2012-01-17 14:06] JiriFrank commented on #74
2.1.1 - Search for content by colloquial name (Advanced search)

COR number: 2.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search with colloquial name:
Search in metadata (titles, etc.) and OCR
or translate Latin names found by uBio into colloquial names by other web services (search term amplification)

„expand search“ function

@AnneSch
@Anton

[2012-01-17 14:08] JiriFrank commented on #75
2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)

COR number: 2.1.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

„expand search“ function

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@J

[2012-01-17 14:09] JiriFrank commented on #76
2.1.3 - Search by author including synonyms and various spellings (Advanced search)

COR number: 2.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by authors name (various spelling (languages), abbreviation, synonyms),
search in authors metadata field, filter results by facet list
e.g. Linné = Linnaeus

„expand search“ function

@AnneSch
@Ant

[2012-01-17 14:11] JiriFrank commented on #79
2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)
e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minu

[2012-01-17 14:16] JiriFrank commented on #83
3.1.1 - View Content (Content view)

COR number: 3.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Display content (OCR text or pdf) with various functionalities
minimum time for loading page (5sec),
indicate loading process of page
--> compare with BHL portal book viewer

You can reach the content viewer by click on Read book in result list.

@AnneS

[2012-01-17 14:17] JiriFrank commented on #85
3.1.3 - View title of item (Content view)

COR number: 3.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Display title of item in content viewer

You can reach the content viewer by click on Read book in result list.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 14:18] JiriFrank commented on #89
3.1.7 - Navigate in document in content viewer (Content view)

COR number: 3.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Implement user friendly buttons:
up, down, select page, forward, backward, go back to first page, go to end of document, etc.

You can reach the content viewer by click on Read book in result list.

@AnneSch
@AntonioGVH
@fwelte

[2012-01-17 14:20] JiriFrank commented on #95
3.1.13 - Copy text directly from content viewer (Content view)

COR number: 3.1.13
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

mark text in document in content viewer, copy/paste

You can reach the content viewer by click on Read book in result list.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS

[2012-01-17 14:22] JiriFrank commented on #99
3.2.1 - Download single pages/ plates/ figures of document (Content Download)

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Click on single page(/figure/plate) in table of contents (TOC) or enter page numbers in box.
Download selected pages

You can reach the content viewer by click on Read book in result list.

@AnneSch
@AntonioGVH

[2012-01-17 14:25] JiriFrank commented on #104
4.1.1 - Design of portal (interface) (Community portal)

COR number: 4.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Portal design

Description:

User friendly design of portal, wireframes

Any comments regarding the overall portal design are welcome.

Several parts of portal are still under developing and will be changed in some details.

@AnneSch
@AntonioGVH
@fwelter
@grahamh

[2012-01-17 14:27] JiriFrank commented on #106
4.1.3 - Help for Search (Community portal)

COR number: 4.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Portal Front page and Advanced search

Description:

Provide link to help and tutorial.

Several parts of portal are still under developing and will be changed in some details, this will also affect the final version of tutorial. Help is provided as tutorial and hint bar.

@A

[2012-01-17 14:29] JiriFrank commented on #110
4.1.7 - Show BHL news (Community portal)

COR number: 4.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Front page

Description:

News feed (RSS): BHL Blog, Tweets, Facebook
Display on main page

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 14:35] JiriFrank commented on #124
Needs to be updated according to new portal functionalities.

@chris-sleep
@lobajuluwa

I will move it to January 2012 milestone

[2012-01-17 15:05] JiriFrank commented on #168
Bug - 1.1.8 - Search in all or specific main search categories (Simple Search)

COR number: it is bug related to feature 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Bug description:

This functionality needs also to be implemented as Simple Search functionality, not only Advanced Search. In simple search it needs to be restricted to the identified main search

[2012-01-17 15:12] JiriFrank commented on #173
Bug - 1.1.1 – Search results should always be ordered by relevance

COR number: it is bug related to feature 1.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Bug description:

Search results should always be ordered by relevance

The result list should always be sorted by relevance (decision from Portal review meeting in Brussles)

@AnneSch
@AntonioGVH
@fwelter
@gra

[2012-01-17 15:15] JiriFrank commented on #174
solved by sorting the result list by relevance and setting the defalut Boolean operator AND between the terms.

[2012-01-17 15:26] RalfH commented on #34
Everything works perfect.

Ralf

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:07
An: Hand, Ralf
Betreff: Re: [bhle] 1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search) (#34)

1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search)

COR number: 1.2.14
Testing platform: http://bhl-test.nhm.ac.uk/po

[2012-01-17 15:28] JiriFrank commented on #184
4.2.1 - Change individual search setting

COR number: it is bug related to feature 4.2.1 – the description in COR need to be change, because there is not necessary to be registered user for use this feature.

Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Bug description:

Table view is not working properly. The metadata extend from the frames, creating a mess.
The tabl

[2012-01-17 15:39] JiriFrank commented on #187
Under process of testing

[2012-01-17 15:39] JiriFrank commented on #180
Under process of testing.

[2012-01-17 15:40] JiriFrank commented on #198
Under process of testing.

[2012-01-17 15:43] JiriFrank commented on #237
1.2.10b - Search for publishing language (Advanced search)

COR number: 1.2.10b
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search in metadata field 'language', e.g. search for books published in German or Spanish.
Use unified language identifiers/ abbreviations

The three-letter word language code iso639-2b is required.

@AnneSch
@AntonioGVH
@fwelt

[2012-01-17 15:46] JiriFrank commented on #239
1.4.1b - Indicate content type (Result list)

COR number: 1.4.1b
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Description:

Content type should be indicated by icons
Defined content types: monograph, article, journal (Volume)

There is on the testing platform only the content type monograph right now.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningSch

[2012-01-17 15:47] JiriFrank commented on #132
4.3.3 - Change login details

COR number: 4.3.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: My account

Description:

Change login details e.g. user name, password, email address

You need to first create a new account.

@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-01-17 15:49] #133 closed, assigned to bendao

[2012-01-17 16:24] RalfH commented on #35
It works. Just two notes:

(1) autocompletion of author names is a bit viscous. If you search "Sturm" you need to type the complete name. In the case of Darwin you need "Darwi" before a selection is offered.

(2) It could be confusing that author names (which generally start with a capitalized letter) start with lowercase letters. If you search "Krogerus" autocompletion offers you "krogerus" - no

[2012-01-17 16:48] RalfH commented on #45
It works. No critical point found. Even publication periods such as 1879-1882 are indicated, which is very useful.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:56
An: Hand, Ralf
Betreff: Re: [bhle] 1.2.2 - Search by year of publication (Advanced search) (#45)

1.2.2 - Search by year of publication (Advanced search)

COR nu

[2012-01-17 20:19] HenningScholz commented on #34
This works. In terms of useability (I know we are not testing for useability, but...) it is not intuitive how to work with the "AND" operator. There are buttons for NOT and OR but not for AND. It also looks like using AND or a space between the serach terms give the same result. Also just adding a search field and typing in the next search term gives the same results. But this is a useability prob

[2012-01-17 20:22] HenningScholz commented on #35
This works fine, and if you type slow enough you can fully benefit from the autocomplete function. Much less annoying then in Google.

By the way: I'm testing with IE under Win XP or Win 7, depending if I work from home or from the office.

Henning

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:22
An: Scholz, Henning
Betreff: Re: [bhle] 1.1.3 - Autocomplete search

[2012-01-17 20:51] HenningScholz commented on #36
This is not working perfectly. In some examples it does, in others not. When I look for "Aerzte" for example, I always get one result (Medicinisch-pharmaceutische botanik zugleich als handbuch der systematischen botanik fur botaniker, arzte und apotheker) but not this one (Deutsche Flora. Pharmaceutisch-medicinische Botanik. Ein Grundriss der systematischen Botanik zum Selbststudium fr Aerzte, Apo

[2012-01-18 08:46] RalfH commented on #36
It works more or less for the umlaute.
But it does not find (the obviously Faeroese) Plantulæra - whether the exact spelling nor "Plantulaera". It also has problems in finding the place of publishing "Tórshavn" (same publication) which is a bit surprising because that works for other á etc. cases.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag,

[2012-01-18 09:08] RalfH commented on #38
There are certain problems.

Hyphens work well; results are even given if you omit them. That's fine.

When searching "(Anthropomorphae):" no results are given but it may refer to a general problem because even "Anthropomorphae" is not found by simple search.

By the way: If you start typing with an ( in simple search you receive the attached note. It may be of interest for you.

-----Ursprngliche

[2012-01-18 09:32] RalfH commented on #39
It works but I found the following problem:

If you search Lyhykaeinen (part of a title) instead of Lyhykäinen it works but the combination with \* (i.e. Lyhykaeine_) results in no results. Lyhykäine_ works. Obviously, the combination of diacritic letter alternatives and wildcard seems to be problematic (in simple and advanced).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply

[2012-01-18 10:22] RalfH commented on #48
It works but there is a general problem for multi-volume books.

If I search Sturm's flora for the complete publication period 1798-1862 it works but search for a single volume, e.g. vol. 9 of 1812-1814 is not successful. That may change later when the input is complete and volumes und their metadata are added one by one.

Search in a certain time interval (as recommended in the search combination

[2012-01-18 10:34] RalfH commented on #55
It works.

But it should be taken into consideration that users don't know the exact spelling in foreign languages. You find "Plantas medicinales de Filipinas", but if somebody is searching - erroneously - for "Plantas medicinales de Filipina" (i.e. omitting the S), no results are given. Phrase is not truly wrong, but incomplete. Could be frustating.

-----Ursprüngliche Nachricht-----
Von: JiriFra

[2012-01-18 11:38] RalfH commented on #40
It works.

But there are problems with the place at least in one (some?) example/s:

Plantas medicinales de Filipinas
Pardo de Tavera, T. H. (Trinidad Hermenegildo), 1857-1925
1892

Combination of 3 fields does not produce results if you search for the place of publication Madrid. It may be a special problem of this title because Madrid is not found if you search for place of publicaton alone. In

[2012-01-18 11:39] grahamhrbge1670 commented on #40
This is working for Author only simple search, without any problem.
For Title only search, the following search combinations are working: first two words from title; key word in title (eg Filipinas); common word in title (eg Flora).
Single Year search working as expected, eg, 1909 and 1798. The system also retrieves results for a particular year if that appears in the date of publication field as

[2012-01-18 11:55] #33 closed, assigned to chris-sleep

[2012-01-18 13:09] grahamhrbge1670 commented on #54
This is working.  Have run a few search inside tests for botanical genera, eg Neottia, Cistus, and the results retrieved from a search inside are as I'd expect, checking each of the monographs retrieved.

[2012-01-18 13:28] RalfH commented on #56
It works. No problems.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 14:15
An: Hand, Ralf
Betreff: Re: [bhle] 1.2.13 - Search with truncated phrases (Advanced search) (#56)

Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

 should enable finding "H

[2012-01-18 13:41] RalfH commented on #110
No problems found.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:29
An: Hand, Ralf
Betreff: Re: [bhle] 4.1.7 - Show BHL news (Community portal) (#110)

4.1.7 - Show BHL news (Community portal)

COR number: 4.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Front page

Description:

News feed (RSS): BHL Blog

[2012-01-18 13:59] grahamhrbge1670 commented on #55
Checked it using a phrase with diacritics, and it works, you need to search with the diacritics for the record to be retrieved, used "Beschrijving van de familiën" as example.

[2012-01-18 14:00] RalfH commented on #85
I works, but performance is perfect only using firefox. In the IE one cannot turn over the leaves of a book ...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:17
An: Hand, Ralf
Betreff: Re: [bhle] 3.1.3 - View title of item (Content view) (#85)

3.1.3 - View title of item (Content view)

COR number: 3.1.3
Testing platform: h

[2012-01-18 14:20] RalfH commented on #61
It works as regards point (3). But the list does show "publisher" not "content provider". Anyway, is does make more sense and it may be erroneous?

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:02
An: Hand, Ralf
Betreff: Re: [bhle] 1.4.1a - Metadata fields displayed in result lists (renamed, Result list) (#61)

1.4.1a - Meta

[2012-01-18 14:34] AnneSch commented on #34
Works fine.

Anne

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:07
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search) (#34)

1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search)

COR number: 1.2.14
Testing platform: http://bhl-test.nhm.ac.uk/portal/

[2012-01-18 14:45] AnneSch commented on #35
Works fine!

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:22
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.3 - Autocomplete search (Simple Search) (#35)

1.1.3 - Autocomplete search (Simple Search)

COR number: 1.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Autocomplete invo

[2012-01-18 14:48] AnneSch commented on #36
Works fine!

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:30
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.4 - Search with words including diacritic characters (Simple Search) (#36)

1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal

[2012-01-18 15:06] AnneSch commented on #36
A slight change of my previous opinion: If I look for "Plantulaera", it is not found. The normal user cannot type the ligature "ae"...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:30
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.4 - Search with words including diacritic characters (Simple Search) (#36)

1.1.4 - Search with

[2012-01-18 15:10] RalfH commented on #239
If the icon "green books" on the left is the special icon for books (and the non-existing will differ), then it works.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 16:46
An: Hand, Ralf
Betreff: Re: [bhle] 1.4.1b - Indicate content type (Result list) (#239)

1.4.1b - Indicate content type (Result list)

COR number: 1.4.1b
Test

[2012-01-18 15:12] AnneSch commented on #38
Works fine with accents.
Only a little remark: I looked for "L'etat independant", but it was not found, because it was not written like that, but "Letat". Same with "dequateurville", which is originally "d'Equateurville".

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:39
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.6 - Sear

[2012-01-18 15:39] RalfH commented on #54
So, there is no real possibility to test at the moment. There is already a possibility to display OCR of a page but I do not understand where the "Search inside" functionality is/will to be found.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 14:04
An: Hand, Ralf
Betreff: Re: [bhle] 1.2.11 - Search for words/ names in document

[2012-01-18 16:02] grahamhrbge1670 commented on #54
I'm not sure if I was looking at what was to be tested here.  The workflow I followed for this was: 1. Open Advanced Search: 2. Check "expand search" 3. Select Scientific Name as search parameter 4. Input name eg Neottia 5. Execute search.
In this example 3 items were retrieved.  6. Opened each of the items retrieved, one by one, using Read Book button, then in the Book viewer run a search for the

[2012-01-18 16:31] RalfH commented on #74
Does not work.

UBio gives bird skin lice for Epidermoptidae (part of one title) but it is not found.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:07
An: Hand, Ralf
Betreff: Re: [bhle] 2.1.1 - Search for content by colloquial name (Advanced search) (#74)

2.1.1 - Search for content by colloquial name (Advanced search)

COR

[2012-01-18 16:34] grahamhrbge1670 commented on #35
Like this function, works well, but then I'm a slow typist

Graham

[2012-01-18 16:48] RalfH commented on #99
It works. Nice functionality. But quality of pdfs (even if high quality is chosen) is very variable. Flora Malesiana for example results in surprisingly low quality pdf. On the other hand, coloured illustrations from older floras are quite good in pdf.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:22
An: Hand, Ralf
Betreff:

[2012-01-18 16:53] grahamhrbge1670 commented on #38
Have all the apostrophes, for example, been removed from the system at the data ingest stage.  I tried a similar search to the one Anne did, using l'Atlantique as an example.  A simple search set to Title field for "l'Atlantique" retrieves no results, whilst a simple search set to Title field for "lAtlantique" retrieves one result... This is confusing for me.

Graham

Just noted Andreas' comment a

[2012-01-18 17:29] grahamhrbge1670 commented on #74
Can't get this to work.

Graham

[2012-01-19 10:41] JiriFrank commented on #34
1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search)

COR number: 1.2.14
Testing platform: http://bhl-test.nhm.ac.uk/portal/

Description:

search with AND, OR, NOT, +, “search term” in Advanced search

e.g. mouse AND Hedley
mouse OR Hedley
mouse + Hedley
"mature mouse"

Use the search terms from books I sent in the list yesterday.

Closer explanations of Boolean operators see here

[2012-01-19 10:42] JiriFrank commented on #35
1.1.3 - Autocomplete search (Simple Search)

COR number: 1.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Autocomplete involves the program predicting a word or phrase that the user wants to type in without the user actually typing it in completely (taken from Wikipedia).

Autocomplete features shall be enabled by default (in simple search).

Note: N

[2012-01-19 10:43] JiriFrank commented on #36
1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best ma

[2012-01-19 10:44] JiriFrank commented on #37
1.1.5 - Search in various languages including language specific characters (Simple Search)

COR number: 1.1.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search shall support Unicode characters for a number of non Latin alphabets, e.g. Cyrillic.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:45] JiriFrank commented on #39
1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:45] JiriFrank commented on #40
1.1.8 - Search in all or one specific main search category (Simple Search)

COR number: 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

Search in main categories: author, title/ journal title, year, taxon. Select specific categories (check box).

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:46] JiriFrank commented on #45
1.2.2 - Search by year of publication (Advanced search)

COR number: 1.2.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Search by exact year of publication, e.g. 1900

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:46] JiriFrank commented on #48
1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:47] JiriFrank commented on #54
1.2.11 - Search for words/ names in document

COR number: 1.2.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Live search in OCR document in content viewer, “Search inside”.

You can reach the content viewer by click on Read book in result list.
The Content viewer is connected with the portal but net yet integrated on the portal. This task is under de

[2012-01-19 10:47] JiriFrank commented on #55
1.2.12 - Search with exact phrase only (Advanced search)

COR number: 1.2.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search for exact phrase, e.g. ' evolution of'; no deviation allowed

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:48] JiriFrank commented on #56
Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

should enable finding "Histoire natuRELLE DE MOllusques" but not "Histoire naturelle des annelides et mollusques". Like MS Word search function.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:49] JiriFrank commented on #61
1.4.1a - Metadata fields displayed in result lists (renamed, Result list)

COR number: 1.4.1a
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Description:

(1) Journals (single volumes): title of journal, (title of volume), publisher, place of publication, publishing date (start year)

(2)Journal article: article title, author, year, journal title/ volume/ page range, (c

[2012-01-19 10:50] JiriFrank commented on #74
2.1.1 - Search for content by colloquial name (Advanced search)

COR number: 2.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search with colloquial name:
Search in metadata (titles, etc.) and OCR
or translate Latin names found by uBio into colloquial names by other web services (search term amplification)

„expand search“ function

@AntonioGVH
@fw

[2012-01-19 10:50] JiriFrank commented on #75
2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)

COR number: 2.1.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

„expand search“ function

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:51] JiriFrank commented on #76
2.1.3 - Search by author including synonyms and various spellings (Advanced search)

COR number: 2.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by authors name (various spelling (languages), abbreviation, synonyms),
search in authors metadata field, filter results by facet list
e.g. Linné = Linnaeus

„expand search“ function

@AntonioGVH
@

[2012-01-19 10:52] JiriFrank commented on #79
2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)
e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minu

[2012-01-19 10:53] JiriFrank commented on #83
3.1.1 - View Content (Content view)

COR number: 3.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Display content (OCR text or pdf) with various functionalities
minimum time for loading page (5sec),
indicate loading process of page
--> compare with BHL portal book viewer

You can reach the content viewer by click on Read book in result list.

@Anton

[2012-01-19 10:53] JiriFrank commented on #85
3.1.3 - View title of item (Content view)

COR number: 3.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Display title of item in content viewer

You can reach the content viewer by click on Read book in result list.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:54] JiriFrank commented on #89
3.1.7 - Navigate in document in content viewer (Content view)

COR number: 3.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Implement user friendly buttons:
up, down, select page, forward, backward, go back to first page, go to end of document, etc.

You can reach the content viewer by click on Read book in result list.

@AntonioGVH
@fwelter
@Lariss

[2012-01-19 10:55] JiriFrank commented on #95
3.1.13 - Copy text directly from content viewer (Content view)

COR number: 3.1.13
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

mark text in document in content viewer, copy/paste

You can reach the content viewer by click on Read book in result list.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:56] JiriFrank commented on #99
3.2.1 - Download single pages/ plates/ figures of document (Content Download)

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Click on single page(/figure/plate) in table of contents (TOC) or enter page numbers in box.
Download selected pages

You can reach the content viewer by click on Read book in result list.

@AntonioGVH
@fwelter

[2012-01-19 10:56] LarissaS commented on #45
Works good, but again switching after to advanced search I found old parameters already filled in. Should be empty!

Did not understand very good why in Facet menu in results page in front of YEAR is written REMOVE, what is practical use of it?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:46
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.2 -

[2012-01-19 10:56] JiriFrank commented on #104
4.1.1 - Design of portal (interface) (Community portal)

COR number: 4.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Portal design

Description:

User friendly design of portal, wireframes

Any comments regarding the overall portal design are welcome.

Several parts of portal are still under developing and will be changed in some details.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:57] JiriFrank commented on #106
4.1.3 - Help for Search (Community portal)

COR number: 4.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Portal Front page and Advanced search

Description:

Provide link to help and tutorial.

Several parts of portal are still under developing and will be changed in some details, this will also affect the final version of tutorial. Help is provided as tutorial and hint bar.

@A

[2012-01-19 10:57] JiriFrank commented on #110
4.1.7 - Show BHL news (Community portal)

COR number: 4.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Front page

Description:

News feed (RSS): BHL Blog, Tweets, Facebook
Display on main page

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:57] JiriFrank commented on #132
JiriFrank commented 1 day ago
4.3.3 - Change login details

COR number: 4.3.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: My account

Description:

Change login details e.g. user name, password, email address

You need to first create a new account.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:58] JiriFrank commented on #168
Bug - 1.1.8 - Search in all or specific main search categories (Simple Search)

COR number: it is bug related to feature 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Bug description:

This functionality needs also to be implemented as Simple Search functionality, not only Advanced Search. In simple search it needs to be restricted to the identified main search

[2012-01-19 10:58] JiriFrank commented on #173
Bug - 1.1.1 – Search results should always be ordered by relevance

COR number: it is bug related to feature 1.1.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Bug description:

Search results should always be ordered by relevance

The result list should always be sorted by relevance (decision from Portal review meeting in Brussles)

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 10:59] JiriFrank commented on #184
4.2.1 - Change individual search setting

COR number: it is bug related to feature 4.2.1 – the description in COR need to be change, because there is not necessary to be registered user for use this feature.

Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Bug description:

Table view is not working properly. The metadata extend from the frames, creating a mess.
The tabl

[2012-01-19 11:00] JiriFrank commented on #237
1.2.10b - Search for publishing language (Advanced search)

COR number: 1.2.10b
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search in metadata field 'language', e.g. search for books published in German or Spanish.
Use unified language identifiers/ abbreviations

The three-letter word language code iso639-2b is required.

@AntonioGVH
@fwelter
@Laris

[2012-01-19 11:00] JiriFrank commented on #239
1.4.1b - Indicate content type (Result list)

COR number: 1.4.1b
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Result list

Description:

Content type should be indicated by icons
Defined content types: monograph, article, journal (Volume)

There is on the testing platform only the content type monograph right now.

@AntonioGVH
@fwelter
@LarissaS

[2012-01-19 11:04] LarissaS commented on #40
Works good

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:46
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.8 - Search in all or one specific main search category (Simple Search) (#40)

1.1.8 - Search in all or one specific main search category (Simple Search)

COR number: 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simp

[2012-01-19 11:04] LarissaS commented on #39
Works good

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:45
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.7 - Search with truncated terms (now Advanced Search 1.2.15) (#39)

1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced

[2012-01-19 11:09] LarissaS commented on #37
How can we check it if there is no Russian book in collection?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:44
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.5 - Search in various languages including language specific characters (Simple Search) (#37)

1.1.5 - Search in various languages including language specific characters (Simple Search)

[2012-01-19 12:04] LarissaS commented on #37
I also have tried to search for Darwin written in Russian (Дарвин).
Result is:
- if I switch expand search and search in authors, I have no results (logic, we have no book of Darwin) but I get matches for English version of Darwin which is good. If I ask in the field of Title no matches and no results, which is bad, because we do have book about Darwin in the collection.
- in advanced search I jus

[2012-01-19 12:05] LarissaS commented on #237
Works good

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 12:00
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.10b - Search for publishing language (Advanced search) (#237)

1.2.10b - Search for publishing language (Advanced search)

COR number: 1.2.10b
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Se

[2012-01-19 12:08] LarissaS commented on #173
It works as far as I can estimate the relevance

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:59
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.1 - Search results should always be ordered by relevance (#173)

Bug - 1.1.1 - Search results should always be ordered by relevance

COR number: it is bug related to feature 1.1.1
Testing platform: htt

[2012-01-19 12:15] LarissaS commented on #168
It looks ok, but by default all fields are switched except scientific name, is it by purpose?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:58
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.8 - Search in all or specific main search categories (Simple Search) (#168)

Bug - 1.1.8 - Search in all or specific main search categories (Simple Search)

[2012-01-19 12:19] LarissaS commented on #168
Just saw that scientific name is not always switched out, then I just start from start page all fields are switched on, but if I go back from the results page via the button simple search - the scientific name is out. Small bug?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:58
To: Smirnova Larissa
Subject: Re: [bhle] 1.1.8 - Search in all or

[2012-01-19 12:21] LarissaS commented on #110
Ok, but are these news about BHL or also about biodiversity (smallest frog from Papua)?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:57
To: Smirnova Larissa
Subject: Re: [bhle] 4.1.7 - Show BHL news (Community portal) (#110)

4.1.7 - Show BHL news (Community portal)

COR number: 4.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Func

[2012-01-19 12:28] LarissaS commented on #106
Tutorial works, but have seen one bug:
if you want to go to search page from news page you come to advanced search and not simple search. And results of former searching are still hanging on the page.

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:57
To: Smirnova Larissa
Subject: Re: [bhle] 4.1.3 - Help for Search (Community portal) (#106)

4

[2012-01-19 12:53] LarissaS commented on #83
Hurray, I found how to view the book! Via the button "reed book"! And it works!
I checked RMCA books and quality is ok, with zoom text doubles, but still readable (less good quality than the original files?).
Did not find in book viewer the lower ruler (to move page left-right), when for example I zoomed the illustration and want to see it in details.
For downloading: in bibliographic record viewe

[2012-01-19 12:56] LarissaS commented on #99
Did not understand how it works!
Or it does not work?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:56
To: Smirnova Larissa
Subject: Re: [bhle] 3.2.1 - Download single pages/ plates/ figures of document (Content Download) (#99)

3.2.1 - Download single pages/ plates/ figures of document (Content Download)

COR number: 3.2.1
Testing platform:

[2012-01-19 12:59] LarissaS commented on #99
Ok, I found it! So it is with icon on the page itself, you have to add page to the download basket first! May be necessary to write a tutorial for that! But it works!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:56
To: Smirnova Larissa
Subject: Re: [bhle] 3.2.1 - Download single pages/ plates/ figures of document (Content Download) (#99)

3

[2012-01-19 13:00] LarissaS commented on #95
Did not find how to mark it!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:55
To: Smirnova Larissa
Subject: Re: [bhle] 3.1.13 - Copy text directly from content viewer (Content view) (#95)

3.1.13 - Copy text directly from content viewer (Content view)

COR number: 3.1.13
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content v

[2012-01-19 13:03] LarissaS commented on #89
Works good

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:55
To: Smirnova Larissa
Subject: Re: [bhle] 3.1.7 - Navigate in document in content viewer (Content view) (#89)

3.1.7 - Navigate in document in content viewer (Content view)

COR number: 3.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

[2012-01-19 13:13] LarissaS commented on #54
It works, but not highlighted in the document.
For scientific name: if I look for taxon name and see it on the page can I also enter it in uBio? I could not do it.

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:47
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.11 - Search for words/ names in document (#54)

1.2.11 - Search for words/ names in d

[2012-01-19 13:53] LarissaS commented on #48
It works, but some bugs:
- I was looking for "flora" AND "1900-1930", has got no results, "flora" AND "1900" - 2 results, so the question is if can I use interval written this way, nowhere could find help!
  - if I look first for "flora" and then look in facet menu for years and do open for example 1913(1) I see two results, also saw some other mistakes.
    If I want to browse then it does not wo

[2012-01-19 14:01] LarissaS commented on #55
It worked when I was searching for "Deutsche flora" and also with switched "exact word/phrase", but when I was looking for Deutsche flora without "", I have got also one result, while I have 8 results with word "flora".

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:48
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.12 - Search with exact phrase

[2012-01-19 20:39] HenningScholz commented on #37
Difficult to test. I also tried with Darwin, sometimes I get matches in the search summary that documents that VIAF is working partly, but no Latin corresponding names are displayed - a bit confusing, but maybe if more content is in, in these non Latin languages, it will be better to test.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:33
An: Scholz, Henning
Betref

[2012-01-19 20:48] HenningScholz commented on #38
Not working in all cases: searching for "(Anthropomorphae): " gives not result and I can not even find  "Anthropomorphae". Entering in the simple search gives sometimes an error message in a pop up window (Ajax http error code 500). "botaniker," is working.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:38
An: Scholz, Henning
Betreff: Re: [bhle] 1.1.6 - Search with

[2012-01-19 20:52] HenningScholz commented on #39
This seems to work. Interesting: while Anthropomorphae is not working, Anthro\* is working to give the result.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:45
An: Scholz, Henning
Betreff: Re: [bhle] 1.1.7 - Search with truncated terms (now Advanced Search 1.2.15) (#39)

1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing p

[2012-01-19 20:57] HenningScholz commented on #40
Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:47
An: Scholz, Henning
Betreff: Re: [bhle] 1.1.8 - Search in all or one specific main search category (Simple Search) (#40)

1.1.8 - Search in all or one specific main search category (Simple Search)

COR number: 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search

Description:

[2012-01-19 20:58] HenningScholz commented on #45
Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 13:55
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.2 - Search by year of publication (Advanced search) (#45)

1.2.2 - Search by year of publication (Advanced search)

COR number: 1.2.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Search by exact yea

[2012-01-19 21:06] HenningScholz commented on #54
This is a nice feature and works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 14:04
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.11 - Search for words/ names in document (#54)

1.2.11 - Search for words/ names in document

COR number: 1.2.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Live search in OCR document i

[2012-01-19 21:11] HenningScholz commented on #55
Seams to work, but not enough books to really test it and see the difference compared to boolean search.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 14:11
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.12 - Search with exact phrase only (Advanced search) (#55)

1.2.12 - Search with exact phrase only (Advanced search)

COR number: 1.2.12
Testing platform: http://bhl-te

[2012-01-19 21:13] HenningScholz commented on #56
This works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 14:14
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.13 - Search with truncated phrases (Advanced search) (#56)

Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

 should enable finding "Histoire natuRELLE DE MOllusques" but not "

[2012-01-19 21:15] HenningScholz commented on #61
This seams to work, but it needs to be re-tested after the first real OLEF data are ingested.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:02
An: Scholz, Henning
Betreff: Re: [bhle] 1.4.1a - Metadata fields displayed in result lists (renamed, Result list) (#61)

1.4.1a - Metadata fields displayed in result lists (renamed, Result list)

COR number: 1.2.13
Testing

[2012-01-19 21:33] HenningScholz commented on #74
The metadata have no scientifc name (genus, species). I expect the expanded search to work only in these cases. So no surprise it does not work. Search in OCR only works if the word is in the text. Search term expansion does not work in OCR search, as far as I know.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:06
An: Scholz, Henning
Betreff: Re: [bhle] 2.1.1 - Se

[2012-01-19 21:35] HenningScholz commented on #75
Same applies as before: what is not in the metadata can not be found. As TaxonFinder comes at Pre-Ingest, we don't have the taxonomic information ready now. So I think the infrastructure is there, but we cant see it working properly without the Pre-Ingest. Is that correct?

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:08
An: Scholz, Henning
Betreff: Re: [bhle] 2.1

[2012-01-19 22:02] HenningScholz commented on #76
Although not many authors have different spellings, the one I found works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:09
An: Scholz, Henning
Betreff: Re: [bhle] 2.1.3 - Search by author including synonyms and various spellings (Advanced search) (#76)

2.1.3 - Search by author including synonyms and various spellings (Advanced search)

COR number: 2.1.3
Tes

[2012-01-19 22:03] HenningScholz commented on #79
I don't expect this to work properly as taxonomic names are not in the metadata, as far as I can see.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:11
An: Scholz, Henning
Betreff: Re: [bhle] 2.1.6 - Search for synonyms of species names (Advanced search) (#79)

2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http:

[2012-01-19 22:11] HenningScholz commented on #83
Content viewer seems to work faster compared to BHLUS book viewer, in particular when flipping back and forth a lot of pages at once. No indication of loading process.

When clicking on the OCR button and close the popup, the content viewer disappears and I see an empty window.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:16
An: Scholz, Henning
Betreff: Re: [bhle

[2012-01-19 22:12] HenningScholz commented on #85
Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:17
An: Scholz, Henning
Betreff: Re: [bhle] 3.1.3 - View title of item (Content view) (#85)

3.1.3 - View title of item (Content view)

COR number: 3.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Display title of item in content viewer

You can reach the cont

[2012-01-19 22:21] HenningScholz commented on #89
The slider at the base is not perfect. I can not move it with the mouse. The scroll bar at the right is a bit hidden, difficult to work with. Otherwise, navigation works good. I can see no big difference in performance compared to the original IA content viewer.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:18
An: Scholz, Henning
Betreff: Re: [bhle] 3.1.7 - Naviga

[2012-01-19 22:25] HenningScholz commented on #95
The only way I could get content out is via the OCR pop-up: show OCR, mark text and copy-paste to Word.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:20
An: Scholz, Henning
Betreff: Re: [bhle] 3.1.13 - Copy text directly from content viewer (Content view) (#95)

3.1.13 - Copy text directly from content viewer (Content view)

COR number: 3.1.13
Testing platform: ht

[2012-01-19 22:32] HenningScholz commented on #99
Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:22
An: Scholz, Henning
Betreff: Re: [bhle] 3.2.1 - Download single pages/ plates/ figures of document (Content Download) (#99)

3.2.1 - Download single pages/ plates/ figures of document (Content Download)

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Descr

[2012-01-19 22:36] HenningScholz commented on #104
No comment now, but I see a significant different difference between IE9 and Firefox 9.0.1. Advanced search is not useable in Firefox, very strange.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:26
An: Scholz, Henning
Betreff: Re: [bhle] 4.1.1 - Design of portal (interface) (Community portal) (#104)

4.1.1 - Design of portal (interface) (Community portal)

COR num

[2012-01-19 22:39] HenningScholz commented on #106
Some tutorials are working, although the text needs some revisions, but this will probably come when the portal will be finalised.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:28
An: Scholz, Henning
Betreff: Re: [bhle] 4.1.3 - Help for Search (Community portal) (#106)

4.1.3 - Help for Search (Community portal)

COR number: 4.1.1
Testing platform: http://bhl-test

[2012-01-19 22:42] HenningScholz commented on #110
Works fine, although the click on the posts should automatically open in a new tab or window to not leave the portal.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Di 17.01.2012 15:29
An: Scholz, Henning
Betreff: Re: [bhle] 4.1.7 - Show BHL news (Community portal) (#110)

4.1.7 - Show BHL news (Community portal)

COR number: 4.1.7
Testing platform: http://bhl-test.nhm.ac.uk/portal

[2012-01-20 10:22] RalfH commented on #76
Difficult to judge because the limited selection of titles does not include tricky cases of variable authors' names.
It would also have been useful to test such common cases such as "DC.", our botanical standard abbreviation for "de Candolle".

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:10
An: Hand, Ralf
Betreff: Re: [bhl

[2012-01-20 10:42] RalfH commented on #83
It works excellent and loading is very fast. Starting with simple or advanced search you have your result (a certain page) within less than 5 sec - as far as you know the basic functionalities.

As stated before: Works only by using Firefox. pdf production is ok, OCR not really satisfying (copy+paste to word?).

Comparison with BHL portal book viewer (which I know quite a while): I need more time

[2012-01-20 11:01] RalfH commented on #89
The icons, buttons, bars and whatever are mostly selfexplanatory. I guess that newcomers need less than 1 min. to understand the basic features.

It may take a few more seconds to understand "download this book", the basket thing and its connection.

To sum up: much more userfriendlier than the BHL portal.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet:

[2012-01-20 11:02] grahamhrbge1670 commented on #34
I'm switching between Firefox 9.0 and IE 8.
The Boolean search is working for Author + Title ; Title NOT Author ; Title + Year ;

However, I have a few basic functionality problems.  The reset button does not work in Advanced Search, I'm having to manually clear the search box, which is time consuming.

Another problem, which might probably be related to the inability to clear the search box using

[2012-01-20 11:27] grahamhrbge1670 commented on #36
Compared the search for plantulaera and plantulæra in BHL(US).  In BHLUS the system accepts both forms. [The ALT char-code for æ is 0230] Users should not need to have to remember these codes.  However, the autocomplete function should compensate for this, as it provides suggestions with diacritics, as far as I have noticed.

Now switched to IE 8.0.6001.18702 I can't get the test system to do a si

[2012-01-20 11:54] grahamhrbge1670 commented on #83
Cannot get the book reader to work using IE 8.0. Not letting me scan from page to page at all.
Using Firefox 9.0 I can open book and scan from page to page, also open OCR for selected pages. However cannot get the download function to work.  The page selector and download function are similar to BHL-Australia which I've used, and find quite easy to navigate. Being able to see page thumbnails is a

[2012-01-20 12:14] RalfH commented on #104
Generally, I like the design. Compared to BHL portal much more inviting, userfriendly and decently coloured. Some remarks:

(1) Search results (text right hand to icon): The titles are cut in the 3rd line as are authors etc. in the 2nd. Well, there is a mouse over functionality but the cutting is a bit ugly. I would prefer full lines whatever their number may be.

(2) The mixture of German and Eng

[2012-01-20 12:25] RalfH commented on #106
Generally, these functionalities are good. Texts not too long.

Tutorial Advanced search: Green colour and white text are not really pleasing the eyes. The box seems a bit too wide with very long lines with rather small letters.

Tutorial Simple search: 10 line text block should be more subdivided in paragraphs or so.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com

[2012-01-20 12:35] fwelter commented on #104
I have Mozilla Firefox 5/0 on my notebook. The portal does not show the
search box properly. Several components of the website seem to be
distorted. The search box seems to be covered by the the moving pictures
of the books. If I try to insert someting in the search box I click on a
link to a page saying "Seite nicht gefunden" (page not found).

I will try with another computer.

Francisco

Franci

[2012-01-20 12:41] RalfH commented on #168
No problem as regards that.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 16:05
An: Hand, Ralf
Betreff: Re: [bhle] 1.1.8 - Search in all or specific main search categories (Simple Search) (#168)

Bug - 1.1.8 - Search in all or specific main search categories (Simple Search)

COR number: it is bug related to feature 1.1.8
Testi

[2012-01-20 12:52] RalfH commented on #237
There seem to be problems. Searching for German publications the search result list is presenting 4 titles but there are at least 8 in the testing list.
French also gives one English title.

But who knows the code? To list it completely in the tutorial or elsewhere would inflate it. A link / drop down menu? Or preferably accepting the full (English) name of a language?

-----Ursprüngliche Nachrich

[2012-01-20 13:05] grahamhrbge1670 commented on #85
Displaying title in the books I've opened using Book Reader, both in Firefox 9.0 and IE 8.0

[2012-01-20 13:05] RalfH commented on #173
A bit difficult to be judged without a catalogue of criteria and background informations (which I do not find at the moment in other documents).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 16:13
An: Hand, Ralf
Betreff: Re: [bhle] 1.1.1 - Search results should always be ordered by relevance (#173)

Bug - 1.1.1 - Search result

[2012-01-20 13:21] RalfH commented on #75
It works. But there are some open questions.

I searched for e.g. Thalictrum minus.

(1) First question: Do I need to tick the exact word /phrase box? Obviously not, but many users will have the same "problem".

(2) Well the result (Flora de Catalunya) is ok. The user will click on read book. That works. But then he or she has to type Thalictrum minus again. Same question as before: exact phrase a

[2012-01-20 13:24] AnneSch commented on #37
Difficult to test as there are no cyrillic etc. books in the portal...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:34
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.5 - Search in various languages including language specific characters (Simple Search) (#37)

1.1.5 - Search in various languages including language specific c

[2012-01-20 13:35] AnneSch commented on #39
Works fine.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:46
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.7 - Search with truncated terms (now Advanced Search 1.2.15) (#39)

1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Sim

[2012-01-20 13:41] HenningScholz commented on #75
This is interesting, I did not got it to work using a different name that is present in another book, but the example used by Ralf is working. Would be interesting to know why. I assume, as the OLEF file is created manually, the Taxon Finder information is missing and thus it is not working for all books. This is also the reason why you need to search again in the content viewer without getting th

[2012-01-20 13:56] AnneSch commented on #40
Works fine.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:47
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.1.8 - Search in all or one specific main search category (Simple Search) (#40)

1.1.8 - Search in all or one specific main search category (Simple Search)

COR number: 1.1.8
Testing platform: http://bhl-test.nhm.ac.uk/po

[2012-01-20 13:56] AnneSch commented on #45
Works!

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:56
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.2 - Search by year of publication (Advanced search) (#45)

1.2.2 - Search by year of publication (Advanced search)

COR number: 1.2.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple sea

[2012-01-20 14:05] grahamhrbge1670 commented on #89
There is an odd problem with the slider.  It already has six black arrows appearing against it, which refer to pages in a book about Darwin.  However this does not interfere with content searches, for example a search for "orang utan" in Selenka's "Menschenaffen" retrieves many references both to "orang" and "utan" in the OCR'd text: But does not combine the search term, is this something that wil

[2012-01-20 14:06] AntonioGVH commented on #35
I tried all the alphabetic letters and seems to work properly.
Words beggining with letters with diacritic signs do not produce any answer (may be there are no words with them: ñ, wü, wö, etc.
However, aü produce some answer, so may be letters with diacritic signs do work!

Quoting JiriFrank:

[2012-01-20 14:09] AnneSch commented on #48
Works good, if you know the exact release year.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:58
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.5 - Combined search in different metadata fields (Advanced Search) (#48)

1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform:

[2012-01-20 14:11] grahamhrbge1670 commented on #173
Think number of sample books too small to test this adequately

[2012-01-20 14:14] grahamhrbge1670 commented on #95
I did the same as Henning, it works.

[2012-01-20 14:16] RalfH commented on #95
If that means: copy and paste a complete page (e.g. in a word document), then it works.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:21
An: Hand, Ralf
Betreff: Re: [bhle] 3.1.13 - Copy text directly from content viewer (Content view) (#95)

3.1.13 - Copy text directly from content viewer (Content view)

COR number: 3.1.13

[2012-01-20 14:26] AnneSch commented on #54
Works, but the words are not highlighted in the text.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 14:04
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.11 - Search for words/ names in document (#54)

1.2.11 - Search for words/ names in document

COR number: 1.2.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: C

[2012-01-20 14:28] grahamhrbge1670 commented on #99
Can download pages, save downloaded files, but for some reason cannot open the zipped files, getting a message when I try to extract from zipped files that the files are blocked.

[2012-01-20 14:31] AnneSch commented on #55
Works fine!

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 14:11
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.12 - Search with exact phrase only (Advanced search) (#55)

1.2.12 - Search with exact phrase only (Advanced search)

COR number: 1.2.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

De

[2012-01-20 14:33] AnneSch commented on #56
Works.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 14:15
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.13 - Search with truncated phrases (Advanced search) (#56)

Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

 should enable finding "Histoire n

[2012-01-20 14:35] RalfH commented on #79
Obviously not working. What does it mean "identified synonyms"? By whom?

Alsine montana (to be found e.g. in the test book Flora de Catalunya) is now generally treated as Minuartia montana - a synonymization to be found in all relevant databases on the European flora. But this name cannot be found.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Diensta

[2012-01-20 14:39] RalfH commented on #184
During 4 days of testing no irregularities seen. Apart from the cut lines mentioned earlier under another COR number.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 16:29
An: Hand, Ralf
Betreff: Re: [bhle] 4.2.1 - Change individual search setting (#184)

4.2.1 - Change individual search setting

COR number: it is bug related to

[2012-01-20 14:41] grahamhrbge1670 commented on #104
Overall design very good.

Particularly like the colour palette used.  The simple search box is well positioned and uncluttered, and the browse and tutorial radio buttons are obvious.

Positioning of tutorial buttons good throughout the various levels of search.

[2012-01-20 14:41] RalfH commented on #37
Cannot be tested because of lack of Russian, Armenian or Greek books ...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 13:34
An: Hand, Ralf
Betreff: Re: [bhle] 1.1.5 - Search in various languages including language specific characters (Simple Search) (#37)

1.1.5 - Search in various languages including language specific charac

[2012-01-20 14:44] grahamhrbge1670 commented on #106
Links to Tutorials work well. Explanatory text along base of home page perhaps needs a bit more emphasis.

[2012-01-20 14:46] AntonioGVH commented on #54
This function works very well.

The set out is brilliant.

I was searching Flora de Catalunya.

Ido not know why -at the bottom of the screen- where the hand is pointing, appear words referiing to other book dealing with Darwin.

I am including a photo of the screen.

Quoting JiriFrank:

[2012-01-20 14:56] AntonioGVH commented on #56
This feature seems very robust.

I have been searching for _numeració y descripció_ ;\* numeraciò y descripció\* [diacritic different in numeracio]; _ó y des_ and I have always found the correct answer.

Quoting JiriFrank:

[2012-01-20 15:01] grahamhrbge1670 commented on #110
Works fine.  Also checked out the contact us functionality and it works too. Particularly like the send copy of your e-mail to self function.

[2012-01-20 15:02] AntonioGVH commented on #61
This feature works perfect.

I have tried it with several books from the excel list.

Quoting JiriFrank:

[2012-01-20 15:16] AntonioGVH commented on #74
I do not understand properly the way to test this feature.
I asume 'advance search' and then selecting words in title, abstract, etc?

Quoting JiriFrank:

[2012-01-20 15:22] RalfH commented on #132
It works. No problems.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 16:48
An: Hand, Ralf
Betreff: Re: [bhle] 4.3.3 - Change login details (#132)

4.3.3 - Change login details

COR number: 4.3.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: My account

Description:

Change login details e.g. user name, password

[2012-01-20 15:31] grahamhrbge1670 commented on #168
Have done simple searches for 1. author only 2. title word only 3. year only 4. scientific name only (example used Betula pendula) seems to work fine in all cases.

[2012-01-20 15:36] grahamhrbge1670 commented on #184
Table and List views both working as expected. No merging of results apparent.

[2012-01-20 15:39] HenningScholz commented on #48
Works fine.

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-8868
Email: henning.scholz@mfn-berlin.de
http://www.naturkundemuseum-berlin.de/ / http://www.bivalve.de
http://www.bhl-europe.eu / http://www.biodiversityli

[2012-01-20 15:45] grahamhrbge1670 commented on #237
Tried this for French.  Initially followed instruction and typed fre into search box in Advanced Search set to Language, result no search hits.

Then typed French into search box in Advanced Search set to Language, result 8 hits.  In the MODS data for each  of these books the field Language of the text contains the term "French" in full

[2012-01-20 15:46] HenningScholz commented on #184
I think this bug is gone. However, maybe related, when I search for all books (search for *) I see in the result summary 27 results, but only see 12 items in the result list (items per page is set to all). Clicking to page 2 or 3 gives no results. In the facet list I see 27 books, but a variety of counts for author, year, language etc. - How is that all related, why can I not see the 27 books?

--

[2012-01-20 15:51] HenningScholz commented on #237
This works, although not always using the 3-letter code. French works with French not fre. German works with ger. I assume this is due to the manual ingest process.

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-886

[2012-01-20 15:52] HenningScholz commented on #239
So I assume we can not test this, without having different types.

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-8868
Email: henning.scholz@mfn-berlin.de
http://www.naturkundemuseum-berlin.de/ / http://www.bivalve.d

[2012-01-20 15:56] HenningScholz commented on #173
Difficult to test, what are the relevance criteria?

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-8868
Email: henning.scholz@mfn-berlin.de
http://www.naturkundemuseum-berlin.de/ / http://www.bivalve.de
http://www.b

[2012-01-20 16:04] HenningScholz commented on #75
I found another interesting thing: when I search for Thalictrum in simple search I get results. Thalictrum, however, is not in the facet list. When I pick Umbelliferae from the facet list and search for it again, I get no result in whatever field I'm looking for. If I pick another term from the facet list (Halme), I get results. Strange....

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz

[2012-01-20 16:05] HenningScholz commented on #168
This bug seems to be gone.

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-8868
Email: henning.scholz@mfn-berlin.de
http://www.naturkundemuseum-berlin.de/ / http://www.bivalve.de
http://www.bhl-europe.eu / http://www

[2012-01-20 16:06] grahamhrbge1670 commented on #132
This works, with one slight issue.  When I changed the password, a pop up box appeared asking me to confirm which user I wanted to change the password for, and the options were my user name (Graham Hardy) and my e-mail address.  The default was the e-mail address which I selected.  I then logged out and logged in using the changed password and it seems to be okay.

[2012-01-20 16:10] HenningScholz commented on #132
I don't see where to change the user name. I can change everything else, but not the name. Missed anything?

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin
Invalidenstraße 43 | D-10115 Berlin | Germany
Tel.: +49-30-2093-8864 | Fax: +49-30-2093-8868
Email: henning.scholz@mfn-berlin.de
http://www.naturkun

[2012-01-20 18:09] fwelter commented on #104
In Mozilla Firefox Version 3.0.19 (institute computer from 2008) I can see
the portal website in a form as it should probably be.

In Mozilla Firefox version 2.0.0.16 (from 2006) not. This is my notebook,
so I am not able to test the portal at weekends. I can only test during
the week.

Test from institute computer.

I am only looking at design questions here for this question. But maybe
some obse

[2012-01-20 18:16] fwelter commented on #104
I have switched between language versions and advanced search pages, the
language information is always lost when I come to a new page. I always
land at a German page.

The lower part of the letters in the search field of the advanced search
page is cut off and not shown.

I tried to type in "remarques" an "Remarques" in simple and advanced
search and obtained a page "your search yielded no result

[2012-01-20 20:47] HenningScholz commented on #132
Francisco brought up an interesting aspect: I also tried the change of language between search and advanced search, like Francisco described, language switched back from German to English, even on IE. Then I checked the language set up under my account and I realise that it does not work at home under IE9, but it worked under IE8 at work. I don't know if this has to do with the fact that the multi

[2012-01-21 11:09] AntonioGVH commented on #75
I am not sure this function works properly.
I looked by A. muricatus, that I know is in the work 'Flora de Catalunya', but the advance search function only gave me Karsten Deutschen Flora.

By the way, I had to look 'Flora de Catalunya' in Google books, because the BHL-E web does not respond when I ask for the pdf.

Quoting JiriFrank:

[2012-01-21 11:14] AntonioGVH commented on #76
This function seems not to work.

I asked by 'Carlos' that could be 'Carolus' or 'Charles' and didnt get any answer. Neither I get any answer with 'Linneo' that is as Linnaeus is spell in Spanish

Quoting JiriFrank:

[2012-01-21 11:19] AntonioGVH commented on #76
Sorry for the previous email about this fuction.
I forgot to click on 'expand search'.

It works very well on proper and surnames.

Impressive!!!

Quoting JiriFrank:

[2012-01-21 11:29] AntonioGVH commented on #79
Looking for Minutella minuta in advance search and expand search function does not produce any result.

It is not clear to me where to click for 'synonims' in the screen.

At the same time, it seems that the portal has some problem to 'refresh' the window in consecutive search.

Quoting JiriFrank:

[2012-01-21 11:35] AntonioGVH commented on #83
Excellent response.
I have downloaded  the front page of Flora de Catalunya in less than two seconds.

Viewing BHL 'Great and small game of Africa' took about ten seconds for the first page.

Quoting JiriFrank:

[2012-01-21 11:40] AntonioGVH commented on #85
Correct.

I looked for 'Flora' in simple search and all read book request gave the title in the upper left  part of the screen

Quoting JiriFrank:

[2012-01-21 11:50] AntonioGVH commented on #89
Navigation buttons work very well, specially search, play, pointer.

I could not download the work I was viewing (Flora Catalunya) neither mark a page (don see any button for this in the screen)

Quoting JiriFrank:

[2012-01-21 11:57] AntonioGVH commented on #89
Sorry for previous answer to this COR.

Mark page and download works perfectly!!

Quoting JiriFrank:

[2012-01-21 12:02] AntonioGVH commented on #95
I couldn't do it.
When I click on a page to begin marking, it moves to the next page.
I can ask for the OCR and then copy/paste, but I suppose that this is not what you  are asking here.

Quoting JiriFrank:

[2012-01-21 12:05] AntonioGVH commented on #99
I tried this before.

It works perfect!

Quoting JiriFrank:

[2012-01-21 12:12] AntonioGVH commented on #104
I like very much the portal, but I am not very objective.

The portal detects that I am Spanish and give many entries in Spanish but some other are simultaneously in English.

Do you need more help translating to Spanish?

Screen shot included

Quoting JiriFrank:

[2012-01-21 12:22] AntonioGVH commented on #106
There is no a tutorial in the proper  sense, but different screen are explained in the tutorial individually.

Some parts need to be translated to Spanish

Quoting JiriFrank:

[2012-01-21 12:30] AntonioGVH commented on #132
This function seem sto have problems.
I created a new account but didn't get a password. But still recognizes my name and email (Antonio Garcia; torrenticola@hotmail.com), but when I requested a password, then does not identify the email as given (in the previous window).

Quoting JiriFrank:

[2012-01-23 10:38] AnneSch commented on #61
Works well with separate books from the list.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:02
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.4.1a - Metadata fields displayed in result lists (renamed, Result list) (#61)

1.4.1a - Metadata fields displayed in result lists (renamed, Result list)

COR number: 1.2.13
Testing platf

[2012-01-23 11:22] AnneSch commented on #74
Did not get this to work. Similar results as Ralf H.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:07
An: Scholz, Annemarie
Betreff: Re: [bhle] 2.1.1 - Search for content by colloquial name (Advanced search) (#74)

2.1.1 - Search for content by colloquial name (Advanced search)

COR number: 2.1.1
Testing platform: http://bh

[2012-01-23 11:27] JiriFrank opened #285 "1.2.14 - requirement - Help for Boolean operator AND"
Requirement from 2nd phase of portal testing.
1. Functional integration of Boolean operator AND needs to be explained in tutorial and hint bar.

related to Issue #34

[2012-01-23 11:30] JiriFrank opened #286 "1.2.14 - requirement - Menu Add field"
Requirement from 2nd phase of portal testing.
1. Menu Add field will be renamed to "Add field / AND"

related to Issue #34

[2012-01-23 11:30] JiriFrank commented on #34
The functionality is working fine. From the testers comment rise up two small requirements.
1. Functional integration of Boolean operator AND needs to be explained in tutorial and hint bar.
2. Menu Add field will be renamed to "Add field / AND"

@HenningScholz
Yes the AND is set up as default in search between search fields and unordered keywords. It must be as default for facet list, because all

[2012-01-23 11:36] JiriFrank commented on #34
Requirement for discussion.

"Enter"automatically add the OR.

"Tab" is working properly and changing between menus.

Is a requirement for "Enter" to be sets up as default request for starting search?

@HenningScholz
@chris-sleep
@GrahamHigley

[2012-01-23 11:39] JiriFrank commented on #34
Requirements above are independent and do not affect directly this feature functionality.
Feature could be close.

@chris-sleep
@lobajuluwa

[2012-01-23 11:50] AnneSch commented on #75
Is working, but I got different results:
When I type in "Cirsium palustre", I got some results, same as "Cirsium" (e.g., Billeder af Nordens flora). Instead, when I type in "Orchis mascula", I do not get any matches, but it is in the "New british flora" (It got found in the OCR when I look for it in the text).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesend

[2012-01-23 12:02] AnneSch commented on #76
Works.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:10
An: Scholz, Annemarie
Betreff: Re: [bhle] 2.1.3 - Search by author including synonyms and various spellings (Advanced search) (#76)

2.1.3 - Search by author including synonyms and various spellings (Advanced search)

COR number: 2.1.3
Testing platform: http://bhl-test

[2012-01-23 13:02] AnneSch commented on #76
Works pretty well, although not many authors have different names.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:10
An: Scholz, Annemarie
Betreff: Re: [bhle] 2.1.3 - Search by author including synonyms and various spellings (Advanced search) (#76)

2.1.3 - Search by author including synonyms and various spellings (Advanced

[2012-01-23 13:10] AnneSch commented on #79
I made the same experiences as Antonio: no results.

Where do I search for synonyms?

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:11
An: Scholz, Annemarie
Betreff: Re: [bhle] 2.1.6 - Search for synonyms of species names (Advanced search) (#79)

2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1

[2012-01-23 13:24] LarissaS commented on #76
It works

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 19 января 2012 г. 11:51
To: Smirnova Larissa
Subject: Re: [bhle] 2.1.3 - Search by author including synonyms and various spellings (Advanced search) (#76)

2.1.3 - Search by author including synonyms and various spellings (Advanced search)

COR number: 2.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal

[2012-01-23 13:25] AnneSch commented on #83
Does not work with IE8, but with actual Firefox.

In general, Content viewer works fine. You can scroll pretty fast.
But I did not manage to download a page or something. Same problems as Larissa.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:17
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.1 - View Content (Content view) (

[2012-01-23 13:29] AnneSch commented on #85
Works fine in Firefox 9.0, it is not working in IE 8.0.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:17
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.3 - View title of item (Content view) (#85)

3.1.3 - View title of item (Content view)

COR number: 3.1.3
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Conten

[2012-01-23 13:48] LarissaS commented on #104
- I like the start page, but content highlights do not work yet I suppose?
- In browse page the font is too big, may be if we make it smaller than we can see all browsing features on the screen without replacing it?
- Search page - still a lot of bugs,
- Book View page - fine
- Bibliographic page - fine, with some small bugs
- Login/create account - works, but window was VERY small!

General impre

[2012-01-23 14:14] chris-sleep opened #287 "1.2.14 - Advanced Search (enter to submit form)"
Requirement from 2nd phase of portal testing.

Default behaviour of 'Enter' key on search form should be to submit the form.
(current behaviour is that 'Enter' inserts an OR block)

related to Issue #34

[2012-01-23 14:26] #34 closed, assigned to nobody

[2012-01-23 14:27] chris-sleep commented on #34
Boolean default function is now working as required to enable the search and faceting (to increase precision) functionality

[2012-01-23 14:43] JiriFrank commented on #35
The functionality is on place and works.

This feature will be more beneficial with more content and we will see how it will behave with real data. Now it could be closed.

[2012-01-23 14:43] #35 closed, assigned to jhquentin

[2012-01-23 15:45] JiriFrank opened #288 "1.1.4 - Search with words including diacritic characters (Simple Search) - bug"
Bug reported from 2nd testing phase

For Aerzte

From simple search you will get:

“Medicinisch-pharmaceutische botanik zugleich als handbuch der systematischen botanik fur botaniker, arzte und apotheker”

But when you edit the search and check “exact phrase” you will get again just only one book, but different one:

“Deutsche Flora. Pharmaceutisch-medicinische Botanik. Ein Grundriss der systemati

[2012-01-23 15:46] JiriFrank commented on #36
In this feature are two obvious examples for bugs. Due to small amount of content without markable diacritic it is complicated to test it in more details.

Related bug Issue #288

[2012-01-23 15:55] AnneSch commented on #95
Same problem as by other testers: Couldn't manage to mark pages, I only could mark the text by the OCR reader. But this method cannot be used for pictures...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:21
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.13 - Copy text directly from content viewer (Content view) (#95)

3.1.13

[2012-01-23 15:57] JiriFrank commented on #37
Will be tested with first wave of content including language specific characters. Will remain open in Testing or January milestone.

[2012-01-23 16:58] AnneSch commented on #89
The navigation buttons are self-explanatory; this works pretty well!

Finally, I managed to download pages! It was pretty fast, ca. 1 to 2 seconds.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:18
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.7 - Navigate in document in content viewer (Content view) (#89)

3.1.7 - Navigate

[2012-01-23 17:22] AnneSch commented on #95
Same problem as by other testers: Couldn't manage to mark pages, I only could mark the text by the OCR reader. But this method cannot be used for pictures...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Dienstag, 17. Januar 2012 15:21
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.13 - Copy text directly from content viewer (Content view) (#95)

3.1.13

[2012-01-23 18:16] AntonioGVH commented on #239
There is a lot of information on the result list, very useful and with good display.
But I do not find the 'content type.'

Quoting JiriFrank:

[2012-01-23 18:24] AntonioGVH commented on #237
This function seems to work properly.

Quoting JiriFrank:

[2012-01-23 18:28] AntonioGVH commented on #184
I asked for 'Flora' and the result list lokks very well formated and complete.

Quoting JiriFrank:

[2012-01-23 18:33] AntonioGVH commented on #173
Using 'Flora' as search string I get several records.
I don't know what could be 'relevance' in this case.
I find the result reasonable, because it is a short list of books. To sort it by 'relevance' may be it would be necessary to use more than one search criteria (e.g. 'Flora ' + language 'eng' + date range '1930 - 1950' etc)

Quoting JiriFrank:

[2012-01-23 18:38] AntonioGVH commented on #168
Title and author seems to work properly from simple search.

Quoting JiriFrank:

[2012-01-23 21:56] fwelter commented on #104
Firefox 8.0 from a home computer.

main search page seems to be displayed correctly.
when I searched for "remarques" and pressed return the website gave no
response.
when I searched for "remarques" and pressed two times return, the search
query was understood and the action started.

I suspect a bug. Should understand the return at the first time.

I tried the same with clicking on the search butt

[2012-01-24 11:14] JiriFrank opened #289 "1.1.7 - Search with truncated terms (now Advanced Search 1.2.15) - bug"
Bug reported from 2nd testing phase

If you search Lyhykaeinen (part of a title) instead of Lyhykäinen it works but the combination with \* (i.e. Lyhykaeine_) results in no results. Lyhykäine_ works. Obviously, the combination of diacritic letter alternatives and wildcard seems to be problematic (in simple and advanced).

Related feature Issue #39

[2012-01-24 11:15] JiriFrank commented on #39
The basic functionality is done. One bug for special cases needs to be fixed.

Related bug Issue #289
@chris-sleep

[2012-01-24 11:36] JiriFrank commented on #40
Working and ready for close.

@RalfH
Search for place of publication is possible in Advanced search. In simple search are 4 main most frequently used fields: Title, Author, Year and Scientific name.

[2012-01-24 11:36] #40 closed, assigned to wkollernhm

[2012-01-24 12:10] JiriFrank commented on #45
Works fine, ready to close.

@LarissaS
The reset button is fixed and working now. The fields in advanced search are still filed till you do not close your session by using reset button or adding new search from simple search or browse. If you go from result list to book bibliographic page and even to book-viewer you are still in your session and have the possibility go back and modify you search.

[2012-01-24 12:10] #45 closed, assigned to chris-sleep

[2012-01-24 12:27] JiriFrank commented on #46
It is still not working. Range of years working just for simple search and still not properly. In simple search you need to search in form e.g. 1900-1919. You will get 3 results with years 1919, 1900 and 1900-07. The book with year e.g. 1910 is not included in the result. Typing 1900 TO 1919 has no results.

In advanced search search for range of years in metadata field "year" does not work in any

[2012-01-24 12:29] JiriFrank opened #290 "1.2.3 - Search by range of years of publication (Advanced Search) - bug"
From 2nd testing phase and also do not work on int.

It is still not working. Range of years working just for simple search and still not properly. In simple search you need to search in form e.g. 1900-1919. You will get 3 results with years 1919, 1900 and 1900-07. The book with year e.g. 1910 is not included in the result. Typing 1900 TO 1919 has no results.

In advanced search search for range o

[2012-01-24 12:52] JiriFrank commented on #290
It is fixed, just help needs to be updated. Search for rang of year of publication need to be always in form [ TO ], e.g. [1900 TO 1919] will give also all years between. Same in advanced and simple search.

@akohlbecker
@chris-sleep

[2012-01-24 12:52] #290 closed, assigned to chris-sleep

[2012-01-24 12:55] JiriFrank commented on #46
Works fine and is tested. Could be closed.

@chris-sleep

[2012-01-24 12:55] #46 closed, assigned to chris-sleep

[2012-01-24 13:05] JiriFrank commented on #48
The field combinations works, but in some cases are reported bugs

Bug - Range of years Issue #290 is solved. For range of years needs to be used form [ TO ]
Implemented on developing platform and tested.

@RalfH
@LarissaS
@AnneSch

[2012-01-24 13:05] #48 closed, assigned to chris-sleep

[2012-01-24 13:49] JiriFrank opened #291 "Highlighting the searched term in text of Content viewer"
Request from 2nd testing phase.

Related feature Issue #54

Highlighting the searched term in text of Content viewer.
Feature request

[2012-01-24 13:51] JiriFrank commented on #54
This feature is functional and ready for close.

@LarissaS
@AnneSch
New requirement arise -  Highlighting the searched term in text of Content viewer.
Issue #291

@RalfH
The search box is on the right side of the book title in the book-viewer. "Search inside"

[2012-01-24 13:51] #54 closed, assigned to zhengl

[2012-01-24 14:55] JiriFrank commented on #55
Works!

[2012-01-24 14:55] #55 closed, assigned to nobody

[2012-01-24 15:00] JiriFrank commented on #56
Works!

[2012-01-24 15:00] #56 closed, assigned to chris-sleep

[2012-01-24 15:07] JiriFrank commented on #61
Works for content type - monograph/book

Need to be tested again with more content types.

In monograph is displayed publisher instead of content provider - open for discussion.

[2012-01-24 15:07] #61 closed, assigned to chris-sleep

[2012-01-24 15:32] JiriFrank commented on #74
Same for me. I tried "Plants" for Plantae, which is included in bookes, but get 0 results. Tested also on nhm.int.

Is this service implemented? What is the right method to test it?

@wkollernhm

[2012-01-24 15:49] JiriFrank commented on #74
Tested with "Common names" and "Scientific names"
tested term: Plants
Matches for: Plants expanded to: \"Plantae\" OR \"Plants\" (10) Common name
0 results - but the books with reporting Plantae as scientific names are in content

@wkollernhm

[2012-01-24 16:55] JiriFrank opened #292 "Identification of location searched Scientific name in content"
Request from 2nd testing phase

Need to be solved how to display the location of Scientific name.

example of testers comments:

Well the result (Flora de Catalunya) is ok. The user will click on read book. That works. But then he or she has to type Thalictrum minus again. Same question as before: exact phrase and how to deal with it? The search results in the documents are a mixture of results re

[2012-01-24 16:56] JiriFrank commented on #75
The feature seems to works in principle, but closer specification is needed. Also it will be important to test with more content.

Request from testing is add concrete location of Scientific name in content. Need to be solved.
Issue #292

Will be tested again with more content from PI.

[2012-01-24 17:16] JiriFrank commented on #76
Works properly.

[2012-01-24 17:16] #76 closed, assigned to wkollernhm

[2012-01-24 17:49] JiriFrank commented on #79
Tested term: Arenaria montana
2 results

Tested term: Alsine montana (which is synonym of Arenaria montana)
3 results

Tested term: Arenaria linearifolia (which is synonym of Arenaria montana)
0 results

Tested term: Alsine caucasica (which is synonym of Arenaria montana)
0 results

Tested term: Arenaria intricata (which is synonym of Arenaria montana)
1 result (different book then the previous)

[2012-01-24 17:54] JiriFrank commented on #75
In Facet list is displayed just genus name. Is the binominal name required for facet list? I will be helpful.

@chris-sleep
@lobajuluwa
@heimor

[2012-01-25 08:34] zhengl commented on #291
The key to this feature is coordinates produced during OCR.
Since OCR is allowed to be improved by end users (#131), updating coordinates would be a complicated issue.
I am looking for some OCR standard format mixing OCR text and coordinates.

[2012-01-25 08:42] JiriFrank commented on #83
@LarissaS
For moving in on page in zoom you need to use mode one-page view. In two-page view every move to left or right will turn the page. I discussed the possibility with Zheng and he will adapted it also for two-page view mode.
                 "Did not find in book viewer the lower ruler (to move page left-right), when for example I zoomed the illustration and want to see it in details."

Bib

[2012-01-25 08:43] JiriFrank commented on #83
Works fine and with adaptation for moving in zoom in two-page mode, it could be closed.

[2012-01-25 08:43] #83 closed, assigned to leenamba

[2012-01-25 08:50] zhengl commented on #95
Really challenging to copy text directly in images. The basic technical solution is to provide an extra invisible layer on images filled with OCR'ed text and their coordinates. OCR engine Tesseract can only produce pure OCR'ed text or coordinates for each character. Therefore the first obstacle to how to restore all the text and coordinates back to paragraphs, the second one is how to update this

[2012-01-25 08:52] JiriFrank commented on #85
Works fine. Browsers compatibility issue will be solved in final stage of portal, because the book-viewer will be integrated to the portal.

[2012-01-25 08:52] #85 closed, assigned to leenamba

[2012-01-25 09:05] JiriFrank commented on #89
The design will be slightly changed and it will also looks little different after implementation in to the portal. All navigation is very self-explanatory.

@HenningScholz
@grahamhrbge1670

The slider will be use only in full screen view mode. This function will be implemented after content viewer integration to the portal. Navigation in content viewer on portal could be manage by pagination same

[2012-01-25 09:05] #89 closed, assigned to leenamba

[2012-01-25 09:18] JiriFrank commented on #95
The only way I could get content out is via the OCR pop-up: show OCR, mark text and copy-paste to Word.

Yes this is the only option now. If the user do not lake the OCR, he can help us to correct it after we will implement this function. Still working on that. Complications with copy paste the text directly from the picture, because book-viewer is showing pictures not pdf, please see in Zheng com

[2012-01-25 09:18] #95 closed, assigned to zhengl

[2012-01-25 09:26] JiriFrank commented on #99
It works properly.

Help will be part of tutorial for content viewer and will be finalized after content viewer integration on the portal.
@LarissaS

[2012-01-25 09:26] #99 closed, assigned to zhengl

[2012-01-25 09:53] wkollernhm commented on #74
Searching by a colloquial name looks up the colloquial name using the CoL & PESI webservices. The received scientific names are then used to search against the list of scientific names found in each book.
Therefor this feature does not search in the title but rather is another way to search against the list of scientific names.

Hope it is now more clear, how this feature works.

[2012-01-25 10:12] JiriFrank commented on #74
Thank you Wolfgang, 

but did you read the last comment? It was tested in Scientific name and Common name, not on title.

Best,
Jiri

---

Mgr. Jiri Frank
BHL-Europe WP5 Project Manager
Open Up! WP8
National Museum
Vaclavske namesti 68
115 79 Prague 1
Czech Republic
tel.: +420 281 029 199
email: jiri_frank@nm.cz

----- Původní zpráva -----

[2012-01-25 10:20] HenningScholz commented on #95
I'm happy to copy text out of the OCR. It is not to much of an extra effort for the user. It would also show the real quality of the text, as it would be confusing for the user to copy text and not getting the correct text, if the OCR is not 100% correct. So copy out of OCR is fine, I think.

Henning

---

Dr. Henning Scholz
Museum für Naturkunde | Leibniz Institute for Research on Evolution and B

[2012-01-25 10:57] JiriFrank commented on #106
Helps system overall works.
Some modifications need to be done.
Text for helps will be finalized in last phase of portal developing according to final portal functionalities.

My task :-)

[2012-01-25 11:24] JiriFrank commented on #110
Works fine.

@LarissaS
Yes these are just BHLE news. Will be changed also to BHL US after BHLE project will ends.

@HenningScholz
We can try opening windows in new tab as a default is against the www rules and could be blocked. Anyway if the user is on our social media site, there are links back to portal or he can go easily back or open the link in new tab depending on functions of his browser.

[2012-01-25 11:24] #110 closed, assigned to JiriFrank

[2012-01-25 12:04] JiriFrank commented on #132
@HenningScholz
It works for me in IE9 and Chrome. But the browser compatiblity is not done yet. It will be done when we will have main part of functionalities on portal and also integrated the content viewer. Multilingual is fully implemented.

Francisco had different problem. He changed the languages without login in. In that case the portal using the language of your browser on all pages if you

[2012-01-25 12:04] #132 closed, assigned to JiriFrank

[2012-01-25 12:09] JiriFrank opened #293 "4.3.3a - Log in by account name or contact email"
Request from 2nd testing phase

Implement a new module allowing this function.

Suitable is http://drupal.org/node/34309

related issue Issue #132

[2012-01-25 12:16] JiriFrank commented on #168
Bug is fixed.

@LarissaS
The Scientific name is not check as default, because is using different web-services which are not common as the first three main search metadata fields. The user can choose if he want to use it or not.

[2012-01-25 12:16] #168 closed, assigned to chris-sleep

[2012-01-25 12:23] JiriFrank commented on #173
This feature is hard to test without more content. Good question is what are the criteria. First term in first field?

I do not know now how to effectively test this feature now.
@akohlbecker

Will be tested again with more content.

[2012-01-25 12:23] #173 closed, assigned to akohlbecker

[2012-01-25 12:35] JiriFrank commented on #237
@HenningScholz
Exaclty, the PI will use the three-letter word language code iso639-2b and will unify the result.

Will be tested again with more content.
On developing instance is it fixed already and using the facet list with language filtering works properly.

@RalfH

[2012-01-25 12:35] #237 closed, assigned to chris-sleep

[2012-01-25 12:36] JiriFrank commented on #237
related issue is Issue #180

[2012-01-25 12:36] JiriFrank commented on #180
Related Issue #237

[2012-01-25 12:37] #180 closed, assigned to wkollernhm

[2012-01-25 12:47] JiriFrank commented on #184
This feature was completely rebuild.

@RalfH
The table view is mainly for have more results on one page.

For see the full title there is mouse over option in table view or you can switch the result list in to list view.
In table view there are always displayed always 3 lines of text because of the space and proper size of fonts. The fog on the third line is the same effect which is using MS Windo

[2012-01-25 12:47] #184 closed, assigned to jhquentin

[2012-01-25 12:49] JiriFrank commented on #198
related to Issue #45 which is functional and closed.

[2012-01-25 12:49] #198 closed, assigned to chris-sleep

[2012-01-25 12:56] JiriFrank commented on #239
Is working. There is for now just one content type monograph/book which is represented properly by monograph icon.

Other icon are in place, but cannot be tested without more content type. Will be tested again with more content.

@AntonioGVH
@HenningScholz
@RalfH

Content type icon needs to be slightly modified according to copyright. AI Me.

[2012-01-25 12:56] #239 closed, assigned to chris-sleep

[2012-01-25 12:57] JiriFrank commented on #187
Web-services are implemented but need to be tested with more content and content from PI.

[2012-01-25 12:57] #187 closed, assigned to wkollernhm

[2012-01-25 15:32] fwelter commented on #104
Design of portal in Internet Explorer 5.0 (1999)

The page opened, but all elements were distorted and the BHL-E logo
on grey background. The moving images were fixed. It was possible to
use the search function. I inserted "Beschrijving" and clicked
return, which was immediately understood. A new page appeared
(also this one with much distorted image, box and text elements) and
said that the query

[2012-01-25 16:30] #279 closed, assigned to JiriFrank

[2012-01-25 16:47] chris-sleep commented on #37
related to issue #36 and #288

more testing past that will be viable once we have a volume of non english language and character set content

[2012-01-25 18:34] fwelter commented on #104
Tried some other computers in the institute:

Mozilla Firefox 2.0 (2006).

This was more or less the same version as that of my notebook, but
with a very different (bigger) screen. The design of the portal was
basically the same, all elements of boxes, texts and images were
totally distorted, and it was not possible to insert text in the
search box (because the moving books were "flying" above the

[2012-01-26 10:30] JiriFrank commented on #83
Moving on page in zoom you can use two-page view from now. It is fixed. Zoom out for turn page or use the arrows in footer left menu.

@LarissaS

[2012-01-26 10:41] LarissaS commented on #83
Yes, it works but not always, sometimes it springs to another page.
Other thing: still have to push two times on search button to start searching!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 26 января 2012 г. 11:30
To: Smirnova Larissa
Subject: Re: [bhle] 3.1.1 - View Content (Content view) (#83)

Moving on page in zoom you can use two-page view from now. It i

[2012-01-26 10:50] chris-sleep opened #294 "3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution"
When downloading single/multiple page pdfs the content always comes down in medium resolution - it does;t look like the value of the resolution parameter is being added to the request

eg:

http://bhl-test.nhm.ac.uk/fedora/objects/bhle:9/methods/bhle-service:bookSdef/pdf?ranges=2,3&resolution=

if I manually add the value high/low to the resolution, the other versions come down

http://bhl-test.nh

[2012-01-26 10:52] JiriFrank commented on #83
You need to refresh your browser using F5 or ctrl+shift+R.

The search on the front page is different issue which is related with auto-complete search.
@LarissaS

[2012-01-26 13:09] akohlbecker opened #295 "Visibility of elements on search page"
Depending on the way a user takes to the search page different elements are made visible or not. This behavior however does not work in all cases as expected. For example clicking the "Reset" button leads to a state as if a search has been executed. As a first step we outline in the following the expected behavior.
- SimpleSearch: click AdvancedSearch:
  - search term entered => ResultList visisbl

[2012-01-26 13:20] JiriFrank commented on #295
Hi Wolfgang it is what I was mentioned today morning on Skype.
@wkollernhm

[2012-01-26 13:30] akohlbecker commented on #295
using the `#process` form attribute looks like a good means to implement different actions see http://api.drupal.org/api/drupal/developer--topics--forms_api_reference.html/7#process

[2012-01-27 14:04] fwelter commented on #295
The reset button seems to have different functions in different
browsers.

[2012-01-27 14:32] JiriFrank commented on #295
@fwelter
Hi Francisco,

the testing phase already finished on Monday evening. The development of portal was running in parallel with testing and we made a lot of improvements and also fixed several reported issues and bugs from testing. Another updated on git was yesterday and according to stable and updated development environment we made updated of the testing platform. So you can see all recent

[2012-01-30 11:41] wkollernhm commented on #74
I did indeed read the last comment.

I just tried to point out more clearly how this feature works.

Can you please point out which PID the document has which has Plantae in its scientific names list?

A raw query to Solr returns zero hits!

[2012-01-30 11:43] lobajuluwa commented on #162
Melita's comments:
Do we have documentation for the Schema Mapping Tool somewhere?  Can we add a documentation to google code, so everything is downloadable at one place and also available outside our wiki.
An additional site on our bhl-europe.eu website would be also good with links to the software and the documentation.”
Comment from Wolfgang:
No documentation available yet – assigned as Task fo

[2012-01-30 11:46] wkollernhm commented on #77
Technically searching for multilingual colloquial name and "just" colloquial name is the same process. The external webservices we use provide their common names in various languages and will always return a scientific name for them.

Therefor this issue can be closed.

[2012-01-30 11:46] #77 closed, assigned to wkollernhm

[2012-01-30 11:52] wkollernhm commented on #74
After investigating on this I can confirm that a search to "Plantae*" returns hits. Maybe this is an Solr issue

@akohlbecker can you please clarify why solr needs a wildcard search even if the scientific name is just plantae (example PID: bhle:19)

[2012-01-30 11:54] lobajuluwa commented on #145
Melita's comments:
Documentation for OLEF is needed:-

We have something like that until now – Technical documentation : http://www.bhl-europe.eu/bhl-schema/v0.3/
But need something more user friendly like the Europeana document:
http://version1.europeana.eu/c/document_library/get_file?uuid=77376831-67cf-4cff-a7a2-7718388eec1d&groupId=10128
During one of the PMG calls we agreed to do it and start

[2012-01-30 14:35] #155 closed

[2012-01-30 19:13] chris-sleep opened #297 "(DOW Task 3.2) Integration with Europeana"
Prepare mechanism to enable Europeana harvesting of BHL Content;  serving ESE via OAI-PMH

http://version1.europeana.eu/web/guest/technical-requirements/

Requirement: ESE preparation/rtansformation for metadata, Persistent object identifier

[2012-01-30 19:14] chris-sleep commented on #297
@ZhengLIAtos - I've created this one now to make sure we don't lose track of it, we can flesh out additional questions herein

[2012-01-30 19:30] chris-sleep opened #298 "Content submission to Internet Archive"
Mechanism for BHL-Europe content to be synchronised with BHL Global will be via the Internet Archive

requirement: ingested content, page level metadata

Need to extract and prepare a submission package to synchronise content to the internet archive
(http://biodivlib.wikispaces.com/Upload for a good process description)

[2012-01-31 11:32] akohlbecker commented on #74
The issue that "Plantae" is not found is strongly related to the Umlaut problem described in #288, so this is ticket can be closed since it is a duplicate, for an in depth description of the technical details please refer to #288

[2012-01-31 11:32] #74 closed, assigned to wkollernhm

[2012-01-31 11:58] akohlbecker commented on #288
Another example from #74 (a bit extended) :
- search for 'Plantae' in olef_scientific_name returns zero entries
- search for 'Plantea*'  in olef_scientific_name returns four entires

The problem is the following line in https://github.com/bhle/bhle/blob/master/data-management/solr/core/conf/schema.xml :

[code]

This solr.PatternReplaceFilter has been introduced to allow find 'Äpfel' also with the

[2012-01-31 15:40] lobajuluwa opened #299 "Refactorisation of Pre-Ingest Tool (v1.0)"
task description :-

Pre-Ingest Tool  build & Implementation
- functional spec reqd
- Provide access to content providers for the Pre-ingest Tool for testing
- Provide Pre-ingest description for content providers and BPG
- Feedback from selected CPs [Content Providers]
- Take feedback into account
- Provide final Pre-inget tool & access to all content providers

[2012-01-31 15:46] lobajuluwa opened #300 "Deployment & testing of Pre-Ingest Tool"
Description: testing initial deployed version of PI tool

[2012-01-31 15:49] lobajuluwa opened #301 "Implementation of Pre-Ingest features"
task description:

Functional Spec should have detailed info on all features implemented:-

Specified features for Monographs followed by Serials.
- tiff generation
- ocr scanning
- taxon enhancement and .aip preparation
- checking of uploaded content according to FSG

[2012-01-31 16:07] lobajuluwa opened #302 "Enhancements, Final Testing & Bug Fixes - PI tool"

[2012-01-31 16:10] lobajuluwa opened #303 "Pre-Ingest tool - Documentation"
task Description:-
- Technical documentation reqd
- User guide documentation reqd

[2012-01-31 16:27] lobajuluwa opened #304 "Ingest - documentation"
task description:-

Ingest documentation required for fedora-side.

[2012-02-08 14:45] #277 closed, assigned to nobody

[2012-02-08 15:02] #82 closed, assigned to wkollernhm

[2012-02-10 07:50] wkollernhm opened #305 "OLEF content not written to METS file"
The content of the olef.xml is not correctly transferred to the METS file.

Example:
login to pre-ingest tool using nbgb user (using our standard password). The second item on the list (NBGB019667DEMO1854TRAITEDE00) is ready for ingest but inside the main mets-xml file the OLEF data is truncated.

Please fix immediately as this is blocking.

@lobajuluwa
@chris-sleep

[2012-02-10 07:52] wkollernhm opened #306 "Automatic refresh causes browser warning"
When using firefox the automatic refresh causes the browser to warn about resending-information.

Please fix as this causes the browser to prompt the user every 120seconds.

@lobajuluwa
@chris-sleep

[2012-02-10 08:08] akohlbecker commented on #306
which pages are refreshed automatically, could you please give an example?

[2012-02-10 08:11] akohlbecker commented on #306
Ah ok, this ticket is labeled with "preingest and Olef" i assumed it is on the portal, so forget about my last comment.

[2012-02-10 08:25] wkollernhm opened #307 "Change GUID minter to use noid service"
Pre-Ingest tool should use the pre-installed noid service for fetching GUIDs.

See https://bhl.wikispaces.com/GUID_Server for details on how to access the noid service.

@lobajuluwa
@chris-sleep

[2012-02-10 08:56] leenamba opened #308 "Install and setup activeMQ on Mandible"
Document on wiki following existing documentation standards of project.

To reassign to Zhaoyu

[2012-02-10 09:01] leenamba commented on #308
And install and enable stomp connector for PHP access and JMS for Java access

[2012-02-10 09:04] leenamba opened #309 "Replace PI notification text file to ActiveMQ message"
Maybe using Stomp

[2012-02-10 09:10] leenamba opened #310 "Message from Ingest to pre-ingest with status"
Contents of message:
- GUID
- STATUS: COMPLETED, FAILED
- EXCEPTIONS (optional): stacktrace of exceptions

[2012-02-10 10:06] lobajuluwa opened #311 "Create controlled vocabulary for Licences (IPR Handling in Pre-Ingest)"
Task description:-

If licence doesn't match notify - CP and allow default selection in settings with Question mark (?)

[2012-02-10 10:22] lobajuluwa opened #312 "Reconfigure GUID Schema to NOID prefix"

[2012-02-10 10:48] akohlbecker opened #313 "configure search result fields for all content types"
currently the function `bhle_search_search_result_field_map_for($type = 'unknown')` only supports books and uses this type as default.
- configure the fields for any type
- check if hard coded type names are matching metadata

@ZhengLIAtos
@jhquentin

[2012-02-13 12:23] wkollernhm opened #314 "Parsing & Processing structured content for Ingest"
Using the Pre-Ingest tool is should be possible to parse & process structured data (into an AIP).

Structured content refers to periodicals like serials. (but not only).
A detailed description of how the content is structured can be found in the file submission guidelines which are available here: https://bhl.wikispaces.com/file/view/BHL-Europe_File+Submission+Guidelines.pdf

Relations between Ser

[2012-02-13 12:47] wkollernhm commented on #234
We cannot provide a tool at the PI-stage in order to do the conversions because we are mainly aiming at problems during the upload (e.g. if  the file-system doesn't support the characters within the folder names).

Spaces & Non-ASCII characters should be avoided (this is also documented in the file submission guidelines). If the upload works and the directory/file-names do show up correctly on the

[2012-02-13 12:47] #234 closed, assigned to wkollernhm

[2012-02-13 12:50] wkollernhm commented on #145
@lobajuluwa I think we can close this issue and open a new one for creating the OLEF documentation as a task for the end of the project.