[2012-02-14 15:19] lobajuluwa opened #315 "Deployment of Pre-Ingest tool to test environment."
- PI tool should now be deployed to one of the test servers

[2012-02-15 14:35] lobajuluwa commented on #125
Dependent on getting tagging options in line.

[2012-02-15 14:44] lobajuluwa commented on #22
Most likely move to "Wish List" items.

[2012-02-15 14:53] lobajuluwa opened #316 "Deployment of the Production machines"
Dependency for web analytics info - production portal

[2012-02-15 14:58] lobajuluwa commented on #140
Move to "Wish List"

[2012-02-15 14:59] #140 closed, assigned to JiriFrank

[2012-02-15 15:00] lobajuluwa commented on #139
Move to wish List - GRIB dependency!

[2012-02-15 15:03] #135 closed, assigned to zhengl

[2012-02-15 15:04] lobajuluwa commented on #131
Wish List item.

[2012-02-15 15:04] lobajuluwa commented on #130
Wish List item

[2012-02-15 15:08] lobajuluwa commented on #118
Move to Wish List items.

[2012-02-15 15:11] lobajuluwa commented on #97
Move to Wish List items.

[2012-02-15 15:15] #78 closed, assigned to wkollernhm

[2012-02-15 15:16] lobajuluwa commented on #44
Move to wish list items - GRIB Dependency!

[2012-02-15 15:17] #42 closed, assigned to akohlbecker

[2012-02-15 15:38] lobajuluwa opened #317 "Analysing content for monographs"

[2012-02-15 15:40] lobajuluwa opened #318 "modifying gSearch xslt for new content model"

[2012-02-17 12:47] wkollernhm commented on #309
@ZhengLIAtos

What information should the message from the PI tool include?

[2012-02-17 13:42] wkollernhm commented on #305
Sample:

Source:
`<mods:subject xmlns:mods="http://www.loc.gov/mods/v3">
<mods:topic>BEL Belgium &amp; GDL</mods:topic>
</mods:subject>`

Destination:
`<mods:subject xmlns:mods="http://www.loc.gov/mods/v3">
<mods:topic>BEL Belgium </olef></METS:xmlData></METS:mdWrap>`

[2012-02-20 05:42] zhengl commented on #309
@wkollernhm

A key-value pair in the form of 'URL : file///mnt/....' indicating the location of .aip folder should be enough.
Please keep both notification mechanism until messaging is fully tested.

[2012-02-20 05:43] #318 closed, assigned to zhengl

[2012-02-20 05:45] zhengl commented on #313
fixed in Gsearch xslt

[2012-02-20 05:45] #313 closed, assigned to akohlbecker

[2012-02-21 09:25] wkollernhm opened #319 "Workpackage 07.12.2011"
- Pack complete output (Metadata, TIFFs, OCR) including METS into .aip folder (original directory may only contain original data)
- [BUG] .aip Directory is not ignored during scanning
- If PDFs and images exist, extract text from PDFs and use images for TIFF creation
- If only PDFs exist, then both text as well as images are extracted from them
- If only images exist, generate TIFFs and use for OC

[2012-02-21 09:26] wkollernhm commented on #319
This issue has been added for reference.

@lobajuluwa
@chris-sleep

[2012-02-21 09:26] #319 closed, assigned to mindcatch-com

[2012-02-21 09:37] wkollernhm opened #320 "Workpackage 20.12.2011"
- Retrieve metadata from OAI-PMH (http://www.openarchives.org/pmh/) Service
  - Setting per CP (only Admin can edit) in order to define OAI-PMH Endpoint
  - Setting per CP (only Admin can edit) in order to defined OAI-PMH Metadata format
  - "identifier" for OAI-Record equals name of upload-folder (definition for CPs)

  If the CP has an OAI-PMH endpoint defined (in the settings) then all metadata

[2012-02-21 09:37] wkollernhm commented on #320
This issue has been added for reference use only.

@lobajuluwa
@chris-sleep

[2012-02-21 09:37] #320 closed, assigned to mindcatch-com

[2012-02-21 09:41] wkollernhm opened #321 "Workpackage 07.02.2012"
- user_directory contents do not belong to user-Table. Create separate table which has on entry per row (no concatenated character-sequence anymore)
- Input, Output and database has to be UTF-8 encoded
- AUTO_INCREMENT for all tables which contain continuous numbers (e.g. user_id)
- Show in overview that all commands have been queued
- [BUG] commands can be re-queued if the process is currently ac

[2012-02-21 09:41] wkollernhm commented on #321
This is the currently active workpackage, therefor I do not close it yet.

@lobajuluwa
@chris-sleep

[2012-02-21 10:48] chris-sleep commented on #86
for US content, provider will be referenced as BHL global, original CP should be treated same as for aggregating CPs in BHL Europe:

The uploading digitizing institution will be stored together with the iteminformation within the OLEF schema. CPs using MODS as their metadata format should use the "recordContentSource" field for indicating the original institution (MARC21: field "040" subfield "a")

[2012-02-21 11:06] chris-sleep commented on #312
duplicate of #307? closing this one to keep discussion there

[2012-02-21 11:06] #312 closed, assigned to chris-sleep

[2012-02-22 11:48] #164 closed, assigned to akohlbecker

[2012-02-22 11:48] wkollernhm commented on #309
I think we should add the GUID to the message as well, as we need to notify pre-ingest once the ingest was successfull (and we should use the GUID for that).

[2012-02-22 11:49] wkollernhm opened #322 "PHP ActiveMQ Class (for PI)"
PreIngest needs to dispatch a message to Ingest using ActiveMQ.

In order to maintain communication in an easy way a PHP-class for wrapping the communication should be coded.

Requirements:
- Connect to ActiveMQ
- Send message to Ingest notifying it of items ready for ingest (pass required information as parameters to function call)
- Receive messages from Ingest confirming the successfull ingest

[2012-02-22 12:06] #225 closed, assigned to JiriFrank

[2012-02-22 12:08] #212 closed, assigned to zhengl

[2012-02-22 12:11] lobajuluwa commented on #150
production portal still to be set up

[2012-02-22 12:12] #145 closed, assigned to wkollernhm

[2012-02-22 12:16] #144 closed, assigned to mindcatch-com

[2012-02-22 12:18] zhengl commented on #309
Yes, you are right.

2012/2/22 wkollernhm <
reply@reply.github.com

[2012-02-22 12:23] #218 closed, assigned to wkollernhm

[2012-02-22 12:24] #157 closed, assigned to chris-sleep

[2012-02-22 12:25] #104 closed, assigned to JiriFrank

[2012-02-22 12:33] lobajuluwa commented on #162
OLEF Documentation reqd

[2012-02-22 12:42] lobajuluwa commented on #31
Can we close this feature Lee?
@leenamba

[2012-02-22 12:51] leenamba commented on #31
no we still need to keep this feature for sorting purposes

[2012-02-22 13:04] zhengl commented on #322
Here is a stomp-client from stomp,
http://stomp.fusesource.org/release/php/1.0/stomp-php-1.0.0.tar.gz, let's
define the message body and test it after the installation of ActiveMQ +
Stomp.

As discussed before, here is a list of details of messages from MQ:
1. Message is sent via queue, but not topic.
2. From Pre-ingest. Message contains file URI pointing to the location
   of AIP and GUID of the

[2012-02-22 13:48] chris-sleep commented on #31
@leenamba Can we drop the critical label, or does that also factor into the sorting?

[2012-02-22 13:49] leenamba commented on #31
yes we can drop the critical

[2012-02-22 14:19] wkollernhm commented on #322
Please wrap this functionality in a PHP class! Andreas should just need to call a simple PHP-Method for sending a new message to Ingest and call another function for receiving a message from Ingest!

[2012-02-22 15:42] lobajuluwa opened #323 "Ingest Content for Content Provider - RMCA"
Task description: Align (RMCA) upload data/structure with ingest tool needs

subtask: Ingest (RMCA) data

[2012-02-22 15:44] lobajuluwa opened #324 "Ingest Content for Content Provider - LANDOE"
Task description: Align (LANDOE) upload data/structure with ingest tool needs

subtask: Ingest (LANDOE) data

[code]

---
- folder names - number consecutively
- folder structure - seems ok, only one level
- file names:
  - InternalIdentifier - consecutive number from parent folder could may be an internal ID (primary key from database)
  - FileSequenceNumber - OK
  - PageType - **MISSING**
  - Pr

[2012-02-22 15:48] lobajuluwa opened #325 "Ingest Content for Content Provider - NBGB"
Task description: Align (NBGB) upload data/structure with ingest tool needs

subtask: Ingest (NBGB) data

[2012-02-22 15:50] lobajuluwa opened #326 "Ingest Content for Content Provider - DILIBRI"
Task description: Align (DILIBRI) upload data/structure with ingest tool needs

Ingest (DILIBRI) data
## Actions to take:
1. Script to Harmonise metadata (current mods is not valid)

[2012-02-22 15:53] lobajuluwa opened #327 "Ingest Content for Content Provider - NMP"
Task description: Align (NMP) upload data/structure with ingest tool needs

subtask: Ingest (NMP) data

[code]

---
- folder names - OK
- folder structure - seems ok, only one level
- file names:
  - InternalIdentifier - OK
  - FileSequenceNumber - OK
  - PageType - **MISSING**
  - PrintedPageNumber - **MISSING**

[2012-02-22 15:55] lobajuluwa opened #328 "Ingest Content for Content Provider - UBFRANKFURT"
Task description: Align (UBFRANKFURT) upload data/structure with ingest tool needs

subtask: Ingest (UBFRANKFURT) data

[2012-02-22 15:57] lobajuluwa opened #329 "Ingest Content for Content Provider - CSIC"
Task description: Align (CSIC) upload data/structure with ingest tool needs

Ingest (CSIC) data

[code]

mixture of monographs (9) and serial volumes
## Actions to take:
- need metadata for series volume folders where not present
- source of page type/numbering if possible
## Summary:
- folder names - ok
- folder structure - ok (both monograph and serial)
- file names:
  - InternalIdentifier - ok

[2012-02-22 15:58] lobajuluwa opened #330 "Ingest Content for Content Provider - RENNES1"
Task description: Align (RENNES1) upload data/structure with ingest tool needs

subtask: Ingest (RENNES1) data
## Actions to take:

review any non monograph content to come, otherwise upload good
## Summary:
- folder names - ok
- folder structure - monograph
- file names:
  - InternalIdentifier - present ok
  - FileSequenceNumber - present ok
  - PageType -present (cover,blank,halftitle,title,inde

[2012-02-22 16:54] lobajuluwa opened #331 "Ingest Content for Content Provider - RBINS"
Task description: Align (RBINS) upload data/structure with ingest tool needs

subtask: Ingest (RBINS) data

[code]

20 folders with some scans in

[code]

only few pages of the whole monographs are actually uploaded
## Actions to take:
1. CP must upload complete scans of the monographs
## Summary:
- folder names - OK
- folder structure - OK
- file names:
  - InternalIdentifier - matches the 'Barco

[2012-02-22 16:56] lobajuluwa opened #332 "Ingest Content for Content Provider - GFBS"
Task description: Align (GFBS) upload data/structure with ingest tool needs

subtask: Ingest (GFBS) data

[code]

38 folders with journals in one serial on article level, the folder structure is different for subfolders named like v\di\d.\* and for those like VOL=.\* the latter ones are the new structure in which we are expecting the new uploads.

[code]
## Actions to take:
1. rename folder  ./jou

[2012-02-22 16:57] lobajuluwa opened #333 "Ingest Content for Content Provider - UBER"
Task description: Align (UBER) upload data/structure with ingest tool needs

subtask: Ingest (UBER) data

[code]

59 folders with historic expedition reports (journals?) in

[code]
## Actions to take:
1. fetch metadata using the `fetch-metadata.sh`
2. the upload folders should be placed into a sub folder of /mnt/nfs-demeter/upload/providers/de-uber
3. once tiffs are available organize the tiffs by

[2012-02-22 16:58] lobajuluwa opened #334 "Ingest Content for Content Provider - UCPH"
Task description: Align (UCPH) upload data/structure with ingest tool needs

subtask: Ingest (UCPH) data

[code]

75 PDFs of an annual Journal issues in

[code]

Botanisk Tidsskrift (standard abbreviation Bot. Tidsskr.) was a Danish mixed scientific and amateur journal concerning botany, issued in Copenhagen by the Danish Botanical Society. It was published from 1866 to 1980, when it fused with Bo

[2012-02-22 17:00] lobajuluwa opened #335 "Ingest Content for Content Provider - UHVIIKKI"
Task description: Align (UHVIIKKI) upload data/structure with ingest tool needs

subtask:Ingest (UHVIIKKI) data

[code]

11 folders with monograph series in

[code]
## Actions to take:
1. fix image file names in `FI_Hb_301522_Flora_Fennica` and `FI-Hb_301519_Memoranda_Societatis`
2. check marc metadata in detail
## Summary:
- folder names & structure - OK
- file names: OK except `FI_Hb_301522_Flor

[2012-02-22 17:00] lobajuluwa opened #336 "Ingest Content for Content Provider - BNF"
Task description: Align (BNF) upload data/structure with ingest tool needs

subtask: Ingest (BNF) data

[code]

522 folders in a folder called Consultation -  his the content to be ingested since it contains more complete content and it is newer than Main!!!

[code]

522 folders in Main with identical items of PERIODIQUEs = Journals but is older than Consultation

[code]

670 folders in second-bat

[2012-02-22 17:02] lobajuluwa opened #337 "Ingest Content for Content Provider - MNHN"
Task description: Align (MNHN) upload data/structure with ingest tool needs

subtask: Ingest (MNHN) data

[code]

basically five different sets of folders
- folders with uppercase name, except GRIB, these folders are now aggregated in the folder `./main`
- four folders with completely different structure each, any of those must be handled individually
## Actions to take:
1. create folder to contai

[2012-02-22 17:04] lobajuluwa opened #338 "Ingest Content for Content Provider - HNHM"
Task description: Align (HNHM) upload data/structure with ingest tool needs

subtask: Ingest (HNHM) data

[code]

2397 folder/140 volumes

[code]
## Actions to take:
1. Obtain volume/serial metadata
2. upload cover/index scans
## Summary:
- folder names & folder structure:
  - series level: eg: Annals_HNHM
  - volume level: ok  eg: Annals_HNHM/Annals_HNHM_1903_Vol_1  (nCOVER/INDEX scan **MISSING**

[2012-02-22 17:05] lobajuluwa opened #339 "Ingest Content for Content Provider - NAT"
Task description: Align (NAT) upload data/structure with ingest tool needs

subtask: Ingest (NAT) data

[2012-02-22 17:06] lobajuluwa opened #340 "Ingest Content for Content Provider - PAS"
Task description: Align (PAS) upload data/structure with ingest tool needs

subtask: Ingest (PAS) data

[2012-02-22 17:07] lobajuluwa opened #341 "Ingest Content for Content Provider - RBGE"
Task description: Align (RBGE) upload data/structure with ingest tool needs

subtask: Ingest (RBGE) data

[2012-02-22 17:12] lobajuluwa opened #342 "Ingest Content for Content Provider - FUBBGBM"
Task description: Align (FUBBGBM) upload data/structure with ingest tool needs

subtask:Ingest (FUBBGBM) data
- CP is yet to upload data

[2012-02-22 17:14] lobajuluwa opened #343 "Ingest Content for Content Provider - UBBI"
Task description: Align (UBBI) upload data/structure with ingest tool needs

subtask: Ingest (UBBI) data
- CP is yet to upload data

[2012-02-22 17:15] lobajuluwa opened #344 "Ingest Content for Content Provider - UGOE"
Task description: Align (UGOE) upload data/structure with ingest tool needs

subtask: Ingest (UGOE) data
- CP yet to upload data

[2012-02-22 17:16] lobajuluwa opened #345 "Ingest Content for Content Provider - MIZPAS"
Task description: Align (MIZPAS) upload data/structure with ingest tool needs

subtask:Ingest (MIZPAS) data
- CP yet to upload data

[2012-02-23 07:18] wkollernhm commented on #315
This is done as of 2012-02-22: http://bhl-test.nhm.ac.uk/ingest/

[2012-02-23 07:18] #315 closed, assigned to wkollernhm

[2012-02-23 07:29] wkollernhm opened #346 "Jenkins job for Pre-Ingest tool"
Setup a Jenkins job for fetching the current Pre-Ingest tool code from github and deploy it on our integration server.

Code: https://github.com/bhle/bhle/tree/master/pre-ingest/ingest
Database-Dump: https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/docs/database/create_database.sql

At the same time change our /ingest URL to /preingest !

@mehrrath
@lobajuluwa
@chris-sleep
@ZhengLIAtos

[2012-02-23 07:36] wkollernhm commented on #306
Fix confirmed as of 2012-02-23

[2012-02-23 07:36] #306 closed, assigned to mindcatch-com

[2012-02-23 07:41] wkollernhm commented on #346
Please also keep in mind, that for queueing a cron-job has to be set-up which runs https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/queuing/run_preingest_jobs.sh every 10 minutes!

(it is currently already set-up, but if you change the URL you also have to update the cron-job)

[2012-02-23 15:19] chris-sleep commented on #324
Current action assessment: OLEF metadata upload, New Directory structure and names

[2012-02-23 15:31] chris-sleep commented on #325
Action assessment currently: Check Dir structure, Test Run PreIngest

[2012-02-23 15:50] lobajuluwa opened #347 "Ingest Content for Content Provider - NHMW"
Task description: Align (NHMW) upload data/structure with ingest tool needs

subtask: Ingest (NHMW) data
- CP is yet to upload data

[2012-02-23 15:55] lobajuluwa opened #348 "Ingest Content for Content Provider - MSN"
Task description: Align (MSN) upload data/structure with ingest tool needs

subtask: Ingest (MSN) data
- CP is yet to upload data

[2012-02-23 15:57] lobajuluwa opened #349 "Ingest Content for Content Provider - MfN"
Task description: Align(MfN) upload data/structure with ingest tool needs

sub task: Ingest (MfN) data
- CP is yet to upload data

[2012-02-23 16:26] akohlbecker commented on #324
Checked folder again for metadata:

[code]

so there is no metadata at all

[2012-02-23 16:35] akohlbecker commented on #327
contains metadata for 18  folders, two additional empty folders: GRIB and reference

[code]

[2012-02-23 17:05] akohlbecker commented on #327
checking  Bibliographic level in MARCXML files:

[code]

-----na**m** a22--------4500 => all items are **Monograph/Item**:
  _Item either complete in one part (e.g., a single monograph, a single map, a single manuscript, etc.) or intended to be completed, in a finite number of separate parts (e.g., a multivolume monograph, a sound recording with multiple tracks, etc.)._

[2012-02-23 17:38] chris-sleep commented on #325
Assess vs FSG:  for content in Upload_20110930

Metadata: .mrc - ok
Directory Structure: Monograph structure, ok
Filenaming: exemplar in FSG ok

.aip in progress for current content   (related bug #305)

[2012-02-23 17:55] chris-sleep commented on #326
Assess vs FSG: for content in de-dilibri/333569

Metadata: - oai_dc
Directory Structure: Monograph structure, ok

Filenaming:  files named with
[incremental sequence]-[second incremental sequence].tif

first sequence looks to be image sequence, second same+directory no
no page numbering or type data present.

[code]

[2012-02-23 18:01] chris-sleep commented on #326
No reference to this CP in content management wiki page:

@wkollernhm is the metadata good to work with (.. mostly which parameters needed for oai_dc SMT?)
@melitabirthaelmer as only 2 books uploaded so far, have we potential for filename updates at source?

[2012-02-24 06:54] wkollernhm commented on #326
oai_dc is not good. Pure DC works perfectly fine but not wrapped into an OAI-PMH response.

Please ask CP to upload "pure" DC records!

[2012-02-24 12:11] akohlbecker commented on #327
@chris-sleep  Even if PageType, and PrintedPageNumber are missing i guess we can dare a test ingest

[2012-02-24 14:14] chris-sleep commented on #327
@akohlbecker agreed; I'll get an account set up in the bhl-test preingest db and run this content through to aip

[2012-02-24 15:22] chris-sleep commented on #327
cz-nmp account added; ready to test preingest.

@wkollernhm can you please take a look and confirm if the user setup in the database is good for this user? (I'm not 100% what the function of the Provider Token is)

running ingest test on bhl-int currently (bhl-test threw an immediate GUID error)

[2012-02-24 15:25] chris-sleep commented on #326
dilibri website has various metadata formats listed in archive, and page type/number data associated with served content. Have emailed dilibri technical contact to investigate how this can be uploaded to us.

[2012-02-24 15:40] chris-sleep commented on #324
Checked against https://bhl.wikispaces.com/Content+_Management and Landoe noted to provide OLEF over OAI-PMH

awaiting OAI URL from CP

[2012-02-24 16:49] chris-sleep commented on #327
PI run on one item: /BR-P.33 completed and marked as ready to ingest for fedora.

@ZhengLIAtos can you please take a look at the package generated for providers/cz-nmp/BR-P.33 and validate if it is clean to ingest into fedora?

[2012-02-24 17:06] ZhaoyuLI commented on #308
The documentation for this issue: https://bhl.wikispaces.com/ActiveMQ%26Stomp

[2012-02-24 17:22] chris-sleep commented on #323
- folder names OK
- folder structure monographs ok
- folder structure series folder structure ok, not all have metadata at serial level
- file naming:
  - InternalIdentifier OK
  - FileSequenceNumber OK
  - PageType present (not in combination with PrintedPageNumber) eg.
    melaniceenabbil00brotRMCA_0001_frontcover.tif

types not all FSG format: include titlepage, colophon, foreword, contents, li

[2012-02-24 17:23] chris-sleep commented on #323
Good to test PI on monograph content

[2012-02-24 17:44] chris-sleep commented on #323
PI run: generated aip for be-rmca/Monographs/Lemaire_Observations meteorologiques
@wkollernhm can you please take a look over the .aip and validate if it's good for fedora?

[2012-02-24 18:13] chris-sleep commented on #328
- Folder Names ok (one so far, one volume in a series)
- Folder Structure: ok (serial on article level structure)
- Folder Naming

  @wkollernhm can you please take a look at UBFrankfurt/BJ2248281/BJ2248281_0001_2248284 and confirm if you can see any issue with the naming? The article subfolders don't fully match FSG but I'm not sure if this will be an issue for the PI tool.
- File Naming
  - Inte

[2012-02-24 18:20] chris-sleep commented on #328
11 metadata files in 11 folders; mods

[2012-02-26 02:30] zhengl commented on #327
Item /BR-P.33 is not ready for ingest.

All PIDs are still URL-encoded, e.g.

The message was "URI=null Line=2: cvc-pattern-valid: Value 'bhle%3A10706%2Fa0000000000013300968731-00002' is not facet-valid with respect to pattern '([A-Za-z0-9]|-|.)+:(([A-Za-z0-9])|-|.|~|_|(%[0-9A-F]{2}))+' for type 'pidType'."

[2012-02-26 02:34] zhengl commented on #323
Item /Lemaire_Observations meteorologiques is not ready for ingest.

All PIDs are still URL-encoded, e.g.

The message was "URI=null Line=2: cvc-pattern-valid: Value 'bhle%3A10706%2Fa0000000000013300968731-00002' is not facet-valid with respect to pattern '([A-Za-z0-9]|-|.)+:(([A-Za-z0-9])|-|.|~|_|(%[0-9A-F]{2}))+' for type 'pidType'."

@wkollernhm

[2012-02-26 02:47] zhengl commented on #346
Done.

Please refer to http://bhle-dev-1.nhm.ac.uk/job/pre-ingest/

This job replaces the sensitive information in config files and dump database. But it does not update the location of cron job, which is not a frequent update.

[2012-02-26 09:14] zhengl commented on #346
Please update Pre-ingest Tool to Github.

@mehrrath
@wkollernhm

[2012-02-27 08:50] wkollernhm opened #350 "Do not URL encode PIDs"
Currently the PI tool does URL-encoding for PIDs. This should not happen (since hyphens are URL-encoded).

Disable URL-Encoding for PIDs.

See issue #327 & #323

[2012-02-27 08:55] wkollernhm commented on #327
Created an issue for URL encoding

@chris-sleep: user entry looks fine, although I do not know what you mean by "provider token"

[2012-02-27 08:56] zhengl commented on #350
This has been corrected once before by Andy, and I think you can have the
up-to-date version in int1 /var/www/ingest.

2012/2/27 wkollernhm <
reply@reply.github.com

[2012-02-27 09:32] zhengl commented on #322
Done.

Please take a look at int1 dev/stomp-client/MessageClient.php
there are send.php and receive.php simulating messaging between Pre-ingest and Ingest.

[2012-02-27 10:21] chris-sleep commented on #327
@wkollernhm "Provider Token" is the fourth field listed on the list for the PI tool when you log on and go to "Preferences".

It has a note to the right of the field entry box "\* defines your working directory"  (which is why I'm not sure of the field purpose)

[2012-02-27 13:31] wkollernhm commented on #350
Thanks for the info, but the version on bhl-test is the most recent one as I copied it from /var/www/ingest/ on bhl-int!

[2012-02-27 13:35] wkollernhm commented on #327
Ah okay - I was referring to the pure SQL-insert statement where no provider-token entry exists.

This is a unique entry which defines the working (temp) dir for the content-provider. You can see its influence at the line saying "Working Dir" a few entries below!

[2012-02-27 13:53] wkollernhm commented on #346
I've just updated the code on github to contain the latest from /var/www/ingest/ - in addition I fixed a small typo in the Jenkins Job (chown instead of chmod)!

In addition I removed the var/www/ingest/ folder to avoid any future updates to it!

[2012-02-27 13:53] #346 closed, assigned to wkollernhm

[2012-02-27 13:54] zhengl commented on #346
Thanks!

2012/2/27 wkollernhm <
reply@reply.github.com

[2012-02-27 16:38] chris-sleep commented on #326
we can have mods or marc xml metadata.

for page level metadata can also have mets with structure blocks holding number and type data;

[2012-02-28 07:28] akohlbecker commented on #331
@chris-sleep I assigned to this issue

[2012-02-28 08:57] akohlbecker commented on #331
@chris-sleep, @melitabirthaelmer  the review of this folder is finished for now. nest step is to contact the CP, see **Actions to take:** above

[2012-02-28 09:11] akohlbecker commented on #332
@chris-sleep I assigned to this issue

[2012-02-28 10:33] melitabirthaelmer commented on #331
Question regarding filenames:
- Is it possible to ingest content if Pagetype and PrintedPageNumber is missing? Are these mandatory information?

Need further feedback for metadata?
- Can we use the xls file with provided fields?
- If not what do they need to change?

[2012-02-28 12:11] wkollernhm opened #357 "Pre-generate derivates"
Access should pre-generate derivates based on ingested content.

Q: Is  there a list of derivates to generate?

@chris-sleep
@lobajuluwa

[2012-02-28 15:26] akohlbecker commented on #332
@chris-sleep how should we proceed now, do you want me to fix the folder names as suggested above (step 1.und 2.)?

[2012-02-29 15:08] chris-sleep commented on #325
@melitabirthaelmer (NBGB should be good to proceed with further uploading following current format they've used)

[2012-02-29 15:51] chris-sleep commented on #332
@akohlbecker Can you prepare a script to take an upload folder and create a copy with fixes 1/2 ?  We'll need to be able to repeat aainst further uploads so will need to be ready for those

[2012-02-29 17:06] chris-sleep commented on #331
@melitabirthaelmer  Filename: We can ingest without page level metadata, but that will prevent us being able to provide table of contents

[2012-02-29 19:37] chris-sleep commented on #331
@wkollernhm can you please take a look at the metadata submission? (be-rbins/kbin20110114.mrc ) ; I'm presuming that PI can't accept the single file as source for all upload content, wondering if we were to split it into a mass of single document files put into each content directory if it will be useable?

.xls holds only limited data, (author,year,title only no other publication data/language).

[2012-03-01 10:27] wkollernhm commented on #350
@ZhengLIAtos: I've tested this with the latest version and OBJIDs are not URL encoded.

[2012-03-01 10:27] #350 closed, assigned to mindcatch-com

[2012-03-01 10:31] wkollernhm opened #363 "pageType contains wrong data"
The information in the pageType attribute of each page entry in the OLEF contains invalid data - namely the sequence number instead of the actual pageType of the filename.

Example:
Original filename: NBGB013726AIGR1889FLOREELE00_0001_FRONTCOVER.tif
Information in OLEF:
`<page pageType="0001">`

but it should be "frontcover"

@chris-sleep
@lobajuluwa

[2012-03-01 10:35] wkollernhm opened #364 "names of pages not correct"
Names of pages are not correctly transfered to OLEF.

Currently the names of the pages seem to be a continuous number, however it should be the actual name as provided by the filename.

Example:
Original filename: NBGB013726AIGR1889FLOREELE00_0240_PAGE_236.tif
OLEF output: `<name>243</name>`

But it should be `<name>236</name>`

@chris-sleep
@lobajuluwa

[2012-03-01 11:03] wkollernhm commented on #331
No we cannot use a single mrc file. Also splitting it up will be tricky since we then have to correctly identify each record and to which folder it belongs.

I would strongly recommend to ask rbins to upload a single MARC record for each folder - this would be the best.

If not possible at all, we can still use the limited data from xls (thought I would like to avoid that).

[2012-03-01 11:08] chris-sleep commented on #341
## Actions to take:
- folders to be rationalised (intermediate folders need to come out of the structure; 310 folders currently)
  - eg:
  - RBGE/Florav1-3/Volume1/NRBGE_FoB_0001/NRBGE_FoB_0001_1983_0001 => RBGE/Florav1-3/Volume1/NRBGE_FoB_0001_1983_0001
  - RBGE/NRBGEv1-23/Volume19/NRBGE_0019/NRBGE_0019_1933_0091 => RBGE/NRBGEv1-23/Volume19/NRBGE_0019_1933_0091
- VOC/VoC_0000_1911_0000 ok
- .mrc

[2012-03-01 11:42] melitabirthaelmer commented on #330
Re-uploaded content. Check these folders please:

F352382102_11716
F352382102_46852

Changes:
- translation into English of the page type
- use of the terms listed (sent additional pagetypes, ok from Wolfgang except  for caption; new pagetypes are here:https://bhl.wikispaces.com/Content+_Management+Harmonisation)
- underscore deleted from the library identifier number

[2012-03-01 11:59] melitabirthaelmer commented on #325
content provider informed to go on with content upload

[2012-03-01 12:00] melitabirthaelmer commented on #325
content provider informed to go on with content upload

[2012-03-01 12:07] melitabirthaelmer commented on #341
Information for mapping:

Acts partly as aggregator (e.g. VOC folder)
Will use MARC field 040, subfield a for indicating additional data provider.

[2012-03-01 12:11] melitabirthaelmer commented on #328
Information for mapping:

Acts as aggregator.
Will use MODS element "mods:recordContentSource" for indicating additional data provider.

[2012-03-01 13:30] wkollernhm opened #365 "Add logged in content provider to metadata"
As mods:recordContentSource indicates the digitizing institution, the logged in content provider should be added as uploader.

[2012-03-01 13:31] wkollernhm commented on #328
Just to clarify: this feature is not yet implemented but recorded and on the todo list - see issue #365

[2012-03-01 18:01] chris-sleep commented on #341
spoken with RBGE, GH will pick up the folder reorganisation and metadata (.mrc), but file renaming from the .mdb is too complex for a manual process, so we will need to look at making use of the database files via automation

[2012-03-02 10:24] mindcatch-com commented on #307
the PI now uses this webservice, if not available it mints own guids (local development requirment)

[2012-03-02 10:36] mindcatch-com commented on #363
this is fixed with function getPageType($file_name)

[2012-03-02 11:08] mindcatch-com commented on #364
problem solved

with extended support for up to 4 pages in one file, the numbers then are separated with comma in this tag value !

[2012-03-02 11:21] mindcatch-com commented on #305
fixed - please confirm & close

[2012-03-02 11:23] mindcatch-com commented on #321
except serials all of these are fixed, please close this issue and open another (single) one for serials
for better overview, thanks!

[2012-03-02 15:15] chris-sleep commented on #330
created fr-rennes1 PI account on int_pi_pi

Generated .aip for content F352382102_46852

@wkollernhm would you mind taking a look please at the .aip and confirm if it all looks good? Provided so we can move ahead with upload for Rennes

[2012-03-02 15:20] melitabirthaelmer commented on #331
Feedback sent to CP

[2012-03-02 15:50] chris-sleep commented on #357
are the various biblio format datastreams to be generated as derivatives or brought in at ingest?

If derivatives: mods, bibtex and endnote (plus ESE)

Format derivatives: medium resolution(...) pdf for download if not born digital;

Others needed?

[2012-03-02 16:20] chris-sleep commented on #329
test run PI on monograph CSIC001366754 - complete, .aip generated

@ZhengLIAtos -  please can you validate this .aip is good, and if so push it through ingest to the integration portal
@wkollernhm

[2012-03-02 17:09] chris-sleep commented on #329
testing PI run on serial CSIC000420361 (metadata found in all volumes for this one)

olef generates ( top level only perhaps), no tiff found (images in volume level folders) and aip generated for 0 items

@wkollernhm - I presume this is still expected with the integration PI tool, is this folder a good test candidate once functionality in place?

[2012-03-05 04:28] zhengl opened #366 "Book Reader Improvement"
1. Refresh pagination box and scientific names when flipping pages
2. Change template @JiriFrank
3. Integration with Portal @JiriFrank

@wkollernhm

[2012-03-05 04:37] zhengl commented on #357
Here is a list of derivatives and their source,
1. Dublin Core  (<- MODS <- OLEF)
2. MODS (<- OLEF)
3. MARXML (<- OLEF)
4. MARC21 (<- MARCXML <- OLEF) (not yet)
5. BibTex (<- MODS <- OLEF) (deprecated)
6. Endnote (<- MODS <- OLEF) (deprecated)
7. OLEF (original copy)
8. ESE (<- MODS <- OLEF) (not yet, need help from @wkollernhm )
9. PDF (<- TIFF + OLEF)
10. JPEG (<- TIFF + OLEF)
11. OCR (original

[2012-03-05 07:15] zhengl commented on #308
Configure ActiveMQ for serving dev, test and prod in parallel.
Opiton 1) Receive message only from specific IP
          2) Define different topic/queue name for different machine
          3) other ideas?

[2012-03-06 10:39] ZhaoyuLI commented on #308
There are three instances of activemq running on mandible providing service to : integration, test, production. The port information already updated in wiki page: https://bhl.wikispaces.com/ActiveMQ%26Stomp

[2012-03-06 10:39] #308 closed, assigned to ZhaoyuLI

[2012-03-06 11:26] zhengl commented on #294
Fixed.

[2012-03-06 11:39] melitabirthaelmer commented on #328
CP asked for feedback. Do we have an answer for the naming of the subfolders? Can we test it with the PI tool?
@chris-sleep

[2012-03-06 12:22] wkollernhm commented on #363
Fix confirmed

[2012-03-06 12:22] #363 closed, assigned to mindcatch-com

[2012-03-06 12:22] wkollernhm commented on #364
Fix confirmed

[2012-03-06 12:22] #364 closed, assigned to mindcatch-com

[2012-03-06 12:26] wkollernhm commented on #311
Change IPR Input field to drop down containing the following options:

http://creativecommons.org/publicdomain/mark/1.0/
http://creativecommons.org/publicdomain/zero/1.0/
http://creativecommons.org/licenses/by/3.0/
http://creativecommons.org/licenses/by-sa/3.0/
http://creativecommons.org/licenses/by-nc/3.0
http://creativecommons.org/licenses/by-nc-sa/3.0/
http://creativecommons.org/licenses/by-nd/

[2012-03-06 12:27] wkollernhm commented on #307
Tested & works

[2012-03-06 12:27] #307 closed, assigned to mindcatch-com

[2012-03-06 12:33] wkollernhm opened #370 "OLEF Namespace for XML-Nodes"
Generated XML-Nodes do not contain the OLEF namespace prefix.

example: `<itemInformation>` should be `<olef:itemInformation>`

This applies to all generated OLEF elements.

@chris-sleep
@lobajuluwa

[2012-03-06 12:37] wkollernhm opened #371 "Pages without name contain invalid name"
Pages without a name get an invalid name assigned.

Example: NBGB013726AIGR1889FLOREELE00_0002_BLANK.tif

becomes: `<name>1</name>`

pages without a name in the filename should omit the `<name>` tag in XML.

@lobajuluwa
@chris-sleep

[2012-03-06 14:16] mindcatch-com commented on #311
allow default selection in settings with Question mark ????? what do you mean?

[2012-03-06 14:16] mindcatch-com commented on #311
do you mean cp settings or config.php for all

[2012-03-06 14:24] mindcatch-com commented on #370
this is an very new requrement.
do you mean that all nodes in the embedded olef in the master parent xml should have this prefix?
please remember that there is already the mods prefix in many of these nodes!

e.g.

<olef>
<element>
<bibliographicInformation>
<mods:titleInfo xmlns:mods="http://www.loc.gov/mods/v3">
mods:titleAntwerpsche analytische flora inhoudende de beschyving van alle planten, w

[2012-03-06 14:28] mindcatch-com commented on #371
this is a new requirement no bug, i never assumed that in this case it is better to omit the name tag instead of
reconstructing it from the order.

[2012-03-06 14:29] mindcatch-com commented on #371
i must change the filename tolerance handling routines

[2012-03-06 14:33] wkollernhm commented on #305
This now works.

[2012-03-06 14:33] #305 closed, assigned to mindcatch-com

[2012-03-06 14:35] wkollernhm commented on #311
This should be set in the CP settings (so on a per CP basis).

"allow default selection in settings with Question mark" means that if the tool can't identify a pre-filled value it sets the value to a default selection. (configured in the CP settings).

[2012-03-06 14:38] wkollernhm commented on #370
No, mods should stay mods (since these elements are defined within the mods namespace).

All elements defined within the OLEF namespace should carry the olef: prefix (as defined by the generated XML of the schema mapping  tool).

[2012-03-06 14:41] wkollernhm commented on #371
The problem is, that all pages contain the page-number 1. So it isn't derived from the sequence but rather all of the entries contain the page-name 1.

In addition everything except ID and TYPE is optional for filenames, since some pages simply may not have a type nor a page-number.

[2012-03-06 17:46] chris-sleep commented on #324
testing PI tool current handling with uploaded content and identified metadata service: reading files to database to activate content in the tool ongoing

[2012-03-07 07:48] wkollernhm commented on #321
Please refer to issue #314 for serials.

[2012-03-07 07:48] #321 closed, assigned to mindcatch-com

[2012-03-07 08:38] zhengl commented on #304
Ingest Tool.
https://bhl.wikispaces.com/Ingest+Tool

Content models and examples.
https://github.com/bhle/bhle/tree/master/test/content-model

[2012-03-07 08:38] #304 closed, assigned to zhengl

[2012-03-07 12:03] wkollernhm opened #372 "Reload & Analyze My Current Uploads fails with large content"
When running "Reload & Analyze My Current Uploads" on large content uploads the display fails (the displayed list is truncated).

Example: login as admin on http://bhl-test.nhm.ac.uk/ingest/ and click on "Reload & Analyze My Current Uploads"

[2012-03-07 12:04] wkollernhm commented on #372
@lobajuluwa
@chris-sleep
@heimor

[2012-03-07 14:57] wkollernhm commented on #309
Please implement in PI tool

See Issue #322 for the prepared class.

@mehrrath

[2012-03-08 09:34] heimor commented on #93
taxonfinder delivers results together with "real" scientific names that do not represent scientific names -
those can be distinguished by the existence of an identifier ( NameBankID )
all scientific names are accompanied by an identifier / non scientific names lack such an identifier

we need to exclude such non scientific names from integration into olef metadata

relates to Refactorisation of PI

[2012-03-08 09:44] wkollernhm opened #373 "Certain results from TaxonFinder should be excluded"
Quote from Heimo:

SNIP
taxonfinder delivers results together with "real" scientific names that do not represent scientific names -
those can be distinguished by the existence of an identifier ( NameBankID )
all scientific names are accompanied by an identifier / non scientific names lack such an identifier

we need to exclude such non scientific names from integration into olef metadata
SNIP

See

[2012-03-08 09:46] wkollernhm commented on #373
@chris-sleep
@lobajuluwa
@heimor

[2012-03-08 14:05] mindcatch-com commented on #373
feature implemented.

question: is ubio sending an empty namebankid element or no namebankid
element in this cases (implemented now for second case)

[2012-03-08 14:10] mindcatch-com commented on #371
bug fixed and in case they dont have an page number the name element is not written

for multiple pagenumbers mutliple name elements are generated

Please update FSG that one page file should contain ONLY ONE page otherwise prepare data first.
image data can not be transformed by areas only problems follow with that

[2012-03-08 14:13] mindcatch-com commented on #370
previous bugfix rolled back.
new solution: preingester adds olef ns to all elements written/added by preingest itself

[2012-03-08 14:22] mindcatch-com commented on #311
implemented see history.txt

[2012-03-08 14:56] mindcatch-com opened #374 "http://bhl-int.nhm.ac.uk/preingest/"
database (jenkins) error

please fix asap - no int testing possible

[2012-03-09 10:13] mindcatch-com commented on #374
http://bhl-int.nhm.ac.uk/preingest/ still not working

@wkollernhm
@heimor

[2012-03-09 10:36] wkollernhm commented on #374
The jenkins job for PI has to be triggered. Done & Fixed

[2012-03-09 10:36] #374 closed, assigned to wkollernhm

[2012-03-09 11:29] melitabirthaelmer commented on #348
Content for MSN will be provided by CP-UGOE (#344)

According to UGOE  the name of MSN is mentioned in the metadata. MSN would like to appear as CP in the portal.
If metadata contains the name and it is according the new FSG for PI tool we can ingest it with UGOE as aggregator. If not, we might need to copy the files to the MSN directory after we recieved the content from UGOE.

[2012-03-09 11:31] melitabirthaelmer commented on #347
No CP to date

[2012-03-09 11:33] melitabirthaelmer commented on #342
CP UBFRANKFURT aggregates content from FUBBGBM

[2012-03-09 11:34] wkollernhm commented on #371
The file detection routine is still broke.

When the final METS output is generated I get the following message:

"Error: Filename convention broken! rename your page files according to File Submission Guidelines (FSG)."

In addition the output looks like this:

`<olef:file>`
`<olef:reference type="path">/mnt/nfs/upload/providers/be-nbgb/Upload_20110930/NBGB013726AIGR1889FLOREELE00/NBGB013726AIGR1

[2012-03-09 11:35] wkollernhm commented on #370
All nodes now carry the OLEF namespace prefix.

[2012-03-09 11:35] #370 closed, assigned to mindcatch-com

[2012-03-09 11:39] wkollernhm commented on #373
No taxon-names are written to the output anymore. It seems as if all names are discarded.

E.g. Taxon-Finder returns:
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;results&gt;
&lt;allNames&gt;
    &lt;entity&gt;
        &lt;nameString&gt;Hylocomium&lt;/nameString&gt;
        &lt;namebankID&gt;2642905&lt;/namebankID&gt;
    &lt;/entity&gt;
    &lt;entity&gt;
        &lt;nameS

[2012-03-09 12:18] wkollernhm opened #376 "pdf pagination / naming"
check pdf file for page labels and use this for  pagination information in the output TIF image file naming

pdftk - man pages -
http://www.pdflabs.com/docs/pdftk-man-page/

.....
dump_data
Reads a single, input PDF file and reports various statistics, metadata, bookmarks (a/k/a outlines), and page labels to the given output filename or (if no output is given) to stdout. Non-ASCII characters are e

[2012-03-09 13:40] mindcatch-com commented on #346
ok

[2012-03-09 13:44] wkollernhm opened #378 "Misleading taxon-finder message"
When the taxon-finder step has finished and the user clicks on the book-icon in order to be able to reach the next step the following message is output:

For 0 text files 246 taxon files (.tax) generated and database updated successfully.

This message is misleading, as it sounds as if there are no text files present. Please change the message to output the correct number of text files (in this sa

[2012-03-09 13:44] wkollernhm commented on #378
@lobajuluwa
@chris-sleep

[2012-03-09 13:53] wkollernhm commented on #373
Works with the latest fix

[2012-03-09 13:53] #373 closed, assigned to mindcatch-com

[2012-03-09 14:00] wkollernhm commented on #311
Selecting IPR from a controlled vocabulary is now possible.

[2012-03-09 14:00] #311 closed, assigned to mindcatch-com

[2012-03-09 14:02] mindcatch-com commented on #378
fixed.

[2012-03-09 14:03] wkollernhm opened #379 "IPR text is not written to mods:accessCondition"
The selected IPR license text must be written to the olef:bibliographicInformation/mods:accessCondition field.

See issue #319 for the original description.

See http://www.loc.gov/standards/mods/v3/mods-userguide-elements.html#accesscondition for a detailed description of the field.

@chris-sleep
@lobajuluwa

[2012-03-09 14:04] mindcatch-com commented on #372
@chris-sleep : reconfigure apache/php     check max execution time & outgoing answer size

[2012-03-09 14:14] mindcatch-com commented on #379
cannot reproduce this bug have you a test file url for me?

[2012-03-09 14:18] mindcatch-com commented on #379
have you really started a fresh olef metadata gathering followed by a fresh mets generation ???

@wkollernhm

[2012-03-09 14:18] mindcatch-com commented on #379
have you really started a fresh olef metadata gathering followed by a fresh mets generation ???

@wkollernhm

[2012-03-09 15:28] akohlbecker commented on #332
@chris-sleep @melitabirthaelmer  I will start preparing such script. However i noticed today that there is another volume level sub folder in there  (`/mnt/nfs-demeter/upload/providers/de-gfbs/journal/VOL=2010.10`) with an completely different internal structure, this is the folder which has been uploaded lastly! Therefore we should find out if this is the structure we have to  expect for the uplo

[2012-03-09 16:30] grahamhrbge1670 commented on #341
Completed creation of separate .mrc files for each number of Notes RBGE.  Cannot access FTPS account, password unrecognised, please advise.  Thanks

[2012-03-09 17:47] chris-sleep commented on #372
php and apache limits both currently at default

testing impact on bhl-test (as node is dedicated to PI)

increased max_execution_time to 300 in php.ini, retesting

[2012-03-09 18:06] mindcatch-com commented on #372
thanks chris.

heimo/wolfgang will test this.

besides: git is up to date now i hope jenkins does its job.

br

andy

Mit freundlichen Grüßen,

Ing. Andreas Mehrrath, BSc, MSc

---

Senior Developer - Geschäftsführung

mindCatch(tm) software solutions

Kirchenfeldgasse 9
A-2202 Enzersfeld

Tel.: +43 (0)664 117 01 63
Fax.: +43 (0)1 817 4955 1958

mailto:mehrrath@mindcatch.com

http://www.mindcatch.

[2012-03-09 18:08] chris-sleep commented on #372
memory limit currently 128M: while trying to analyze at-landoe content, error thrown:

Allowed memory size of 134217728 bytes exhausted

testing at 256M.

Increased max_execution time as well; error still occurs but nothing now logged

[2012-03-09 18:16] mindcatch-com commented on #372
i love your ice cold jokes ;o)

besides, memory limit on what exactly (php script,httpd,post...) ?

br

Mit freundlichen Grüßen,

Ing. Andreas Mehrrath, BSc, MSc

---

Senior Developer - Geschäftsführung

mindCatch(tm) software solutions

Kirchenfeldgasse 9
A-2202 Enzersfeld

Tel.: +43 (0)664 117 01 63
Fax.: +43 (0)1 817 4955 1958

mailto:mehrrath@mindcatch.com

http://www.mindcatch.com

---

[2012-03-12 09:58] chris-sleep commented on #372
memory_limit in php.ini is the limit I'm referring to presently

[2012-03-12 10:01] wkollernhm commented on #379
Tested with latest version of integration. Here is how to reproduce:

Select an arbitrary content. Add it to ingest list. Run through all steps, finally create the METS output. Open METS output and search for "accessCondition" -> nothing found.

This only happens if you do not save your ingest list at least once, which means the IPR-Statement from the users preferences are not written to the METS

[2012-03-12 10:05] wkollernhm commented on #378
Fix confirmed

[2012-03-12 10:05] #378 closed, assigned to mindcatch-com

[2012-03-12 10:16] chris-sleep commented on #372
running a comparative test on the host (assuming the content analyzer process reads in complete directory structure from a content provider's nominated upload directory

time ls -Ral

[.....]

real    12m29.899s
user    0m11.117s
sys     0m27.346s

I'll push php.ini max_execution_time up to 20 mins on PI; test against the local web server and provided that behaves will look at the proxy configs to

[2012-03-12 10:31] chris-sleep commented on #372
[Mon Mar 12 10:30:53 2012] [error] [client 157.140.121.245] PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 22544357 bytes) in /var/www/ingest/inc/upload_analyze.php on line 34, referer: http://bhl-test1.nhm.ac.uk/preingest/index.php?menu_nav=ingest_list

analyzer still showing same activating new content window; making the assumptuion the above error means th

[2012-03-12 10:46] chris-sleep commented on #342
No action required for FUBBGGM as a CP in their own right, will need to check content can map to FUBBGBM once UBFrankfurt ingest in place

[2012-03-12 10:47] chris-sleep commented on #372
Analysis popup is now populating, not yet complete but looking good (http connection not via proxy at this point)

apache process : (snapshot, but indicative over ~10 mins observation)

  PID USER      PR  NI  VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
24997 bhladmin  20   0  569m 338m 3664 D   43  4.2   5:15.34 apache2

[2012-03-12 12:12] melitabirthaelmer commented on #339
CP uploaded new content. Please provide feedback for old and new uploaded test content.

<i>Old test content:</i>
.../NAT/ZM/

<i>Additional new content:</i>
- Monographs
  .../NAT/050443844/
  .../NAT/156820781/
  .../NAT/159902428/
  .../NAT/159915546/
  .../NAT/159921813/
  .../NAT/159925142/
  .../NAT/159929369/

Note:
Pagination information is in xls file.
Metadata in txt file. Asked if MARC

[2012-03-12 14:25] wkollernhm commented on #371
Just to clarify: all information except ID and SEQUENCE in the filename are optional.

[2012-03-12 15:04] melitabirthaelmer commented on #332
For future uploads: the same structure as for "de-gfbs/journal/VOL=2010.10 " will be provided.

Therefore two scripts would be needed.
One for the old content and one for the future content. The one for the old content has the higher priority from the content management point of view.

[2012-03-12 19:59] mindcatch-com commented on #379
state: when you have no default and no metadata ipr   - it was empty and you got a error hint message to re-run the
last step

now: ipr handling again extended. a default default (2times right) pre-selection is now activated when preparing metadata
without defaults so an auto default becomes default and the olef this if missing you can change it during process ....

@wkollernhm
@heimor

please tes

[2012-03-12 20:01] mindcatch-com commented on #379
see config_prod.php

[2012-03-12 20:05] mindcatch-com commented on #371
fixed.

this was a bug in error tolerance routines, now they are disabled an at least ID and SEQUENCE have to be present

please consider handling of this for pdfs !!!

the solution now is to gather sequence number from tif file generated via single page extracts and 2 step convert from pdf to ppm to tiff - sequence currently is also used for page number as you know.

@wkollernhm
@heimor

[2012-03-12 22:36] mindcatch-com commented on #376
I NEED ASAP AN EXAMPLE PDF FROM HEIMO PLEASE

and i will try metadata gathering via http://linux.die.net/man/1/pdfinfo
which is already installed at the server side as part of the pdf toolset i use already

@wkollernhm

@chris-sleep : can you please preventively install pdftk please.

@heimor: (I NEED ALSO EXAMPLES FOR SERIALS - please support my time management)

[2012-03-13 00:58] mindcatch-com commented on #322
ahhh finally i found these files myself. there is no directory on the server dev/stomp.....

these files are in /mnt/nfs-demeter/development/stomp-client/

is there any explanation how i should use these functions? at least (1) the message
format and content expected from pi and (2) the desc of the msgs. provided back from
ingest (when / where / what) !!

all i know that we should use the guid....

[2012-03-13 01:30] zhengl commented on #322
@mehrrath

There are three new files based on stomp-client, which are
- MessageHelper.php: Wrapper class of stomp client, please see informIngest ($guid, $uri). The name of message queue is 'preingest'
- send.php: Example of sending messages
- receive.php : Example of receiving messages (without timeout of 60 seconds)

For more information of ActiveMQ, please refer to https://bhl.wikispaces.com/Ac

[2012-03-13 02:00] mindcatch-com commented on #322
@ZhengLIAtos

 please summarize and copy&paste all necessary information for me in one clear document i can
read and implement at once.

i must save time for this task i have no time to inspect all distributed information. also
explain how you use and generate when+which messages and their content for PI.
i must know them and react.

now i must drive home i need some sleep. thanks a lot.

[2012-03-13 09:44] wkollernhm commented on #379
Even if there is a default selection in the preference, no mods:accessCondition is written. The list has to be saved at least once.

The tool should automatically pick the default-selection from the preferences if there is no IPR-info associated to an individual item.

[2012-03-13 09:45] wkollernhm commented on #371
Parsing of filenames works now.

[2012-03-13 09:45] #371 closed, assigned to mindcatch-com

[2012-03-13 12:40] mindcatch-com commented on #379
what the hell, i tested this and i write defaults and defaults to content ... hmm i will check again

[2012-03-13 13:23] mindcatch-com opened #380 "http://bhl-int.nhm.ac.uk/preingest/"
http://bhl-int.nhm.ac.uk/preingest/

not working since yesterday i need it to test
and when it works it kills my testdata....

can you disable auto deploy for this server?

@heimor
@wkollernhm

[2012-03-13 13:26] wkollernhm commented on #380
Integration is used for continuous integration. Therefor auto-deployment will take place there.

[2012-03-13 13:40] mindcatch-com commented on #380
i wrote you a mail

@wkollernhm
@heimor

[2012-03-13 14:03] wkollernhm commented on #379
I'm currently re-verifying on bhl-int. Will post an update shortly.

[2012-03-13 14:18] mindcatch-com commented on #379
can you post the output part please

[2012-03-13 14:19] wkollernhm commented on #379
It seems to work now, at least I cannot reproduce the output. The last time I tested it (this morning) I received a message similar to "IPR information missing, please select it and save at least once).

Anway -> closed.

[2012-03-13 14:19] #379 closed, assigned to mindcatch-com

[2012-03-13 14:27] mindcatch-com commented on #379
i deployed last night at 2:00 am
i think the jenkins job has a problem? database deploy fails sometimes?

[2012-03-13 14:31] mindcatch-com commented on #380
can i help to avoid these problems by modifing the database create script ???
or
only using the update (alter) database script for jenkins?

@wkollernhm
@heimor

[2012-03-13 14:33] wkollernhm opened #381 "Change Jenkins PI-tool Job to run automatically"
The current pi-tool job in jenkins is a parametrized job which means it needs to be invoked by hand (at least it seems so).

Can you please change the job so that it automatically runs without manual intervention?

[2012-03-13 14:33] wkollernhm commented on #379
The PI-tool is a parametrized job, which means it needs to be invoked manually by supplying those parameters. I've created an issue (#381) and assigned it to Zheng in order to change / clarify this.

[2012-03-13 15:20] zhengl commented on #381
Jobs with parameters can be invoked automatically because they have default values.

Now the preingest job detects changes in ~/dev/pre-ingest/ingest folder (except queuing), and triggers itself. Please see [FSTrigger] - Monitor folder.

[2012-03-13 15:28] wkollernhm commented on #381
Well. for whatever reason it doesn't seem to trigger itself even thought we monitor the correct folder. Maybe that is a problem with the FSTrigger? Can you please investigate what the problem is.

All builds so far were manually triggered by me!

[2012-03-13 15:31] zhengl commented on #381
OK, let me check it tomorrow (Need to get some sleep now) :)
I will get back to you asap.

[2012-03-13 17:04] mindcatch-com commented on #380
@wkollernhm
@heimor

again the database problem occurs, int is not useable !!!!
i have not changed anything on git and server. where is my
alternative test environment?

[2012-03-13 17:04] mindcatch-com commented on #380
http://bhl-int.nhm.ac.uk/preingest/

[2012-03-13 17:17] akohlbecker commented on #332
the script for the old structure is ready, although it is not yet creating the volume level:

you can run it in the de-gbfs upload folder by executing e.g:

[code]

[2012-03-14 09:45] melitabirthaelmer commented on #323
Please check additional uploaded folder:

.../RMCA/JAZ_vol_1_2004/

<i>Background information</i>:
RMCA can provide 10 volumes in the same way as the uploaded example.
Discussion in Helsinki between Wolfgang, Larissa, Melita: RMCA has content on article level, but metadata for articles only in xls format and metadata on volume level in MARC format. MARC format also for article level would have bee

[2012-03-14 13:06] akohlbecker commented on #332
@chris-sleep  the gfbs-journal-fix.sh script is now capable of processing the new structure. The sub folder  journal-fixed in the de-gfbs upload folder contains the result of the last run.
How will we extract the tiffs from the pdfs, is it done in preingest or do we need to do it in a script?
@melitabirthaelmer medadata is missing on several levels, will these metadata files be provided by the GFB

[2012-03-14 13:35] melitabirthaelmer commented on #332
Thanks for the scripts.

Regarding metadata question: No additional metadata can be provided by GfBS. They receive the content in that way from the publishing house. GFBS has no possibility at the moment to provide any additional work (new CP).
Maybe we can we use the article level metadata also for the issue/serial/volume?

[2012-03-14 13:37] akohlbecker commented on #333
@chris-sleep i am starting with this upload folder

[2012-03-14 13:51] akohlbecker commented on #333
@chris-sleep  @melitabirthaelmer we need some metadata otherwise we can't make something from these uploads.

[2012-03-14 13:52] akohlbecker commented on #334
@chris-sleep i am now caring for this folder

[2012-03-14 15:15] akohlbecker commented on #335
@chris-sleep i am now caring for this upload folder

[2012-03-14 15:17] melitabirthaelmer commented on #333
Metadata needs to be harvested over OAI-PMH

[2012-03-14 15:42] akohlbecker commented on #333
the folder names are numbers like 27576 these numbers are the only id like information we currently have.
in order to harvest metadata over OAI-PMH we only have these numbers. Can you provide me with a link to the UBER OAI-PMH  service? So i can check if these umbers are meaningful.

[2012-03-14 15:54] akohlbecker commented on #333
Thank you for you email, the folder numbers ( = ${FOLDER_NAME} )are in deed matching the catalog id which is also used as part of the oai-pmh item identifieer;
so we can get the metadata records from (real uri obfuscated by xxx):

[code]

[2012-03-14 18:02] chris-sleep commented on #330
@ZhengLIAtos. @wkollernhm

I've regenerated the .aip on bhl-test for the above content (fr-rennes1/F352382102_46852) - can you please run a test ingest (as soon as ingest deploy on integration is good) and confirm if this content is good to go, then we can give the go ahead for upload to our provider.

[2012-03-14 18:07] chris-sleep commented on #332
@akohlbecker - thanks - my understanding is that the archive forms are generated during PI, and derivative formats will be generated later; we should not need to do so before PI with .pdf as source.

[2012-03-15 07:01] zhengl opened #382 "mods:genre should be a top-level element"
According to MODS schema, mods:genre should be place at top level.
http://www.loc.gov/standards/mods/v3/mods-3-0.xsd

This causes XML validation errors during derivative generation (OLEF->MODS).

[2012-03-15 07:16] wkollernhm commented on #382
What exactly are we talking about. Do you have any example, listing, etc.?

[2012-03-15 07:21] wkollernhm commented on #380
I've created a separate issue in order to fix this. See #381

[2012-03-15 07:21] #380 closed, assigned to nobody

[2012-03-15 07:24] wkollernhm commented on #381
Any update on this issue?

@ZhengLIAtos

[2012-03-15 07:25] zhengl commented on #382
Sorry for not having provided examples.
Please take a look at /mnt/nfs/upload/providers/testdata/spices_prepared/thirtyeightpl00mart/.aip/olef.xml
In short, mods:genre should not be placed under mods:subject.

[2012-03-15 07:35] zhengl commented on #381
github-master is back to normal again (change 'Polling SCM' to 'Build when a change is pushed to GitHub')
And all the other jobs should behave.

@akohlbecker
@chris-sleep

[2012-03-15 07:37] wkollernhm commented on #382
genre is a sub-element of subject as well. Please see: http://www.loc.gov/standards/mods/v3/mods-userguide-elements.html#genre_subject

We are using the official MarcXML to MODS conversion sheet provided by loc: http://www.loc.gov/standards/mods/v3/MARC21slim2MODS3-4.xsl

You are also refering to the wrong MODS version. The most current version is http://www.loc.gov/standards/mods/v3/mods-3-4.xsd

[2012-03-15 07:37] #382 closed, assigned to wkollernhm

[2012-03-15 07:43] wkollernhm commented on #381
I will keep this issue open until the next push, so that we can see if it really works.

[2012-03-15 07:52] wkollernhm commented on #330
Some of the files do use a wrong naming scheme.

0096: there is a whitespace in the name, the type of the page should be after the sequence
0097: type of page should follow the sequence, not the page-number

examples:
"46852_0096_page  0084_blank.tif" => "46852_0096_page_0084.tif" OR "46852_0096_blank_0084.tif"
"46852_0097_page_0085_index.tif" => "46852_0097_page_0085.tif" OR "46852_0097_index_008

[2012-03-15 08:57] wkollernhm commented on #323
The structure looks quite fine. However there are some changes required:
- The order of the fields inside the excel sheet needs to be the same on all levels (on serial, volume & article level).
- Fields which can not be filled on a certain level should stay empty
- Multiple PDFs on one level are not supported. Either they upload them as images or they combine it into a single PDF.
- The serial-lev

[2012-03-15 08:59] wkollernhm commented on #328
The example upload looks fine. @chris-sleep where exactly did you see problems with the article sub-folders?

[2012-03-15 09:00] wkollernhm commented on #326
We need a single format for all levels. Maybe they can provide a sample for the METS data?

If mods or marc-xml for the bibliographic information does not matter - both are fine.

[2012-03-15 11:14] akohlbecker commented on #333
i created a script which fetches metadata from the OAI-PMH service.:

[code]

running this script will download for each of the folders an oai_dc (DublinCore) file and a txt file which contains additinal information like structural information, page type, chapters, pagenumbers, etc.

[2012-03-15 11:27] mindcatch-com commented on #372
the analyzer was optimzed in the last release
in the next release the analyzer will work in pages.

till then use a directory deeper in cp preferences to limit the structure !

@wkollernhm
@chris-sleep
@heimor

[2012-03-15 13:00] mindcatch-com commented on #376
till now i have no example, standard naming and sorting will come to effect (pre-seq_PAGE_seq)

@heimor
@wkollernhm

[2012-03-15 14:28] chris-sleep commented on #372
@wkollernhm - would you like to push the last release to bhl-test, I'll be happy to stress test it there

[2012-03-15 15:48] mindcatch-com commented on #365
please provide examples, the field is not empty now in my test cases

e.g.
mods:recordContentSourceVXG/mods:recordContentSource

what notation do you want instead of VXG ?

VXG, NBGB ?

or do you only  want PI to add the node if missing?

no matter what variante you want i need the definition of the data which should be written in this element.
select it from users table or ...

@wkollernhm
@heimo

[2012-03-15 15:54] mindcatch-com commented on #309
ongoing but no tests possible due lasting server errors i reported +7 times now
besides, i will keep the control files in paralell to be able to renotify via message broker later

if changes were made to the php class i now added to the preingest tool structure
i need a clear notification via github or an push to the preingest ./stomp-client git directory !

@wkollernhm
@heimor
@ZhengLIAtos

[2012-03-15 16:08] akohlbecker commented on #335
@chris-sleep i guess we can try ingesting these uploads even though the image file names of two monographs need some improvement

[2012-03-15 16:17] chris-sleep commented on #341
VoC now updated with marc metadata; marc generation ongoing for volume content.

I've run the preingest tool over: /VOC/VoC_0000_1911_0000 and generated a .aip

@ZhengLIAtos - can you please test this package with the ingest tool and confirm how far forward it will go?
@wkollernhm

[2012-03-15 16:24] chris-sleep commented on #328
@wkollernhm not problems per se; I wanted to be certain my interpretation of the serial on article layout was not missing anything - this was the first I'd assessed.

[2012-03-15 16:26] chris-sleep commented on #335
testing PI against FI-Hb/FI-Hb_300014_notulae_entomologicae - missing metadata

testing PI against fi-uhviikki/FI-Hb/FI-Hb_301493_annales_zoologici/301493_4_1-5_1936/301493_4_1-5_1936.pdf

This item is a pdf with tiff images containing page numbering, some of which have overlapping numbers ( 301493_04_01_0018_page_2.tif  and  301493_04_02_0244_page_2.tif   for example)

[2012-03-15 17:39] chris-sleep commented on #335
@ZhengLIAtos
@wkollernhm

aip generated for fi-uhviikki/FI-Hb/FI-Hb_301493_annales_zoologici/301493_4_1-5_1936, can you please run this through ingest and confirm if it is viable?

[2012-03-15 17:43] chris-sleep commented on #328
running a test PI on selected content: de-ubfrankfurt/BJ2248281/BJ2248281_0001_2248284

metadata is mods so using SMT config: -m c -cm 6 -if <input_file> -of <output_file>

Final .aip preparation complete - errors thrown:

Error: Filename convention broken! rename your page files according to File Submission Guidelines (FSG). (can the offending filename be attached to the error perhaps?)

@ZhengLI

[2012-03-15 19:24] chris-sleep commented on #326
metadata uploaded

mod.xml for each monograph
mets.xml for each monograph

testing PI to validate the mods on de-dilibri/333569

[2012-03-16 06:55] wkollernhm commented on #381
@ZhengLIAtos unfortunately the automatic triggering of the pi job still does not work. Can you please further investigate on this and fix this immediately. Thanks.

EDIT: I've now manually triggered a build - so don't be confused.

[2012-03-16 07:00] wkollernhm commented on #365
If the mods:recordContentSource field already contains the logged in content provider, no change is required. If the mods:recordContent does not exist or contains an entry which is not equal to the content provider login, add a new field with the login data.

Logged in content provider refers to the provider-token preference in upper case.

[2012-03-16 07:05] wkollernhm opened #383 "Report broken filename(s)"
If filenames aren't according to the FSG, the tool detects it and outputs the error message "Error: Filename convention broken! rename your page files according to File Submission Guidelines (FSG).". The name of the actual file must be added to the message so that naming can fixed - else there is no feedback to the user.

@chris-sleep
@lobajuluwa
@heimor

[2012-03-16 07:05] wkollernhm commented on #328
The error message indicates, that some filename couldn't be parsed. This means data in the OLEF will be missing (like page-type and page-number). I've created an issue for this (#383).

[2012-03-16 07:12] wkollernhm commented on #372
@chris-sleep done

[2012-03-16 08:25] akohlbecker commented on #381
@wkollernhm @ZhengLIAtos the last run of the pre-ingest job has been triggered automatically : http://bhle-dev-1.nhm.ac.uk/job/pre-ingest/75/, the pre-ingest-tool job is disabled. I  am unsure which job we are actually talking about since the ticket subject is on the pre-ingest-tool  job but the last comment mentions the pre-ingest job

[2012-03-16 08:35] akohlbecker commented on #336
@chris-sleep i am now starting to review these uploads

[2012-03-16 08:40] zhengl commented on #381
@akohlbecker
@wkollernhm

The pre-ingest-tool job is from AIT I think, so I disabled it.

Hmm...I have spent an hour on this annoying stuff, I just cannot understand why Jenkins triggers this job even there is NO change happened in this folder. It seems the trigger and build step are bundled together, the trigger detects the file modification during the build step, then it starts again and again.

[2012-03-16 09:52] akohlbecker commented on #381
Hmm, the only cause i can imagine is that the running application is modifying files. lets's see:

[code]

I geuss excluding these files from the FS_trigger should cure these symptoms.
BTW we have the same problem in portal-master it is also triggered every 3 minutes the suspect files are

[code]

[2012-03-16 10:23] wkollernhm commented on #381
We are talking about the job "pre-ingest". How about changing the dependencies to always build whenever the main github job builds?

[2012-03-16 10:28] mindcatch-com commented on #383
i added the name of the first 10 files in order as example and added the nomenclatur info to the message

@heimor
@wkollernhm

[2012-03-16 10:41] akohlbecker commented on #381
this would trigger the "pre-ingest" even if only the portal is changed.
Excluding *_/sites/default/files/languages/_.js    from the FS_trigger actually cured the  portal-master job. So we can fix the probelms in "pre-ingest" in thy same way.
Unfortunately the FS_trigger settings for "pre-ingest" are lost due to disabling the trigger, but we can use portal-master  as a template.

[2012-03-16 10:48] akohlbecker commented on #381
I set up the FS trigger for "pre-ingest" accordingly, lets see if it is behaving now

[2012-03-16 11:06] wkollernhm commented on #381
Thanks a lot, I will close this issue once I confirmed that it is working now.

[2012-03-16 11:08] wkollernhm commented on #383
Only the affected files should be reported. The first 10 files might be working but inbetween there might be some incorrect filenames. Change this to report only the broken filenames.

[2012-03-16 11:19] mindcatch-com commented on #383
done.
but be aware that now each corrupt file is reported (may many)

[2012-03-16 11:29] mindcatch-com commented on #383
additional update.
you will now see if structure requirements are not fulfilled much earlier in process when preparing step 2-4 (testing)

@wkollernhm
@heimor

[2012-03-16 12:05] mindcatch-com commented on #383
fixed. see git.

Mit freundlichen Grüßen,

Ing. Andreas Mehrrath, BSc, MSc

---

Senior Developer - Geschäftsführung

mindCatch(tm) software solutions

Kirchenfeldgasse 9
A-2202 Enzersfeld

Tel.: +43 (0)664 117 01 63
Fax.: +43 (0)1 817 4955 1958

mailto:mehrrath@mindcatch.com

http://www.mindcatch.com

---

[2012-03-16 13:02] akohlbecker commented on #336
review done

[2012-03-16 13:57] akohlbecker commented on #337
@chris-sleep i am now starting to review these uploads

[2012-03-16 14:03] wkollernhm commented on #322
This seems to be done, please see #309 and #310 for the actual implementation tasks.

[2012-03-16 14:20] wkollernhm opened #384 "Serial levels"
Serial content contains more than one level of information.

They are:
- Serial
- Section
- Volume
- Article

For a detailed explanation on how to distinguish between the levels please see the File Submission Guideline which is available on the wiki: https://bhl.wikispaces.com/file/view/BHL-Europe_File+Submission+Guidelines.pdf

See issue #314

[2012-03-16 14:22] JiriFrank commented on #384
[comment cleared]

[2012-03-16 14:28] wkollernhm opened #385 "Maintain relations between serial levels"
Relations between each serial level should be maintained using the parentGUID within the OLEF data as well as the RELS-EXT definition in the final METS output.

OLEF see: http://www.bhl-europe.eu/bhl-schema/v0.3/
RELS-EXT see: http://groups.google.com/group/bhle-tech/browse_thread/thread/39c896271f0cbef4/cd4bb048a0950bc1?hl=de&lnk=gst&q=rels

@ZhengLIAtos Please verify RELS-EXT examples for serial

[2012-03-16 15:21] zhengl commented on #385
@wkollernhm

https://github.com/bhle/bhle/tree/master/test/content-model/bhle-cmodel
(List of Content Models)

There is no example for Serial Content Model, I was presuming from the point of hierarchy, monograph and serial are the same, so each serial object just needs to indicate that it is related to bhle-cmodel:serialCModel. Please correct if I am wrong. Then I will add serialCModel to github a

[2012-03-16 15:25] zhengl commented on #384
Question:
Should we also create Content Modeld for Section and Article, say, bhle-cmodel:sectionCModel and bhle-cmodel:articleCModel?

[2012-03-16 15:30] chris-sleep commented on #338
starting review for this content

[2012-03-16 16:14] wkollernhm commented on #385
Please add a own model for serials. This is a significant difference and we should clearly indicate this.

[2012-03-16 16:15] wkollernhm commented on #384
Yes. All of these levels should be clearly indicated.

[2012-03-16 16:16] wkollernhm commented on #381
I've added ignores for temp and config as well, the job now seems to behave fine.

[2012-03-16 16:16] #381 closed, assigned to zhengl

[2012-03-16 16:19] wkollernhm commented on #300
This issue is solved by the PI Jenkins job & the testing machines. Closing.

[2012-03-16 16:19] #300 closed, assigned to wkollernhm

[2012-03-16 16:22] wkollernhm commented on #384
See issue #385 for details on the content model for each level.

[2012-03-16 16:27] wkollernhm opened #386 "Sorting of articles / chapters"
Sorting of articles and chapters should be kept according to the specification found in the file submission guidelines. Therefor ordering is done using directory names for articles.

Keep in mind that in case of "volumes" and "monographs with chapters" ordering might include files on the current folder and files from the sub-folder.

This is all well defined (including examples) in the file submis

[2012-03-16 16:30] wkollernhm commented on #376
A almost perfect example for serials can be found in isse #376 - please get the details from there.

[2012-03-16 18:21] chris-sleep commented on #326
@wkollernhm can you take a quick look please? When I invoke the PI, the output reports:

Executing Schema Mapper...
/mnt/nfs/dev/jdk1.6.0_24/bin/java -jar /var/www/schema-mapping-tool/cli/dist/smt-cli.jar  -m c -cm 6 -if "/mnt/nfs/upload/providers/de-dilibri/333569/333569_mets.xml" -of "/mnt/nfs/upload/providers/de-dilibri/333569/.aip/olef.xml"

Return Code: 1 (Starting conversion of MODS to OLEF.

[2012-03-16 18:25] chris-sleep commented on #326
uploaded mods and mets are not valid:
missing <?xml .....> declaration and encoding data
missing namespace prefixes for mods/mets xsi and xlink
tag mismatch (for sample 333569) - <Region> not closed

(note that smt will write olef from manually corrected mods.xml ok)

this is likely an artifact of the xml coming from the oai_dc wrapped source; that xml holds the missing declarations in the outer w

[2012-03-16 19:04] chris-sleep commented on #326
@ZhengLIAtos - I've generated a .aip for de-dilibri/333569 for test purposes (handcrafted the mods for the SMT step), can you please run a test ingest on this and verify if the package would be good?
@wkollernhm

[2012-03-18 08:25] zhengl commented on #297
Questions:
1. europeana:rights. Which should we choose, mods:accessCondition or olef:ipr? I can see right now mods:accessCondition is filled with un europeana URL.
2. europeana:dataProvider (Content Provider). Where does this information come from OLEF?
3. europeana:isShownAt. Should we choose the URL pointing to BookReader or Portal? What's the final domain of BHL-E?

@wkollernhm

[2012-03-18 16:50] mindcatch-com commented on #376
why serials, this issue is for pdf pagination. i need a pdf with page labels to test this extension!

besides this is no bug this is a feature request. please remove label bug from feature requests.

[2012-03-19 08:45] zhengl commented on #341
Bugs:
1. olef:page/@pageType should be filled with [page, title, cover...] accordingly, but not the serial number. (Book Reader needs this field to judge the title page of each book)
2. Please sort all pages by physical order in XML because it is the only the map the serial number and actual number for each page. Now the front cover is placed at bottom
3. It's better to write the page name in one

[2012-03-19 10:44] wkollernhm commented on #376
Sorry posted the example in the wrong issue, nevertheless you can use the example mentioned above for use with your serial tests.

This is a mix of a bug and a feature, that's why it has both labels.

[2012-03-19 11:05] wkollernhm commented on #341
The file-naming is wrong. It contains an "_" in the serial information which is invalid. So instead of "VoC_1911_0133_Page_131.tif" it should be "VoC1911_0133_Page_131.tif".

Commenting on the bugs from zheng:
1. this is due to the wrong file-naming
2. Sorting takes place by sequence number, this is broken due to wrong file-naming as well
3. Again this is a result of wrong file naming
4. This is n

[2012-03-19 11:12] wkollernhm commented on #297
1. mods:accessCondition, since we will use the simplified version
2. mods:recordContentSource -> see issue #365 as well
3. isShownAt should point to the portal, isShownBy to the book-viewer - however others may want to comment on this as well.

See http://pro.europeana.eu/documents/900548/4968d0bd-416b-48ed-bc67-6a4a47f09098 for reference.

@chris-sleep
@lobajuluwa

[2012-03-19 13:34] akohlbecker commented on #337
@chris-sleep @melitabirthaelmer I aggregated all folders which ave the same structure into one folder. the Folders

ADANS
ARCHI
BMAZO
BMNHN
BMSUP
BMZOO
BUMHN
MEMMN
NARCH
NOTUL

are now found in `./main`

[2012-03-19 14:24] chris-sleep commented on #341
Looks like the VoC filenames need to be aligned; there's an extra underscore between two internalID parts. I'll run a rename script and regenerate the .aip - that should fix the page type bug 1-3.  Provided all is good I'll feed back to GH; these files recently renamed to match FSG when .mrc uploaded

[2012-03-19 15:08] wkollernhm commented on #341
It actually should fix bugs 1-3, and 4 is not a bug.

[2012-03-19 15:10] wkollernhm commented on #346
The FSTrigger plugin always triggered itself since we were changing the config file during build, this means the deployment process was deploying the tool way to often.

I installed the "Files Found Trigger" Plugin which monitors for the config_dev.php file, if it exists it triggers a build. In the build-script I have added a command to delete the config_dev.php file which again disables building

[2012-03-19 15:34] melitabirthaelmer commented on #330
CP informed to change wrong naming for F352382102_46852

Please check additionally following folders:
F352382104_18747_1
F352382104_18747_2

Here CP provided pdf files with OCR. Tiff files in same resolution can be provided in addition, if necessary.

[2012-03-19 17:38] mindcatch-com commented on #372
this is no bug this is a requirement to handle arbitrarily content amount!
this requirement was implemented in the previous update 1.65 beta
in a double nested solution
1. analyzer let you now select one level deeper during the process
2. this level is analyzed and navigable in comfortable pages

the list length per page is defined in config

@lobajuluwa
@chris-sleep
@heimor
@wkollernhm

please te

[2012-03-19 17:45] mindcatch-com commented on #383
fixed since 3+ days please test and close.

@wkollernhm
@heimor

[2012-03-19 17:49] mindcatch-com commented on #365
an additional new field or a replacement for the field with the wrong or missing data ?

@wkollernhm
@heimor

[2012-03-19 20:45] chris-sleep commented on #341
@ZhengLIAtos can you please check the name fixed .aip at uk-rbge/VoC/VoC/namefixes and confirm if this fixes 1-3? Thanks.

[2012-03-20 07:58] zhengl commented on #341
1. fixed
2. not yet
3. fixed

New bugs/suggestion:
1. The label of the "book"(monograph/seral) object is still unchanged. Please fill it with the title of the book (256 characters at most)
2. The label of the page objects should be the same as the page name in OLEF.
Although the above don't have any effect on functionality, but it would benefit the management/maintenance in long term.

And I confi

[2012-03-20 08:31] zhengl commented on #326
ingested. (not yet transformed by Access)

[2012-03-20 09:07] mindcatch-com commented on #309
the stomp client class is not working!

@wkollernhm
@heimor
@ZhengLIAtos

i got no information from the queue with the predefined functions.
tested on int with original class and example provided.

[2012-03-20 09:09] wkollernhm commented on #365
See my second comment:

mods:recordContentSource contains logged in CP => no change
mods:recordContentSource does not exist or contains entry different from logged in cp: => add field

[2012-03-20 09:09] mindcatch-com commented on #309
test url: http://bhl-int.nhm.ac.uk/preingest/index.php?menu_nav=test_mb
test script:  inc/message_broker.php

@ZhengLIAtos

[2012-03-20 09:12] wkollernhm commented on #309
@mehrrath can you please be more specific on what the exact problem is? Are you sending messages but not receiving any?

@ZhengLIAtos please review the class and verify that everything is working.

[2012-03-20 09:18] wkollernhm commented on #372
This browsing should be possible on any level. Considering a serial with 100+ volumes this might get broken again (e.g. user uploads a folder for serial, within that folder 100+ volumes, it would then hang again as soon as the serial folder is browsed).

[2012-03-20 09:21] mindcatch-com commented on #309
i can not be more specific than providing an exact example everyone can view and test on the server.
with the link and url i provided.

i receive nothing when generating the entry and even not when asking the queue
as you may see when you execute.

[2012-03-20 09:23] mindcatch-com commented on #309
https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/inc/message_broker.php

[2012-03-20 09:28] wkollernhm commented on #309
Thanks for clarifying, it wasn't clear to me that both functions do not seem to work.

@ZhengLIAtos please review the example of Andreas and check if everything is working as expected.

[2012-03-20 09:33] wkollernhm commented on #383
I've tried this with the example upload provided by uk-rbge (path: uk-rbge/VOC/VoC_0000_1911_0000/). It contains several invalid named files.

The invalid files are detected but the "Affected File" output is empty.

Example:

Error: Filename convention broken! Minimal requirements (PREFIX_SEQUENCE nomenclatur) not fulfilled.
            Please rename your uploaded page files according to the File

[2012-03-20 09:33] mindcatch-com commented on #309
when i go further i can fix these problems myself an you can start to assign this to mee ;o))))

an example error of wrong include in the code

Warning: require_once(Stomp/Message.php) [function.require-once]: failed to open stream: No such file or directory in G:\dev\nhm\ingest\htdocs\stomp-client\Stomp\Message\Map.php on line 21

br

[2012-03-20 09:44] wkollernhm opened #387 "Sorting of files incorrect"
Sorting of files still does not work correctly.

To clarify: ONLY the sequence should be used for sorting the files. No other criteria is required. See Issue #341 for an example of incorrectly sorted files which contain a valid sequence (and are valid named).

[2012-03-20 09:45] wkollernhm commented on #341
2: this is a bug, please see issue #387

The other two points are new requirements which I do not want to add at this stage. Especially as they are not functional requirements. In addition connections between books etc. are done using GUIDs anyway.

@chris-sleep
@ZhengLIAtos

[2012-03-20 09:46] wkollernhm commented on #309
Quite obviously the Stomp-Framework is missing. If you can fix this yourself go ahead.

[2012-03-20 09:48] wkollernhm commented on #330
Those two folders are fine, thought they do not contain any TIFF files anymore. But one PDF including one MARC file is perfectly fine and can be used.

[2012-03-20 10:06] chris-sleep commented on #341
@ZhengLIAtos excellent news, thanks.

(updated)- looking in fedora I can see this as (eg) http://bhl-int.nhm.ac.uk/fedora/objects/bhle%3A10706-a0x0k6hm ;
So ingested is done to archive storage; what steps are remaining that would allow this book to be presented in the portal?

[2012-03-20 10:12] mindcatch-com commented on #309
no there is obviously nothing missing!
as you can see in git clearly the RELATIVE PATHS in the includes are wrong (e.g. map.php line 21)
the framework is included in original structure untouched but has wrong references in itself

[2012-03-20 10:27] wkollernhm commented on #309
Thanks for pointing out. As you already found the problem please fix it so that you can continue on the ActiveMQ integration.

[2012-03-20 10:35] melitabirthaelmer commented on #340
CP asked for feedback. Provided example of database dump for metadata:
https://bhl.wikispaces.com/Content+_Management+Harmonisation#pas

CP is new and has no possibility for additional work. Please check, if we can use it?

Content would be available on article level. However upload of content depends if we can use the dump for volume and article level metadata or only for volume level.

[2012-03-20 10:51] mindcatch-com commented on #309
this is only one problem. i want zheng to check the code and comment it.
i think there are some small things missing!
i wrote zheng last week and got no answer so i choose this way.

[2012-03-20 11:20] wkollernhm commented on #322
The class still has some issues, see #309

Please fix this.

[2012-03-20 11:21] wkollernhm commented on #309
I've re-opened Issue #322 to address these issues.

Problems should always be addressed using the github issue tracker, not directly by email.

[2012-03-20 11:30] chris-sleep commented on #330
running a PI test on F352382104_18747_1

OLEF ok;

@wkollernhm initial generation of TIF generation reported generating ppm for document (500+ pages) - no console update and timed out, but looks like .ppm created in the .aip folder ok; rerunning the tif step picked those .ppm up and convert ran ok.

I ran a comparison in parallel on 18747_2 (same browser session) - and the first vanished. testing

[2012-03-20 11:46] mindcatch-com commented on #309
the time i sent an email was before real integration.

i solved the problems in stomp-client now myself and continue testing !

@wkollernhm
@heimor
@ZhengLIAtos

stomp-client in preingest now is different to original.

[2012-03-20 12:12] chris-sleep commented on #330
@ZhengLIAtos I've generated an .aip for  fr-rennes1/F352382104_18747_1 - can you please validate this for ingest (and if it's good push it into ingest so we can review how it comes through to the bhl-int portal?)  Thanks.

[2012-03-20 12:19] mindcatch-com commented on #309
@ZhengLIAtos

current error now is: "Failed to receive a message"
please investigate and give me feedback, thanks.

NOW TESTING MB.

Failed to receive a message

END TESTING MB.

again the references:

https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/inc/message_broker.php

test url: http://bhl-int.nhm.ac.uk/preingest/index.php?menu_nav=test_mb

@wkollernhm
@heimor

[2012-03-20 12:36] melitabirthaelmer commented on #323
Question for
"- Multiple PDFs on one level are not supported. Either they upload them as images or they combine it into a single PDF."

Uploaded pdf files in volume directory contain each only one page (7362_JAZ_vol_1_Cover.pdf, 7362_JAZ_vol_1_editorial.pdf,7362_JAZ_vol_1_title.pdf ).
Pagetype information will be lost if merging these 3 pdf files together.
Which pagetype is preferred after merging

[2012-03-20 14:18] wkollernhm commented on #330
@chris-sleep This is by design, but we can consider this as not useful and create a own popup for each action. This however might lead to tons of popups...

[2012-03-20 14:20] wkollernhm commented on #309
@mehrrath Thanks for putting effort into this.

@ZhengLIAtos please investigate on this issue with priority 1 -> we need a solution by tomorrow.

[2012-03-20 14:22] wkollernhm commented on #323
I need to think about this a bit. In fact it would be better to upload single-page TIFFs including the page information.

Why would we have multiple file-formats if they convert everything to TIFF?

[2012-03-20 14:27] chris-sleep commented on #297
the portal final domain will be http://www.bhl-europe.eu/  (without the /portal) -

[2012-03-20 14:32] melitabirthaelmer commented on #323
content is available in pdf format for the articles. Not sure if they are able to convert on their own so many pdf files into tiff (10 more volumes are available in addition)

Article level images would be pdf and the additional pages on volume level would be tiff (in case they convert this three one-page files into tiff) --> multiple file formats for one serial

[2012-03-20 15:58] chris-sleep commented on #326
@ZhengLIAtos Thanks - can I ask a question in ignorance; what does not yet transformed by Access mean?

(I'm guessing - does this mean that the base document has reached fedora, but the transformation is needed to push it to the portal?)

[2012-03-20 18:02] chris-sleep commented on #324
retesting with current PI directly on bhl-test1: ongoing issues with timeout/memory limit so initial activation/read step does not finish.

[2012-03-20 18:04] chris-sleep commented on #338
emailed CP to find if additional metadata and scans are available

[2012-03-21 02:18] zhengl commented on #309
Sorry for my late reply!

Actually, there is no bug. The reason is that we are using a ActiveMQ queue but not a topic. Now Ingest Tool is subscribing to '/queue/preingest', and once this testcase generates a message to '/queue/preingest', this message is swallowed by Ingest Tool immediately, therefore the testcase reports 'Failed to receive a message'.

The solution can be changing '/queue/preinge

[2012-03-21 07:28] wkollernhm commented on #309
@ZhengLIAtos the question is, if it is necessary to use a topic? The PI-tool does not have to receive own messages - if everything is working as expected we can continue with the current solution.

[2012-03-21 07:40] zhengl commented on #309
Sure, I can easily change it back to queue.
Basically, they are the same in our scenario (queue for multiple workers, topic for multiple subscribers, we have only one producer and one consumer). But using queue would be not so testable for Preingest (although we can check it in ActiveMQ Admin http://bhl-int.nhm.ac.uk/admin and Ingest side).

Please give me a "GO" if you have thought it over.

[2012-03-21 07:51] wkollernhm commented on #309
If you have already changed it to a topic, please leave it as it is now. The most important fact is, that it is working. And therefor we keep the current solution.

Thanks for your input.

[2012-03-21 07:52] wkollernhm commented on #322
Works as expected (see issue #309)

[2012-03-21 07:52] #322 closed, assigned to zhengl

[2012-03-21 10:23] chris-sleep commented on #330
CP has corrected F352382102_46852 files, now regenerating the .aip

[2012-03-21 11:14] chris-sleep commented on #330
@ZhengLIAtos can you please also run the ingest on fr-rennes1/F352382102_46852 (as well as fr-rennes1/F352382104_18747_1 above)  to confirm how this looks?

[2012-03-21 11:30] wkollernhm commented on #324
@chris-sleep I've updated the PI tool on test. Please check if it now works (as it contains the latest bugfix for paging)

[2012-03-21 13:45] melitabirthaelmer commented on #328
CP will provide metadata as from now via OAI-PMH.
Metadata available as DC, MODS or METS. Structured data is only delivered by METS.

Already uploaded content (BJ2248281) corresponds to the OAI identifier except the "BJ" infront.

Please retest with OAI metadata.

[2012-03-21 14:02] wkollernhm commented on #328
Folder names must EXACTLY equal the OAI-identifier. Therefor the folder name is invalid. However we can mass-rename the content on our end, we just should communicate this to the CP.

[2012-03-21 15:32] chris-sleep commented on #324
I've kicked off the read/analyse step (currrently connecting directly to bhl-test1; provided that behaves I'll test via proxy next
- update after a few seconds; a directory list is now presented quickly and browsing looks rapid.  Initial feeling is good

testing at-landoe/28148 (need to get the SMT/mapping configuration correct, olef generation not yet behaving)

[2012-03-21 15:46] chris-sleep commented on #324
@wkollernhm the updated PI paging fix looks good, very quick response now on the analyze step

[2012-03-21 16:18] chris-sleep commented on #328
@wkollernhm on that basis I've copied the only upload so far to be:

de-ubfrankfurt/oai:sammlungen.ub.uni-frankfurt.de:2248281/ - is this correct?  (I've not so far renamed anything below that point)

-- update --

if I set the web service to be http://[.......................]/oai?verb=GetRecord&metadataPrefix=mods&identifier=oai:sammlungen.ub.uni-frankfurt.de:

then I can use the folder name sim

[2012-03-21 16:58] chris-sleep commented on #328
(cannot yet test full PI until serial content support in place)

[2012-03-22 11:57] akohlbecker commented on #337
@chris-sleep Phuu - done - this was a mess !!!

[2012-03-22 13:18] mindcatch-com commented on #309
can you clearly say what you have decided, what pi should change or use?

pi currently using

protected $_queue = "/queue/preingest";

and not receiving any messages from this queue due errors you see above.

do you still write the ingest_done.txt to my aip folders ?
(i must have an indicator for "ingest finished")!

do pi generated messages reach active mq correctly?

...
@ZhengLIAtos
@wkollernhm

[2012-03-22 13:24] zhengl commented on #309
Please take a look at https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/inc/message_broker.php

In short, PI sends messages to Ingest via /queue/preingest, and receives messages from Ingest via /topic/ingest.

@mehrrath

[2012-03-22 14:57] mindcatch-com commented on #309
i see you updated the code with a new gathering func.
thanks zheng that says more than 100 words. what i
miss for future is a method for gathering a particular state of
a guid ...

besides:
please never ever use php predefined names like  echo() for your own ones ...

[2012-03-22 14:59] mindcatch-com commented on #309
codes merged, new release comes soon....

[2012-03-22 15:31] mindcatch-com commented on #365
done.

[2012-03-22 15:48] mindcatch-com commented on #387
the sorting is correct but only affects olef where is the problem?

do you need the same sorting and page labels in mets also i think it is so but i can check that again?

i found no example please provide one and i can fix this immediately
my tests are ok and only the sequence counts in the sort routine if it exists !!

[2012-03-22 15:51] mindcatch-com commented on #387
send me the link to the exact example where it fails please.

[2012-03-23 00:57] zhengl opened #388 "OLEF datastream in METS is mal-formed"
In METS of 'book' objects, OLEF metadata is enclosed by a redundant <olef> tag, e.g.

< olef>
< olef:olef xmlns:olef="http://www.bhl-europe.eu/bhl-schema/v0.3/">
< olef:element>
......
< /olef:olef>
< /olef>

[2012-03-23 16:04] mindcatch-com commented on #388
right.
this is a re-generating bug and is now fixed.

[2012-03-26 09:27] #388 closed, assigned to mindcatch-com

[2012-03-26 09:31] mindcatch-com commented on #376
so this is am mix of issues, a mix of bug and feature and a mix of pdf and serials ;O)))

can i please have a pdf pagination example i ask for that since 3 weeks.

[2012-03-26 09:36] mindcatch-com commented on #372
i dont understand what you mean, you can browse each level and have pages now for selection
and you define yourself how man per page. have you tested the feature? nothing hangs because
of new single page view where you define the page length (and therefore the request result size).

[2012-03-26 10:00] mindcatch-com commented on #383
hi wolfgang, please retest this, thanks.

@wkollernhm

besides: can you undock the database update from jenkins main job
it costs much test time when the database is dropped each time
and the layout is stable since last 3 weeks and therefore this dropping and
re-creating makes no sense but costs much time for us both.

[2012-03-26 10:32] mindcatch-com commented on #309
@ZhengLIAtos
have you tested the ready for ingest messages preingest is generating since last week?

@wkollernhm
if they are ok please close

[2012-03-27 00:32] zhengl commented on #309
@mehrrath
Unfortunately, Preingest Tool is not sending messages when I trigger the last step of an item in the list. You can always monitor whether a message is sent or not by monitoring the 'preingest' on http://bhl-int.nhm.ac.uk/admin/queues.jsp. Let me know if I can provide any help.

[2012-03-27 10:24] mindcatch-com commented on #309
i use your framework and get no error back

define ("_MB_ABS",                   _ABS."stomp-client/");
define ("_MB_URL",                   "tcp://bhl-mandible.nhm.ac.uk:61613");
....
$messageHelper = new MessageHelper(_MB_URL);
return $messageHelper->informIngest($content_guid, "file://".$content_aip);

what else is neccessary?

@ZhengLIAtos

[2012-03-27 10:42] mindcatch-com commented on #309
http://bhl-int.nhm.ac.uk/admin/queues.jsp.

shows 24 enqueued messages ....

please solve this issue, problems can only be inside your stomp client i am calling each time the last step was successfull.

thanks andy

@ZhengLIAtos

[2012-03-27 10:51] mindcatch-com commented on #309
as you know you can see everything at:

https://github.com/bhle/bhle/tree/master/pre-ingest/ingest/stomp-client

https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/inc/message_broker.php

[2012-03-27 11:08] mindcatch-com commented on #376
A almost perfect example for serials can be found in isse #376 - please get the details from there.

--->> this is this issue here !!!!????

i am out of ideas i have no correct examples for pdf pagination and serials till now from you.

@wkollernhm
@heimor

@wolf

[2012-03-27 11:13] mindcatch-com commented on #376
@chris-sleep

have you installed the pdftk on the servers as i requested (i have not checked that pro-active) ?

[2012-03-27 11:27] chris-sleep commented on #376
@mehrrath I've added via apt-get

[2012-03-27 12:08] melitabirthaelmer commented on #345
CP uploaded test content.

Please check: .../uploads/MIZPAS/MIZPAS_K1879/

[2012-03-27 12:34] melitabirthaelmer commented on #323
CP adapted content to feedback:
- serial folder & metadata now available
- same structure for all excel files

CP has contact details of authors and editors in the metadata which should not be public. Asked if this information will be shown in the portal. Can we ignore this information during the mapping? If not, CP can delete this information.

Please recheck the metadata files.

Feedback for fil

[2012-03-28 06:58] wkollernhm commented on #376
Sorry, I meant issue #328 - the sample upload of UBFRANKFURT

[2012-03-28 11:06] wkollernhm commented on #387
Log into the pre-ingest tool instance on bhl-test (http://bhl-test.nhm.ac.uk/preingest/) and login as admin (usual credentials). There review the "/VOC/VoC_namefixes" example. It is already fully processed, but when viewing the final output METS / OLEF it contains the file names in invalid order.

[2012-03-28 11:12] wkollernhm commented on #372
Testcase: login as "admin", set "Content Home" to blank (so analyze all content). Click on "Reload & Analyze...". From the listed folders click on "at-landoe". The analyzing stays there and hangs forever. So the folder browser should work recursive, not only for the first level.

[2012-03-28 11:14] wkollernhm commented on #383
I will work something out for not re-creating the DB each time.

[2012-03-28 11:15] wkollernhm commented on #323
We can ignore certain fields during mapping, in fact all fields are ignored unless I explicitly map them.

[2012-03-28 12:28] wkollernhm opened #389 "Storing GUID in metadata"
The minted GUID should be stored in metadata as well.

Place it in olef/element/guid (see http://www.bhl-europe.eu/bhl-schema/v0.3/#Link10)
For serials, parent-guids should be recorded as well (see http://www.bhl-europe.eu/bhl-schema/v0.3/#Link12)

EDIT: Prefix the GUID with "bhle:" for storing, so e.g. bhle:10706/a0qnk9cc

[2012-03-28 12:29] wkollernhm commented on #389
@ZhengLIAtos
@chris-sleep
@lobajuluwa

[2012-03-28 12:58] zhengl commented on #309
@mehrrath

I have completely re-factored the MessageHelper class (add a thread as a subscriber) and I am sure it can more easily adapt to the business process of Preingest Tool.

Please take a look at ~/dev/stomp-client/MessageHelp.php.
and run receive.php and send.php in sequence for testing.

[2012-03-28 13:08] wkollernhm commented on #309
Please post the messagehelper class directly to github, so that Andreas can get it from there (post it into the pi-tool stomp-client directory).

[2012-03-28 13:34] wkollernhm commented on #376
Exact example: "BJ2248281/BJ2248281_0001_2248284"

=> /mnt/nfs-demeter/upload/providers/de-ubfrankfurt/BJ2248281

[2012-03-28 13:56] zhengl commented on #309
https://github.com/bhle/bhle/commit/131fe8ab066251915c4ea7c2ab2196027f4d963f

[2012-03-28 16:54] chris-sleep commented on #326
@ZhengLIAtos I've rerun the ingest test (hopefully olef is now good) on bhl-test for the content de-dilibri//333569-test

this now looks to be in integration fedora as bhle:10706-a0wwpzkp but not yet indexed; can you please take a look and see if all looks good to you? (the ingest.log says status=completed, so is it just a matter of giving it time before checking the portal? fedora status is also

[2012-03-29 11:53] chris-sleep commented on #329
PI run on es-csic/CSIC000324590 with latest PI on bhl-test: monograph

this one stalling at the last step (finishing OLEF pages).

the files are purely IDENTIFIER_SEQUENCE.tif with no type/page number metadata, which previously hasn't stalled, but this time no response comes back. error thrown in apache/error_log recorded in bug #390

[2012-03-29 13:27] chris-sleep opened #390 "Final PI step failing for a monograph without pagetype/number data"
Running PI on es-csic/CSIC000324590 with latest PI on bhl-test: (monograph)
associated issue #329

When I invoke the check/release media step via the PI tool, no response comes back: there's an immediate error thrown in /var/log/apache2/error_log:

PHP Fatal error:  Uncaught exception 'DOMException' with message 'Not Found Error' in /var/www/ingest/inc/inc/olef_mods.php:95\nStack trace:\n#0 /var/w

[2012-03-29 13:45] akohlbecker commented on #333
we seem to have sufficient metadata for 57 monographs of 59 to create a proper folder structure. A script to create the structure is now available. The medatata files are in the work sub folder and ave the fileextension *.txt

[2012-03-29 13:46] wkollernhm commented on #390
Re-assigned to @mehrrath - please fix immediately.

[2012-03-29 13:55] chris-sleep commented on #327
Retesting with current PI incarnation: cz-nmp/G_9007

: harmonising needed (remove initial underscore in the identifier name and remove potential spaces in filenames; creating a quick copy script to do this)

[2012-03-29 16:00] chris-sleep commented on #327
#390 error also occuring for the G_9007 content

[2012-03-29 16:30] mindcatch-com commented on #390
i think i have fixed that problem in 1.70

@chris-sleep

please set error level and display errors in php.ini higher/on, i think this would be appropriate for a test system ;o)

[2012-03-29 17:35] mindcatch-com commented on #309
i will add this release to preingest 1.70
is it tested and do you now want bhle: prefix in guid or not when notify?

regards, andi

[2012-03-30 06:05] wkollernhm commented on #388
Confirmed - this seems to be fixed now.

[2012-03-30 06:08] wkollernhm commented on #365
The mods:recordContentSource is outside the mods:recordInfo tag, which is invalid. Please refer to http://www.loc.gov/standards/mods/v3/mods-userguide-elements.html#recordinfo for details on this element.

[2012-03-30 06:52] wkollernhm commented on #383
This is still broken. I've re-tested it with uk-rbge/VOC/VoC_0000_1911_0000/ - now all affected file entries are  empty.

You can reproduce this error by logging into bhl-test as admin and run the final step on the content quoted above.

[2012-03-30 10:49] wkollernhm commented on #323
Metadata looks fine now. Some other problems still exist:
- multiple-PDFs on volume level: this is currently not supported, either split the PDFs into TIFFs and upload them according to our FSG or combine into single PDF.
- article-folder naming: article-folders should follow the file-naming rules in order to maintain the correct order of the articles. So the folder names should be: 7362-JAZ_06, 7

[2012-03-30 10:54] wkollernhm commented on #328
Yes, the OAI-PMH setup should work that way, if the prefix stays static. Only problem I see so far is the metadata for the volume / article level information. Since those folders should conform to the same naming scheme as well and return a valid metadata entry from OAI-PMH. Will that be the case? (is volume / article metadata available via OAi-PMH at all?)

[2012-03-30 13:40] wkollernhm opened #391 "Multiple article folders ignored"
Multiple article folders within one volume are ignored. Only the first one is processed.

[2012-03-30 13:41] wkollernhm opened #392 "METS output for empty (fake) section"
For empty section folders there is also a METS-output generated. Empty sections must be fully ignored and are only there to harmonize the folder structure.

[2012-03-30 13:42] wkollernhm opened #393 "serials / monograph switch not working"
Switching between serials / monograph processing does not work. Serials processing is always applied.

[2012-03-30 13:43] wkollernhm opened #394 "guids for serials not working"
guids of parent / own level are not written to OLEF output for serials.

See issue #389 for feature request.

[2012-03-30 14:21] melitabirthaelmer commented on #325
Note: Additional content has been uploaded and is ready for ingest. Only a small part will be uploaded additonally until end of April.

[2012-03-30 15:14] mindcatch-com commented on #309
@ZhengLIAtos

please answer my previous question thanks.
can you start testing this again on e.g. sunday?

[2012-03-30 16:30] chris-sleep commented on #390
error_reporting set to = E_ALL | E_STRICT but that doesn't show any more detail in the log;

display_errors is off as the host is an integration test host rather than a general test host, and that will hit testing across a range of applications. I'm happy to identify a content chunk to try an ingest on directly for your development/test machine if that will help?

(note that the issue is still occ

[2012-04-01 12:18] mindcatch-com commented on #383
because every sequence is 1911 in this complete wrong example.
@wkollernhm

[2012-04-01 14:34] tgbhl commented on #345
[code]

1 folder with 247 tiff files and 1 metadata file for a monograph:

[code]

## Actions to take:
1. rename folder and file names to avoid underscore within the serial ID (i.e. rename "MIZPAS_K1879" to "MIZPAS-K1879") or ask the content provider to upload in that format in future
2. remove the surplus zeros in the FileSequenceNumber to have always a 4-digit block (see summary) or ask the cont

[2012-04-01 16:53] mindcatch-com commented on #391
fixed in 1.71 now

[2012-04-01 21:17] mindcatch-com commented on #383
i have seen in namefixes you have corrected this, right? problem occurs there too?

[2012-04-02 07:10] wkollernhm commented on #383
Identifying invalid file names should be possible with any files - of course since thats what the feature is all about.

Doesn't make sense for me to test the output of the warning with valid files only?

[2012-04-02 08:17] wkollernhm commented on #393
works now.

[2012-04-02 08:17] #393 closed, assigned to mindcatch-com

[2012-04-02 08:17] wkollernhm commented on #392
output is now omitted.

[2012-04-02 08:17] #392 closed, assigned to mindcatch-com

[2012-04-02 08:20] wkollernhm commented on #394
still not working as of version 1.71!

guid / parentGUID elements for top-level entry (so the serial entry) are written, but not for all other elements.

In addition the top-level entry (serial-level) has not parentGUID, therefor writing the element there makes no sense.

[2012-04-02 08:21] wkollernhm commented on #391
all folders are processed now.

[2012-04-02 08:21] #391 closed, assigned to mindcatch-com

[2012-04-02 08:22] wkollernhm opened #396 "guid.txt is reported as broken filename"
guid.txt is reported as broken filename in the last step (METS generating).

guid.txt is an internally generated file and therefor should not be reported as invalid file.

[2012-04-02 08:26] wkollernhm opened #397 "dropping content from ingest-list"
when dropping serial content from the ingest-list the aip folders are not dropped recursively. Only the top-level .aip folder is dropped.

[2012-04-02 08:28] wkollernhm opened #398 "ocr reading yields invalid status display"
When starting OCR-reading from the PI-tool the OCR-icon is immediately checked as done and the taxon-finder icon is indicating that taxon-finding is currently running (which is of course wrong).

The background processes all behave fine (so queuing of the commands, etc.) and everything is processed properly, however the feedback to the user is wrong.

[2012-04-02 08:31] wkollernhm opened #399 "taxon-finder process marked as done"
After finishing ocr-reading the taxon-finding process is marked as done immediately. By clicking on the icon taxon-finding can be queued properly and the taxon-finding process runs just fine.

However the feedback to the user is wrong, and moreover it is now possible to mark the item as read for ingest despite the fact that faxon-finding did not take place yet.

[2012-04-02 08:32] wkollernhm opened #400 "RELS-EXT not correctly written"
RELS-EXT content is not correctly written for serial content.

No relations to upper-level items is written and furthermore all items are marked as "monographCModel".

[2012-04-02 08:33] wkollernhm commented on #400
See issue #385 for reference

[2012-04-02 09:06] wkollernhm commented on #309
@ZhengLIAtos
Are notification messages working for you now?

What part is missing from your end to fully automate ingesting content?

[2012-04-02 09:38] chris-sleep commented on #390
1.71 beta (serials 1.0) now generating .aip for monographs again;

[2012-04-02 11:10] mindcatch-com commented on #397
implemented

[2012-04-02 11:11] mindcatch-com commented on #396
fixed.

[2012-04-02 11:32] mindcatch-com commented on #399
investigating in this ...

[2012-04-02 12:17] wkollernhm commented on #397
please don't close unless I've tested the issue

[2012-04-02 12:17] wkollernhm commented on #396
please don't close unless I've tested the issue

[2012-04-02 12:34] mindcatch-com commented on #399
serial or monograph?

@wkollernhm

[2012-04-02 13:12] wkollernhm commented on #399
referring to serials - monographs are working as expected.

[2012-04-02 13:41] mindcatch-com commented on #399
thanks i have found the "problem" in between

but i must note that each step in serials will now become successfull only if any (ALL) media parts in each level of
that serial were successfull in this step, is this ok?

@wkollernhm
@heimor

[2012-04-02 13:43] wkollernhm commented on #399
so you mean the step has to finish successfully on all levels of the serial? If so then yes it is fine.

[2012-04-02 13:54] mindcatch-com commented on #399
yes all levels expect these who are completely empty - these i exclude when processing for any step
the only help as hierarchy information token

[2012-04-02 13:57] mindcatch-com commented on #399
besides, have you still problems in sorting?

@wkollernhm

[2012-04-03 01:32] zhengl commented on #309
I can see the automatic ingest is functioning now, so please be careful when generating some AIP for testing other than ingesting. You can always check http://bhl-int.nhm.ac.uk/ingest/jobs/batchIngestJob for the status of each job.

[2012-04-03 09:08] melitabirthaelmer commented on #324
CP finished content upload.
Additional content: landooe_bhl_20120329

[2012-04-03 10:10] wkollernhm commented on #398
works now.

[2012-04-03 10:10] #398 closed, assigned to mindcatch-com

[2012-04-03 10:11] wkollernhm commented on #396
Works now.

[2012-04-03 10:11] #396 closed, assigned to mindcatch-com

[2012-04-03 10:11] wkollernhm commented on #397
Recursive deleting of .aip folders now works.

[2012-04-03 10:11] #397 closed, assigned to mindcatch-com

[2012-04-03 10:12] wkollernhm commented on #399
issue resolved.

@mehrrath sorting of what?

[2012-04-03 10:12] #399 closed, assigned to mindcatch-com

[2012-04-03 10:16] wkollernhm commented on #309
great, so I can actually close this issue.

Are there any plans to setup a own fedora/access component for test?

@chris-sleep

[2012-04-03 10:16] #309 closed, assigned to zhengl

[2012-04-03 10:40] wkollernhm commented on #394
this almost works now. The parentGUID element is also omitted if the section above is empty.

So if there is an empty section folder (as it is required by the PI tool) it should write the parentGUID of the serial-level folder, which is not done at the moment (no parentGUID is written at all).

Please fix.

[2012-04-03 12:19] wkollernhm commented on #384
@ZhengLIAtos did you already create the missing models?

[2012-04-03 12:20] melitabirthaelmer commented on #349
CP uploaded test content: .../MFN/HerpetologiaMexicana
High quality scans -> Content good for testing PI tool and whole system with large size scans.

Please have a look and give feedback.

[2012-04-03 13:13] wkollernhm commented on #390
@chris-sleep any update on this issue? I do not want to close a bug opened by you, but this seems to work now.

[2012-04-03 13:16] wkollernhm commented on #387
sorting now works for the above example. Assuming this to be fixed.

[2012-04-03 13:16] #387 closed, assigned to mindcatch-com

[2012-04-03 14:24] akohlbecker commented on #333
@chris-sleep
all folders are harmonized, except one folder which is for some reason not properly processed by the create-structure.sh script, here is the according snippet from the logfile wich shows that the create-structure.awk program is not printing any output just "DONE":

[code]

Despite of this one problem we should start the test ingest on uber.

[2012-04-03 14:27] melitabirthaelmer commented on #345
tgbhl provided feedback. Feedback sent to CP.

In addition: Metadata file looks like Marc21, however with .txt file extension. Asked if marc21 file extension possible.

[2012-04-03 16:22] mindcatch-com commented on #372
other solution as discussed implemented.

done.

[2012-04-03 16:23] mindcatch-com commented on #389
fixed.

[2012-04-03 16:24] mindcatch-com commented on #383
done.
1 wrong file is notified per level as example and hints to others...

[2012-04-03 16:25] mindcatch-com commented on #394
fixed.

[2012-04-03 16:57] chris-sleep commented on #390
I've seen the test monograph go forward now, happy to confirm and close this bug, thanks.

[2012-04-03 16:57] #390 closed, assigned to mindcatch-com

[2012-04-03 16:58] chris-sleep commented on #333
@akohlbecker  thanks - I'll set up for a test ingest shortly

[2012-04-03 17:03] chris-sleep commented on #297
integration

isShownAt  will be http://bhl-int.nhm.ac.uk/portal/bhle-view/[guid ref]
isShownBy will be http://bhl-int.nhm.ac.uk/portal/bhle-read/[guid ref]

production

isShownAt  will be http://www.bhl-europe.eu/bhle-view/[guid ref]
isShownBy will be http://www.bhl-europe.eu/bhle-read/[guid ref]

@ZhengLIAtos

[2012-04-04 06:12] mindcatch-com commented on #365
element found right place.

[2012-04-04 16:53] chris-sleep commented on #329
some renaming of content will be needed for final ingest after upload complete, as new items include underscores in the foldernames. (a script is ready to do this).

emailed antonio to ask if we can get the additional serial metadata for the volume parts, we can test the ingests for that content as soon as the metadata is available.

[2012-04-05 13:57] zhengl commented on #389
Please re-confirm this update, I can see all messages from Preingest don't start with bhle prefix.
http://bhl-int.nhm.ac.uk/ingest/jobs/batchIngestJob

[2012-04-05 16:42] mindcatch-com commented on #389
we can add this prefix if you want i have no problem with that !

do you/we need it there?

@heimor
@wkollernhm

[2012-04-10 07:29] melitabirthaelmer commented on #331
Update: CP can't provide MARC files. Only xls possible.

[2012-04-11 09:42] JiriFrank commented on #366
done

[2012-04-11 09:42] #366 closed, assigned to zhengl

[2012-04-11 09:48] JiriFrank commented on #295
The reset button is fixed but not all of the conditions subscribed in the task description are implemented yet.

[2012-04-11 09:48] JiriFrank commented on #286
Done

[2012-04-11 09:50] JiriFrank commented on #278
the function is done and testable,

we are doing the styling now of the metadata icons, will be added till the end of this week.

We are calling it as tagging basket

[2012-04-11 09:56] JiriFrank commented on #240
The direct download from biblio page is ready, the patterns are there, but not active. When they will be active, it will be testable.
@ZhengLIAtos

[2012-04-11 10:44] JiriFrank commented on #124
My account will be valuable just for save query. Save query function need to be implemented. @akohlbecker

It is not necessary to log in for the tagging basket.

[2012-04-11 10:56] JiriFrank commented on #103
It is possible by selecting pages directly in content viewer in case, that the volume is not parsed to the articles. Cannot be tested yet because we do not have volumes or articles content type on the portal at the moment.

[2012-04-11 10:56] JiriFrank commented on #94
Done and testable.

[2012-04-11 12:43] mindcatch-com commented on #384
yes he did

@ZhengLIAtos
@wkollernhm

[2012-04-11 12:44] mindcatch-com commented on #385
tests of zheng seem to be ok, no negative feedback given

[2012-04-11 12:45] mindcatch-com commented on #314
since version 1.69 this is possible

[2012-04-11 12:47] JiriFrank commented on #93
Done and testable in the meaning of functionality.

[2012-04-11 12:49] JiriFrank commented on #88
In the TOC are displayed the scanned pages and not the real pages. The TOC is ready for testing.

[2012-04-11 13:02] JiriFrank commented on #87
Will be done till the end of this week and updated for testing.

[2012-04-11 13:05] JiriFrank commented on #86
Not fully implemented yet.

[2012-04-11 13:05] JiriFrank commented on #84
Done and ready for testing.

[2012-04-11 13:05] #84 closed, assigned to zhengl

[2012-04-11 13:06] JiriFrank commented on #79
Ready for testing.

[2012-04-11 13:12] JiriFrank commented on #72
The CP is displayed but the link is not implemented yet.

[2012-04-11 13:32] mindcatch-com commented on #400
this should be solved since 2 weeks +

[2012-04-11 13:32] JiriFrank commented on #71
The tagging basket is set up and also the download of various metadata from the biblio page.

Download of jpg, ocr and pdf is ready but not active yet. We have just one sample at the moment. http://bhl-int.nhm.ac.uk/portal/bhle-view/bhle%3A10706-a0tqjq56?language=fi

The source will open in new tab.

But we can test it. More active links will come later.

[2012-04-11 13:33] JiriFrank commented on #70
Ready for testing.

[2012-04-11 13:33] mindcatch-com commented on #386
each level is ingested as own entity so where manifests this sorting in deliverables (output, mets,olef)?

[2012-04-11 13:50] JiriFrank commented on #69
Done for content viewer basket.

The tagging basket provide to download of metadata in their typical format.

Ready for testing.

[2012-04-11 13:53] JiriFrank commented on #68
Portal/tagging basket will include just metadata.

Content viewer basket will include various formates pdf, ocr, jpg

The content as pdf, ocr or jpg is possible download from the biblio page on the portal.

[2012-04-11 13:53] #68 closed, assigned to JiriFrank

[2012-04-11 13:55] JiriFrank commented on #67
Some parts if this task as metadata format icons will be available till the end of this week and open for testing.

[2012-04-11 13:56] JiriFrank commented on #52
Done and ready for testing.

[2012-04-11 13:57] JiriFrank commented on #43
Implemented but not functional.

[2012-04-11 14:01] JiriFrank commented on #39
Ready for testing.

[2012-04-11 14:02] JiriFrank commented on #37
Ready for testing.

[2012-04-11 14:02] JiriFrank commented on #36
Ready for testing.

[2012-04-11 14:04] JiriFrank commented on #171
Ready for testing.

[2012-04-11 14:07] JiriFrank commented on #289
Ready for testing.

[2012-04-11 14:10] JiriFrank commented on #288
Ready for testing.

[2012-04-11 14:11] JiriFrank commented on #287
Not fixed yet.
@jhquentin

[2012-04-11 14:12] JiriFrank commented on #284
Is that fixed or not?
@chris-sleep
@jhquentin

[2012-04-11 14:13] JiriFrank commented on #259
fixed and testable.

[2012-04-11 14:15] JiriFrank commented on #182
The sorting by relevance is not fixing the bug. We tested with Chris.

Is really @jhquentin responsible to this bug or it needs to be fixed by somebody else? @chris-sleep

[2012-04-11 14:16] JiriFrank commented on #181
Same as #182

[2012-04-11 14:31] JiriFrank commented on #72
Do we have the link information for CP in the metadata?
@chris-sleep
@melitabirthaelmer

[2012-04-11 14:35] JiriFrank commented on #73
Where we will display the size of the item info? We do not have portal basket for jpg, ocr or pdf. Where we will display that in biblio page? I can imagine it could by displayed in the content viewer basket, but it depends on in which quality you would like to download the content.
@chris-sleep

[2012-04-11 14:36] JiriFrank commented on #75
Done and testable.

[2012-04-11 14:37] JiriFrank commented on #92
Is this a valid requirement?
@chris-sleep

[2012-04-11 14:40] JiriFrank commented on #112
Is testable at the moment on int or test platform. The URL will change for the main domain on the public portal platform, but is stable.

[2012-04-11 14:40] JiriFrank commented on #294
Testable

[2012-04-12 15:06] JiriFrank commented on #36
1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple Search

Description:

Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best ma

[2012-04-12 15:08] JiriFrank commented on #36
1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple Search

Description:

Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best ma

[2012-04-12 15:09] JiriFrank commented on #36
1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple Search

Description:

Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best ma

[2012-04-12 15:13] chris-sleep commented on #92
at this point in time; requirement is valid, default already set in the viewer

[2012-04-12 15:27] JiriFrank commented on #39
1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

---

Testers:
@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFran

[2012-04-12 15:27] JiriFrank commented on #39
1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

---

@GregKenicer
@GeoffHarper
@KasiaGoral
@MartinaMetzger
@DanielFisher
@NeilWoodcock
@SaraPerzley
@Sa

[2012-04-12 15:29] JiriFrank commented on #39
1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)

COR number: 1.2.15
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

---

@PaiviJaakkola
@SiniKarki
@TiinaOnttonen

[2012-04-12 15:40] JiriFrank commented on #52
1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Browse

Description:

Search within previous results with new/ different parameters, not ‘filter search results’
Edit search function in result list.

---

Testers:
@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JF

[2012-04-12 15:40] JiriFrank commented on #52
1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Browse

Description:

Search within previous results with new/ different parameters, not ‘filter search results’
Edit search function in result list.

---

@GregKenicer
@GeoffHarper
@KasiaGoral
@MartinaMetzger
@DanielFisher
@NeilWoodcock

[2012-04-12 15:41] JiriFrank commented on #52
1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Browse

Description:

Search within previous results with new/ different parameters, not ‘filter search results’
Edit search function in result list.

---

@PaiviJaakkola
@SiniKarki
@TiinaOnttonen

[2012-04-12 15:48] JiriFrank commented on #69
1.4.9 - Modify list in batch download basket (renamed, now 3.2.9, Content download)

COR number: 1.4.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Change download formats in 'Batch Download Basket', e.g. PDF, OCR, TIFF, per item/ per list.
Add several pages in content viewer in to the basket using the + icon on pages and open the basket then (right t

[2012-04-12 15:48] JiriFrank commented on #69
1.4.9 - Modify list in batch download basket (renamed, now 3.2.9, Content download)

COR number: 1.4.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Change download formats in 'Batch Download Basket', e.g. PDF, OCR, TIFF, per item/ per list.
Add several pages in content viewer in to the basket using the + icon on pages and open the basket then (right t

[2012-04-12 15:49] JiriFrank commented on #69
1.4.9 - Modify list in batch download basket (renamed, now 3.2.9, Content download)

COR number: 1.4.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Change download formats in 'Batch Download Basket', e.g. PDF, OCR, TIFF, per item/ per list.
Add several pages in content viewer in to the basket using the + icon on pages and open the basket then (right t

[2012-04-12 16:00] JiriFrank commented on #70
1.5.1 - ’Bibliographic information page’ and download bibliographic information (renamed, Metadata view)

COR number: 1.5.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Bibliographic page (through the view record or book title)

Description:

Display important metadata fields:
For articles: title, author, year, page range, journal title (hypertext link to ‘journal page’, volume ti

[2012-04-12 16:00] JiriFrank commented on #70
1.5.1 - ’Bibliographic information page’ and download bibliographic information (renamed, Metadata view)

COR number: 1.5.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Bibliographic page (through the view record or book title)

Description:

Display important metadata fields:
For articles: title, author, year, page range, journal title (hypertext link to ‘journal page’, volume ti

[2012-04-12 16:00] JiriFrank commented on #70
1.5.1 - ’Bibliographic information page’ and download bibliographic information (renamed, Metadata view)

COR number: 1.5.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Bibliographic page (through the view record or book title)

Description:

Display important metadata fields:
For articles: title, author, year, page range, journal title (hypertext link to ‘journal page’, volume ti

[2012-04-12 16:17] JiriFrank commented on #75
2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)

COR number: 2.1.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

Check Scientific name in simple search and use Scientific name category for the search field

[2012-04-12 16:18] JiriFrank commented on #75
2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)

COR number: 2.1.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

Check Scientific name in simple search and use Scientific name category for the search field

[2012-04-12 16:18] JiriFrank commented on #75
2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)

COR number: 2.1.2
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Simple search, Advanced search

Description:

Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

Check Scientific name in simple search and use Scientific name category for the search field

[2012-04-12 16:26] JiriFrank commented on #79
2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)
e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minu

[2012-04-12 16:27] JiriFrank commented on #79
2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)
e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minu

[2012-04-12 16:27] JiriFrank commented on #79
2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search

Description:

Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)
e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minu

[2012-04-12 16:42] JiriFrank commented on #88
3.1.6 - Display selected page or plate listed in table of contents (Content view)

COR number: 3.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

click on page, plate, etc. in TOC and display respective page - use real page numbers in document and not! number of scanned page

The TOC will appear if you click on the small arrow in the middle of the lef

[2012-04-12 16:43] JiriFrank commented on #88
3.1.6 - Display selected page or plate listed in table of contents (Content view)

COR number: 3.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

click on page, plate, etc. in TOC and display respective page - use real page numbers in document and not! number of scanned page

The TOC will appear if you click on the small arrow in the middle of the lef

[2012-04-12 16:43] JiriFrank commented on #88
3.1.6 - Display selected page or plate listed in table of contents (Content view)

COR number: 3.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

click on page, plate, etc. in TOC and display respective page - use real page numbers in document and not! number of scanned page

The TOC will appear if you click on the small arrow in the middle of the lef

[2012-04-12 16:57] JiriFrank commented on #93
3.1.11 - Show all recognized taxa in content viewer (per page) (content view)

COR number: 3.1.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

List scientific names recognised by uBio in content viewer, e.g. per page as in BHLUS portal (lower left box)

The panel with taxon blok will appear if you click on the small arrow in the middle of the left sid

[2012-04-12 16:58] JiriFrank commented on #93
3.1.11 - Show all recognized taxa in content viewer (per page) (content view)

COR number: 3.1.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

List scientific names recognised by uBio in content viewer, e.g. per page as in BHLUS portal (lower left box)

The panel with taxon blok will appear if you click on the small arrow in the middle of the left sid

[2012-04-12 16:58] JiriFrank commented on #93
3.1.11 - Show all recognized taxa in content viewer (per page) (content view)

COR number: 3.1.11
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

List scientific names recognised by uBio in content viewer, e.g. per page as in BHLUS portal (lower left box)

The panel with taxon blok will appear if you click on the small arrow in the middle of the left sid

[2012-04-12 17:04] JiriFrank commented on #94
3.1.12 - Display entry page of document as default page (Content view)

COR number: 3.1.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Show first page of publication, not first page scanned (ideal: with author and title).

The content viewer is set up for this function, but we do not have the information about the title page at the moment. First page

[2012-04-12 17:04] JiriFrank commented on #94
3.1.12 - Display entry page of document as default page (Content view)

COR number: 3.1.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Show first page of publication, not first page scanned (ideal: with author and title).

The content viewer is set up for this function, but we do not have the information about the title page at the moment. First page

[2012-04-12 17:05] JiriFrank commented on #94
3.1.12 - Display entry page of document as default page (Content view)

COR number: 3.1.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer

Description:

Show first page of publication, not first page scanned (ideal: with author and title).

The content viewer is set up for this function, but we do not have the information about the title page at the moment. First page

[2012-04-12 17:07] JiriFrank commented on #112
4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)

COR number: 4.1.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Whole portal

Description:

Copy/paste link of BHL-Europe record/ content in URL bar to your personal website.

The URL will change for the main domain on the public portal platform, but is stable.

---

Testers:
@AnneSch
@AntonioGVH
@fwelte

[2012-04-12 17:07] JiriFrank commented on #112
4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)

COR number: 4.1.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Whole portal

Description:

Copy/paste link of BHL-Europe record/ content in URL bar to your personal website.

The URL will change for the main domain on the public portal platform, but is stable.

---

@GregKenicer
@GeoffHarper
@KasiaGoral

[2012-04-12 17:08] JiriFrank commented on #112
4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)

COR number: 4.1.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Whole portal

Description:

Copy/paste link of BHL-Europe record/ content in URL bar to your personal website.

The URL will change for the main domain on the public portal platform, but is stable.

---

@PaiviJaakkola
@SiniKarki
@TiinaOntto

[2012-04-12 17:13] JiriFrank commented on #171
1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

For more search fields in advanced search use the add field o

[2012-04-12 17:13] JiriFrank commented on #171
1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

For more search fields in advanced search use the add field o

[2012-04-12 17:13] JiriFrank commented on #171
1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

For more search fields in advanced search use the add field o

[2012-04-12 17:15] JiriFrank commented on #182
1.3.1 - Browse by Author

COR number: 1.3.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Browse

Description:

Use Browse option for browse by author.

---

Testers:
@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@RalfH

[2012-04-12 17:15] JiriFrank commented on #182
1.3.1 - Browse by Author

COR number: 1.3.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Browse

Description:

Use Browse option for browse by author.

---

@GregKenicer
@GeoffHarper
@KasiaGoral
@MartinaMetzger
@DanielFisher
@NeilWoodcock
@SaraPerzley
@SaraCarlton
@HannaKoivula
@PaiviLipsanen

[2012-04-12 17:15] JiriFrank commented on #182
1.3.1 - Browse by Author

COR number: 1.3.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Browse

Description:

Use Browse option for browse by author.

---

@PaiviJaakkola
@SiniKarki
@TiinaOnttonen

[2012-04-12 17:22] #286 closed, assigned to jhquentin

[2012-04-12 17:26] JiriFrank commented on #294
3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer basket

Description:

Download the content from content viewer basket in various resolutions.

---

Testers:
@AnneSch
@AntonioGVH
@fwelter
@grahamhrbge1670
@heimor
@HenningScholz
@JFTester
@JiriFrank
@LarissaS
@Ra

[2012-04-12 17:26] JiriFrank commented on #294
3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer basket

Description:

Download the content from content viewer basket in various resolutions.

---

@GregKenicer
@GeoffHarper
@KasiaGoral
@MartinaMetzger
@DanielFisher
@NeilWoodcock
@SaraPerzley
@SaraCarlton
@Hann

[2012-04-12 17:26] JiriFrank commented on #294
3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution

COR number: 3.2.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Content viewer basket

Description:

Download the content from content viewer basket in various resolutions.

---

@PaiviJaakkola
@SiniKarki
@TiinaOnttonen

[2012-04-12 18:44] fwelter commented on #36
Browser Mozilla 5.0 Firefox 2.0.0.16 from 2006, the same problem as
before, nothing can be typed into the search field because moving images
are located in front of the search box.

Francisco Welter-Schultes
Zoologisches Institut, Berliner Str. 28, D-37073 Goettingen
Phone +49 551 395536
http://www.animalbase.org

[2012-04-13 08:58] melitabirthaelmer commented on #330
Following folders have been uploaded by CP and can be ingested:
F352382102_41266
F352382102_41267
F352382102_46890vol2
F352382102_76103
F352382104_30389
F352382104_175509T
F352382104_E732vol17
F352382104_E732vol25

[2012-04-13 08:59] melitabirthaelmer commented on #330
Following folders have been uploaded by CP and can be ingested:
F352382102_41266
F352382102_41267
F352382102_46890vol2
F352382102_76103
F352382104_30389
F352382104_175509T
F352382104_E732vol17
F352382104_E732vol25

[2012-04-13 09:35] GeoffHarper commented on #39
(1) I started by typing 'Plantas medicinales de Filipinas' in Advanced Search, and got a negative result; but I see that Advanced Search doesn't offer a title-only option, so I then tried the same title in Simple Search, and also got a negative result.
(2) Simple Search offers as an alternative 'plantes originales deel Filipinas', but when that is chosen the search result is still negative.
(3) Al

[2012-04-13 09:52] tiinaonttonen commented on #39
System: Windows 7 Enterprise 6.1 (Build 7601: SP 1)
Browser: Firefox 10.0.3

Simple search, default ticks: land*

5 results, including "Guide de la section de l'Etat" and "Bibliografía de la fauna de Guinea Ecuatorial" which both include la ....n... de

char\* 7 results, including "´Bibliografía de la fauna de Guinea Ecuatorial" by "Museo Nacional de Ciencias Naturales, CSIC"

The fuzzy search may

[2012-04-13 10:49] tiinaonttonen commented on #88
Antwerpsche analytische flora inhoudende - the table of content works according to the descripition. It includes Roman and Arabic numbers.

Fauna der näheren Umgebung von Bingen   - works as described  (simple numbering)

Flore élémentaire des cryptogames  - can't read at all, "note The full stack trace of the root cause is available in the Apache Tomcat/6.0.28 logs.
"

[2012-04-13 11:24] GeoffHarper commented on #36
Hi Jiri
  Thanks for the instruction on obtaining the current test list of books; it was in one of your earlier messages, but I'd forgotten. I was working from an old list.
  There isn't much time left so I can't do much. But I've at least found that Simple Search works OK to locate Follmann Uber die unterdevonischen Schichten bei Coblenz.
  However several attempts to type 'U' with umlaut (using

[2012-04-13 11:31] GeoffHarper commented on #39
Hi Jiri
  In Advanced Search I've tried 'uber die unter' (negative result), 'uber die unter_' (positive result) and '_ber die unter*' (positive result). So the wildcard seems to work OK.

(Now that I'm getting the hang of it, I wish I could continue, but I have no more time. My apologies. I hope other testers here will be more efficient than I've been!. Best of luck with the project.)

  Geoff

--

[2012-04-13 20:27] HenningScholz commented on #36
I use the most current Chrome on Win 7 for these tests.

Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 17:06
An: Scholz, Henning
Betreff: Re: [bhle] 1.1.4 - Search with words including diacritic characters (Simple Search) (#36)

1.1.4 - Search with words including diacritic characters (Simple Search)

COR number: 1.1.4
Testing platform: http://bhl-test.nh

[2012-04-13 20:37] HenningScholz commented on #39
This is interesting, using one search string without \* does not work, putting the \* in front of the search term, does not work, but the _at the end of the search string, does work, e.g. *be - no; be_ - yes, be - no.

sometimes it also needs two _, e.g. *werp_, to find anything.

this feature seems to work a bit inconsistently. when I search for be\* and find uber, I should find antwerpsche as we

[2012-04-13 20:43] HenningScholz commented on #52
This is a bit difficult to understand, what should be tested, but the way I understand it works fine...next one.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 17:40
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.9 - Search within previous search results (Advanced Search) (#52)

1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing pl

[2012-04-13 20:55] HenningScholz commented on #70
As discussed during the last tech call, the location info is incorrect, as there is to much in the summary compared to what is in the relevant MODS field.

We can not test for articles and serials yet - nothing in to date.

Thumbnails are not always there, some are missing.

Back to results works, but then the facet list is gone, is this right, should this be the case?

The download option works,

[2012-04-13 21:18] HenningScholz commented on #75
This seems to work in most cases, but not all, e.g. Aira caespitosa, gives no results also the facet list shows the name.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 18:17
An: Scholz, Henning
Betreff: Re: [bhle] 2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search) (#75)

2.1.2 - Search content by scientific (binominal, Latin) name

[2012-04-13 21:20] HenningScholz commented on #79
The given exmple does not work. Anybody has an example that works?

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 18:26
An: Scholz, Henning
Betreff: Re: [bhle] 2.1.6 - Search for synonyms of species names (Advanced search) (#79)

2.1.6 - Search for synonyms of species names (Advanced search)

COR number: 2.1.6
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Functi

[2012-04-15 14:02] tiinaonttonen commented on #112
http://onttonen.sharepoint.com/

Works.

[2012-04-16 09:06] grahamtestrbge commented on #36
Switched to Chrome, as IE10 and Firefox 9 still have display issues, which makes searching impossible.

Simple search for words containing ö, é, ä, working fine.

[2012-04-16 09:51] grahamtestrbge commented on #39
Worked searching for "_rande" and "geogn_" also "_minees" and "gramin_" So on balance it works

[2012-04-16 10:30] tiinaonttonen commented on #294
I'm able to make requests and receive a link, but "The requested resource (Not Found) is not available."

Dear User,

Please click the following link to download your requested digital copy :
link : http://bhl-test.nhm.ac.uk/access/download/offline?path=UxPHGuupzDsqiRbpOGgGlZwYgfZKz9PmOB7cwar56zdiWartoC4Z4g%3D%3D

[2012-04-16 11:52] LarissaS commented on #39
Sorry for starting late!
I am working with Mozilla Firefox.
1. Searching for "belg'" I get proposal from auto complete function "Belgium" - 4 results, "belgique" - 3 results. Choosing first one give me indeed 4 results: two where Belgique is in the title and two where I could not find any word with "belg". Choosing second one give me 0 results! Ignoring auto completion give me 0 results.
2. Search

[2012-04-16 12:27] LarissaS commented on #182
Browse does not give good result. I always get no results or 6 same results for all my attempts (by title, author or year of publication)!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 19:16
To: Smirnova Larissa
Subject: Re: [bhle] 1.3.1 - Browse by Author (#182)

1.3.1 - Browse by Author

COR number: 1.3.1
Testing platform: http://bhl-test.nhm

[2012-04-16 12:34] LarissaS commented on #52
It works but I find interface of advanced search not really user-friendly!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 17:41
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.9 - Search within previous search results (Advanced Search) (#52)

1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: http:/

[2012-04-16 12:52] LarissaS commented on #171
Works fine

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 19:14
To: Smirnova Larissa
Subject: Re: [bhle] 1.2.5 - Combined search in different metadata fields (#171)

1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple searc

[2012-04-16 13:11] LarissaS commented on #94
For Liebrechts and De Moor- cover is displayed, for Trouessart, I see 1 result in autocompletion but no results then I click on it.
For Aigret - blank page is displayed, than I look in thumbnail view then 4 first pages are blank and then scanned pages start.
For Crampton - no images at all, after 5 minutes text appeared but 4 first pages remained blank. I did not wait longer.

.
-----Original Mess

[2012-04-16 13:25] grahamtestrbge commented on #69
Not sure that I'm doing this correctly.  Can add items to basket.  Not properly logged in so not sure about changing download formats.

However some strange things are happening when choosing to remove items from the basket.  In some cases the option to remove is not allowed, and in other instances, title information disappears after choosing remove from basket, although all other data remains, eg

[2012-04-16 14:10] LarissaS commented on #93
Does not work.
Even if I see the taxon name written on the page, searching for the same name give one result on the first page, even if the first page is just cover!

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 18:59
To: Smirnova Larissa
Subject: Re: [bhle] 3.1.11 - Show all recognized taxa in content viewer (per page) (content view) (#93)

3.

[2012-04-16 20:25] HenningScholz commented on #69
The description of the feature is difficult to understand. However, it is no problem to add pages to the basket in the content viewer and manage the basket afterwards. Downloading does not work, it says I get a notification, but the pdf never appears. The same in Firefox, we never discussed the notifiction letter before: "The server has received your request, please wait for our notification lette

[2012-04-16 20:34] HenningScholz commented on #88
That was a cool discovery, I have read about the ToC but never though to look for it, but it works fine. This needs to be properly explained in the tutorial, so people find it. Maybe it should even appear by default and then the user can click it away, if the user need more room to read.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 18:43
An: Scholz, Henning
Betreff:

[2012-04-16 20:36] HenningScholz commented on #93
Yes, this works as well, if the OCR provided good results - the usual problem...also here, the window should be open by default and the user can click it away.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 18:58
An: Scholz, Henning
Betreff: Re: [bhle] 3.1.11 - Show all recognized taxa in content viewer (per page) (content view) (#93)

3.1.11 - Show all recognized tax

[2012-04-16 20:37] HenningScholz commented on #94
Clear, we need better data to display the right page.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 19:04
An: Scholz, Henning
Betreff: Re: [bhle] 3.1.12 - Display entry page of document as default page (Content view) (#94)

3.1.12 - Display entry page of document as default page (Content view)

COR number: 3.1.12
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Fu

[2012-04-16 20:39] HenningScholz commented on #112
I think that works.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 19:07
An: Scholz, Henning
Betreff: Re: [bhle] 4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal) (#112)

4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)

COR number: 4.1.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Whole portal

[2012-04-16 20:53] HenningScholz commented on #171
Seems to work fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 19:13
An: Scholz, Henning
Betreff: Re: [bhle] 1.2.5 - Combined search in different metadata fields (#171)

1.2.5 - Combined search in different metadata fields (Advanced Search)

COR number: 1.2.5
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Simple search

Description:

[2012-04-16 20:56] HenningScholz commented on #182
This is not working. I have compared with the integration site, where it is working, so seems to be that you find the problem.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 19:15
An: Scholz, Henning
Betreff: Re: [bhle] 1.3.1 - Browse by Author (#182)

1.3.1 - Browse by Author

COR number: 1.3.1
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Browse

Des

[2012-04-16 20:59] HenningScholz commented on #294
As mentioned before, the download is not working. I only get the message that a notification letter was sent. Do I have to enter an Email address or not? Do I get the letter to that Email? Can I not just download without giving my Email address? I think this was working better in earlier versions already.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 19:26
An: Scholz

[2012-04-17 07:17] RalfH commented on #294
In the end download is not possible. After selection of items a notification letter is announced. But there is no letter ...

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 19:27
An: Hand, Ralf
Betreff: Re: [bhle] 3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution (#294)

3.2.1 - Download

[2012-04-17 07:48] RalfH commented on #182
Possibly, I am doing the wrong thing.
Well, browsing for authors clicking on certain letters produces correct results but there is no differentiation between family and fore names.

Anyway, in a much more populated data base you will receive endless lists. What is the intention of that feature?

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag,

[2012-04-17 07:58] RalfH commented on #112
It works.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 19:08
An: Hand, Ralf
Betreff: Re: [bhle] 4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal) (#112)

4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)

COR number: 4.1.9
Testing platform: http://bhl-test.nhm.ac.uk/por

[2012-04-17 08:08] LarissaS commented on #294
I have got email later in my spam but could not open the link. Got this message:

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 ÁÐÒÅÌÑ 2012 Ç. 19:27
To: Smirnova Larissa
Subject: Re: [bhle] 3.2.1 - Download single pages/ plates/ figures of document (Content Download) - resolution (#294)

3.2.1 - Download single pages/ plates/ figures of document (Content Downl

[2012-04-17 08:11] grahamtestrbge commented on #75
This is working as far as I can see.  Note that the uBio does not pick up all names on a page, but understand this is not crucial at the moment.  Facet list working as expected.

 Re-tested using "Hordeum vulgare" as test name.  Search for "Hordeum vulgare" in Simple Search with Scientific name box checked : 1 book returned.  Search for "Hordeum vulgare" in Advanced Search set to scientific name,

[2012-04-17 08:27] LarissaS commented on #88
For some books it works for other not, depends on the data available I suppose. What would be nice to see is not only number, but "page X"
"Contents", "blank page", "plate X", "index".

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 18:43
To: Smirnova Larissa
Subject: Re: [bhle] 3.1.6 - Display selected page or plate listed in table of contents (

[2012-04-17 08:59] grahamtestrbge commented on #79
Have been trying one or two synonyms, but none work: eg. Ficus cunia =  F. conglomerata. Triticum persicum = T. carthlicum.  However, not being a botanist, I don't have expert knowledge of synonyms within an individual genus.  None of the terms I've put in work.  However, I could also not be understanding the workflow here.

[2012-04-17 09:00] RalfH commented on #93
It works - more or less. Taxon names such as Calluna are found but not if they are hyphenated (as in my case: "Calluna-mats"). There seem to be problems as well if epithets' initial letters are capital letters (in some older sources; e.g. Arctostaphylos Uva-ursi). This seems to confuse the system. And the epithets are displayed as generic names.

In many cases listing of taxon names is far from co

[2012-04-17 09:01] RalfH commented on #93
PS: The panel is really difficult to be found for a new user.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 18:58
An: Hand, Ralf
Betreff: Re: [bhle] 3.1.11 - Show all recognized taxa in content viewer (per page) (content view) (#93)

3.1.11 - Show all recognized taxa in content viewer (per page) (content view)

COR number: 3.

[2012-04-17 09:12] RalfH commented on #88
I works but there is a certain diversity which could confuse users.

Antwerpsche analytische flora: page numbers in panel identical to the "true" ones.

Kvetena ceskeho ...: numbers of scanned and true pages differ considerably. No indication of not paginated plates.

Obviously really a question of proper data available.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.

[2012-04-17 09:21] wkollernhm commented on #385
RELS-EXT relations now seem to be written correctly. This issue can be closed.

[2012-04-17 09:21] #385 closed, assigned to mindcatch-com

[2012-04-17 09:22] wkollernhm commented on #389
GUID are correctly stored in metadata now.

@ZhengLIAtos what is the format of the bhle-guid you need for your ingest to process correctly?

[2012-04-17 09:22] #389 closed, assigned to mindcatch-com

[2012-04-17 09:22] wkollernhm commented on #394
GUID / ParentGUID are now written correctly.

[2012-04-17 09:22] #394 closed, assigned to mindcatch-com

[2012-04-17 09:22] wkollernhm commented on #400
Models are now correctly written, including relations to  upper levels.

[2012-04-17 09:22] #400 closed, assigned to mindcatch-com

[2012-04-17 09:34] zhengl commented on #389
Yes

[2012-04-17 09:35] wkollernhm commented on #389
@ZhengLIAtos thats not a yes/no questions. Are the guid now correctly reported to the ingest so that it works?

[2012-04-17 09:43] zhengl commented on #389
Actually we are talking about two different topics.
1. I can see in OLEF olef:guid is written correctly, and there is no problem during the transformation in Access.
2. For ingest side, it is not about the GUID stored in OLEF, it is about the message sent from Preingest. It works fine.

[2012-04-17 09:46] RalfH commented on #94
As in 3.1.11: It's all about the data and the informations provided. Not much can be commented at the moment.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 19:04
An: Hand, Ralf
Betreff: Re: [bhle] 3.1.12 - Display entry page of document as default page (Content view) (#94)

3.1.12 - Display entry page of document as default p

[2012-04-17 09:48] grahamtestrbge commented on #88
Like Henning, I found the TOC a bit too hidden and just chanced on it - However it works, and I've noted a problem in the one RBGE book in the test, and need to follow it up, this must have to do with pagination sequencing   Checked 5 other titles:

Museo Nacional de Ciencias Naturales, page sequence does not correlate with ToC
Traite de graminees cereales - page sequence correlates with ToC
Flore

[2012-04-17 10:00] grahamtestrbge commented on #93
I agree with Ralf's observation regarding the missing names, checking Vegetation of Caithness, Salix and Potentilla  are missing. However it is good that the facility has been put in place.

Quality of OCR is difficult to assess.  Looking at 1 page in Flore elementaire des cryptogames (page 32) it contains 9 genus names in a key (all in bold non-italicised)  11 species names (non-italicised, but i

[2012-04-17 10:15] grahamtestrbge commented on #94
This does not work well, checked 4 titles, and couldn't retrieve Title Page easily, however, this must be because there is no flag in the ToC box to say that a page is a Title Page

[2012-04-17 10:50] RalfH commented on #70
Display and download work. But there is often (always?) a duplication of data on publishers and publication dates which are repeated under place of publication. These redundancies much inflate the info box for metadata.

btw: French accents è é are not displayed correctly (see e.g. the title Les oiseaux utiles).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gese

[2012-04-17 11:00] RalfH commented on #69
Selecting and adding pages work. Opening and display of basket ok. But download does not work because of that letter thing. One does receive an e-mail with a link but in the end download is not possible - at least at the moment.

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 17:49
An: Hand, Ralf
Betreff: Re: [bhle] 1.4.9 - Mod

[2012-04-17 11:15] wkollernhm commented on #389
I was aware of that - but thanks for clarifying.

[2012-04-17 11:15] wkollernhm commented on #365
Logged in content provider is correctly added on all levels.

[2012-04-17 11:15] #365 closed, assigned to mindcatch-com

[2012-04-17 11:22] grahamtestrbge commented on #171
Works when using author + year; title word + author; language + author.  Think that the use notes should have a text box that says that when doing a combination search the box in each search field needs to be ticked.

Tried some searches using Author and part of Place, eg Aigret AND Namur, this did not retrieve any results.  But perhaps this is not how that function should be used.

[2012-04-17 11:25] LarissaS commented on #70
Number of pages and page range is missing. Content provider and collection is the same? Where is or should be abstract? Is it the same as the summary?
Did not find "back to result list".

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 12 апреля 2012 г. 18:00
To: Smirnova Larissa
Subject: Re: [bhle] 1.5.1 - 'Bibliographic information page' and download bibliographi

[2012-04-17 11:38] LarissaS commented on #75
Sorry, it was more for this function:
Now after email of Henning I see this arrow! This is really difficult to find, how you want to explain all users where to look for?!
It works but not properly.
For example, I open Vinson and in facet list I see a lot of scirntific names. I use Attus (13 results) and via advanced search I indeed get Vinson back, but it's not shown on what pages I can find Attus

[2012-04-17 11:51] grahamtestrbge commented on #182
Agree that the retrieved results seem to be drawing in all parts of the Author name field, beginning with the upper case form of the letter browsed, eg, Aigret, Amedee for A and Follmann and Friedrich for F.   Would be better if it only retrieved surname.

Browsing on Title also retrieves all occurrences of words in the title beginning with the browse letter selected.

[2012-04-17 12:30] RalfH commented on #171
It works but as in the first testing phase I have problems as regards the ranges of years. None of the recommended methods work (1800-1900, 1800 TO 1900 ...).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 19:14
An: Hand, Ralf
Betreff: Re: [bhle] 1.2.5 - Combined search in different metadata fields (#171)

1.2.5 - Combined sea

[2012-04-17 12:52] RalfH commented on #52
It works fine (hopefully, I have tested what you were asking for).

-----Ursprüngliche Nachricht-----
Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Donnerstag, 12. April 2012 17:41
An: Hand, Ralf
Betreff: Re: [bhle] 1.2.9 - Search within previous search results (Advanced Search) (#52)

1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: h

[2012-04-17 14:00] AntonioGVH commented on #69
This is an extremely brilliant option (congratulations) But... it takes a bit to know how to do it.
- One possible confusing aspect is that in the 'content viewer' there are two '+' at a time. One in the low right corner (zoom) and one in the upper part. This last one is the one  functional for this process.
- The second confusing aspect is that the 'content viewer' basket is different than the ge

[2012-04-17 15:21] AntonioGVH commented on #93
Not all taxa in page recognized by uBio.

I include a screen shot of a page of 'Los coleopteros de Marruecos' and the taxonomic name in page are many more than those listed in the left.

Antonio

-----Mensaje original-----
De: JiriFrank [mailto:reply@reply.github.com]
Enviado el: jueves, 12 de abril de 2012 18:58
Para: AntonioGVH
Asunto: Re: [bhle] 3.1.11 - Show all recognized taxa in content view

[2012-04-17 20:42] KasiaGoral commented on #36
I use Firefox 11 for Ubuntu.

Searched for München.
No result.

Searched for Nürnberg.
No result.

Searched for Düsseldorf.
No result.

[2012-04-17 20:42] KasiaGoral commented on #39
Searched for:
1. 'Uni\* of Edin*'

(University of Edinburgh)
- Error 400
1. 'hort*'
- No result

(Horticulture)
1. 'libr*'
- No result

(Library)

[2012-04-17 20:56] KasiaGoral commented on #294
I use Firefox 11 for Ubuntu.

Download works fine.

[2012-04-17 21:07] KasiaGoral commented on #79
I use Firefor 11 for Ubuntu.

Searched for _Buxus sempervirens. *Expanded search with *Lonicera
sempervirens._

No result.

[2012-04-17 21:36] KasiaGoral commented on #88
I was hard to find ToC. I checked 2 books:

The vegetation of Caithness considered in relation to the geology - page
sequence correlates with ToC, but some pages missing at the end of the book.

Vier landw. Studiengänge durch die Gemarkung Niederlahnstein und ihre
Flurdistrikte - page sequence does not correlate with ToC

[2012-04-17 21:42] KasiaGoral commented on #94
Works for 'Vier landw. Studiengänge durch die Gemarkung Niederlahnstein und
ihre Flurdistrikte'.
For 'Über die unterdevonischen Schichten bei Coblenz' the cover page
appears.
For 'The vegetation of Caithness considered in relation to the geology' the
first 3 pages are blank.

[2012-04-17 21:49] KasiaGoral commented on #182
When browsing by letter 'C' I got 7 results, some of them did not
correspond with the browsing letter, e.g. Barreiro, Agustín Jesús.,
Hernández-Pacheco y Esteban, Eduardo.

[2012-04-17 21:53] KasiaGoral commented on #75
Works fine.

[2012-04-17 22:05] KasiaGoral commented on #52
No too sure what you mean by 'different parameters' - should I change my
search settings from e.g. 'scientific name' to 'author'?

If yes, search works fine. Noticed that scientific name searched with
parameter 'common name' still works.

[2012-04-17 22:10] KasiaGoral commented on #93
Searched for *Ajuga repens. *No taxa shown in the contet viewer of 'The
vegetation of Caithness considered in relation to the geology'.

[2012-04-18 06:35] KasiaGoral commented on #36
Sorry, misunderstood the task and searched for words not in the current
book list.

This time searched for:

Studiengänge
One result - 'Vier landw. Studiengänge durch die Gemarkung Niederlahnstein
und ihre Flurdistrikte'. Did not get results with Unicode translation
though.

[2012-04-18 06:39] KasiaGoral commented on #39
Sorry, misunderstood this task as well and searched for words not in the
current book list.

This time searched for:

'Les oise\* utiles'
No result.

'Les oisea\* utiles'
No result.

Even 'Les oisea\* utiles' gives no result.

[2012-04-18 07:48] AntonioGVH commented on #94
I looked for:
"Antwerpsche analytische flora inhoudende de beschyving van alle planten, welke in de provincie Antwerpen, in de vrye natuer, groeijen of er algemeen gekweekt worden. Eerste del"

And the first page (default, was the hard cover of the book (no authors's name neither book title).

Looking through the book I noticed that it jumps from page 192 to page 233 and I don't know if this is du

[2012-04-18 08:18] SiniKarki commented on #294
Firefox 10.0.3, cannot open download link .

Please click the following link to download your requested digital copy :
link : http://bhl-test.nhm.ac.uk/access/download/offline?path=UxPHGuupzDsqiRbpOGgGlZwYgfZKz9PmOB7cwar56zdiWartoC4Z4g%3D%3D

The requested resource (Not Found) is not available.

[2012-04-18 08:58] SiniKarki commented on #171
Seems to work.
How to use OR NOT box, option not quite clear.
"Place" search does not seem to work.

Searching ' flore OR flora '  In title: 3 results, In scientific name: 0 results, In title and scientific name: 4 results including:

Květena českého cenomanu: BibTex : keywords="fossil flora",

[2012-04-18 09:20] SiniKarki commented on #88
Flore élémentaire des cryptogames - ToC works. It would be useful if the ToC-box were easier to find.

(With correct page numbers can even use  the Alphabetical table of species names on page 231)

[2012-04-18 09:53] AntonioGVH commented on #171
Strange behavior of the portal.

I did a query as shown in screen shot First and get the error message shown in screen shot Second

-----Mensaje original-----
De: JiriFrank [mailto:reply@reply.github.com]
Enviado el: jueves, 12 de abril de 2012 19:14
Para: AntonioGVH
Asunto: Re: [bhle] 1.2.5 - Combined search in different metadata fields (#171)

1.2.5 - Combined search in different metadata fields

[2012-04-18 10:16] AntonioGVH commented on #182
It seems that doesn't work in my computer.

I clicked by 'title' and letter 'L' (screen shot First) and I got a list of titles not all beginning by 'L' (screen shot Second).

Then I changed to 'author' and clicked on letter 'E' (screen shot Third) and I got the same list of books as in the previous query (Screen shot Fourth).

The family name of the authors obtained in the second query  do not beg

[2012-04-18 10:38] AntonioGVH commented on #294
There is something strange about this option.

If I save a plate directly from the screen into my computer (not through the basket) I obtain a high definition image (1503 x 1920, image included in this email).

If I put the plate in the basket and then ask to send it to my email in 'jpeg' format I get the following link, that leads to an error screen in my computer (screen shot First included):

-

[2012-04-18 19:46] AnneSch commented on #52
Works fine.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 17:40
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.2.9 - Search within previous search results (Advanced Search) (#52)

1.2.9 - Search within previous search results (Advanced Search)

COR number: 1.2.9
Testing platform: http://bhl-test.nhm.ac.uk/portal/
Function: Advanced search, Browse

Description:

Search w

[2012-04-18 20:03] AnneSch commented on #69
First: The Book viewer does not work with my internet explorer (IE 9), I had to change (same as first testing phase) to Firefox.

I do not know if I did the requested things in the right order, but I managed to do it and also got something in my email inbox.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 17:48
An: Scholz, Annemarie
Betreff: Re: [bhle] 1.4.9 - Modify l

[2012-04-18 20:39] AnneSch commented on #88
Works, after I had found the TOC... really hard to find without any hints.

---

Von: JiriFrank [mailto:reply@reply.github.com]
Gesendet: Do 12.04.2012 18:43
An: Scholz, Annemarie
Betreff: Re: [bhle] 3.1.6 - Display selected page or plate listed in table of contents (Content view) (#88)

3.1.6 - Display selected page or plate listed in table of contents (Content view)

COR number: 3.1.6
Testing pl

[2012-04-19 06:57] wkollernhm opened #402 "Ingesting of volume fails"
I've just done a test-ingest of a serial provided by UB-Frankfurt. The PI process runs fine and ingested works as well except for the volume level ingest.

Can you please review the error and indicate what's wrong?

The Job-ID of spring-batch is 84, the error message returned is:
com.bhle.ingest.batch.IngestException: com.yourmediashelf.fedora.client.FedoraClientException: HTTP 500 Error: javax.ws

[2012-04-19 07:42] zhengl commented on #402
The error happens in mods:recordContentSource, this tag has multiple namespace (one enclosed and one outside in mods:relatedItem). Removing the namespace definition in mods:recordContentSource can fix the problem.

[2012-04-19 10:44] akohlbecker opened #406 "Solr syntax special characters '[' and ']' are no longer escaped"
Solr syntax special characters '[' and ']' are no longer escaped and are causing errors if they are being used in query terms.

[2012-04-19 10:46] wkollernhm commented on #402
I fixed this namespacing issue and tried to re-ingest the serial, however it now seems as if spring-batch is frozen (I can't view the job list). Can you check this please?

[2012-04-19 10:55] akohlbecker commented on #406
@karlos007 @jhquentin  Hi at it4care who ever was working on the browse by year functionality!

it is nice that the [1640 TO 2020] syntax is without the ugly looking \ characters but this causes a BUG since you had to remove the escaping of the brackets. In the past there was an intensive discussion on how to solve the dilemma of allowing to search for intervals and to also allow users entering re

[2012-04-19 11:25] zhengl commented on #402
Yes, I can see spring-batch is somehow frozen, but after a short while it resumed.

[2012-04-19 11:37] akohlbecker opened #407 "1.1.11 - Search for URL of document (now Advanced Search 1.2.17)"
forked of from #43

Search by URL

Precondition: stable URL available in metadata

[2012-04-19 11:37] akohlbecker commented on #43
Search for ID fixed with 8015511 AND forking of new ticket for "Search for URL of document" since document URLs are not yet available in metadata : #407

[2012-04-19 11:37] #43 closed, assigned to akohlbecker

[2012-04-19 13:02] tgbhl commented on #345
After feedback, MIZPAS continued uploading in a perfect format (InternalIdentifier without underscore, 4-digit FileSequenceNumber, and always providing PageType and PrintedPageNumber).

Only the metadata file is missing sometimes (in MIZPAS-K1672, MIZPAS-K1915, and MIZPAS-K2205) by now.

May anyone have a look if /mnt/nfs-demeter/upload/providers/pl-mizpas/MIZPAS-K1879/MIZPAS-K1879.rec is a valid

[2012-04-19 18:14] tgbhl commented on #340
I'm writing a script which downloads the article PDFs from their website and creates metadata files using a recent dump of the mentioned database. See [pre-ingest/data-harmonisation/pl-pas](https://github.com/bhle/bhle/tree/master/pre-ingest/data-harmonisation/pl-pas).

[2012-04-20 11:19] akohlbecker commented on #406
fixed

[2012-04-20 11:19] #406 closed, assigned to nobody

[2012-04-22 01:14] zhengl opened #409 "Bug summary of the 30 monographs as testdata"
25 monographs completed
5 failed

Bugs:
1. be-nbgb/Upload_20110930/poeppig_1841_nova_genera/.aip/bhle_10706_a08w9gk7-00002.xml
    the file field is empty, xlink:href="file://"
2. be-rmca/Monographs/Lemaire_Disricts/.aip
    No such directory
3. be-rmca//Monographs/Eberstaller_Stirnhirn/.aip/bhle_10706_a080gb6v.xml
    illegal characters in XML, mods:subTitle<<ein>> Beitrag zur Anatomie der Oberfl

[2012-04-23 11:01] JiriFrank commented on #36
Ready to close

[2012-04-23 11:01] #36 closed, assigned to akohlbecker

[2012-04-23 11:08] JiriFrank commented on #37
Waiting for more content with non Latin alphabets.

Observed problem with special characters in French. e.g. http://bhl-int.nhm.ac.uk/portal/bhle-view/bhle:10706-a0tqjq56

@akohlbecker
@chris-sleep

[2012-04-23 11:29] JiriFrank commented on #39
Ready for close.

[2012-04-23 11:29] #39 closed, assigned to chris-sleep

[2012-04-23 11:35] JiriFrank commented on #52
Ready for close.

[2012-04-23 11:35] #52 closed, assigned to JiriFrank

[2012-04-23 11:38] JiriFrank commented on #67
Implemented and functional.

[2012-04-23 11:42] JiriFrank commented on #87
Implemented and functional.

[2012-04-23 11:42] #87 closed, assigned to JiriFrank

[2012-04-23 12:00] akohlbecker opened #410 "hit highlighting in search results not working with Umlauts"
hit highlighting in search results not working with Umlauts:.
1. search for     uber\* Title : "Über" is highlighted
2. search for     über\* Title : "Über" is NOT highlighted

[2012-04-23 12:45] #67 closed, assigned to chris-sleep

[2012-04-23 12:56] JiriFrank commented on #70
The Bibliographic page is set up mainly for the monographs now, because other content type is still not available.

The location issues is problem of the data in MODS. It was reported to Chris. The separate location info for this field were missing.
@chris-sleep

The issues with thumbnails were fixed by Zheng.
@ZhengLIAtos

There is reported bug with missing left column in result list when you are

[2012-04-23 13:15] JiriFrank commented on #88
The TOC column will be displayed as default.

The function is working properly, depending on the data.

Ready for close.

[2012-04-23 13:15] #88 closed, assigned to zhengl

[2012-04-23 13:20] JiriFrank commented on #93
The function is implemented and functional. The taxa are displayed depending on the quality of OCR.
Ready for close.

[2012-04-23 13:20] #93 closed, assigned to JiriFrank

[2012-04-23 14:19] JiriFrank commented on #94
Works, depending on data.
Ready for close.

[2012-04-23 14:19] #94 closed, assigned to zhengl

[2012-04-23 14:23] JiriFrank commented on #112
Works. Ready to be closed.

[2012-04-23 14:23] #112 closed, assigned to chris-sleep

[2012-04-23 14:31] JiriFrank commented on #171
Is the place category valid? Are all categories in advanced search block active or functional?
Will be the combined categories from simple search hidden in Advanced search block?
@akohlbecker
@chris-sleep

[2012-04-23 14:32] #171 closed, assigned to chris-sleep

[2012-04-23 14:37] JiriFrank commented on #182
The Browse by author function is using first letter of all words in title field, because there is not consistency in position between the first, middle or last name. The result is highlighted in result list to explain to the user why this content were chosen.

Ready to be closed.

[2012-04-23 14:37] #182 closed, assigned to jhquentin

[2012-04-23 14:38] JiriFrank commented on #259
Ready to be closed.

[2012-04-23 14:38] #259 closed, assigned to wkollernhm

[2012-04-23 14:39] JiriFrank commented on #278
Works. Ready to be closed.

[2012-04-23 14:39] #278 closed, assigned to JiriFrank

[2012-04-23 14:39] JiriFrank commented on #288
Ready to be closed.

[2012-04-23 14:39] #288 closed, assigned to akohlbecker

[2012-04-23 14:41] JiriFrank commented on #289
Works. Ready to be closed.

[2012-04-23 14:41] #289 closed, assigned to akohlbecker

[2012-04-24 06:07] wkollernhm opened #411 "Bad resolution in book viewer"
The maximum resolution in the book viewer must be the same as provided by the CPs.

Example: http://bhl-int.nhm.ac.uk/portal/bhle-read/bhle%3A10706-a00gb5n4

@chris-sleep
@lobajuluwa

[2012-04-24 07:45] zhengl commented on #411
Yes, the current resolution is not so readable.

Actually, the resolution is reduced twice during the procedure in Access. The first time is from TIFF to JP2000, the maximum I set is 1920 \* 1920. The second time is by Djatoka, dynamically. So I think, I can raise the resolution by changing the parameters in djatoka for a better display. However, making the booreader have the same maximum resoluti

[2012-04-24 07:51] wkollernhm commented on #411
When was it decided to downsize the images for the bookviewer? To my understanding it is the job of djatoka to dynamically create tiles / images in the correct resolution (thats after all the job of an image server)?

[2012-04-24 07:52] wkollernhm commented on #409
3 & 5 should be fixed, the PI tool now uses the DOMDocument extension of PHP to handle the OLEF import (which automatically escapes all entities).

[2012-04-24 08:38] zhengl commented on #411
Although in my opinion reducing the resolution of TIFF to JP2000 can benefit the storage space and performance, if it is agreed to keep the original size, I can fix it. For the Djatoka side, I had some tests before and I could see it is better to have a higher resolution by default, then zooming out is actually displaying the same image, rather than generating a new image by the image server.

Wel

[2012-04-24 09:29] wkollernhm commented on #411
I'm still not sure that I understand you correctly. My impression is, that djatoka should do the job of handling the different resolutions / zoom levels. Maybe chris / heimo can provide input here?

@chris-sleep
@heimor

[2012-04-24 12:07] akohlbecker commented on #125
@JiriFrank @chris-sleep what should happen when clicking the save search button?

For example: The user enters new search terms and clicks "Save Query", will the query be executed or will it only be saved?

[2012-04-24 13:01] wkollernhm commented on #409
ad 2.: the be-rmca/Monographs/Lemaire_Disricts/.aip directory exists. May you check this again please?

[2012-04-24 14:01] wkollernhm commented on #409
ad 1.: PDFs do not fully work yet. This seems to be a xml file from a previous version which is not valid anymore.

[2012-04-24 14:05] wkollernhm commented on #409
ad 4.: this upload contains a invalid file numbering scheme, most probably that is causing the error. The tool now warns the user when such errors occurs.

[2012-04-24 14:05] #409 closed, assigned to wkollernhm

[2012-04-24 14:08] wkollernhm commented on #383
as noted above, all invalid files should be reported to the user. Else the user will have to correct the files one by one and reload every time.

[2012-04-24 14:10] wkollernhm commented on #376
PDFs do not work at all at the moment. The last step fails due to invalid naming of files. I tried this with be-nbgb/Upload_20110930/poeppig_1841_nova_genera/poeppig_1841_nova_genera_species.pdf

[2012-04-24 15:49] chris-sleep commented on #411
Aren't you both saying the same thing?

http://bhl-int.nhm.ac.uk/adore-djatoka/resolver?url_ver=Z39.88-2004&rft_id=http://bhl-int.nhm.ac.uk/static/a00gb5n4/jp2/a00gb5n4_00036.jp2&svc_id=info:lanl-repo/svc/getRegion&svc.format=image/jpeg&svc_val_fmt=info:ofi/fmt:kev:mtx:jpeg2000&svc.level=3

the improved one:
http://bhl-int.nhm.ac.uk/adore-djatoka/resolver?url_ver=Z39.88-2004&rft_id=http://bhl-int.

[2012-04-24 16:22] chris-sleep opened #413 "facet for Material type errors"
If I choose to search for title: \* then pick a material type facet; using the serial type as an example,  I see
- (53) Title + Author + Year AND
  serial (3) OntentType

OntentType appears to be missing a C..  I can then not remove this facet nor add any others, and if I expand edit search, I see this field marked as Title..

[2012-04-25 06:03] wkollernhm commented on #411
Well then there was a misunderstanding from my side. I thought that the BookViewer automatically requests new scaled images from djatoka when the user zooms in. If we have to stick to once fixed, pre-defined resolution then we should use something higher but of course not the max resolution.
Am I right with this?

[2012-04-25 07:39] akohlbecker commented on #413
i fixed these issues, changes will be committed today

[2012-04-25 07:52] akohlbecker commented on #413
fixed

[2012-04-25 07:52] #413 closed, assigned to akohlbecker

[2012-04-25 09:42] chris-sleep commented on #411
I believe you're right; but I'll offer Zheng the last word in case I'm wrong.

looking at the viewer as it stands at the moment, I think we would want svc.level=5 as a default, so that the pages served are readable; svc.level=3 doesn't reach that standard I think

[2012-04-25 10:11] wkollernhm commented on #411
Actually I was under the impression that djatoka is used for exactly that. So zooming in / out should be handled by the djatoka image server. But it seems as it the IA-BookViewer doesn't support this. Lets stick to src.level=5 as chris suggested.

[2012-04-25 10:23] chris-sleep commented on #316
prod1 and prod3 deployed as clone from test 1/test3.

prod1 online, currently PI to be updated/configured

prod2 pending confirmation that test2 base is viable to prepare initial clone

prod3 basic configuration applied to the portal components, need to have prod2 online before completing that (solr target etc)

[2012-04-25 10:31] wkollernhm opened #414 "Dropping content & auto-refresh"
When dropping content from the ingest list, and if auto-refresh is enabled. The dropping occurs again when the reloading is triggered. Therefor the user gets a message that he dropped content but he didn't.

[2012-04-25 10:47] wkollernhm opened #415 "PDF page count not correctly displayed"
Page counts for certain PDFs are not correctly displayed. Used for this example: testdata/Wettstein_1894_Botanische_Anstalten.pdf

[2012-04-25 11:58] wkollernhm commented on #415
Fixed by using pdfinfo instead of custom code.

[2012-04-25 11:58] #415 closed, assigned to wkollernhm

[2012-04-25 11:59] wkollernhm commented on #376
Fixed PDF importing by overworking the PDF extraction / conversion process. Reading labels from metadata is still pending.

[2012-04-25 22:00] akohlbecker commented on #125
@JiriFrank @chris-sleep  fixed

[2012-04-25 22:00] #125 closed, assigned to akohlbecker

[2012-04-26 09:13] wkollernhm opened #417 "PDFs without embedded text aren't OCR read"
PDFs which do not contain an embedded text aren't OCR read. Only empty txt files are extracted and used as result.

[2012-04-26 09:17] wkollernhm commented on #376
Structural information is now extracted from PDF labels.

[2012-04-26 09:17] #376 closed, assigned to wkollernhm

[2012-04-26 09:20] wkollernhm opened #419 ""file_tree" component security problem"
The "file_tree" component allows to browse the complete filesystem as it doesn't check passed in path names. This allows reading of e.g. /etc/passwd or similar.

[2012-04-26 09:28] wkollernhm commented on #419
Fixed with the latest push.

[2012-04-26 09:28] #419 closed, assigned to wkollernhm

[2012-04-26 09:36] wkollernhm opened #421 "PI tool relies on register_globals"
The PI tool at its current stage relies on register_global, which is deprecated since version 5.3.0 and removed as of 5.4.0. The tool therefor is not sustainable for any version beyond 5.3.0. In addition PHP recommends to turn this feature off and not imitate its behavior.

See http://php.net/manual/en/security.globals.php for details.

[2012-04-26 09:53] wkollernhm opened #422 "common_globals.php seem to contain which refers to components which do not exist"
common_globals.php contains code which refers to non existing files and IP-addresses:

https://github.com/bhle/bhle/blob/master/pre-ingest/ingest/shared/common_globals.php

[2012-04-26 10:09] wkollernhm commented on #422
Removed code referring to invalid files & IP-Addresses

[2012-04-26 10:09] #422 closed, assigned to wkollernhm

[2012-04-26 10:30] wkollernhm opened #424 "Code comments are in German"
Project language is English, but majority of comments in the code are in German. This renders those comments useless to most partners within the project.

[2012-04-26 10:32] akohlbecker commented on #424
does this only refer to the PI tool?

[2012-04-26 10:33] wkollernhm opened #425 "File does not exist warnings"
Apache reports the following error whenever the PI-tool is accessed:

File does not exist: /var/www/html/preingest/js/jquery/ui/jquery.ui.effects.core.js

(the path varies depending on the install location).

[2012-04-26 10:37] wkollernhm commented on #425
The name of the file is invalid. The correct name is jquery.effects.core.js since it is part of jQuery and not jQuery-UI. File reference fixed.

[2012-04-26 10:37] #425 closed, assigned to wkollernhm

[2012-04-26 10:37] wkollernhm commented on #424
Yes, that's why I labeled it Pre-Ingest and OLEF.

[2012-04-26 12:37] wkollernhm commented on #414
Content-Refresh now uses window.location.replace() and a pre-defined URL.

[2012-04-26 12:37] #414 closed, assigned to wkollernhm

[2012-04-26 13:06] wkollernhm commented on #372
Still fails for large content (see at-landoe)

[2012-04-26 13:21] wkollernhm opened #428 "Fetched metadata via OAI-PMH webservice is used directly, including the OAI-PMH envelope"
The OAI-PMH response is used directly instead of extracting the actual metadata from it. Currently the complete OAI-PMH envelope is used as well, which invalidates the mapping and therefor the metadata output.

[2012-04-26 13:26] wkollernhm opened #429 "OAI-PMH webservice response is written to top-level directory"
Fetched response from OAI-PMH webservice is saved to the top-level folder instead of the .aip folder. It was defined as a pre-condition to keep all derived data within the .aip folder. See Issue #319 for details.

[2012-04-26 14:48] wkollernhm commented on #428
OAI-PMH response is now correctly parsed and only the actual metadata is written to a file.

[2012-04-26 14:48] #428 closed, assigned to nobody

[2012-04-27 02:11] zhengl commented on #409
OK, it works. Thank you Chris.

2012/4/27 Chris Sleep <
reply@reply.github.com

[2012-04-27 05:54] wkollernhm commented on #429
OAI-PMH responses are now correctly written to the .aip directory.

[2012-04-27 05:54] #429 closed, assigned to wkollernhm

[2012-04-27 06:24] wkollernhm opened #431 "If TIFFs and PDFs exist, PDFs aren't used for extracting the OCR-text from them"
Quote from workpackage 07.12.2011:
If PDFs and images exist, extract text from PDFs and use images for TIFF creation
See issue #319 for details

Currently if both images and PDFs exist in a folder, the PDF is silently ignored and the images are OCR-read.

This prevents from ingesting at-landooe content, since they provide improved OCR in a PDFs along the high resolution TIFFs.

[2012-04-27 06:46] wkollernhm commented on #417
The OCR process now checks if the PDF has some embedded text, if not is uses the TIFFs for OCR reading.

[2012-04-27 06:46] #417 closed, assigned to wkollernhm

[2012-04-27 07:18] wkollernhm commented on #431
If a PDF exists for a list of images, it is now used for extracting the OCR text from it.

[2012-04-27 07:18] #431 closed, assigned to wkollernhm

[2012-04-27 07:18] akohlbecker commented on #181
@JiriFrank i think we can close this ticket now (#182 is also closed)

[2012-04-27 07:18] #181 closed, assigned to jhquentin

[2012-04-27 07:28] akohlbecker commented on #410
see https://github.com/bhle/bhle/issues/288#issuecomment-3737709

[2012-04-27 07:38] akohlbecker commented on #410
the effect described above is due to the known problems of combining umlauts with wildcards in solr. see issue #191

searching for any of the following terms: uber, über Uber, Über ueber, Ueber will perfectly highlight the matches

[2012-04-27 08:37] wkollernhm opened #434 "Writing recordContentSource destroys XML structure"
When the tool adds recordContentSource to the metadata, the original recordInfo block is invalidated.

Tried with at-landoe/9/9 - see .aip directory for a sample.

[2012-04-27 08:46] wkollernhm opened #435 "recordContentSource is not added if original XML doesn't contain recordInfo"
recordContentSource entry is not added if the original XML doesn't contain a recordInfo entry.

[2012-04-27 08:50] wkollernhm commented on #434
This was caused by an error in the original XML.

[2012-04-27 08:50] #434 closed, assigned to wkollernhm

[2012-04-27 09:52] wkollernhm commented on #435
RecordContentSource is now correctly added using DOMDocument class

[2012-04-27 09:52] #435 closed, assigned to wkollernhm

[2012-04-27 11:15] wkollernhm opened #437 "gSearch brigde doesn't trigger re-indexing"
I've just test ingested several uploads from landooe, they went through PI fine, Access picked them up and successfully ingested them. However the index for the portal is not automatically updated. I had to trigger this through the jenkins job.

All the test have been made in the integration environment.

[2012-04-27 11:17] wkollernhm opened #438 "Bookviewer doesn't display page-type"
The bookviewer doesn't display the page-type. It should always be <page_type> <page_name>. If page-name is empty just display the page-type.

@heimor

[2012-04-27 12:58] akohlbecker commented on #284
seems fixed, since I could not find any broken links.
@chris-sleep

[2012-04-27 12:58] #284 closed, assigned to jhquentin

[2012-04-28 03:17] zhengl commented on #437
The update of index does take place, but is not committed in Solr after every update according to the current configuration.

If you want to trigger a commit in Solr, you can go the GSearch (http://bhl-int.nhm.ac.uk/fedoragsearch/rest) with username fgsAdmin and click 'browseIndex' (that is treated as a commit), that will flush the updates.

@akohlbecker I think you would have more input for us, a

[2012-04-28 03:59] zhengl commented on #324
@wkollernhm

All OLEF from LANDOOE is invalid.

The same error is:
error on line 2 at column 74: Namespace prefix xsi for schemaLocation on olef is not defined

Compared with other providers, I don't know why more schema such as xsi:schemaLocation is added into OLEF.

[2012-04-30 08:12] akohlbecker commented on #437
The 'autoCommit' feature in solr is disabled, since the recommended way is to use the 'commit' or 'commitWithin' parameters in the query which pushes the new document to solr (http://wiki.apache.org/solr/UpdateXmlMessages#Passing_commit_and_commitWithin_parameters_as_part_of_the_URL). So the best way to solve this issue would be to add `&commit=true` to the gsearch solr update query. If it is not

[2012-04-30 08:19] akohlbecker commented on #437
just found this: "Alternatively, you may include a commitWithin attribute in your add element in the index document." - An interesting alternative solution.

[2012-04-30 08:31] akohlbecker commented on #437
my suggestion is to add some parameters in  line 55 to the add element the foxmlToSolrDemo.xslt in the
like:

[code]

[2012-04-30 09:06] akohlbecker commented on #437
the above fix solves the problem for me locally. @ZhengLIAtos @wkollernhm  can someone of you confirm this on int?

[2012-05-02 09:24] wkollernhm commented on #324
The metadata provided by LANDOOE was fixed. The xsi:schemaLocation is a valid information for any schema, since it just defines the download location for the XSD.

[2012-05-02 09:25] zhengl commented on #437
@akohlbecker  Thanks a lot for your input! For _adding_ index, now it works perfectly. Do you think it is also applicable for _deleting_ index in the delete tag?

[2012-05-02 10:14] akohlbecker commented on #437
@ZhengLIAtos  it is supported at least in solr 3.6, please see https://issues.apache.org/jira/browse/SOLR-2280 currently we are running 3.5

[2012-05-02 13:40] wkollernhm commented on #437
Can confirm that this works, just tried it with another example from landooe!

[2012-05-02 13:48] zhengl commented on #324
But the definition of xsi is missing (xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance")

e.g. http://bhl-int.nhm.ac.uk/static/a0kkwh97/a0kkwh97_olef.xml

[2012-05-03 06:05] wkollernhm commented on #324
Yes I know, its been added in the latest updated to the OAI-PMH provider.

[2012-05-03 07:39] wkollernhm opened #439 "Newly ingested content doesn't have derivates"
I've just test-ingested a single content from LANDOOE. The PI-process went fine, the Ingest process finished successfully. The re-indexing worked and the item appeared on the portal.

However all derivates are missing and trying to open the book in the bookviewer results in an error.

The example I used is http://bhl-int.nhm.ac.uk/portal/bhle-view/bhle%3A10706-a02ngf2n

The fully automated ingest

[2012-05-03 07:50] zhengl commented on #439
Well, the same old reason.

http://bhl-int.nhm.ac.uk/static/a02ngf2n/a02ngf2n_olef.xml
Namespace prefix xsi for schemaLocation on olef is not defined

[2012-05-03 07:51] wkollernhm opened #440 "Error message contains spelling errors"
The error message is "One or more duplicate Sortig Kriteria"
should be "Duplicate sequence number for sorting criteria" (or similar)

In addition it says "There is a (Sortig Kriteria) filename part missing"
which should be "There is a (sorting criteria) filename part missing"

[2012-05-03 08:52] wkollernhm commented on #439
Well that's a problem of the extraction process. Since the complete METS file contains the correct XSI declaration, which is sent to access. However it seems as if the extraction process messes up the namespaces (by fedora). If you look at the complete ObjectXML it is valid inside fedora (http://bhl-int.nhm.ac.uk/fedora/objects/bhle%3A10706-a02ngf2n/objectXML), but it seems to mess up the namespac

[2012-05-03 10:37] wkollernhm commented on #440
Fixed.

[2012-05-03 10:37] #440 closed, assigned to wkollernhm

[2012-05-03 11:00] wkollernhm commented on #439
Okay I've updated the PI-tool to include the xsi namespace declaration no matter what the actual content says. This is the only reliable way I can think of to avoid this problem.

I've done so and did another ingest with some new content, still the item appears but the book-reader doesn't show up. And the OLEF is now valid.

Find it here: http://bhl-int.nhm.ac.uk/fedora/objects/bhle%3A10706-a0xwdb

[2012-05-03 12:09] ZhaoyuLI commented on #439
Thank you for you work, I will check what happens with this book

2012/5/3 wkollernhm <
reply@reply.github.com

##

Bien cordialement,

Zhaoyu LI¡¶lizhaoyu86@gmail.com¡·
Contact£º (0)641799337

[2012-05-03 13:14] ZhaoyuLI commented on #439
The server crash, so the generation didn't finish. I restart tomcat and restart the job, now the book is available on book reader