[2011-06-09 12:51] akohlbecker opened #1 "Missing search results with some typed in diacritics"
Simple Search:
searching for 'Küsten' ( http://test111.ait.co.at/?q=advanced_search_view/{!lucene}K%C3%BCsten ) should return an item with title "Über die Ökologie und Verbreitung der Arthropoden der Triebsandgebiete an den Küsten Finnlands". This does not work when the term 'Küsten' is typed in, however it works when copy/pasting the term from the portal page  http://test111.ait.co.at/?q=node/2

[2011-06-09 13:36] leenamba opened #2 "Add pdf download button to portal search results"
To reproduce:
go to http://test111.ait.co.at/?q=node/17484
and there should be a pdf button in the right corner

[2011-06-09 13:37] leenamba commented on #2
yes there should be a pdf icon as discuss in feature list number 5

[2011-06-09 13:40] akohlbecker commented on #1
i don't know how to fix this - sorry

[2011-06-09 13:41] leenamba commented on #1
fixed by doing adding this code, etc

[2011-06-09 16:20] akohlbecker opened #3 "implement fuzzy search"
The portal should  allow getting search result even if the search term not 100% identical to the token in the index (phonetic variant, typo, diacritics, ...)

Fuzzy search can be realized by using  Solr Filters, see the following links for further reference:
- http://wiki.apache.org/solr/AnalyzersTokenizersTokenFilters#solr.PhoneticFilterFactory
- http://lucene.apache.org/solr/api/org/apache/solr/

[2011-06-09 17:04] fwelter commented on #3
I would rank this at second priority (if we work with 3).
In any case such a function should only be optional, never among the default functions, which is one of the expressed results of the user survey.
http://www.planetposter.de/bhl/wien2010.htm

See Question 6 there, which covered this option:
"Google-like search was not preferred, even less by frequent users. Google returns too many insignific

[2011-06-10 11:59] leenamba opened #4 "fix nfs sharing problem"
need rwx privileges for www user. becauseep apache runs php script

[2011-06-18 13:24] JiriFrank opened #5 "TEST ISSUE - Functional test - TASK 1"
first task is....

[2011-06-18 14:22] JiriFrank commented on #5
closed

[2011-06-18 14:22] #5 closed, assigned to jhquentin

[2011-06-18 14:24] jhquentin opened #6 "test 2 - functional testing"
test contact mail

[2011-06-18 14:27] JiriFrank commented on #6
close

[2011-06-18 16:18] fwelter opened #7 "Search page - list of search results - replace thumbnails by icons"
The thumbnails at the left side of the results hits should be removed, they take too long to load in  (I experienced 10-15 sec) and contain no useful information. They should be replaced by icons, preferably in the same size and standard design as used for the GBV portals such as GVK (http://gso.gbv.de). These ions are very useful.
Icons should carry the information "monograph", "journal article",

[2011-06-18 16:50] fwelter opened #8 "Search page - list of search results - the form how to cite papers"
In the BHL User Survey the participants gave relatively clear guidelines for designing the list of results (search results, query results). I think it will be useful to do it as the frequent users like/need to have the results presented.

I give a summary for this big issue here. I do not know if it might be better to open an independent issue for every single step?

In the list of results: the au

[2011-06-18 17:08] fwelter opened #9 "Search page - list of search results - cut long titles of publications"
In the list of search results/query results:
Titles should be cut if they contain text that covers more than 2 lines space in the list of results.

Example:
http://test111.ait.co.at/?q=advanced_search_view/%7B!lucene%7DKu%CC%88sten

4 results can be seen here, sorted by date returns long titles for hits No. 1 (4 lines in my browser) and 2 (5 lines).

Hit No. 2:
# Untersuchungen über die säkulare

[2011-06-18 17:19] fwelter opened #10 "Search page - list of search results - UTF 8 problem (also in title homepage)"
Special charcters are not shown correctly in list of search results/query results.

Same query as in issue 9:

http://test111.ait.co.at/?q=advanced_search_view/%7B!lucene%7DKu%CC%88sten

Hit No. 2 (I copy the title with a # and space before as it comes when I paste it):
# Untersuchungen über die säkulare landhebung als pflanzengeograpischer faktor  Jämtlands... kärlväxtflora  Die varietäten von C

[2011-06-18 17:32] fwelter opened #11 "Search page - list of search results - replace returns in title by full stop and space"
Once again the same hit in the list of search results/query results:

http://test111.ait.co.at/?q=advanced_search_view/%7B!lucene%7DKu%CC%88sten

4 hits, Hit number 2 when sorted by date:

The title is cited in this form:

Untersuchungen über die säkulare landhebung als pflanzengeograpischer faktor  Jämtlands... kärlväxtflora  Die varietäten von Carex salina wg ssp. cuspidata wg nebst ihren hybri

[2011-06-18 17:48] fwelter opened #12 "Search page - list of search results - restrict number of co-authors"
The list of co-authors should be restricted in the list of search results. If more than 3 co-authors are listed in the "creator" field, then only the first 3 co-authors should be listed, separated by comma and space, followed by the term   " et al. "

We take the same example as in issues 9, 10 and 11.

http://test111.ait.co.at/?q=advanced_search_view/%7B!lucene%7DKu%CC%88sten

Hit No. 2 when sort

[2011-06-18 18:38] fwelter opened #13 "Search page - list of search results - inadequate results shown for Austrian journals"
The results given for Austrian contant seems to have serious bugs and displays mixed information. The display of the results and the contents of the tables as such is problematic.

http://test111.ait.co.at/?q=advanced_search_view/%7B%21lucene%7Dsuecica

Gives 3 hits.

Hit No. 1:

Zeitschrift der Wiener Entomologischen Gesellschaft 34
Anonymus , Beier Max Walter Peter, Boursin Charles, Bretschneide

[2011-06-20 13:36] audreyhzhang opened #14 "Portal – Interface for downloading realtime derivatives: OCR"
Download one page in OCR format
Download a book in OCR format

[2011-06-20 13:37] audreyhzhang opened #15 "Portal – Interface for downloading realtime derivatives: Images (jp2/jpg)"
Download one page in image format (jp2 or jpg)
Download a book in image format (jp2 or jpg)

[2011-06-20 13:39] audreyhzhang opened #16 "Portal – Interface for downloading realtime derivatives: PDF"
Download one page in PDF format
Download a book in PDF format

[2011-06-20 13:41] audreyhzhang opened #17 "Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: OCR"
Download selected pages in OCR format, enter page number in field (1-25)

[2011-06-20 13:42] audreyhzhang opened #18 "Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: Image(jp2/jpg)"
Download selected pages in Image(jp2 or jpg) format, enter page number in field (1-25)

[2011-06-20 13:43] audreyhzhang opened #19 "Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: PDF"
Download selected pages in PDF format, enter page number in field (1-25)
The user interface is #16

[2011-06-20 13:45] audreyhzhang opened #20 "Portal – Download item in different qualities (high, low resolution, colour)"
Download item in IMAGE format with different quality or resolution (high, low resolution, colour)

[2011-06-20 13:46] audreyhzhang opened #21 "Archival Storage – bulk input AIP to Archival Storage from Ingest using script"
The Ingest component creates AIP's and stores them in a working folder for automated input into fedora via a script.

[2011-06-20 13:47] audreyhzhang opened #22 "Archival Storage – Upgrade Islandora from d6 to d7 for DataManagement on the NHM servers"
likely to use islandora [would need modification for solution packs to separate sources/CPs; no real workflow notion; validation, publish not in there; no virus scanning - will need to be done separately; no jhove format checking]. Keep Islandora on Drupal

[2011-06-20 14:00] leenamba commented on #2
will close as was a test issue

[2011-06-20 14:00] #2 closed, assigned to akohlbecker

[2011-06-20 15:11] fwelter commented on #16
On the portal shall be shown the file size of the book in MB, so that users ca see what they have to expect.
Or maybe make a separate issue for this feature? I don't know.

[2011-06-20 15:17] leenamba commented on #16
depends on how realtime the download is.  If we generate on the fly then showing the file size will be hard.  If we generate and save to an ftp site for download then we can do this.  Otherwise an algorithm for estimating could be used but would not be accurate.  TBD

[2011-06-20 15:53] fwelter opened #23 "Vocabulary"
I would need some basic information on the "controlled" vocabulary we should use here. Perhaps we can open up a page on the wiki where certain basic things can be equipped with names that are understood by all members of the team. It is important to make sure that we are talking about the same things.

From my experience in AnimalBase programming I am currently using the following terms:

Portal =

[2011-06-20 16:46] fwelter opened #24 "Portal requirement: must work in old browsers"
The portal website should be displayed in a high number of different browsers without bugs or distorted positions of text and images. It should be displayed correctly in old browsers, more than usually acknowledged, because many users working in the field of biodiversity research are poor institutions with minimum budgets and poor people with a below-average income and work with old systems (not o

[2011-06-20 17:04] fwelter commented on #16
PDFs of books should not take too much memory space, but I cannot judge this. 3 alternative solutions:

1 - Create PDFs of all books and save them in our archive, ready for download.
2 - Create "low resolution PDFs" of all books and save them in our archive, ready for download. Then provide 2 buttons: PDF (low resolution, bitonal black and white, equipped with file size), PDF (high resolution, bro

[2011-06-20 21:27] fwelter opened #25 "Portal - creating a journal homepage"
A journal homepage is needed, equivalent to the bibliography page in BHL-US. Journal homepage should only be provided for journals (see issue #23, vocabulary).

= a summary page for an entire serial run of a periodical, listing

(1) the names of the journal (some journals have different names in different years)
(2) the year,
(3) the volume number (with link to the corresponding title homepage for

[2011-06-20 22:58] fwelter opened #26 "Search page - default search functions"
default search functions for the search page:

features to be implemented, based on the results of Question 6 of the BHL User Survey 2010
documented here: http://www.planetposter.de/bhl/wien2010.htm
- Terms submitted to the default search function should be queried in the author, the year,  the monograph title and the journal title.
- If 2 words are inserted, the search function should only return

[2011-06-20 22:58] fwelter opened #27 "Search page - create two search boxes to allow "relle des mo" query"
Search page: Enable query mode for "relle des mo" search.

This feature is based on the results of Question 6 of the BHL User Survey 2010
documented here: http://www.planetposter.de/bhl/wien2010.htm
"The current BHL default should be maintained as a possible option "exact letter combination in title", so that "relle des mo" could be inserted and return only extremely few results (of a title "Histo

[2011-06-20 22:58] fwelter opened #28 "Search page - list of search results - exclude single journal volumes from list"
Search page, default search function: if the results for a query return the name of a journal, only the journal title shall appear in the list of search results.

Example:
http://test111.ait.co.at
query:
annalen naturhistorischen museums wien

(current result set: 1588 hits)

this query shall basically return only the journal homepage for the journal "Annalen des Naturhistorischen Museums in Wien"

[2011-06-21 08:07] janahoffmann commented on #28
test

[2011-06-21 09:49] akohlbecker opened #29 "View BHL news in Portal"
RSS feeds issued from twitter, facebook etc are to be displayed on the portal front page in a "news" box.
This can be accomplished by making use of the Drupal aggregator module.
The news box will be placed initially in the left side bar.

List of potential feeds to be included:
- http://twitter.com/BHLEurope
- http://www.facebook.com/pages/BHL-Europe/151086001600041
- http://bhleurope.blogspot.com

[2011-06-22 09:03] leenamba opened #30 "test feature"
Description of feature to test

@janahoffmann
@jirifrank
@lobajuluwa

[2011-06-22 09:32] leenamba commented on #30
test of mentions
@leenamba

[2011-06-22 09:35] janahoffmann commented on #30
Hello you guys..

Museum für Naturkunde
Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin

Jana Hoffmann
BHL-Europe - project assistant

http://www.bhl-europe.eu/
Invalidenstraße 43
10115 Berlin
Germany

phone: +49 (0)30 2093-8650
fax: +49 (0)30 2093-8565
email: jana.hoffmann@mfn-berlin.de
website: http://www.naturkundemuseum-berlin.de

-----Ursprünglic

[2011-06-22 09:41] leenamba opened #31 "Please don't close this feature!"
here's how to test this feature

a
a
a

@janahoffmann
@jirifrank

[2011-06-22 09:42] leenamba commented on #31
@janahoffmann
@JiriFrank

[2011-06-22 10:00] leenamba commented on #31
this is the same bug as #30

[2011-06-22 10:11] #30 closed, assigned to nobody

[2011-06-22 10:39] leenamba commented on #31
commited implemented #31

[2011-06-22 10:53] leenamba commented on #31
found a bug here's how to reproduce

[2011-06-22 11:07] leenamba commented on #31
this time it works

[2011-06-22 14:12] leenamba commented on #19
To test you can go to this URL and input different ranges:

http://bhl-alexandria.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods

use the demo:book2pdf field enter the range and hit run.

example: 1-10,20-22,53-46

Know bugs now are whitespaces and single numbers.

You can also directly put ranges in the URL of the method

example:  http://bhl-alexandria.nhm.ac.uk/fedora/objects/demo%3Adarwin/meth

[2011-06-22 14:15] akohlbecker opened #32 "setup OpenLDAP"
- setup OpenLDAP on the bhle server (mandible)
- document all steps in the wiki

this ticket is prerequisite for #143

[2011-06-22 14:21] leenamba commented on #21
will wait for Bernd to indicate where AIP's are on NFS share
@sprogerb

[2011-06-22 14:25] leenamba commented on #20
Subtasks: #14, #15, #16

[2011-06-22 14:56] zhengl commented on #19
Bugs have been fixed
Entering whitespaces is considered as the whole range of a book
Single numbers such as 1,4,6 can be used as the parameter, even mixed with other ranges.
For each range, if the lower bound is greater than the upper bound, it will be rearranged in a ascendant order. (e.g. 10-1=> 1-10)
If one of them is out of range, it will be rewritten to be within the range (e.g. 1-10000 => 1-

[2011-06-22 15:17] #6 closed, assigned to JiriFrank

[2011-06-22 17:13] chrisfreeland commented on #19
Users are going to need to be able to request by the page number printed on the page, not the series number of the page as scanned from the front of the book to the back of the book.  They need "Pages 1-3" not images 1-3.  Plus they will want to get pages from all parts of the book (a title page, the pages of an article, the plate and map at the back of the book), which is why we have a GUI for th

[2011-06-23 09:17] leenamba commented on #19
Yes we will need a UI which is in a separate issue #16
@janahoffmann
@jirifrank
We're going to need some specifications here based on Chris' comments.  Please advise.

[2011-06-23 12:35] #28 closed, assigned to nobody

[2011-06-23 12:35] janahoffmann commented on #28
This issue is included in CoR feature 1.2.6, 1.4.3. The test report will be forwarded to the test manager Jiri Frank.
@fwelter
@jiriFrank

[2011-06-23 12:37] #27 closed, assigned to nobody

[2011-06-23 12:37] janahoffmann commented on #27
This issue is included in CoR feature 1.2.13. The test report will be forwarded to the test manager Jiri Frank.
@fwelter
@jiriFrank

[2011-06-23 12:47] #26 closed, assigned to nobody

[2011-06-23 12:47] janahoffmann commented on #26
This issue is included in CoR 1.1 and 1.2 (Simple and advanced search and split up into a number of features). The comment will be forwarded to the test manager Jiri Frank. The Google like search is now renamed into 'automated search'.
@fwelter
@jirifrank

[2011-06-23 12:50] #25 closed, assigned to nobody

[2011-06-23 12:50] janahoffmann commented on #25
This issue is included in CoR feature 1.2.6 and 1.4.3. The comment will be forwarded to the test manager Jiri Frank.
@fwelter
@jiriFrank

[2011-06-23 12:59] #24 closed, assigned to chris-sleep

[2011-06-23 12:59] janahoffmann commented on #24
This is not a feature but a suggested requirement for the BHL-Europe portal. It will be forwarded to the WP3 management group to be discussed in a next TechCall.
 @fwelter

[2011-06-23 13:28] janahoffmann commented on #23
This should be also included in the BPG. I think there is a glossary for used terms in BHL-Europe already (more focussed on technical terms): https://bhl.wikispaces.com/BHL+Europe+glossar
Who is the right person to be assigned to this task?

[2011-06-23 13:36] #13 closed, assigned to nobody

[2011-06-23 13:37] janahoffmann commented on #13
This issue is already included in CoR feature 1.4.1 and 1.43 (in part). Your comment will be forwarded to the test manager. Howver, I think the bug is more related to the mapping and pre-ingest rather than the portal display function.
@fwelter
@jirifrank

[2011-06-23 13:41] #29 closed, assigned to akohlbecker

[2011-06-23 13:42] janahoffmann commented on #29
This issue is included in CoR feature 4.1.7. I will include your comment and assignment as soon as the feature is set up properly.
@akohlbecker

[2011-06-23 13:44] #20 closed, assigned to nobody

[2011-06-23 13:45] janahoffmann commented on #20
This issue is included in CoR feature 3.2.3 and 3.2.4. I will set up the feature with a clear description soon.

[2011-06-23 13:47] #7 closed, assigned to JiriFrank

[2011-06-23 13:47] janahoffmann commented on #7
This issue is CoR feature 1.4.1.
@fwelter

[2011-06-23 13:50] #8 closed, assigned to nobody

[2011-06-23 13:50] janahoffmann commented on #8
This issue is related to CoR feature 1.4.1. Your comment will be forwarded to the test manager.
@fwelter
@jiriFrank

[2011-06-23 13:53] #9 closed, assigned to nobody

[2011-06-23 13:53] janahoffmann commented on #9
This issue is related to CoR feature 1.4.1. Your report will be forwarded to the test manager.
@fwelter
@jirifrank

[2011-06-23 13:55] #10 closed, assigned to JiriFrank

[2011-06-23 13:55] janahoffmann commented on #10
This issue is included in CoR feature 1.1.5. Your comment will be forwarded to the test manager.
@fwelter
@jirifrank

[2011-06-23 13:58] #11 closed, assigned to JiriFrank

[2011-06-23 13:58] janahoffmann commented on #11
This issue is related to CoR feature 1.4.1. Your comment will be forwarded to the test manager.
@fwelter
@jirifrank

[2011-06-23 14:01] #12 closed, assigned to nobody

[2011-06-23 14:01] janahoffmann commented on #12
This issue relates to CoR feature 1.4.1. Your report will be forwarded to the test manager.
@fwelter
@jirifrank

[2011-06-23 14:04] #14 closed, assigned to audreyhzhang

[2011-06-23 14:04] janahoffmann commented on #14
This issue is CoR feature 3.2.4 and 3.2.5. I will add it again with the proper description as soon as possible.

[2011-06-23 14:05] #15 closed, assigned to audreyhzhang

[2011-06-23 14:05] janahoffmann commented on #15
This refers to CoR feature 3.2.4 and 3.2.5. I will add it with a proper description as soon as possible.

[2011-06-23 14:10] #16 closed, assigned to audreyhzhang

[2011-06-23 14:10] janahoffmann commented on #16
The original issue relates to CoR feature 3.2.4 and 3.2.5. Franciscos comment refers to CoR feature 1.5.4. Your comments will be added to the respective features once I have set them up with a proper description.

[2011-06-23 14:12] #17 closed, assigned to zhengl

[2011-06-23 14:12] janahoffmann commented on #17
This issue it CoR feature 3.2.1.

[2011-06-23 14:13] #18 closed, assigned to zhengl

[2011-06-23 14:13] janahoffmann commented on #18
This issue is related to CoR feature 3.2.1

[2011-06-23 14:15] #19 closed, assigned to zhengl

[2011-06-23 14:15] janahoffmann commented on #19
This issue is related to CoR feature 3.2.1. I will add your comments to the new feature as soon as possible.

[2011-06-23 14:20] #3 closed, assigned to nobody

[2011-06-23 14:20] janahoffmann commented on #3
This issue is related to CoR feature 1.1.10. I add Andreas comments and description to the new feature as soon as possible.
Francisco, please keep in mind that we have to focus more on the public and a fuzzy search might be more interesting for the public user. I think it might be a good way to separate default search otpion by user profiles, such as scientist, publich user, librarian. The user su

[2011-06-23 14:22] janahoffmann commented on #21
Hengdi, Lee can I remove the label feature from this issue as this might be confusing. I am not sure what this is exactly about (decription?). Maybe you can provide a description....

[2011-06-23 14:24] #1 closed, assigned to leenamba

[2011-06-23 14:24] janahoffmann commented on #1
This issue refers to the CoR feature 1.1.5 I will add the feature with a proper description and add Andreas comments/ descriptions.

[2011-06-23 14:25] janahoffmann commented on #31
We need this open feature for sorting reasons. Don't close this feature....

[2011-06-23 14:32] leenamba commented on #21
I added a description.  We can remove the feature label but I would consider being able to preserve objects in BHL Europe a core feature.

[2011-06-23 15:00] janahoffmann opened #33 "1.1.1 - Search with unordered keywords (Simple Search)"
Updated description (JH) CoRv1:

Search with unordered keywords, e.g. 'amphipod', '1967', 'Hedley'
Restrict result view to items only including all search terms. Sort/ filter by facet list

General filtering done by facet list with active links to individual search terms.
This is default setting for the advanced search.

Preconditions:
Simple search is restricted to main categories (author, title/

[2011-06-23 15:02] janahoffmann opened #34 "1.1.2 - Search with Boolean operators (now: 1.2.14 Advanced Search)"
search with AND, OR, NOT, +, “search term”

e.g. mouse and Hedley
mouse or Hedley
mouse + Hedley
"mature mouse"

[2011-06-23 15:03] janahoffmann opened #35 "1.1.3 - Autocomplete search (Simple Search)"
Updated description:
Autocomplete involves the program predicting a word or phrase that the user wants to type in without the user actually typing it in completely (taken from Wikipedia).
Autocomplete features shall be enabled by default (in simple search).

Note: Not to be used in advanced search

@jhquentin

Previous description:
Search by drop-down list with suggest terms.

Precondition: Full i

[2011-06-23 15:05] janahoffmann opened #36 "1.1.4 - Search with words including diacritic characters (Simple Search)"
Updated description:
Search with terms based on Latin alphabet including diacritical mark, e.g. ä, ö, ü, ç, à., shall also recall results with Unicode translation ae, oe, ue, etc. and the original letter. Ranking should be done by best match.

Example: search for 'Österreich' gives results for 'Österreich' and 'Oesterreich' and 'Osterreich'.

@akohlbecker

Previous:
Search term with ä, ö, ü, ç, à,

[2011-06-23 15:06] janahoffmann opened #37 "1.1.5 - Search in various languages including language specific characters (Simple Search)"
Updated description:
Search shall support Unicode characters for a number of non Latin alphabets, e.g. Cyrillic.

Search should support Unicode characters.

[2011-06-23 15:07] janahoffmann opened #38 "1.1.6 - Search with special characters (Simple Search)"
Updated description:
Special characters, not diacritics, shall be treated as regular characters. Some examples: !"§$%&/()=?+*#'-.,_:;^°~<>|
Special characters shall not interfere with the system.

Previous description:
Search with diacritic marks, e.g. ´, `, ^

Related bug #197

[2011-06-23 15:08] janahoffmann opened #39 "1.1.7 - Search with truncated terms (now Advanced Search 1.2.15)"
Search with truncated terms at the beginning and at the end using wildcards, e.g. `*volution`, `evol*`

Related bug #178, #289

Connected issue: #56

[2011-06-23 15:10] janahoffmann opened #40 "1.1.8 - Search in all or one specific main search category (Simple Search)"
Updated description:
Search in main categories: author, title/ journal title, year, taxon. Select specific categories (check box).

Precondition: Predefine metadata fields as main search category, integration of uBio.

Previous description:
Categories: author, titles, year, (journal title)

Precondition; defined metadata fields as main search category
reported bug #168

[2011-06-23 15:11] janahoffmann opened #41 "1.1.9 - Search with incomplete words using wildcard options (now Advanced Search 1.2.16)"
Search using wildcards, e.g. [], *, ?

Related bug #179

[2011-06-23 15:12] janahoffmann opened #42 "1.1.10 - Fuzzy Search (Simple Search)"
Search with incorrect search terms (approximate string matching).

[2011-06-23 15:14] janahoffmann commented on #42
Previous comments:
[akohlbecker]
The portal should allow getting search result even if the search term not 100% identical to the token in the index (phonetic variant, typo, diacritics, ...)
Fuzzy search can be realized by using Solr Filters, see the following links for further reference:
• http://wiki.apache.org/solr/AnalyzersTokenizersTokenFilters#solr.PhoneticFilterFactory
• http://lucene.apache

[2011-06-23 15:15] janahoffmann commented on #42
Previous comments:
[fwelter]
I would rank this at second priority (if we work with 3).
In any case such a function should only be optional, never among the default functions, which is one of the expressed results of the user survey.
http://www.planetposter.de/bhl/wien2010.htm
See Question 6 there, which covered this option:
"Google-like search was not preferred, even less by frequent users. Google

[2011-06-23 15:17] janahoffmann commented on #42
Please keep in mind that we have to focus more on the public and a fuzzy search might be more interesting for the public user. I think it might be a good way to separate default search option by user profiles, such as scientist, public user, librarian. The user survey only represents the opinion of scientists and cannot be weigthed the same.
The fuzzy search is defined as a priority one feature.

[2011-06-23 15:17] janahoffmann opened #43 "1.1.11 - Search for ID / URL of document (now Advanced Search 1.2.17)"
Search by URL, ID.

Precondition: stable URL/ID

[2011-06-23 15:24] janahoffmann opened #44 "1.2.1 - Search metadata of digitised or/and non digitised content (advanced search)"
Perform search in BHL-Europe's digitzed corpus and/or perform search in GRIB data; select either 'digitzed' (BHL corpus) or 'all' (including super records of GRIB).

Precondition: Perform search in BHL-Europe’s digitized corpus or/and perform search in e.g. GRIB data (super records)

[2011-06-23 15:26] janahoffmann opened #45 "1.2.2 - Search by year of publication (Advanced search)"
Search by exact year of publication, e.g. 1932

Related bug #198

[2011-06-23 15:27] janahoffmann opened #46 "1.2.3 - Search by range of years of publication (Advanced Search)"
Update:

Search needs to be always in form e.g. [1850 TO 1950]. For simple and advanced search.

Search by range of years of publication, e.g. 1850-1950
reported bug #170

[2011-06-23 15:28] janahoffmann opened #47 "1.2.4 - Search by dates in special format (Advanced Search)"
Search by special format, e.g. 12th century

Precondition: Multilingual thesauri for era/ year

[2011-06-23 15:30] janahoffmann opened #48 "1.2.5 - Combined search in different metadata fields (Advanced Search)"
Updated description:
Select/ combine different metadata fields for search; e.g. search for author and year, or search for taxon name in a certain time interval.

Precondition:
Define metadata fields for search. Display alternative title for the user, e.g. not 'dc_title' but 'Title'.

Old description:
Select different categories for search; e.g. search for author and year, or search for taxon name

[2011-06-23 15:32] janahoffmann opened #49 "1.2.6 - Search for journals titles (Advanced Search)"
Enter a journal title, search in 'journal index' of BHL-Europe, e.g. 'The American journal of anatomy'; display all digital holdings/ Volumes under the name of this journal.

Precondition:
Index of journal titles (including acronyms and various spellings), see: http://www.mainlib.uwi.tt/divisions/eps/guides/epsjournalabbguide.pdf
http://www.bioscience.org/atlases/jourabbr/list.htm or

[2011-06-23 15:33] janahoffmann opened #50 "1.2.7 - Search for journal acronyms (Advanced Search)"
Search for acronym of journal title, e.g. Organisms Diversity and Evolution = ODE. There are various acronyms for journals. Using a webservice for search term amplification...

Precondition:
Index of journal titles (including acronyms and various spellings), see: http://www.mainlib.uwi.tt/divisions/eps/guides/epsjournalabbguide.pdf
http://www.bioscience.org/atlases/jourabbr/list.htm

[2011-06-23 15:35] janahoffmann opened #51 "1.2.8 - Search on article level (Advanced search)"
Search on article level in volumes (books, items), exclude monographs in search.

Preconditions:
Annotation of single articles in metadata of provided by CP (see OLEF schema layer - article level)
other webservices to be integrated: Biostor http://biostor.org/ or citebank http://citebank.org/
Crowdsourcing? (Annotation software)

[2011-06-23 15:36] janahoffmann opened #52 "1.2.9 - Search within previous search results (Advanced Search)"
Search within previous results with new/ different parameters, not ‘filter search results’

[2011-06-23 15:37] janahoffmann opened #53 "1.2.10a - Search for origin of publication (renamed, Advanced Search)"
Updated description:
Search in metadata field 'origin of publication', this means city or country, e.g. search for books published in Berlin or Germany.

Extension:
Invoke webservices in order to get the location/ country of a city.
Provide a map.

Preconditions:
Provision of origin of publication by CP with metadata.
For extension: Integration of geographic reference webservices.

Old description

[2011-06-23 15:39] janahoffmann opened #54 "1.2.11 - Search for words/ names in document"
Live search in OCR document in content viewer.

Precondition: OCR of documents, performance?

[2011-06-23 15:39] janahoffmann opened #55 "1.2.12 - Search with exact phrase only (Advanced search)"
Search for exact phrase, e.g. ' evolution of'; no deviation allowed

Related bug: #177

[2011-06-23 15:41] janahoffmann opened #56 "1.2.13 - Search with truncated phrases (Advanced search)"
Search with truncated phrases with automatic wildcards at the beginning and the end of the search phrase, e.g.

`*relle de mo*`

 should enable finding "Histoire natuRELLE DE MOllusques" but not "Histoire naturelle des annelides et mollusques". Like MS Word search function.

Related issue/bug: #27

Connected issue: #39

[2011-06-23 16:12] janahoffmann commented on #21
I totally agree. We just have to distinguish between portal features and other 'features' related to the overall BHL-Europe system. So, I remove the label, but will leave it untouched...:-)

[2011-06-23 16:14] janahoffmann opened #57 "1.3.1 - Browse by categories (Browse Index)"
Browse by main search categories, e.g. titles, authors, year, and most common search terms; - alphabetical index.

Precondition: Defined main categories.

Related bugs #181; #182; #183

[2011-06-23 16:16] janahoffmann opened #58 "1.3.2 - Browse by most common search terms (Browse Index)"
Browse by most common search term.

Precondition: Web analytics

[2011-06-23 16:17] janahoffmann opened #59 "1.3.3 - Browse by ‘download’ (Bowse Index)"
Browse most frequently downloaded items.

Pre-condition: Web analytics

[2011-06-23 16:17] janahoffmann opened #60 "1.3.4 - Browse by most viewed items"
Browse most frequently viewed items.

Precondition: Web analytics

[2011-06-23 16:27] janahoffmann opened #61 "1.4.1a - Metadata fields displayed in result lists (renamed, Result list)"
Updated description:
Include information on the following metadata per item in the result list:
(1) Journals (single volumes): title of journal, (title of volume), publisher, place of publication, publishing date (start year)
(2)Journal article: article title, author, year, journal title/ volume/ page range, (content provider?)
(3)Monograph: title,  author, year, content provider

General requirem

[2011-06-23 16:28] janahoffmann opened #62 "1.4.2 - Sort result list by facet list (renamed, Result list)"
Updated description:
Sort result by main categories:
material type (by category): serial (journal), journal volume, monograph;
author (alphabetically);
date (numerically);
language (by category);
content provider (sort by category);
scientific name
...

Display number of hits per category

Precondition:
Expandable facet list

Previous description:
sort result list by: (1) category; (2) alphabetica

[2011-06-23 16:30] janahoffmann opened #63 "1.4.3 - List journal titles (Result list)"
List journals alphabetically, include acronym
only one line per journal title
direct link to 'BHL-Europe main page of journal'
show main 'journal page' including all content of this journal available in BHL corpus and additional bibliographic data (OPAC style)

Preconditon: See feature 1.2.6/7 (#49, #50); stable URL to main journal page in BHL-Europe

[2011-06-23 16:33] janahoffmann opened #64 "1.4.4. - Display results per category or facet list"
Display results per category: author, title, year, taxon

for example: Search term "mouse"

author: 0 results
title: 1456 results
year: 0 results
taxon: 50 results

Precondition: Define a list of facets/ categories

Final decission after The Hague meeting:

Criteria for facet list:
• function of sort by criteria with combination of filter results
• main heading of facet items
       o    Material

[2011-06-23 16:35] janahoffmann opened #65 "1.4.5 - Display scan quality (Result list)"
Indicate scan quality (start rating system or technical data, e.g. resolution)

Precondition:
technical information in metadata, e.g. resolution,
user feedback/ crowd sourcing system

[2011-06-23 16:35] janahoffmann opened #66 "1.4.6 - List items in bibliographic basket (now 4.1.20, Community portal)"
Add bibliographic information/ metadata set on item level to the ‘bibliographic basket’

The bibliographic basket works as a 'shopping basket', where you can add items (by click, or drag&drop). When you open the basket you see the lists of metadata set you have previously chosen and you have additional sort and export functions. This enables the users to 'construct' their own bibliographic list/ r

[2011-06-23 16:37] janahoffmann opened #67 "1.4.7 - Modify list in bibliographic basket (now 4.1.21, Community portal)"
Updated description:
Modify the list of bibliographic items in bibliographic basket:
set up different lists (name lists, e.g. 'literature on trees', 'literature of Darwin')
modification of formats (per list), e.g. Endnote, Reference Manager, library formats (Marc21, DC, maybe BibTex)

Precondition:
set up bibliographic basket
provision of metadata in Marc21, DC, etc.)
provision of metadata in Endn

[2011-06-23 16:38] janahoffmann opened #68 "1.4.8 - 'Batch download basket' (now 3.2.8, Content download)"
Updated description:
Add items (monographs), articles, pages, ... to download basket (by click, or drag&drop)

The batch download basket shall be integrated in the content viewer to enable direct selection of the items to be downloaded. The selected items (see above) will be listed in a 'shopping basket' like environment and a batch download can be initiated any time (directly or by email or conne

[2011-06-23 16:39] janahoffmann opened #69 "1.4.9 - Modify list in batch download basket (renamed, now 3.2.9, Content download)"
Updated description:
Change download formats in 'Batch Download Basket', e.g. PDF, OCR, TIFF, per item/ per list.

Precondition:
set up batch download environment
provision of content in various formats

Connected issue: #68

Previous description:
Modify export format, styles, e.g. Endnote, etc.

Preconditions: Set up batch download basket

[2011-06-24 07:58] akohlbecker commented on #55
The given example query string 'evolution' is only a single term and not a phrase in the proper sense. Therefore I suggest changing it into:  'evolution of'

[2011-06-24 08:20] akohlbecker commented on #38
A diacritical mark is an ancillary glyph added to a letter, theses are only a limited subset of the special characters. The title of this ticket requests for the ability to search using special characters. What are special characters, unfortunately the only really comprehensive wikipedia article this topic is written in German: http://de.wikipedia.org/wiki/Sonderzeichen

Some examples: !"§$%&/()=?

[2011-06-24 08:26] akohlbecker commented on #3
ticket replaced by #42

[2011-06-24 08:30] akohlbecker commented on #29
@janahoffmann : I cannot find the new ticket on CoR feature 4.1.7., shouldn't we keep this ticket open until the new ticket has been created and until the comments have moved?  Otherwise we might lose information.

[2011-06-24 08:36] akohlbecker commented on #36
Even characters which look (nearly) the same may differ in the number by which they are encoded. Here is an example (copied from #1 to here) of a related bug in simple search:

searching for 'Küsten' ( http://test111.ait.co.at/?q=advanced_search_view/{!lucene}K%C3%BCsten ) should return an item with title "Über die Ökologie und Verbreitung der Arthropoden der Triebsandgebiete an den Küsten Finnl

[2011-06-24 08:37] akohlbecker commented on #1
new ticket #36

[2011-06-24 10:18] janahoffmann commented on #29
@akohlbecker: I copied all of the comments, so nothing gets lost. I am in the process adding all the features, as you can imagine not a very exciting job. I will continue adding the features today, so everything will be up an running soon. Another problem is that some of the previous issues relate to several features, so they might be replaced by more than one feature. In future we will track back

[2011-06-24 12:26] janahoffmann opened #70 "1.5.1 - ’Bibliographic information page’ and download bibliographic information (renamed, Metadata view)"
Updated description:
Display important metadata fields:
For articles: title, author, year, page range, journal title (hypertext link to ‘journal page’, volume title, publisher, place of publishing, language of the text, content provider
For monographs: title, author, year, number of pages, publisher, place of publishing, language of the text, content provider
For journal titles (Create journal tit

[2011-06-24 12:27] janahoffmann opened #71 "1.5.2 - Download content directly in various formats (renamed, now 3.2.7, Content download)"
Download item directly in various formats (PDF, OCR, TIFF, etc.), not from content viewer but from ‘bibliographic information page’ and 'result list' (only for articles and monographs, maybe volumes).
Start download by clicking on icon for format; or redirect to content viewer (optional: add content to batch download basket)
Display size of to be downloaded items.

Precondition:
File size in metad

[2011-06-24 12:28] janahoffmann opened #72 "1.5.3 - Display origin of content (renamed, Metadata view)"
Updated description:
Provide link to source of content at content providers site, e.g. in 'bibliographic information page' in the field: content provider (link/ hyperlink to content in content provider site/ portal (like Europeana).

Precondition: provide link to portal of content provider

Connected issue: #70

Previous description:
Provide link of source (content provider)
redirection to source/

[2011-06-24 12:30] janahoffmann opened #73 "1.5.4 - Display size of to be displayed item (renamed, Metadata view)"
Estimation or actual size of item before refered to content viewer (book reader).

Precondition: file size in metadata or algorithm for estimation of file size

[2011-06-24 12:38] janahoffmann opened #74 "2.1.1 - Search for content by colloquial name (Advanced search)"
Search with colloquial name:
Search in metadata (titles, etc.) and OCR
or translate Latin names found by uBio into colloquial names by other web services (search term amplification)

Precondition: index latin names, and colloquial names (coordinates) in metadata, e.g. title, OCR, integrate taxonomic intelligence web services, e.g. Sp2000, PESI, ...

Related issue: #185, #187

[2011-06-24 12:40] janahoffmann opened #75 "2.1.2 - Search content by scientific (binominal, Latin) name (renamed, Advanced search)"
Search by scientific name (genus, species, binominal, taxon), search in metadata/ OCR text

Precondition: uBio integration (TaxonFinder), save coordinates of names found in OCR in metadata (OLEF)

[2011-06-24 12:43] janahoffmann opened #76 "2.1.3 - Search by author including synonyms and various spellings (Advanced search)"
Search by authors name (various spelling (languages), abbreviation, synonyms),
search in authors metadata field, filter results by facet list
e.g.  Linné = Linnaeus

Precondition: Integration of VIAF web service, index of authors name in metadata and OCR text (optional)

Related issue: #185, #187

[2011-06-24 12:44] janahoffmann opened #77 "2.1.4 - Multilingual search for colloquial species name (Advanced search)"
Search by colloquial name. Extend search term in selected languages/ or other languages (available).

e.g. search for dog - indicate other languages/ all - also search for Hund, chien, etc.
(see German prototype)

Precondition: multilingual thesauri or web services, e.g. CoL (Sp2000)

[2011-06-24 12:47] janahoffmann opened #78 "2.1.5 - Search species protologues (original descriptions of taxa) (Advanced search)"
Search by scientific name (taxonomic), select 'only protologues', search in metadata/ annotations of OCR texts.

Preconditions:
Integration web services, e.g. Animalbase (for zoology),
or provision of information in metadata

[2011-06-24 12:50] janahoffmann opened #79 "2.1.6 - Search for synonyms of species names (Advanced search)"
Search by species name (taxonomic)
search for taxonomic name and identified synonyms (expand search)

e.g. search for Minutella minuta - expand search with synonyms - include search term Thecidellina minuta (synonym of M. minuta)

Preconditions: List of synonymies for species names, integration of webservices (taxonomic intelligence), e.g. Sp2000, PESI

[2011-06-24 12:52] janahoffmann opened #80 "2.1.7 - Search identification keys in publications (Advanced search)"
Search by taxonomic name
select 'only (identification) keys'
display only content with identification keys and link to respective page

Preconditions:
Tagging of identification keys in OCR text by crowd sourcing?, mark-up content, e.g. Zookeys or provison with metadata

[2011-06-24 12:54] janahoffmann opened #81 "2.1.8 - Search by geographic information, provenance (Advanced search)"
Search by  geographic term
e.g. Africa, Maldives, etc.

Precondition: use index of geographic information (similar to TaxonFinder for geographic names), contact P. Mergen (RMCA)/ AIT or crowd sourcing

[2011-06-24 12:54] janahoffmann opened #82 "2.1.9 - Hold local copy of information provided by web services"
Counteraction if Web Services are down

2 options:
Setup a proxy to cache external webservice requests
Mirror/local backup of Ubio, species 2000, etc.

[2011-06-24 12:57] janahoffmann opened #83 "3.1.1 - View Content (Content view)"
Display content (OCR text or pdf) with various functionalities
 minimum time for loading page (5sec),
indicate loading process of page
--> compare with BHL portal book viewer

Precondition: OCR for all items

[2011-06-24 12:59] janahoffmann opened #84 "3.1.2 - View TOC of item (Content view)"
Display table of contents

Precondition: Pagination (in metadata) or default pagination (pages of scanned document)

[2011-06-24 13:00] janahoffmann opened #85 "3.1.3 - View title of item (Content view)"
Display title of item in content viewer

[2011-06-24 13:00] janahoffmann opened #86 "3.1.4 - View contributor of item (Content view)"
Display content provider in content viewer.

[2011-06-24 13:01] janahoffmann opened #87 "3.1.5 - Show bibliographic information (rename, Content view)"
Show bibliographic information in content viewer upon request by user
one option: refer to 'bibliographic information page' (button).

Precondition:
bibliographic information page

[2011-06-24 13:03] janahoffmann opened #88 "3.1.6 - Display selected page or plate listed in table of contents (Content view)"
click on page, plate, etc. in TOC and display respective page - use real page numbers in document and not! number of scanned page

Precondition: Pagination of scanned item, table of contents

[2011-06-24 13:05] janahoffmann opened #89 "3.1.7 - Navigate in document in content viewer (Content view)"
Implement user friendly buttons:
up, down, select page, forward, backward, go back to first page, go to end of document, etc.

[2011-06-24 13:06] janahoffmann opened #90 "3.1.8 - Zooming (in content viewer) (Content view)"
Enlargement buttons 30-50%
requests: no full screen option, no thumbnails in original image

[2011-06-24 13:10] janahoffmann opened #91 "3.1.9 - Print item (Content view)"
Click on button: print (not download) volume, page (actual page and page range)
- implement 'safe the environment' button ;-)

Precondition: pagination

[2011-06-24 13:11] janahoffmann opened #92 "3.1.10 - Change display quality (Content view)"
+/- buttons for low-high display quality (different view modes) or color/ black-white in content viewer

Preconditions: decide default setting

[2011-06-24 13:12] janahoffmann opened #93 "3.1.11 - Show all recognized taxa in content viewer (per page) (content view)"
List scientific names recognised by uBio in content viewer, e.g. per page as in BHLUS portal (lower left box)

Precondition: Integration of uBio (TaxonFinder), save names and coordinates in metadata (OLEF)

[2011-06-24 13:14] janahoffmann opened #94 "3.1.12 - Display entry page of document as default page (Content view)"
Show first page of publication, not first page scanned (ideal: with author and title)

Precondition: correct pagination of scanned item in metadata

[2011-06-24 13:15] janahoffmann opened #95 "3.1.13 - Copy text directly from content viewer (Content view)"
mark text in document in content viewer, copy/paste

Precondition: OCR of item

[2011-06-24 13:18] janahoffmann opened #96 "3.1.14 - Search (real) page number and display (Content view)"
Enter page number in box
Display only requested page.

Precondition: correct pagination or image numbers

[2011-06-24 13:19] janahoffmann opened #97 "3.1.15 - Search for plates and images in document (Content view)"
Enter number in box for figure or plate
Display only requested figure/ plate

Precondition:
Indexed plates and images in OCR document.
Indentification of Arabic and Roman numerals.

[2011-06-24 13:20] janahoffmann opened #98 "3.1.16 - Distance Measuring of Depictions in Units (scaling page?)"
Calibrate the distance using a ruler, apply calibrated ruler to depiction, scale page to appropriate size of window

[2011-06-24 13:21] janahoffmann commented on #98
Please provide a better description. What is this about? This feature was added to the list by someone else...Who? Please clarify!

[2011-06-24 13:24] janahoffmann opened #99 "3.2.1 - Download single pages/ plates/ figures of document (Content Download)"
Click on single page(/figure/plate) in table of contents (TOC) or enter page numbers in box.
Download selected pages

Precondition: correct pagination

[2011-06-24 13:26] janahoffmann opened #100 "3.2.2 - Download item/content from content viewer"
Direct download of item from result list
Download from content viewer
Download from 'Download basket'

Precondition: Set up download basket

[2011-06-24 13:27] janahoffmann opened #101 "3.2.3 - Download item in different qualities (Content download)"
Download in different qualities: high, low , color/ bw

Precondition: 'quality' tic box

[2011-06-24 13:28] janahoffmann opened #102 "3.2.4 - Download item in different file formats (Content download)"
Download items in different formats, e.g. pdf, jpg, OCR

Precondtion: 'format' tick box

[2011-06-24 13:29] janahoffmann opened #103 "3.2.5 - Download single article in volume (Content download)"
Select article for download in volume by title, author, etc. '(see BHLUS approach) or page range

Precondition: article level in metadata, correct pagination

[2011-06-24 13:31] janahoffmann opened #104 "4.1.1 - Design of portal (interface) (Community portal)"
User friendly design of portal, wireframes

[2011-06-24 13:32] janahoffmann opened #105 "4.1.2 - Count user visits (Community portal)"
Display user visits of BHL-Europe portal on main page.

Precondition: Website analytics

[2011-06-24 13:33] janahoffmann opened #106 "4.1.3 - Help for Search (Community portal)"
Provide link to help and tutorial.

Precondition:
Create help/ tutorial for search.

[2011-06-24 13:34] janahoffmann opened #107 "4.1.4 - Help for download (Community portal)"
Provide link to help and tutorial for download.

Precondition:
Create help/ tutorial for download

[2011-06-24 13:34] janahoffmann opened #108 "4.1.5 - Help for account/ registration/customization of user profile (Community portal)"
Provide link to help and tutorial.

Precondition:
Create help/ tutorial for account/ registration/customization of user profile

[2011-06-24 13:36] janahoffmann opened #109 "4.1.6 - Search/ find BHL-Europe content with various search engines (Community portal)"
Find BHL content (URL's) with search engine, e.g. Google

Precondition: Index BHL-Europe content, stable URL's?

[2011-06-24 13:37] janahoffmann opened #110 "4.1.7 - Show BHL news (Community portal)"
News feed (RSS): BHL Blog, Tweets, Facebook
Display on main page

[2011-06-24 13:38] janahoffmann opened #111 "4.1.8 - Help for additional services (Community portal)"
Provide link for help and tutorial on addtional services, e.g. bibliographic basket, batch download basket, usage- integration of web services (VIAF, uBio, CoL, PESI, extended search), specific search functionalities, content viewer.

Included in 'hints'?

Precondition:
Create help/ tutorial for addtional services.

[2011-06-24 13:40] janahoffmann opened #112 "4.1.9 - Link BHL-Europe record (URL) with personal webpage (Community portal)"
Copy/paste link of BHL-Europe record/ content in URL bar to your personal website.

Precondition:
stable URL/ ID
copyright clearance (notifyer)

[2011-06-24 13:41] janahoffmann opened #113 "4.1.10 - Receive BHL news via email (Community portal)"
Provide subscription box for, e.g. newsletter, RSS feeds, etc.

Precondition:
Registration with email address

[2011-06-24 13:44] janahoffmann opened #114 "4.1.11 - View scan status of item (Commmunity portal)"
View scan status of object in metadata view

Precondition: integration of GRIB, search in digitised and non digitised content

[2011-06-24 13:46] janahoffmann opened #115 "4.1.12 - Favorites list by tagging items (renamed, Community portal)"
New description:
tag items
predefined tags for unregistered users
remember tags/ customize tags by registered users

extension: link to Mendeley services via API

Updated description:
Add items (metadata) on all available content in BHL-Europe to ' Bibliographic basket' (by click, or Drag&Drop).
Modification of list of metadata records (sort function, change bibliographic format, etc.)
Export in v

[2011-06-24 13:48] janahoffmann opened #116 "4.1.13 - Batch download of articles: ‘batch download basket’ (Community portal)"
shopping basket style
items added per drag&drop or by click (pull down menu)
Features: change download format, quality, etc., choose target folder

[2011-06-24 13:49] janahoffmann opened #117 "4.1.14 - Download compressed files/ folder"
Choose compression options in download basket

Precondition: Download basket

[2011-06-24 13:50] janahoffmann opened #118 "4.1.15 - Download bibliographic data, content, taxon names with application programming interfaces (APIs) (Community portal)"
Download bibliographic data, content, taxon names with application programming interfaces (API’s)

[2011-06-24 13:50] janahoffmann opened #119 "4.1.16 - Look & Feel (Community portal)"
Applying web design to BHL-Europe Drupal theme.

[2011-06-24 13:53] janahoffmann opened #120 "4.1.17 - Assess and evaluate user activities"
Monitor/ assess/ collect:
Download volume(page/ volumes)
performed search
...

by Web analytics, BHL server log files, user profiles

[2011-06-24 13:55] janahoffmann opened #121 "4.1.18 - Access frequency of (internal/external) link usage"
Assess:
referred sites, e.g. partner institutions, Europeana, BHL-Europe project web site, etc.

Display only most used link on main page

by web analytics and/ or NHM log files

[2011-06-24 13:56] janahoffmann opened #122 "4.1.19 - Access frequency of item usage"
Assess preferred downloaded or viewed items (precondition for browse) by Web analytics or NHM log files

[2011-06-24 13:57] janahoffmann opened #123 "4.1.20 - Assess most frequently used search terms"
(precondition for browse) by web analytics or NHM log files

[2011-06-24 13:59] janahoffmann opened #124 "4.2.1 - Change individual search setting"
Change settings for display and filter/sorting (only registered users)

Related bug #184

[2011-06-24 14:00] janahoffmann opened #125 "4.2.2 - Save search results"
Save and display search history (only registered user)

[2011-06-24 14:01] janahoffmann opened #126 "4.2.3 - Save results to favourites (URL’s)"
Provide link for saving search results in favorites (of browser), shorter url's?

[2011-06-24 14:01] janahoffmann opened #127 "4.2.4 - Change individual download settings"
Define target-folder, formats, styles, etc. (only registered user)

[2011-06-24 14:02] janahoffmann opened #128 "4.2.5 - Change individual setting for batch download (‘basket’)"
Define target-folder, formats, styles, etc. (only registered users)
Precondition: Download basket

[2011-06-24 14:03] janahoffmann opened #129 "4.2.6 - Change individual setting for bibliography download (‘basket’)"
Define target-folder, formats, styles, application (Endnote, Reference Manager), etc. (only registered users)

Precondition: Bibliographic download basket

[2011-06-24 14:10] janahoffmann opened #130 "4.3.1 - Define user roles"
Prepare different sets of default settings for search&retrieval, download and metadata view for different groups, e.g.
scientists, public user, librarian
user should be able to choose between these group (explanation in help)

public user can be the default for the entry page and only scientists and librarian need to be defined separatly, e.g. tick-box

Precondition: define default settings for gr

[2011-06-24 14:12] janahoffmann opened #131 "4.3.2 - Authorisation to improve metadata and OCR in BHL-Europe content"
Edit metadata, OCR and tags
suggestion: registered content provider (librarinas) are able to directly change their metadata/OCR in BHL-Europe if necessary

[2011-06-24 14:16] janahoffmann opened #132 "4.3.3 - Change login details"
Change login details e.g. user name, password, email address

[2011-06-24 14:17] janahoffmann opened #133 "4.3.4 - Set up user profile"
Set up user profile with personal information, picture, etc. (registered user)

[2011-06-24 14:19] janahoffmann opened #134 "4.4.1 - Edit bibliographic information of BHL-Europe content"
Edit metadata, e.g. volume number, names, etc.
only authorised librarian user (CP)

[2011-06-24 14:20] janahoffmann opened #135 "4.4.2 - Add/ edit tags"
Add/edit tags or flag status of item, e.g. provenance, disciplines, taxa

Crowd sourcing? - registered user (e.g. scientists, librarians)

[2011-06-24 14:22] janahoffmann opened #136 "4.4.3 - Feedback OCR (general) quality"
Report OCR quality in feedback template (or rating system)
(only registered user)

extension: use collected feedback as quality control and flag items accordingly (rating system)

[2011-06-24 14:23] janahoffmann opened #137 "4.4.4 - Feedback scanning quality"
Report scanning quality in feedback template (only registered users)
extension: use collected feedback as quality control and flag items accrodingly (rating system)

[2011-06-24 14:26] janahoffmann opened #138 "4.4.5 - Bug reporting/ issue tracker for portal users"
Report and evaluation of technical bugs, use Tervuren helpdesk to track all issues.
Issues relevant to software will probably be fed into GitHub Issue Tracker (not directly but indirectly, e.g. via API)
There is a github issue API: http://develop.github.com/p/issues.html [Andreas K]

[2011-06-24 14:27] janahoffmann opened #139 "4.4.6 - Scan request"
Set scan request on item

Precondition: Integration of GRIB, display scan status, search in digitised and non digitised content

[2011-06-24 14:30] janahoffmann opened #140 "4.4.7 - Edit OCR text"
Make changes/ corrections in OCR text (only registered user) - Crowd sourcing, Wiksource?
Display changes/ improvement in portal

Precondition: editorial team for approavl of changes (CP's?)

[2011-06-24 14:32] janahoffmann opened #141 "4.4.8 - User survey"
New description:
'check box' for willingness to participate in the user survey when set up an account
provide email contact information

Old description covered by 4.3.4

Small user survey when login for the first time: assessment of user identity, user role, institution, etc.

Precondition: rights clearance (storage and use of personal data)

[2011-06-24 14:34] janahoffmann commented on #141
link to use case page or feedback page (use case page or general feedback page (guestbook) not yet defined as feature, but might be important) - What do you think @jirifrank

[2011-06-24 14:43] janahoffmann commented on #110
previous comments @akohlbecker
RSS feeds issued from twitter, facebook etc are to be displayed on the portal front page in a "news" box.
This can be accomplished by making use of the Drupal aggregator module.
The news box will be placed initially in the left side bar.

List of potential feeds to be included:
- http://twitter.com/BHLEurope
- http://www.facebook.com/pages/BHL-Europe/151086001600041

[2011-06-24 14:44] janahoffmann commented on #29
now issue #110

[2011-06-24 14:50] janahoffmann commented on #63
previous comments: @fwelter
A journal homepage is needed, equivalent to the bibliography page in BHL-US. Journal pages should only be provided for journals (see issue #23, vocabulary).

= a summary page for an entire serial run of a periodical, listing

(1) the names of the journal (some journals have different names in different years)
(2) the year,
(3) the volume number (with link to the corresp

[2011-06-24 14:53] janahoffmann commented on #49
previous comment: @fwelter
Search page, default search function: if the results for a query return the name of a journal, only the journal title shall appear in the list of search results.

Example:
http://test111.ait.co.at
query:
annalen naturhistorischen museums wien

(current result set: 1588 hits)

this query shall basically return only the journal homepage for the journal "Annalen des Naturhi

[2011-06-24 14:54] janahoffmann commented on #28
now issue #49

[2011-06-24 14:54] janahoffmann commented on #25
now issue #63

[2011-06-24 14:58] janahoffmann commented on #56
previous comments: @fwelter
Search page: Enable query mode for "relle des mo" search.

This feature is based on the results of Question 6 of the BHL User Survey 2010
documented here: http://www.planetposter.de/bhl/wien2010.htm
"The current BHL default should be maintained as a possible option "exact letter combination in title", so that "relle des mo" could be inserted and return only extremely fe

[2011-06-24 14:59] janahoffmann commented on #56
I think we could solve this issue (in display) with different setting related to user roles. This feature could be enabled for scientific users only... (as discussed and agreed in Tervuren)

[2011-06-24 15:00] janahoffmann commented on #27
now issue #56

[2011-06-24 15:04] janahoffmann commented on #34
previous comments: @fwelter
Boolean terms seach (and, or etc.) should NOT be included in the default search function. The default search function should be able to understand the word "and" as a word belonging to the title.

[2011-06-24 15:08] janahoffmann commented on #24
Please discuss and assign this issue/ requirement to the appropriate person. It is not a 'real' feature to my understanding.
@chris-sleep

[2011-06-24 15:09] janahoffmann commented on #20
now issue #101

[2011-06-24 15:11] janahoffmann commented on #99
previous comments: issue #19
Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: PDF
Download selected pages in PDF format, enter page number in field (1-25)
The user interface is #16

leenamba commented
To test you can go to this URL and input different ranges:

http://bhl-alexandria.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods

[2011-06-24 15:16] janahoffmann commented on #19
now issue #99

[2011-06-24 15:18] janahoffmann commented on #99
previous comments: issue #18
Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: Image(jp2/jpg)

ZhengLIAtos is assigned

Download selected pages in Image(jp2 or jpg) format, enter page number in field (1-25)

[2011-06-24 15:19] janahoffmann commented on #99
previous comments: #17
Access – Web service for generating different formats for derivatives generated in realtime for different page ranges: OCR

 ZhengLIAtos is assigned

Download selected pages in OCR format, enter page number in field (1-25)

[2011-06-24 15:21] janahoffmann commented on #17
now issue #99

[2011-06-24 15:21] janahoffmann commented on #18
now issue #99

[2011-06-24 15:24] janahoffmann commented on #73
previous comments:
fwelter commented:
On the portal shall be shown the file size of the book in MB, so that users ca see what they have to expect.

leenamba commented
depends on how realtime the download is. If we generate on the fly then showing the file size will be hard. If we generate and save to an ftp site for download then we can do this. Otherwise an algorithm for estimating could be used

[2011-06-24 15:25] janahoffmann commented on #16
Franciscos comment now issue #73

[2011-06-24 15:28] janahoffmann commented on #99
previous comment: issue #16
Portal – Interface for downloading realtime derivatives: PDF

 hengdi is assigned

Download one page in PDF format
Download a book in PDF format

[2011-06-24 15:29] janahoffmann commented on #16
now issue #99

[2011-06-24 15:31] janahoffmann commented on #13
Jiri please add this as reported bug in the test report.

[2011-06-24 15:35] janahoffmann commented on #12
Jiri please include this as bug for issue #61 or others?

[2011-06-24 15:36] janahoffmann commented on #11
Jiri, please include this in the test report for #61.

[2011-06-24 15:39] janahoffmann commented on #10
@jirifrank Please include this in the test report for issue 1.1.5 - maybe the feature is not yet implemented...

[2011-06-24 15:39] janahoffmann commented on #10
now issue #37

[2011-06-24 15:43] janahoffmann commented on #61
previous comment:
fwelter
Long titles should be cut if they contain text that covers more than 2 lines space in the list of results.
Cut the length of the title to a standard value of maximum 200 characters.

[2011-06-24 15:43] janahoffmann commented on #9
now issue #61

[2011-06-24 15:45] janahoffmann commented on #8
now issue #61

[2011-06-24 15:45] janahoffmann commented on #61
previous comment:
fwelter
In the BHL User Survey the participants gave relatively clear guidelines for designing the list of results (search results, query results). I think it will be useful to do it as the frequent users like/need to have the results presented.

I give a summary for this big issue here. I do not know if it might be better to open an independent issue for every single step?

In t

[2011-06-24 15:46] janahoffmann commented on #7
@jirifrank Please include this in the test report for issue #61 (1.4.1).

[2011-06-24 15:53] janahoffmann commented on #99
@leenamba It is exactly as Chris described. In case we do not have the proper pagination in the metadata we can do it the same way as BHLUS is doing it.

This is an important note: Are you generating a PDF containing the text of a single journal article or book chapter? If so, please provide title and author information. BHL stores generated PDFs and author and title data will allow these PDFs to

[2011-06-28 09:26] zhengl commented on #99
Right now, we have provided the foundation for downloading PDFs by series number. If actual page numbers are required as parameters, we should wait and see what kind of metadata in AIP is stored during ingest process.

In addition, PDFs do not contain text, but images (you may try the example). If we want to store and index generated PDFs for the sake of efficiency, it is another new story. As I c

[2011-06-28 09:41] audreyhzhang commented on #99
@janahoffmann  we generate PDF from images (format jp2 or tiff), cause these are stored in our fedora repository as the orginal datastream that should be preserved.  For the moment,  the AIP we use for ingestion contains 3 parts:
- book page images (jp2 or tiff, both are ok)
- mods file (metadata of the book)
- thumbnail of the book
  but this will finally defined by the AIP that will be proved by

[2011-06-28 11:12] fwelter commented on #42
The hypothesis that fuzzy search might be more interesting for the "public user" (I understand this as the user who has practically not consulted BHL until today, and has practically not participated in the BHL User Survey) is a speculation and probably unsubstantiated. I would not rank this as a priority one feature for various reasons:
(1) I see no documented evidence that the user will urgently

[2011-06-28 11:25] fwelter commented on #53
4th column: It would possibly be necessary to have a database/controlled vocabulary to understand terms like "Lipsiae".

[2011-06-28 11:37] fwelter commented on #56
1.2.13 - "urelles mot" - this is not the same requirement as "relle des mo" (to find a title containing naturelle des mollusques), as discussed in Tervuren. These are two different features.

The "relle des mo" search means that relle des mo is queried (without quotes), and only results with this exact combination of letters are returned (= the current BHL default function). A result containing a

[2011-06-28 13:02] fwelter commented on #64
"year" should only be displayed if a numeral was part of the search query. "mouse" cannot be a year, so no need to display "year: 0 results"

[2011-06-28 13:20] fwelter commented on #65
User feedback:
Scan and metadata quality for each item would be ranked by the users in a 5-point scale (implies providing two sets of 5-point scale radio buttons for ranking scan quality and metadata quality, so that the users can select a value and submit). 5-point scales: from bad to good: 0, 20, 40, 60, 80, 100.
"Submit your ranking for scan quality (0 = bad, 100 = good)"
"Submit your ranking f

[2011-06-28 13:21] fwelter commented on #61
See #65 for display of scan quality and metadata quality in list of search results.

[2011-06-28 13:29] fwelter commented on #83
This one or #89 (3.1.7): display page-level metadata scrollbox.

Must be possible to see in a scrollbox immediately how many pages the work has. IA bookviewer does not have this scrollbox, this is the most serious shortcoming of that bookviewer.

Page-level scrollbox:

Left column: page number in digitised document, preferrably to be displayed in [ ] square brackets
Right column: page number in or

[2011-06-28 13:30] fwelter commented on #89
See #83 (3.1.1) for important priority one feature: display page-level metadata scrollbox.

[2011-06-28 15:18] DZielke commented on #32
OpenLDAP is setting up on the BHL-E Server, see also:
http://bhl-mandible.nhm.ac.uk/mint?n=2

documentation is found under Wiki, see here:
https://bhl.wikispaces.com/Installation+of+LDAP+server
(work in progress)

[2011-06-28 15:18] #32 closed, assigned to DZielke

[2011-06-28 18:12] janahoffmann commented on #99
@ZhengLIAtos
Well, unfortunately a book (volume) contained several article and sometimes these artciles are not! anotated in the metadata, because there is a great difference in cataloguing by librarians and the actual needs of scientists. The librarian regards the book as an item and might not list all the included artciles in a volume... the scientists wants only the article in the respective bo

[2011-06-28 18:16] janahoffmann commented on #42
@akohlbecker: Can you comment on this? estimation of effort etc.
@fwelter @chris-sleep: I leave this up to the WP3 management group to decide. I understood that it does not take too much effort.

[2011-06-28 18:18] janahoffmann commented on #53
@fwelter Can you explain what you mean here..I don't see this being related to the issue...4th column of what?

[2011-06-28 18:24] janahoffmann commented on #64
@fwelter I agree for the years but what it with the author ;-) There could be an author with the name 'mouse'...This example was used to illustrate the result structure. I think all the categories should be displayed all the time...but this are just very minor changed and can be discusse while testing. It is important that the developers understand the general idea.

[2011-06-28 23:35] fwelter commented on #64
Yes of course, I understood, no problem. Just to keep this detail in mind.

[2011-06-28 23:40] fwelter commented on #53
I meant the 4th column in your PDF document.
https://bhl.wikispaces.com/file/view/BHL-E_catalogue+of+requirements_v0.pdf

I do not know if library metadata contain a field "country of publication", I thought not. I know they do have a field "locality of publication" which usually contains one or more cities, often copied from the original source. "Lipsiae" (= Leipzig, Germany) is an example to ill

[2011-06-29 09:37] fwelter commented on #92
Black & white and low display quality should generally be default. Speed in the content viewer was identificed as more important than quality.

However, if the scanned item contains exclusively colour plates, it might be an option to select colour and moderately high quality as default. Precondition would be that the program recognises an item as a colour plates only book.

[2011-06-29 09:39] fwelter commented on #95
OCR must eventually be checked for correct character encoding, so that the copied text arrives correctly.

[2011-06-29 09:46] chris-sleep commented on #4
a couple questions to find a solution to this:

First of all - which location in the filesystem does the www user need to write into?
Secondly, presuming the apache is running as www-data user, is it viable to run it as bhladmin?
Thirdly - which php script (so I can take a look and confirm when the write is behaving?

thanks!

[2011-06-29 09:47] fwelter commented on #102
OCR: pay attention to consider eventually different character encodings. UTF-8 should be default, but users might eventually like to select other character encodings when downloading an OCR'd text.

[2011-06-29 09:49] fwelter commented on #104
Avoid various frames inside other frames. Hold the portal as simple as possible.

[2011-06-29 09:50] fwelter commented on #105
Count user visits for every item individually, and display on the item page how often a title was viewed before.

[2011-06-29 09:55] fwelter commented on #112
The current BHL-US URLs such as

http://www.biodiversitylibrary.org/item/40475
or
http://www.biodiversitylibrary.org/bibliography/6205

should remain stable and also valid for the European portal.

This should be highest priority because many many biodiversity websites do currently provide "fix" links to those URLs. A large proportion of BHL users come in from such links. Users who follow these li

[2011-06-29 10:07] fwelter commented on #132
Should be made clear who is expected to login and why. A page would be needed that explains which additional rights login users have, and that all important core tasks/services are accessible without login.
Counts would also be useful (for us: to see the proportions how many users are logged in and how many not).

In the BHL User Survey several participants said that they do not like services wher

[2011-06-29 10:37] fwelter opened #142 "4.4.9 (proposal) - Edit BHL-Europe content metadata proposals (by users)"
Users should be enabled to make proposals for changes in page-level metadata, and by this action they would create a second page-level metadata scrollbox which should be displayed on the content viewer page.

Precondition: they would need a submit form for page-level metadata.

Community-vetted page-level metadata corrections could be made by any user, and if a correction was submitted, shown in a

[2011-06-29 10:39] fwelter commented on #134
See #142 (proposal for 4.4.9), edit metadata proposals for non-authorised users

[2011-06-29 13:55] akohlbecker commented on #42
First of all we should try to get a common opinion on what it actually meant by '**Fuzzy Search - Search with incorrect search terms.**' is it the 'Google like search' the user survey was asking for? I suppose not since the question which has been posed _"Perform simple "Google-like" keyword searches that return a long list of search results ranked by relevancy"_ emphasizes rather on the result li

[2011-06-29 14:41] janahoffmann commented on #53
@sprogerb There is a metadata field language 'language of metadata' or 'language of publication/ volume'. Could you please clarify whether this would be helpful for this issue or not?
@fwelter So, a controlled vocabulary would not be needed if only the language matters. Of course this would be more a proxy.
@jirifrank What metadata field do you use for BLE as you have the function sort by country?

[2011-06-29 14:43] janahoffmann commented on #95
@fwelter well, that's the future ;-) but we won't be able to provide this service for our users....crowdsourcing was discussed as an option to improve OCR quality...

[2011-06-29 14:46] janahoffmann commented on #105
@fwelter This is something we can use for the browse function...but I think this would be too much information for the result page...see issue # 60

[2011-06-29 14:50] janahoffmann commented on #132
I think the core functionalities will be accessible without login. However some functionalities including additional services (user profile, customization of search and download) will require a login.

[2011-06-29 15:09] fwelter commented on #42
Fuzzy search had not been directly mentioned/asked in the User Surveys, and as far as I remember no User Survey participant had the idea to mention it. We realised in our discussions in the preparation sessions in Berlin (Feb 2010) that the term "Google-like" was too inaccurate and that we had to specify which components the users should consider for their rankings. We decided to include "return a

[2011-06-29 15:17] fwelter commented on #95
Probably misunderstood. Character encoding. This is not correctness of text, only correctness of diacritics etc.
This does not have to do with community actions. It would only be necessary to recognise which character encoding had been used by the instoitution that provided the OCR document, and either indicate which one it was, or convert it automatically into UTF-8. For the developers this shoul

[2011-06-29 15:27] fwelter commented on #105
Yes I agree, a possible option for #60 but perhaps not necessary or at least not with high priority for the browse function. It is important to get information on user visits for items, for us internally to know which kind of literature is more and which disciplines/epochs etc. are less requested. Provides important background information for libraries who try to get funds for digitising literatur

[2011-07-04 11:46] akohlbecker commented on #42
Oh, I suppose I was expressing my self not clearly when I wrote about the language independence of the phonetic algorithms. I meant by this that these algorithms are independent of any language specific thesaurus, the phonetic similarity is of course quite different in different languages.

A alternative of allowing a fuzzy search is to implement some fuzziness into the auto-complete / auto-sugges

[2011-07-05 10:31] JiriFrank commented on #119
The new template will be instaled today 10th August between 2:30 - 3:30 pm.

[2011-07-08 15:38] akohlbecker commented on #107
A couple of  questions in order to clarify what actually should be done:
- where should this link be placed, on which page?
- The Help/ tutorial for download is to be written in the BHLWiki or on the project page. This test is then is transferred into a Drupal node, right? I suppose writing this test is another task, so we should open another ticket for it.

[2011-07-08 15:43] akohlbecker commented on #106
A couple of  questions in order to clarify what actually should be done:
- Where should this link be placed, next to any search form?
- Since we have different searches: simple, advanced, we would need different help texts. All help texts could be on the same web page but marked up with specific anchor tags. so that it is possible to "jump" to the according paragraph using URI fragments (e.g: help

[2011-07-11 11:16] lobajuluwa opened #143 "Setup GUID-Minter & Handle.net server"
tasks to be completed:-
- Implement, install, document GUID-Minting service based on NIOD - UBER (Dennis)
- Install, setup, test and document Handle.net server, migrate handle prefix to new server - BGBM (Andreas)

Progress update 22/06/11:- GUID installed, ready to integrate with authentication mechanisms
LDAP agreed for implementation for central user repository (see other ticket #32) , GUID as

[2011-07-11 11:27] lobajuluwa opened #144 "Implement Pre-Ingest Tool"
DoW task:- 3.1.5

Tasks to be completed:-

Provide access to content providers for the Pre-ingest Tool for testing
Provide Pre-ingest description for content providers and BPG
Feedback from selected CPs [Content Providers]
Take feedback into account
Provide final Pre-inget tool & access to all content providers

[2011-07-11 11:29] lobajuluwa opened #145 "File Submission Guidelines"
Tasks to be completed:-
- Provide recommendation : Article level content: how to provide pages that do not belong to articles but to the volume?
- Documentation for OLEF

[2011-07-11 11:36] lobajuluwa opened #146 "Fedora low level filestorage"
Tasks to be completed:-

Test new llstore with HSM in NHM
Progress status: Working on

[2011-07-11 13:04] lobajuluwa opened #147 "Create small data set (AIP) from Ingest to AS"
DoW tasks: 3.2, 3.3 [AIT/ATOS]

[2011-07-11 13:05] lobajuluwa opened #148 "Mapping MODS/METS/ESE"
DoW task: 3.4.2

[2011-07-11 13:08] lobajuluwa opened #149 "Europeana compliance check"
DoW task: 3.2.1

[2011-07-11 13:21] lobajuluwa opened #150 "Preparation of Portal Release"
DoW tasks: 3.4.3

[2011-07-11 13:26] lobajuluwa opened #151 "Enrichment of Metadata (Multilingual Vocabularies)"
DoW task: 3.4.1, 3.1.5

[2011-07-11 13:30] lobajuluwa opened #152 "Multilingual Vocabularies (planned to be released) on Portal"
DoW: 3.4.3

[2011-07-11 13:35] lobajuluwa opened #153 "Enrichment of Metadata (OCR Improvement Taxon Finder)"
DoW: 3.1.5

[2011-07-11 13:40] lobajuluwa opened #154 "Data Synchronisation Frameworks"
DoW: 3.3

[2011-07-11 14:01] akohlbecker commented on #143
The Handle.Net server is installed, configured, registered and tested see  https://bhl.wikispaces.com/Installation_of_Handle.net_server_2

[2011-07-11 14:01] lobajuluwa opened #155 "D3.8 (M30)"
DoW D3.8 Sustainability policy for continuation of service e.g. hosting, future development, helpdesk provision for service users/content providers etc.(M30)

[2011-07-11 14:06] akohlbecker commented on #143
Hi, Dennis are there still open issues regarding the GUID service or can we close this ticket?

[2011-07-11 14:13] lobajuluwa opened #156 "D3.9 (M36)"
DoW D3.9 Live BHL-Europe system, with distributed storage and management and appropriate tools for the continued development of services and ingress of multilingual content.

Scope of work yet to be defined.

[2011-07-11 14:24] DZielke commented on #143
Hi Andreas,

should still to be built an input mask for that?
Let us call for that tomorrow...

Am 11.07.2011 16:06, schrieb akohlbecker:

[2011-07-11 14:36] lobajuluwa opened #157 "All Module Feature Improvements & Integration (Public Core Release)"
3.2.2, 3.3, 3.4.1, 3.4.3

[2011-07-11 14:47] lobajuluwa opened #158 "Feature enhancements, adaptations, & testing"

[2011-07-11 15:01] lobajuluwa opened #159 "Feature enhancements, adaptations, & testing"
DoW tasks: 3.2.2, 3.3, 3.4.1, 3.4.3

This also includes Performance testing & Further refinement of Portal

[2011-07-11 15:02] #158 closed, assigned to nobody

[2011-07-11 15:05] lobajuluwa commented on #158
Duplicate entry!

[2011-07-11 16:09] lobajuluwa opened #160 "Adaptations & Sustainability (AIT)"
DoW tasks include:-

3.2.2 - Further refinement of Ontology Services -

3.1.5 - Further refinement of Pre-Ingest

3.4.1 - Further refinement of Access

[2011-07-12 11:56] sprogerb opened #161 "Clean issue tracker labels"
Issue tracker must only contain the following issue types:
- bug
- feature request (enhancment)

Bugs shall be classified according to severity level and priority.

Severity levels:
- minor defect
- major defect
- blocking (critical) defect

Priority levels:
- low
- high

[2011-07-13 10:29] lobajuluwa commented on #161
Hi Bernd,

The GitHub Issue tracker can be used as a generalized tool for tracking different kinds of activities and hence you can classify issues into many different types i.e Bug, Enhancement, Feature, tasks, Patch etc.
We agreed along with the Testing Manager that it would be best to use one platform – GitHub as the Issue Tracker and for the Testing process and therefore Lee & I originally thou

[2011-07-13 12:43] melitabirthaelmer commented on #145
<i>Issue:</i>
"However, there are some questions regarding our content. This addresses the "completeness" of the volumes. As you may remember the granularity level we used is the articles themselves. That means that a volume will not be "complete" (in terms of pages) because of the missing blank pages, title pages, front cover etc. "

<i>Questions:</i>
- Where should these pages be uploaded (e.g.

[2011-07-18 12:00] lobajuluwa opened #162 "Create documentation of the Schema Mapping Tool for external partners"
Quick run-through documentation using powerpoint presentation - Done

[2011-07-18 12:02] lobajuluwa opened #163 "Mapping of CP Metadata to OLEF"
HNHM
MNHN
NBGB
RBINS

[2011-07-18 16:12] sprogerb commented on #148
Opened on July 11, 2011 - please look into the DoW (8.3 Project Plan)
(W.Koch)

[2011-07-19 10:19] akohlbecker commented on #110
The news block has been added to the right sidebar.

It aggregates the  following feeds:
- BHL Europe - Blog: http://bhleurope.blogspot.com/feeds/posts/default
- BHL Europe - Tweets: http://search.twitter.com/search.atom?q=+BHLEurope

Adding the Facebook feeds is more complicated, see  http://www.staze.org/facebooks-crappy-rssatom-feed/ for a solution.

[2011-07-19 10:26] akohlbecker commented on #110
In contrast to the problems with the facebook rss feeds mentioned in the article posted above adding atom feeds is straight forward:
- http://www.facebook.com/feeds/page.php?format=atom10&id=151086001600041

[2011-07-19 10:37] akohlbecker commented on #110
fixed by commit d86414227f1a04ec0409

[2011-07-19 13:55] akohlbecker opened #164 "BHL-E Portal needs update of Drupal core to current drupal 7.x"
The current version of Drupal core is 7.0, an update to version 7.4 is highly recommended not only for security reasons.

[2011-07-19 14:10] akohlbecker opened #165 "Installation instructions for Portal incomplete"
The "AIT" portal (https://github.com/bhle/bhle/tree/master/portal/drupal-ait) is not running out of the box after walking through the instructions on https://bhl.wikispaces.com/github

The following components need to be installed in addition:
- lucene server

Developers might be blocked by this, completion of the instructions is urgently needed!

[2011-07-19 14:10] akohlbecker commented on #164
Update of all module and drupal core with drush worked well on my local machine, however since the portal is not jet fully working (see #165) I will not commit and push these changes.
Drush command:

[code]

[2011-07-19 15:13] akohlbecker commented on #110
The summaries of the news items are broken, this seems to be due to the following bug: http://drupal.org/node/474812 ( Feed aggregator strips characters from rss feeds, breaking summaries and links )

[2011-07-20 09:09] akohlbecker commented on #110
Further investigation turned out that this problem seems to be caused by a bug in the php xml parser.
The bug seems to affect some older versions of php:
- https://bugs.php.net/bug.php?id=45996
- http://www.phpfreaks.com/forums/index.php?topic=269015.0

I'll will test with a more recent version of php ...

[2011-07-20 16:35] akohlbecker commented on #110
It is in fact fixed in later versions of php, tested with php 5.3.2. Although it is necessary to refresh the feed items (?q=admin/config/services/aggregator) before going to production. I'll delete them all for now: bdf463a6fdf207044f0b

[2011-07-22 07:59] wkollernhm commented on #76
We have now investigated the VIAF API (http://www.oclc.org/developer/services/viaf) and decided to use the OpenSearch API with XML as response format.

In order to make it more useable, we are currently implementing a drupal module which can be called by the search functions in order to expand person names.

[2011-07-22 11:48] wkollernhm commented on #163
UBER uses DublinCore metadata which has a standard mapping available.

[2011-07-25 09:30] sprogerb commented on #148
Dow Task 3.4.2 already closed

[2011-07-25 09:30] #148 closed, assigned to sprogerb

[2011-07-25 09:31] sprogerb commented on #152
Dedicated to NHMW

[2011-07-25 09:33] sprogerb commented on #151
dedicated to NHMW

[2011-07-25 09:34] sprogerb commented on #150
AIT is only contributing basic components - not responsible for the portal as a whole. Closed as AIT is concerned.

[2011-07-25 09:37] sprogerb commented on #145
Best practice guidance was requested from BHL-US by Melita (WP2-Lead).

[2011-07-25 09:38] sprogerb commented on #147
Pre-Ingest tool - which produces AIP-candidates - already avalaible.

[2011-07-25 09:38] #147 closed, assigned to sprogerb

[2011-07-25 09:39] lobajuluwa commented on #145
Hi Bernd,

I think you should keep this issue open. If it was requested by Melita then all you need to do is reassign the issue.

Thanks.

[2011-07-25 09:40] sprogerb commented on #140
Portal Feature not provided by AIT, Also pre-conditions not in place.

[2011-07-25 09:51] lobajuluwa commented on #150
Morning Bernd,

Some of the project task issues e.g  those related to NHMW, Portal Release, can simply be reassigned. I don’t think you need to close them as yet!
These were tasks taken from the Scrum Backlog, that were added to various sprints either by you or Lee so they are still relevant. Unfortunately, the Issue tracker will only allow you to assign a task to one person and hence the reason w

[2011-07-27 08:33] wkollernhm commented on #76
As of #167 the module is fully working and AIT has to integrate the function call into their search process.
Therefore this Issue is re-assigned to AIT.

[2011-07-27 08:39] JiriFrank commented on #140
Thi is not assigned feature yet.

[2011-07-27 09:11] JiriFrank commented on #33
Thi is the simple search option (box under the Navigation blog).

[2011-07-27 09:14] JiriFrank commented on #34
Thi is the simple search option (box under the Navigation blog).

[2011-07-27 09:27] JiriFrank commented on #40
It is not implemented in simple search yet, but it is the the options (look&feel) of Advance search 2 but needs to be restricted to the main three (or four) categories.

[2011-07-27 09:58] janahoffmann commented on #40
This functionality needs also to be implemented as Simple Search functionality, not only Advanced Search. In simple search it needs to be restricted to the identified main search categories (metadata fields): title, author, year and maybe journal title.

[2011-07-27 09:58] JiriFrank opened #168 "1.1.8 - Search in all or specific main search categories (Simple Search)"
This functionality needs also to be implemented as Simple Search functionality, not only Advanced Search. In simple search it needs to be restricted to the identified main search categories (metadata fields): title, author, year and maybe journal title.
It should have the look and feel (simpler) of advanced search but has to be restricted to the main search categories, see above.

@janahoffmann
fe

[2011-07-27 10:46] JiriFrank commented on #168
I will provide the developers with the graphic draft, where and how to implement this function on the front page.

Link to the first draft on Wiki
https://bhl.wikispaces.com/file/view/Simple_search_criteria.png

[2011-07-27 10:48] JiriFrank commented on #45
Advance search 2 (it will be the main advance search). This function will be also implemented in simple serch option.
#168 and #22.

[2011-07-27 11:01] JiriFrank commented on #46
Advance search 2 and 3

[2011-07-27 11:07] janahoffmann commented on #46
This feature is not working correctly.
If you select the metadatafield 'date' and indicate a range e.g. 1901-1905 it also displays results with 1905 in the title metadata field.
It should only display result with the year 1901-1905 in the publication metadata field.
The search is only performed for the start and end point e.g. if you search for 1857 to 1859 the search is only performed for "1857"

[2011-07-27 11:18] JiriFrank commented on #46
Brackets are needed for search for ranges mentioned in Advance search3: [start TO end], but it reports a error. mentioned bug #179

[2011-07-27 11:21] lobajuluwa commented on #98
need to define meaning and relevance.

[2011-07-27 11:52] JiriFrank commented on #48
The date search only gives you results from LANDOE because the books have the year in the title.
If the date search is in the first field you will always get the results from dates (from LANDOE).
Other categories combinations are working independent on order.

[2011-07-27 12:11] janahoffmann commented on #48
Search for dates doesn't work correctly in advanced search.
Search for dates is only performed on LANDOE collection because the year is included automatically in the title (which is not supposed to be the case!). In advanced search no other collection can be found by searching for dates.

In simple search, search for dates works (because search is performed on all metadata fields).

[2011-07-27 12:11] JiriFrank opened #169 "Compatibility with browsers"
The portal is seems working under Mozzila Firefox 5.0.

The website is not working properly for example under in Interner Explorer 9 ver.: 9.0.8112.16421 64-bit Edition.

[2011-07-27 12:16] JiriFrank commented on #169
solved, you need to be registered (loged) on the website see the advance search fields options.

[2011-07-27 12:39] JiriFrank opened #170 "1.2.3 - Search by range of years of publication"
This feature is not working correctly.
If you select the metadata field 'date' and indicate a range e.g. 1901-1905 it also displays results with 1905 in the "title" metadata field.
It should only display result with the years 1901-1905 in the "date" of publication metadata field.
The search is only performed for the start and end point e.g. if you search for 1857 to 1859 the search is only perform

[2011-07-27 12:41] JiriFrank opened #171 "1.2.5 - Combined search in different metadata fields"
Jiri
The date search only gives you results from LANDOE because the books have the year in the title.
If the date search is in the first field you will always get the results from dates (from LANDOE).
Other categories combinations are working independent on order.

Jana
Search for dates doesn't work correctly in advanced search (2).
Search for dates is only performed on LANDOE collection because t

[2011-07-27 12:42] janahoffmann commented on #49
To my understanding this issue is not to be closed. We don't have that implemented now as we need to integrate the GRIb super records first or do it the way BHL US is doing it. Please clarify, why you closed this issue. It is not functional for testing.

[2011-07-27 12:51] janahoffmann commented on #50
Please, explain why you closed this issue. It is not functional in the BHL-Europe portal.
It requires integration of web services or other resources.

[2011-07-27 12:59] JiriFrank commented on #168
In this option the advance search 1 will be not needed. Delete the Advance Search 1.

[2011-07-27 13:58] lobajuluwa commented on #50
Thanks for re-opening this issue Jana. We moved it to the Nov sub Release and must've closed it by mistake!

[2011-07-27 14:50] janahoffmann commented on #33
indication of search string very good: matches for...(very transparent)

basic functionality of this feature o.k. but results inaccessible

specific bugs:
- provide facet list for unordered search terms, e.g. results for "Hedley amphipod" shall be displayed as Hedley + amphipod (x items), hedley (x item), amphipod (x items)
- best matches shall be displayed first, e.g. Denisia Bartsch; the actual

[2011-07-27 15:10] janahoffmann commented on #34
tested following operator: "search term", AND, +, OR
all work fine in simple search

[2011-07-27 15:19] janahoffmann commented on #36
functional test in simple search possible, also include comment above

[2011-07-27 15:45] lobajuluwa commented on #50
Further investigation is required - NHMW

[2011-07-27 15:49] janahoffmann commented on #37
ready for functional testing, develop test plan (difficult to realize)

tested ñino and got result for Nino
tested д\* and got a Russian book as result

I am not sure if this meets the requirements.

[2011-07-27 16:43] janahoffmann commented on #38
ready for testing

[2011-07-27 16:44] janahoffmann commented on #39
ready for testing

[2011-07-27 16:55] janahoffmann commented on #39
Search for "phyto_" give results for all terms beginning with phyto- - o.k.
use of "_" is required and needs to be explained (to user) - see advanced search 3 explanations

There is no function that allows search with truncated terms without wildcard options!

Does not work for truncation at the beginning - as discussed in Tervuren - bug!

[2011-07-27 17:15] janahoffmann commented on #41
ready for testing

wildcard option \* and ? work fine
[] not accepted

[2011-07-27 17:26] janahoffmann commented on #51
This issue is not solved yet.

some partner will provide information on article level (HNHM).
BHL Us provide possibilities to add information on article level - we could do it the same way
check Biostor information

[2011-07-27 18:08] janahoffmann commented on #53
ready for testing

search for language works fine in general but only if you use:
e.g. "deutsch", it doesn't work for "German" - predefined search terms required (generally understood), pull down menus would be very helpful for the user here (existed in German prototype)

in facet list inconsistent use of language description...sometimes 'eng' and sometimes 'english'  or 'ger' and 'German'

search

[2011-07-27 18:43] janahoffmann commented on #55
this corresponds to advanced search 1: exact phrase and is ready for testing (should be merged with advanced search 2)

tested and works fine for entire and not truncated words in all main metadata fields

doesn't work with truncated terms at the end or the beginning, e.g. "elm, riedl harald" or "Linzer biolog"

[2011-07-27 19:39] JiriFrank commented on #53
Some of the Books details in BLE are edited automatically from the metadata and book ID, e. g. Place and Publisher. Based on this information I just check the right country in country category in editing book details form. This will connect the book with the category and the book is sorted by country. It is different system than on the portal.

[2011-07-28 07:19] JiriFrank commented on #33
Test1a: Matches for: 'amphipod' '1967' 'Hedley'
about 200 items
order of:
amphipod – 1-5, 11, 12, 14, 15, 32 …
1967 - 6-10, 16-31 …
Hedley – on 13th place, just one record.

Test1b: Matches for: '1967' 'Hedley' 'amphipod'
same results

Test1c: Matches for: 'Hedley' 'amphipod' '1967'
same results

Test1d: Matches for: 'amphipod' 'Hedley' '1967'
same results

---

Test2a: ‘Sowerby’ ‘Cephalopoda’
16

[2011-07-28 08:11] JiriFrank commented on #36
Tested by terms: Schlüter and Schluter brings the same results. Schlueter has no results.

Bücher and Bucher have the same results including both terms. Buecher has no results.

A result for Künste includes mainly kunst.

Küsten: in this case is problem in metadata, because the term Küsten on the website is not written in metadata properly but it is probably problem of OCR. Same problems are on BH

[2011-07-28 08:37] JiriFrank commented on #37
Tested и = a.
Result is one book with highlighted different terms in the book title. I don’t know, if this is the function of this feature. Probably this is the only one Russian book written by Cyrillic alphabet on the portal for now.

Mammifères = mammals
It works fine.

España
It works fine.

[2011-07-28 08:49] JiriFrank commented on #38
This is a simple search option.

Bug: Search with special words is working but in the results are also these words without diacritic or just part of that word with complete different meaning. In that case the result is not what the user expected.

Is there an option search the exact word, for example “Král“(King)? In this case I have 10 books in result, but none of them includes “Král“, but just K

[2011-07-28 09:08] JiriFrank commented on #39
This is a simple search function. For truncated terms is necessary use the symbol star "*".

Tested Cephalopoda
Cephalopoda – 9 results
Cepha\* - 0 results - bug
Cephalo\* - about 100
Cephalop\* - 0 results - bug
Cephalopo\* - 0 results - bug
*phalopoda – error – bug

This function doesn’t work properly.
Bug: Searching with truncated terms at the end works just in specific length of searched word.

[2011-07-28 09:27] JiriFrank commented on #41
Bug: using [] reporting an error. Brackets are needed for search for ranges mentioned in Advance search3: [start TO end]

[2011-07-28 10:09] JiriFrank commented on #53
Bug:
Portal includes on Russian book written in Russian

Дополнения и уточнения к фауне чешуекрылых (Lepidoptera) Тульской области. 1 = Additions and corrections to the fauna of Lepidoptera of the Tula Province. 1

but Matches for: dc_language:Russian have 0 results.

The same for Matches for: dc_language:Español or Matches for: dc_language:Spanish

The same for Matches for: dc_language:French or

[2011-07-28 10:49] JiriFrank commented on #55
Tested on “new species”
It works fine, whit all searchers. I will give the preference to Advance search 2.

[2011-07-28 10:57] janahoffmann commented on #57
works fine for title and date

browse for S doesn't work - also gives results for words with 's' in the middle of the title

browse by year only works for intervalls...should also be possible for individual years e.g. 1850 ...

add browse category: journal title

[2011-07-28 12:29] JiriFrank commented on #57
The main categories should be:
Title
Author
Year
Journal Title

---

Tested several browse by Title, Author, Year.

Bugs in “Browse by Title”:
Browse by “B” results starts with 8 items which doesn’t start by “B”.
Browse by “C” – 23 items.
Browse by “D” – 18 items.
…
Browse by “N” - more than 150 items. Matches for:dc_title__facet:N\* dc_title__facet:n*
The Browse option is evidently looking for te

[2011-07-28 12:31] JiriFrank commented on #62
Ready for testing

[2011-07-28 12:33] JiriFrank commented on #63
Not implemented yet?

[2011-07-28 12:42] JiriFrank commented on #83
Not implemented on the portal yet. Digital object contains URL which needs to be copy/paste in the browser. There are several depositories which show just the pdf. The book viewer is in this case actually Acrobat reader. Only the URL to the Open library BookReader presentation has a design of the online book viewer.

In this phase the book viewer is not testable, because is not implemented on the

[2011-07-28 12:44] JiriFrank commented on #89
See the comment in #83.

[2011-07-28 12:47] JiriFrank commented on #90
see the comment #83

[2011-07-28 12:54] JiriFrank commented on #91
Not implemented in book viewer yet. Not testable.
See comment on #83

[2011-07-28 13:01] JiriFrank commented on #99
See comment #83.

[2011-07-28 13:09] JiriFrank commented on #105
We can use the analytics demonstrated by Bernd during the Tervuren meeting or we have our own application.

[2011-07-28 13:10] JiriFrank commented on #105
This is not a task for testers team.

[2011-07-28 13:11] JiriFrank commented on #110
Ready for testing? The RSS is already omplemented on the portal.

[2011-07-28 14:27] janahoffmann commented on #126
I think this requires an up and running archival system and is not implemented yet. We don't have bhl-europe urls yet.

However, another way is to save the query and add the query link to favourites in the browser, which work well if logged in.
That's a very good tool and needs to be integrated in the help/tutorial for the BHl Europe portal. This function will only be available for logged in users

[2011-07-28 14:30] janahoffmann commented on #125
Ready for testing with addtional info for testers on how to do it.
First press 'save query' after performing a search and then check 'saved queries'

works fine and is a very helpful tool.
This is a function only for registered users.

[2011-07-28 14:41] janahoffmann commented on #124
ready for testing: My account

My account:

View - history - I am not sure what is displayed here, just the duration of being a user?

Advanced search- table view - doesn't work correctly but displays metadata in big mess
advanced search tab - metadata fields list extend browser window

Edit - change of language (display) doesn't change the language

the rest works fine so far

[2011-07-28 14:47] janahoffmann commented on #110
ready for testing but are all news feed included now, also facebook, twitter and the blog? @akohlbecker

possible to add feed to favourites - o.k.
feeds are displayed correctly - however, no feeds on BHL E blog, twitter or facebook visible

There are actual news on BHLE facebook, twitter, etc. but not displayed here, seems not to work in terms of display of news

[2011-07-28 14:52] janahoffmann commented on #105
This is not implemented yet but could be tested: present: yes/ no

We have to reopen this issue!

[2011-07-28 14:55] janahoffmann commented on #99
not implemented - issue needs to reopened

[2011-07-28 14:55] janahoffmann commented on #91
not implemented - issue needs to be reopened

[2011-07-28 14:55] janahoffmann commented on #90
not implemented - issue needs to be reopened

[2011-07-28 14:56] janahoffmann commented on #89
not implemented - issues needs to be reopened

[2011-07-28 14:56] janahoffmann commented on #83
I agree with the comment above - issue needs to be reopened.

[2011-07-28 15:00] janahoffmann commented on #63
not implemented - wait for implementation of GRIB superrecords or alternative, see below

We could ask every content provider for a list of serial titles they have in their repository and create an algorithm which searches for all similar journal titles and display them as one title with subtitles (volumes), this could also be done with the journal acronyms (but there are databases out there). Thi

[2011-07-28 15:07] janahoffmann commented on #62
ready for testing

main search categories are: author, title, year and journal title - please change

journal/monograph: information not yet available

[2011-07-28 16:43] JiriFrank commented on #126
Open for testing.

[2011-07-28 16:47] JiriFrank commented on #124
Vorking for the list view.
Table view is not working properly.

[2011-07-28 16:52] JiriFrank commented on #105
Piwik will be set up.

[2011-07-28 16:53] janahoffmann commented on #99
please follow up on this issue

[2011-07-28 17:11] JiriFrank commented on #45
open for testing

[2011-07-29 13:55] JiriFrank opened #172 "1.1.1 - Search with unordered keywords (Simple Search)"
- provide facet list for unordered search terms, e.g. results for "Hedley amphipod" shall be displayed as Hedley + amphipod (x items), hedley (x item), amphipod (x items)

For more details see comments Issue #33 (feature extension)

[2011-07-29 13:56] JiriFrank opened #173 "1.1.1 – Search results should always be ordered by relevance"
Search results should always be ordered by relevance (see  #274)

Old title and description (before 12.12.2011):
 Search results should always be ordered by title (Simple Search)
 Search results should always be ordered by title ( decided in UI workshop 1 - 3)

old description:
- best matches shall be displayed first, e.g. Denisia Bartsch; the actual item that matches Denisia (title) and Bartsch (

[2011-07-29 13:57] JiriFrank opened #174 "1.1.1 – Search with unordered keywords results (Simple Search)"
Search with unordered keywords with terms which are not included together in a book. The list of books (search result) is ordered chaotically and groups of books with the same searching terms are spread out over the list.

For more details see comments Issue #33

[2011-07-29 14:00] JiriFrank opened #175 "1.1.1 – Simple search: Abstract and Notes in metadata"
- Abstract and Notes are displayed in the metadata view but contain identical content (duplication)
- search is performed in all metadata fields (also abstract) and thus results are also given for e.g. terms in abstract; difficult to handle and sort if not indicated where it was found, only separated in result in dates and text in facet list (left menu), this needs to be extended to main search ca

[2011-07-29 14:35] JiriFrank opened #176 "1.1.4 - Search with words including diacritic characters (Simple Search)"
Searching by terms ae, oe, ue, etc. is not working. The results for example for Löwe includes many different records included just parts of this word or even many of them doesn’t correspond with searching term. The user will get completely different result than he expected.

For more details see last comments in Issue #36

In the case with term Küsten:
Küsten: in this case is problem in metadata,

[2011-07-29 15:14] JiriFrank opened #177 "1.1.6 - Search with diacritics (now Advanced Search 1.2.12 - Search with excat phrases only)"
Search with special words is working but in the results are also these words without diacritic or just part of that word with complete different meaning. In that case the result is not what the user expected.

Is there an option search the exact word, for example “Král“(King)? In this case I have 10 books in result, but none of them includes “Král“, but just "Kral" with different meaning. If there

[2011-07-29 15:19] JiriFrank opened #178 "1.1.7 - Search with truncated terms (now Advanced search 1.2.15)"
Bug: Searching with truncated terms at the end works just in specific length of searched word.

Bug: Searching with truncated terms at the beginning doesn’t work.

This is a case of two bugs under one feature in which I am not sure if is it wise to separate them or report together. If the solution for these bugs will be very different, we can split them in to two issues.

For more details see comm

[2011-07-29 15:22] JiriFrank opened #179 "1.1.9 - Search with incomplete words using wildcard options (now Advanced Search 1.2.16)"
Bug: using [] reporting an error. Brackets are needed for search for ranges mentioned in Advance search3: [start TO end]

For more details see comments in Issue #39

[2011-07-29 15:38] JiriFrank opened #180 "1.2.10 - Search for publishing language"
Search for language works fine in general but only if you use:
e.g. "deutsch", it doesn't work for "German" - predefined search terms required (generally understood), pull down menus would be very helpful for the user here (existed in German prototype)

In facet list inconsistent use of language description...sometimes 'eng' and sometimes 'english' or 'ger' and 'German'

There is not defined searc

[2011-07-29 15:46] JiriFrank opened #181 "1.3.1 - Browse by Title"
Browse by “B” results starts with 8 items which doesn’t start by “B”.
Browse by “C” – 23 items.
Browse by “D” – 18 items.
…
Browse by “N” - more than 150 items. The Browse option is evidently looking for term starting by “N” in whole metadata and not just in the title. Is it metadata problem or bug in browse option?

Browse by “S” – more than 300 items. There is another problem with metadata in th

[2011-07-29 15:47] JiriFrank opened #182 "1.3.1 - Browse by Author"
The results are not sorted alphabetically. Manual alphabetical sorting option sorts the results just by the first author.

Feature #57

[2011-07-29 15:48] JiriFrank opened #183 "1.3.1 - Browse by Year"
The results are just from LANDOE content provider because the books have the year also in title and from UBER because of their specific date format. Related bug #171

For example by Browse by Year 1990 - Matches for: dc_date__facet:[1990 TO 2010] first items are from UBER and are sorted by wrong year (for example 1900) because of the different format of metadata.

Feature #57

[2011-07-29 16:14] JiriFrank opened #184 "4.2.1 - Change individual search setting"
Table view is not working properly. The metadata extend from the frames, creating a mess.

The table need to by styled and redesigned also with the new template. There are several different table views and also tables in tables in several cases. It is more or less a design function.

For more details see comments in feature #124

[2011-08-01 08:12] JiriFrank commented on #33
Testing of feature 1.1.1 - Search with unordered keywords

Feature description from the Catalogue of user requirements:

e.g. ‘amphipod’ ‘1967’ ‘Hedley’ (no use of boolean operators)

Extension (Francsico):
Give results including all 3 search terms in this format (facet list):
term a,b,c - x results
term a - x results
term b - x results
term c - x results

@AntonioGVH
@fwelter
@heimor
@janahoffman

[2011-08-01 08:16] JiriFrank commented on #34
Testing of feature 1.1.2 - Search with Boolean operators

Feature description from the Catalogue of user requirements:

search with AND, OR, +, “search term”

e.g. mouse and Hedley
mouse or Hedley
mouse + Hedley
"mature mouse"

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:18] JiriFrank commented on #36
Testing of feature 1.1.4 - Search with words including diacritic characters

Feature description from the Catalogue of user requirements:

Search term with ä, ö, ü, ç, à, etc.: find also ae, oe, ue, etc.

Search term - Küsten, Löwe, etc. - Find Küsten, Kuesten and Löwe, Loewe

Display correctly in result list.

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:21] JiriFrank commented on #37
Testing of feature 1.1.5 - Search in various languages including language specific characters

Feature description from the Catalogue of user requirements:

Search should support Unicode characters.

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:23] JiriFrank commented on #38
Testing of feature 1.1.6 - Search with special characters

Feature description from the Catalogue of user requirements:

Search with diacritic marks, e.g. ´, `, ^

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:23] JiriFrank commented on #39
Testing of feature 1.1.7 - Search with truncated terms

Feature description from the Catalogue of user requirements:

Search with truncated terms at the beginning and at the end, e.g. ‘volution’, ‘evol’

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:25] JiriFrank commented on #40
Testing of feature 1.1.8 - Search in all or one specific main search category

Feature description from the Catalogue of user requirements:

Categories: author, titles, year, (journal title)

Precondition; defined metadata fields as main search category

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:25] JiriFrank commented on #41
Testing of feature 1.1.9 - Search with incomplete words using wildcard options (*)

Feature description from the Catalogue of user requirements:

[], *, ?

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:26] JiriFrank commented on #45
Testing of feature 1.2.2 - Search by year of publication

Feature description from the Catalogue of user requirements:

Search by exact year, e.g. 1932

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:27] JiriFrank commented on #46
Testing of feature 1.2.3 - Search by range of years of publication

Feature description from the Catalogue of user requirements:

Search by range, e.g. 1850-1950

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:28] JiriFrank commented on #48
Testing of feature 1.2.5 - Combined search in different categories

Feature description from the Catalogue of user requirements:

Select different categories for search; e.g. search for author and year, or search for taxon name in a certain time interval.

Precondtion: Define main search categories or list of metadata fields.

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFran

[2011-08-01 08:29] JiriFrank commented on #53
Testing of feature 1.2.10 - Search for publishing country/ language

Feature description from the Catalogue of user requirements:

Search in metadata field language or origin of publication, e.g. Search for books published in Germany in 1950-1956

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:30] JiriFrank commented on #55
Testing of feature 1.2.12 - Search with exact phrase only

Feature description from the Catalogue of user requirements:

search for 'evolution', no deviation allowed

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:31] JiriFrank commented on #57
Testing of feature 1.3.1 - Browse by categories

Feature description from the Catalogue of user requirements:

Browse by main search categories, e.g. titles, authors, year, and most common search terms; - alphabetical index.

Precondition: Defined main categories.

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:32] JiriFrank commented on #62
Testing of feature 1.4.2 - Sort result list

Feature description from the Catalogue of user requirements:

Sort result list by: (1) category; (2) alphabetically (A B C ….); (3) type of publication (journal, monograph); ((4) popularity)

Preconditions:
Web analytic, define main categories, provide type of publication with metadata (for tag)

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTe

[2011-08-01 08:32] JiriFrank commented on #110
Testing of feature 4.1.7 - Show BHL news

Feature description from the Catalogue of user requirements:

Show news feed (RSS)/ 'news'
BHL blog/ forum
'about us'

What to be displayed on main page?

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:33] JiriFrank commented on #124
Testing of feature 4.2.1 - Change individual search setting

Feature description from the Catalogue of user requirements:

Change settings for display and filter/sorting (only registered users)

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:34] JiriFrank commented on #125
Testing of feature 4.2.2 - Save search results

Feature description from the Catalogue of user requirements:

Save and display search history (only registered user)

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:35] JiriFrank commented on #126
Testing of feature 4.2.3 - Save results to favourites (URL’s)

Feature description from the Catalogue of user requirements:

Provide link for saving search results in favorites (of browser), shorter url's?

Testers:
@AntonioGVH
@fwelter
@heimor
@janahoffmann
@JFTester
@JiriFrank
@LarissaS

[2011-08-01 08:36] JiriFrank commented on #133
Testing of feature 4.3.4 - Set up user profile

Feature description from the Catalogue of user requirements:

Set up user profile with personal information, picture, etc. (registered user)

Testers:
@janahoffmann
@JFTester
@JiriFrank

[2011-08-01 13:16] wkollernhm commented on #76
Please create a second (new) issue for integrating the viaf_lookup module into the search process.

By mentioning this issue (#76) in the description of the new issue we can keep track of the history.

[2011-08-01 13:30] janahoffmann commented on #76
I would removed the webservice label and suggest creating a project task, we cannot close this issue before it is integrated in the system/search.

@lobajuluwa
@wkollernhm

[2011-08-01 14:02] wkollernhm commented on #63
So is  this issue really for the Development Core Release? So far it does not seem to be clear on how to handle this - and I don't think we will find an easy solution until the end of August.

[2011-08-01 15:23] janahoffmann commented on #63
Well, it would be good, as mentioned during the today's call, to collect ideas on how to solve this issue. So, we can work on this and we should. We will have an agenda item for the meeting where we will collect all possible implementation scenarios. It would be great if you could prepare something on this for the meeting if you are the assigned developer anyway, maybe different routes. What do yo

[2011-08-01 16:34] chris-sleep commented on #109
retargetted at Nov sub release - need to also consider potential of index services capturing the wrong service link until production services are in place

[2011-08-01 16:58] chris-sleep commented on #42
A very quick investigation offers that Solr supports fuzzy searching using Levenshtein distance by appending ~ to the end of a search term.  This is a determination based upon string similarity only, but doesn't account for language variants/etc

It's implemented without any coding needed, but not necessarily useful.  I'll dig some more to see if a similar control to adding ~ to the term is viable

[2011-08-03 07:25] JiriFrank commented on #33
Testing of feature 1.1.1 - Search with unordered keywords

Feature description from the Catalogue of user requirements:

e.g. ‘amphipod’ ‘1967’ ‘Hedley’ (no use of boolean operators)

Extension (Francsico):
Give results including all 3 search terms in this format (facet list):
term a,b,c - x results
term a - x results
term b - x results
term c - x results

@fwelter

[2011-08-03 07:26] JiriFrank commented on #34
Testing of feature 1.1.2 - Search with Boolean operators

Feature description from the Catalogue of user requirements:

search with AND, OR, +, “search term”

e.g. mouse and Hedley
mouse or Hedley
mouse + Hedley
"mature mouse"

Testers:
@fwelter

[2011-08-03 07:26] JiriFrank commented on #36
Testing of feature 1.1.4 - Search with words including diacritic characters

Feature description from the Catalogue of user requirements:

Search term with ä, ö, ü, ç, à, etc.: find also ae, oe, ue, etc.

Search term - Küsten, Löwe, etc. - Find Küsten, Kuesten and Löwe, Loewe

Display correctly in result list.

Testers:
@fwelter

[2011-08-03 07:27] JiriFrank commented on #37
Testing of feature 1.1.5 - Search in various languages including language specific characters

Feature description from the Catalogue of user requirements:

Search should support Unicode characters.

Testers:
@fwelter

[2011-08-03 08:20] wkollernhm commented on #63
I'm a bit surprised by the fact that this issue is assigned to me as this includes searching in the metadata only which is at the moment organized by AIT only (as they designed the whole custom search function, and in fact only they know at the moment how the metadata is organized).

However we will try to set up some strategies (in theory) for covering this issue until the August meeting - but it

[2011-08-03 08:21] JiriFrank commented on #38
Testing of feature 1.1.6 - Search with special characters

Feature description from the Catalogue of user requirements:

Search with diacritic marks, e.g. ´, `, ^

Testers:
@fwelter

[2011-08-03 08:27] JiriFrank commented on #39
Testing of feature 1.1.7 - Search with truncated terms

Feature description from the Catalogue of user requirements:

Search with truncated terms at the beginning and at the end, e.g. ‘volution’, ‘evol’

Testers:
@fwelter

[2011-08-03 08:27] JiriFrank commented on #40
Testing of feature 1.1.8 - Search in all or one specific main search category

Feature description from the Catalogue of user requirements:

Categories: author, titles, year, (journal title)

Precondition; defined metadata fields as main search category

Testers:
@fwelter

[2011-08-03 08:27] JiriFrank commented on #41
Testing of feature 1.1.9 - Search with incomplete words using wildcard options (*)

Feature description from the Catalogue of user requirements:

[], *, ?

Testers:
@fwelter

[2011-08-03 08:28] JiriFrank commented on #45
Testing of feature 1.2.2 - Search by year of publication

Feature description from the Catalogue of user requirements:

Search by exact year, e.g. 1932

Testers:
@fwelter

[2011-08-03 08:28] JiriFrank commented on #46
Testing of feature 1.2.3 - Search by range of years of publication

Feature description from the Catalogue of user requirements:

Search by range, e.g. 1850-1950

Testers:
@fwelter

[2011-08-03 08:28] JiriFrank commented on #48
Testing of feature 1.2.5 - Combined search in different categories

Feature description from the Catalogue of user requirements:

Select different categories for search; e.g. search for author and year, or search for taxon name in a certain time interval.

Precondtion: Define main search categories or list of metadata fields.

Testers:
@fwelter

[2011-08-03 08:29] JiriFrank commented on #53
Testing of feature 1.2.10 - Search for publishing country/ language

Feature description from the Catalogue of user requirements:

Search in metadata field language or origin of publication, e.g. Search for books published in Germany in 1950-1956

Testers:
@fwelter

[2011-08-03 08:29] JiriFrank commented on #55
Testing of feature 1.2.12 - Search with exact phrase only

Feature description from the Catalogue of user requirements:

search for 'evolution', no deviation allowed

Testers:
@fwelter

[2011-08-03 08:30] JiriFrank commented on #57
Testing of feature 1.3.1 - Browse by categories

Feature description from the Catalogue of user requirements:

Browse by main search categories, e.g. titles, authors, year, and most common search terms; - alphabetical index.

Precondition: Defined main categories.

Testers:
@fwelter

[2011-08-03 08:30] JiriFrank commented on #62
Testing of feature 1.4.2 - Sort result list

Feature description from the Catalogue of user requirements:

Sort result list by: (1) category; (2) alphabetically (A B C ….); (3) type of publication (journal, monograph); ((4) popularity)

Preconditions:
Web analytic, define main categories, provide type of publication with metadata (for tag)

Testers:
@fwelter

[2011-08-03 08:30] JiriFrank commented on #110
Testing of feature 4.1.7 - Show BHL news

Feature description from the Catalogue of user requirements:

Show news feed (RSS)/ 'news'
BHL blog/ forum
'about us'

What to be displayed on main page?

Testers:
@fwelter

[2011-08-03 08:31] JiriFrank commented on #124
Testing of feature 4.2.1 - Change individual search setting

Feature description from the Catalogue of user requirements:

Change settings for display and filter/sorting (only registered users)

Testers:
@fwelter

[2011-08-03 08:31] JiriFrank commented on #125
Testing of feature 4.2.2 - Save search results

Feature description from the Catalogue of user requirements:

Save and display search history (only registered user)

Testers:
@fwelter

[2011-08-03 08:31] JiriFrank commented on #126
Testing of feature 4.2.3 - Save results to favourites (URL’s)

Feature description from the Catalogue of user requirements:

Provide link for saving search results in favorites (of browser), shorter url's?

Testers:
@fwelter

[2011-08-03 08:44] lobajuluwa commented on #63
I've changed the Milestone for the Nov sub Release. However, as per above comments there will be some work done on this issue in prep for the August meeting.

[2011-08-03 09:29] LarissaS commented on #33
Dear Jiri,
Because I never did something like this I would like to know if I did it correct and if this is what you expect from the tester!
Here are my remarks for the first job!

Test 1: searching for “Sowerby Mollusca”
318 results, same for “Mollusca Sowerby”
Sowerby – 7
Mollusca - 315

In records of Oberösterreichisches Landesmuseum year of publication is shown, in other records – not.

For col

[2011-08-03 14:23] lobajuluwa commented on #165
Hi Lee,
Andreas raised this issue a couple of weeks ago but he's currently on hols and since it wasn't assigned to anyone, against any milestone it hasn't been picked up since then.
Is this still an issue for developers or has it been resolved? Thanks.

[2011-08-03 15:10] leenamba commented on #165
I reassigned to AIT.  Should go to Odo who is in charge of portal development

[2011-08-04 09:27] lobajuluwa opened #185 "Integration of the viaf_lookup module into the search process."
The VIAF module is fully working  -  AIT will need to integrate the function call into their search process.
 Please refer to last comments in previous Issue (#76) for latest updates.

[2011-08-04 09:31] lobajuluwa commented on #76
A new Issue has been created (#185) assigned to AIT for the integration of the viaf_lookup module into the search process

[2011-08-04 09:42] leenamba commented on #4
@sprogerb Bernd can you respond to Chris' question?

[2011-08-04 10:53] AntonioGVH commented on #33
Hello Jiri! (I am sending this too to Jana, just to check with her if this is the kind of test that it is expected from me).

This is my first trial at testing and I would like to know if this is the kind of comment that can be useful.

The behaviour of the portal is somewhat idiosincratic (will explain below).

Concerning type of search 1.1.1

1) The result is stable (similar list of publications

[2011-08-04 11:35] sprogerb commented on #4
@leenamba We don't have anything to do with this issue.

[2011-08-04 11:41] sprogerb commented on #153
That's done and implemented in Pre-Ingest using tesseract 3 and taxon-finder with taxon finder webservice.

[2011-08-04 11:46] sprogerb commented on #21
@leenamba Indicated and communicated to Atos where and how to retrieve AIP METS files

[2011-08-04 12:03] janahoffmann commented on #76
We should re-open this issue, otherwise it would be ready for testing but it isn't. @lobajuluwa

[2011-08-04 12:16] lobajuluwa commented on #76
Issue has been reopened pending completion of integration work into the search process by AIT
@janahoffmann

[2011-08-04 13:44] leenamba commented on #4
OK will close issue

[2011-08-04 13:44] #4 closed, assigned to chris-sleep

[2011-08-04 20:29] fwelter commented on #33
Hi Jiri, I hope this is the correct form to report.

simple search
- page takes very long to load in. this is because of the thumbnails. replace thumbnails by standard icons. would be easier for the testing.
- headline should list the number of results. would also be easier for the testing.
- it is very difficult to test if the program found what I have searched because it apparently also searches

[2011-08-08 06:57] akohlbecker commented on #165
The missing instructions have been made available at https://bhl.wikispaces.com/PortalDevelopementSetup

[2011-08-08 06:57] #165 closed, assigned to akohlbecker

[2011-08-08 07:13] akohlbecker commented on #38
Hi Jiri, the original description from the catalogue of user requirements is misleading - see my comment ( https://github.com/bhle/bhle/issues/38#issuecomment-1431016 ). Jana, could you please fix the description in the catalogue of user requirements?

[2011-08-08 07:52] JiriFrank commented on #38
Hi Adreas,

thank you. I will test also the special characters which you mentioned in your comment. Anyway new bug with diacritic due to this issue appeared, see my first comment.

Cheers,
Jiri

Test results

Special character as !?()/+- reporting error and need to be used in combination with quotes. The error screen need to be replaced for example by information that it is necessary to use the qu

[2011-08-08 09:18] LarissaS commented on #37
Testing of feature 1.1.5 - Search in various languages including language specific characters

Dutch: Searching for "België" gives 10 records (show also result for "Belgie") of literature in Dutch or with annotation in Dutch.

Searching for "exoot" gives 6 records all in Dutch

Searching for "garnaal" gives 1 record

Searching in Russian gives no results

French: Searching for "huître" - no result

[2011-08-08 09:58] LarissaS commented on #45
Testing of feature 1.2.2 - Search by year of publication
If I understood well I had to try advanced search and choose somewhere field "year of publication".

Using Advanced search 1: if I select "searching in only selected fields" I get a small square down where I can not type something or choose something, so I suppose it does not work

Using Advanced search 2: can only see "all fields", no possi

[2011-08-08 12:12] LarissaS commented on #34
Testing of feature 1.1.2 - Search with Boolean operators

Feature description from the Catalogue of user requirements:

search with AND, OR, +, "search term"

Test 1: searching for " waterhouse AND mammalia " - one record of RMCA (double! I don't know if I have to mention it always!)
"waterhouse OR mammalian" - 223 records
" waterhouse +  mammalia " - 223 records
"waterhouse" - one record
"mammali

[2011-08-09 07:41] LarissaS commented on #36
Testing of feature 1.1.4 - Search with words including diacritic characters

Test 1: searching for “Löwe” – 186 records,

Very difficult to see in the detail description of record where matching is (because no highlight) and if it is for “Löwe” or also for “low”?

Searching for “Loewe” - 28 records

I don't think that searching with ö find also oe (as in the requirements). I checked it with Löwe A

[2011-08-09 09:36] LarissaS commented on #55
Other presentation of results in advanced search! Text does not past inside the grey rectangles and therefore is offset. I see that I can change it in list form, but on default it was in table form!

Searching in Advanced search 1:

if I look just for African fish I have no results!

Searching for "African fish" gives 230 results, I have checked first 5 and did not find matching for exact phrase!

[2011-08-09 11:29] LarissaS commented on #38
Testing of feature 1.1.6 - Search with special characters

Searching for “N’Zau” and “Nzau” gives same result (2 records from RMCA)

Searching for “crâne” gives 5 records and includes as well French “crâne” (scull) as the name Crane

Searching for "tête" and "tete" give same result - 13 records all in French

So,  this function looks ok !

-----Original Message-----
From: JiriFrank [mailto:reply@r

[2011-08-09 11:30] LarissaS commented on #37
Testing of feature 1.1.5 - Search in various languages including language specific characters

I have tried three languages:
Russian does not work
French and Dutch are working good. I think it's convenient that you can search for French word without accent (because you don't know how to write exactly) and still find right records.

-----Original Message-----
From: JiriFrank [mailto:reply@reply.git

[2011-08-09 12:24] akohlbecker commented on #110
replying to @janahoffmann (comment from July 28):

The new portal installation at http://bhl-alexandria.nhm.ac.uk/bhle_dev_portal/ , which is now up to date with all changes, is showing the latest posts from twitter, facebook, etc.

[2011-08-10 07:48] LarissaS commented on #45
Testing of feature 1.2.2 - Search by year of publication

Searching with Advanced search 1:
With all words: 1908 gives 99 matches as well for literature published in 1908 as for texts where 1908 is just mentioned in the bibliographic record.

Searching in exact field with "1908": I was doubting between CREATED and ISSUED, by trying I've got 0 results for first and 6 results for second.

Searching

[2011-08-10 08:03] LarissaS commented on #45
I am sorry, I just have seen that there is also field DATE and searching with DATE: 1908 gave me 21 result (all from Oberösterreichisches Landesmuseum) but 6 result which I have got with searching be CREATED: 1908 (RMVA, RBGE) are not in. Is it due to difference in metadata fields between different content providers?

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent:

[2011-08-10 08:11] LarissaS commented on #46
Testing of feature 1.2.2 - Search by year of publication

Searching with Advanced search 1:
With all words: 1908 gives 99 matches as well for literature published in 1908 as for texts where 1908 is just mentioned in the bibliographic record.

Searching in exact field with "1908": I was doubting between CREATED and ISSUED, by trying I've got 0 results for first and 6 results for second.

Searching

[2011-08-10 08:43] JiriFrank commented on #104
The new template will be instaled today between 2:30 - 3:30 pm.

We are also working on new concept of the portal design.
This concept is also close related with implementation developed features in modules on the portal.

[2011-08-10 09:04] JiriFrank commented on #106
Yes Andreas, I agree. There are two separated task. The first task is preparing the help text and publishing it on the project website or Wiki. The second task is implementation of this help on the portal.

From my view is the most complicated thing to prepare the text ;-) I can after published this text on the project website in specific portal menu and create the structure using anchors etc., it

[2011-08-10 11:40] JiriFrank commented on #141
Yes, it might be important, good aditional feedback and inspiration for users. But I am not sure, that it will be the August release. We could labeled by November label? @janahoffmann

[2011-08-10 11:45] LarissaS commented on #53
Subject: Re: [bhle] 1.2.10 - Search for publishing country/ language (#53)

Searching with Advanced search 1:
Search does not work for "French" or "dutch", but finds "fre" and "dut" but only in RMCA collection.
Searching for "English" gave 28 records from Copenhagen where "English" is mentioned in the metadata filed. Searching for "eng" gives 214 records, looks Ok.

Obviously Naturalis and Oberöst

[2011-08-10 12:44] LarissaS commented on #41
Searching with \* (mollus_, spin_) works Ok, but results are presented without logic? Why not first show best match in the title or author and then the rest (with matches inside the bibliographic description)?

Searching for "Anders_" gives 32 results, after sorting it on CREATOR I've got next (see screen print). Not understandable why two records there "Anders_" is in the abstract are sitting in

[2011-08-10 13:55] janahoffmann commented on #78
http://www.animalbase.org/ species protologues for animals! contact: fwelter (UGOE)
Are there other services for plants?

We will need to discuss whether we will provide this as a separate service to CoL (in terms of provided classification) or 'just' take out the protologue information and discard the classification. Then, we would only link to 'first species descriptions' available in the BHL Eu

[2011-08-11 07:12] AntonioGVH commented on #34
Jiri,
          I am using the words you suggest for querying the portal, assuming that there is some content that have those words inside the documents. I assume there is no point to ask, for instance, for 'Garcia' and 'ticks', if there are no documents with those words in the data base.
Please, correct me if I am wrong.

---

Search with:

mouse and Hedley

gives 5 results. I searched the pdf of

[2011-08-11 07:20] AntonioGVH commented on #34
Continuation of the previous 1.1.2

Searching by mouse AND Hedley (AND in upper case letters) produce no result.
Using OR with capital letters works the same as with lower case letters.

Antonio

Quoting JiriFrank:

[2011-08-11 07:43] AntonioGVH commented on #36
Queriing by 'Kürten' gives 3 results
Queriing by 'Kusten' gives the same 3 results.
Queriing by 'Kuesten' gives NO result.

Queriing by 'Löwe' gives results with 'low' and 'lowest', but not 'Löwe' (as far as I have looked for)
Queriing by 'Loewe' gives results with 'Loew'.

I am including several screen shots.

Antonio

Quoting JiriFrank:

[2011-08-11 08:02] AntonioGVH commented on #37
I have done the following queries:
'García' gives the same results as 'Garcia'
''García-Valdecasas' gives 2 results (García-Valdecasas is my full surname)
"García Valdecasas" gives the previous 2 results plus some more of 'Garcia'
'Gómez' gives the same results than 'Gomez'

On another side:

I will do some comments on the screen at the end of the test, but at this point I would suggest that addin

[2011-08-11 10:08] wkollernhm commented on #74
I've just pushed the names_lookup module which provides the functionality to search for scientific names using a common names. Details on this will be published to the Tech List.

I've re-assigned this issue to Lola in order to make sure that the integration of this service into the actual search process can take place.

[2011-08-11 11:34] lobajuluwa opened #187 "Integration of webservices for names_lookup module"
NHMW have since pushed the names_lookup module over to github which provides the functionality to search for scientific names using a common names.
It uses both the Catalogue of Life and the PESI webservices for its lookup.

The integration of this service into the actual search process needs to take place. (feature cannot be closed for testing until module has been integrated into search process.

[2011-08-11 11:52] LarissaS commented on #39
Testing of feature 1.1.7 - Search with truncated terms
This function does not work properly.
Searching for "ichthyologique" gives 3 records
"ichthyo_" - 38
"icht_" - 43
"ichthyolog*" - 24
So, this looks ok

Searching for "zoogdieren" gives 8 results from Naturalis
"*dieren" - error!
"dieren" - 37

Searching with Advanced search 2 and 3: "crustacea" - 291
"crustac_" - 323
" crus_" - 339
Looks OK

S

[2011-08-11 11:57] lobajuluwa commented on #74
New project task Issue (#187) Integration of webservices for names_lookup module. The integration of this service into the actual search process needs to be completed by AIT.
Feature cannot be Closed for testing until module has been integrated into search process.
Assigned to AIT's Project Assistant.

[2011-08-11 12:00] LarissaS commented on #40
Testing of feature 1.1.8 - Search in all or one specific main search category

I do not understand well, is it simple search function? Where can I define metadata field? I only see possibility to look for example for Boulenger and then sort by creator.

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 1 августа 2011 г. 10:25
To: Smirnova Larissa
Subject: Re: [bhle]

[2011-08-11 12:32] LarissaS commented on #48
Testing of feature 1.2.5 - Combined search in different categories
I searched for "creator: guign_" AND "title: coleoptera (also coleo_)" and have got one result, searching just for "guignot" gives 2 results, so it looks OK.
But searching for "creator:Boulenger AND title:batracien" - 0 results, it means that in collection of RMCA (where we have several records of Boulenger) there is no field CREAT

[2011-08-11 12:45] LarissaS commented on #110
Jiri,
Is it necessary  to subscribe for RSS?

Greetings
Larissa

-----Original Message-----
From: JiriFrank [mailto:reply@reply.github.com]
Sent: 1 августа 2011 г. 10:33
To: Smirnova Larissa
Subject: Re: [bhle] 4.1.7 - Show BHL news (#110)

Testing of feature 4.1.7 - Show BHL news

Feature description from the Catalogue of user requirements:

Show news feed (RSS)/ 'news'
BHL blog/ forum
'about us'

[2011-08-11 13:11] LarissaS commented on #57
Testing of feature 1.3.1 - Browse by categories

Browse by Year is ok, but not for all collections. I noticed that "sorted by" remains the same as by previous browsing which is not logic, I would prefer browsing by year by default to be sorted by date, browsing by title to be sorted by title and browsing by author to be sorted by creator.

Browse by AUTHOR: B: sorting by creator sort by first auth

[2011-08-12 09:59] heimor commented on #35
@lobajuluwa
just revising the open github issues assigned to NHMW

not clear why this issue 1.1.3 has been assigned to us - any ideas ?

[2011-08-12 10:07] heimor commented on #93
@lobajuluwa
again same question why this has been assigned to NHMW

is its intention to integrate displaying the found names in the ebook-Viewer ?
if yes then we assume that the ebook-Viewer needs to be adopted adequately - correct ?

[2011-08-12 10:09] heimor commented on #77
@lobajuluwa
no milestone set for this feature - maybe Nov Subrelease would be the right one

webservice call of Catalogue of Life and PESI sources in place -

[2011-08-12 10:11] lobajuluwa commented on #93
@heimor
@janahoffmann

Jana can you please clarify the exact requirements for this particular feature request. If there's still some aspects to be completed by AIT beforehand pls let me know. Thanks.

[2011-08-12 10:15] lobajuluwa commented on #77
@heimor
Thanks Heimo for the above info.
I've assigned this to the Nov sub release.

[2011-08-12 10:22] heimor commented on #50
@lobajuluwa
ZDB has been contacted and is open to provide their webservices for use in BHL-E

next step after return from Wolfgang include their webservices as a DM (#rupal-#odule)   =))

apart from the core of this feature:
further discussion needed with respect to possible deduplication issues and mappings to GRIB records to enable display of one journal title [incl. abbreviation(s)] in the port

[2011-08-12 10:28] heimor commented on #50
@wkollernhm
more reference lists would be out there

e.g. BPH for botanical journal titles - BHL US never got hands on their services - they were not willing to help / collaborate

more investigation needed here !

[2011-08-12 10:30] lobajuluwa commented on #35
Autocomplete search is a feature request that originated from the Core Feature "google-like search" - Search & Retrieval.
If this is correct then the Autocomplete search functionality should be completed by AIT.
Jana if this is correct, I'll reassign it to AIT asap. Thanks Heimo.
@heimor
@janahoffmann

[2011-08-12 14:22] AntonioGVH commented on #39
Using the example in the manual, I get:
- queriing by 'evolution' many results
- queriing bay 'evo' 0 results
- queriing by 'evolu' I get 4 results that include key words like 'evolué', 'evolution' and 'l'evolution'
- queriing by 'volution' I get 1 results with the key word 'volutes' (that has nothing to do with evolution)

As an additional comment, I think that this test should be have done on in

[2011-08-12 14:44] AntonioGVH commented on #40
There are no specific fields for authors or year in the portal.
What is closer to 'author' is 'contributor' in advance search.
Queriing by 'Valdecasas' and selecting 'contributor', one gets the two work in the data base (apparently there are only two). And Valdecasas is author for both (I apologize for using myself as a querying example).
Queriing by 'Darwin' and 'contributor' one gets works that

[2011-08-12 14:53] AntonioGVH commented on #41
It seems that it works properly, if the beggining of the word is included.

Queriing by 'evo_' gets a lot of results related with evolution
Queriing by 'volu_' does seems to get results with 'evolution', but gets results with 'volume'

Antonio

Quoting JiriFrank:

[2011-08-12 14:56] AntonioGVH commented on #41
I forgot to say that it would be interesting to include a summary of results. E.g.

-queriing by 'evo*' the results could be: evolution -23; evolutionary  32; etc

Quoting JiriFrank:

[2011-08-12 14:59] AntonioGVH commented on #45
Apparently, searching by year gives proper results (but who knows? It would be necessary to know how many works there are in the database for 1994, for instance, to check if the result is correct).

A.

Quoting JiriFrank:

[2011-08-12 15:05] AntonioGVH commented on #46
This option doesn't work properly.

I tested for '1984 - 1994' and I got work published out of that range.

A.

Quoting JiriFrank:

[2011-08-12 15:09] AntonioGVH commented on #48
This option seems not to work properly.
(As I know that there are two works by Valdecasas in the data base) I searched by 'Valdecasas and 1984' or 'Valdecasas 1984'.
One gets a lot of results that has nothing to do with Valdecasas.

Antonio

Quoting JiriFrank:

[2011-08-12 15:19] AntonioGVH commented on #53
This option seems to get works  by both criteria, eg.
-queriing by 'Spain' and '1984', gets works with 'Spain', '1984' and 'Spain 1984'.

I think that it is interesting to offer in the result of the query, a summary of works found under each criteria.
I discovered that queriing by 'Sapin 1984' I got a lot of records.
Queriing by 'Sapin' there are no records at all, so, the previos query are for wo

[2011-08-12 15:22] AntonioGVH commented on #55
It seems that this option works properly in the advanced search

Quoting JiriFrank:

[2011-08-12 15:29] AntonioGVH commented on #57
I was curios to see how was the ordering of the output browsing by authors, specially for those languages that have diacritic characters. However, the output seems to be more or less arbitrary. I mean:
- browsing by authos with 'G' one expects to get works ordered by 'Ga...' 'Gb...' 'Gc...' etc ( if any)

A

Quoting JiriFrank:

[2011-08-12 15:33] AntonioGVH commented on #110
Not available now ot I have not beeen able to see it.

A

Quoting JiriFrank:

[2011-08-12 15:35] AntonioGVH commented on #62
There are some options to sort results in the portal, but do not seems to work very well.

A

Quoting JiriFrank:

[2011-08-12 15:38] AntonioGVH commented on #124
I do not know if you refere to the screen included. I have not be able to find the place for settings.

On another side, 'Gerenciar busquedas salvas' is not Spanish  :-)

Antonio

Quoting JiriFrank:

[2011-08-12 15:40] AntonioGVH commented on #125
This option seems to work properly

A

Quoting JiriFrank:

[2011-08-12 15:45] AntonioGVH commented on #126
Do not know how to do this.

However, it seems that the system does not go back at the beggining after saving a list. I asked for 'Ramos' after saving some records and got the screen included (even after clicking 'inicio').

A

Quoting JiriFrank:

[2011-08-12 17:40] fwelter commented on #34
1.1.2  boolean operators  and or +

"musee"
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 25 + 20 + 7.
- same result as for musee without quotes

"Musée"
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 25 + 20 + 7.
- same result as for musee without quotes

voyage + iles
- the number of hits was not indicated, I ha

[2011-08-12 17:40] fwelter commented on #45
1.2.2   year, Advanced Search 2

Advances Search 2 restored the simple search mode automatically after
each single search

dc_date 1952
- clicking on the lower (main) search button gave error 400
- clicking on the directly associated search button or simply clicking
  return gave results:
   Oberösterreichisches Landesmuseum (9)

dc_date 1921
- Oberösterreichisches Landesmuseum (9)

dc_date 2002
-

[2011-08-12 17:40] fwelter commented on #36
1.1.4      diacritic marks

voyages îles
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 22 + 7 + 5.
- same results as for voyages iles

mantides musée
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 25 + 20 + 9.
- same results as for mantides musee

"Musée"
- the number of hits was not indicated, you have to count "

[2011-08-12 17:40] fwelter commented on #37
1.1.5   language specific charcters

sorry for the many ????? in this mail. these ??? referred all to the
Russian characters which were not disploayed correctly in my mailer.

außen
- 5 results

aussen
- 5 results

?????????? ? ?????????
- 1 result

?????????? ? ????????? ? ????? ???????????
- 1 result

"??????????"
- 1 result

"??????????? ("
- no result (should have given 1 result)

?????????? ?

[2011-08-12 17:40] fwelter commented on #38
1.1.6     special characters

,
- results:
  1. Oberösterreichisches Landesmuseum (1187)
  2. NCB Naturalis (18)
  3. Consejo Superior de Investigaciones Científicas (1)
  4. Helsingin yliopisto (1)
  5. Royal Botanic Garden Edinburgh (1)
- searching for a comma alone is a nonsense result, but not all data
  providers seem to return hits. I guess in almost all titles a comma is
  contained somewhe

[2011-08-12 17:40] fwelter commented on #40
1.1.8   categories (author, year, title)

the feature is not installed in the simple search version. I can only
sort by title, creator and date, but not specify in the search
function that I like to look for author-only, year-only etc.

there is a clickable feature "Browse" and there I can select between
Browse by Title A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
Browse by Author A B C D E

[2011-08-12 17:40] fwelter commented on #41
1.1.9 wildcards \* ? []

"*antides du muse"
- no result

"?antides du muse"
- no result

"mantid\* du muse"
- returns 1 result (mantides du Musée)

"mantid? du muse"
- returns 1 result (mantides du Musée)

"manti\* du muse"
- no result

"manti? du muse"
- no result

antide
- no result

*antide
- no result

?antide
- no result

manti*
- the number of hits was not indicated, you have to count "Data

[2011-08-12 17:40] fwelter commented on #48
1.2.5   combined search in different fields (year, title, author...)

I could only use Advances Search 2 for that, the others didn't give
the option to select 2 or more search categories

dcterms_issued:1952 AND dc_title:ceratina
- 1 result, from NCB Naturalis

dcterms_issued:2002 AND dc_title:revision
- results:
  NCB Naturalis (7)

dc_date:2002 AND dc_title:revision
- no results

dc_date:2002 AN

[2011-08-12 17:40] fwelter commented on #53
1.2.10  language/country

sorry for the ?????? in this mail, they referred to Russian
characters that were not displayed in my mailer

Advanced Search 2

I did not get to know how to search for country. I only found a way to
search for language in Advanced Search 2.

dc_language:*
- error 400
- pity!

dc_language:e*
- results:
  1. Royal Botanic Garden Edinburgh (177)
  2. University of Copenhagen

[2011-08-12 17:40] fwelter commented on #55
1.2.12   search with exact phrase

"voyage iles"
- no results. this was correct.

"mantides du musee"
- 1 result (mantides du Musée) - correct

"mantide du muse", "mantid du muse", "mantid du muses", "mantid du
musees", "mantids du musees", "mantides du musees"
- 1 result (mantides du Musée) - incorrect

"mantidese du muse", "mantid dus muses", "mantid due muses", "mantidse
du musees", "mantides d

[2011-08-12 17:40] fwelter commented on #39
1.1.7   truncated terms

cephalop*
- results:
  1. NCB Naturalis (20)
  2. Oberösterreichisches Landesmuseum (12)
  3. Consejo Superior de Investigaciones Científicas (1)

finnla*
- results:
  1. Helsingin yliopisto (20)
  2. Oberösterreichisches Landesmuseum (3)

"mantides du muse"
- returns 1 result (mantides du Musée)

"mantides du mus"
- no result

"antides du muse"
- no result
- this would ha

[2011-08-12 17:40] fwelter commented on #57
1.3.1   browse by title, author, year

title A

dc_title__facet:A\* dc_title__facet:a*
- results:
  1. NCB Naturalis (430)
  2. Oberösterreichisches Landesmuseum (308)
  3. Universitätsbibliothek Bielefeld (272)
  4. Helsingin yliopisto (13)
  5. Royal Museum for Central Africa (12)
- only titles that begin with A

title C
- results:
  1. NCB Naturalis (266)
  2. Oberösterreichisches Landesmuseum

[2011-08-12 17:40] fwelter commented on #110
4.1.7   BHL news

I did not know where to click for this feature. seems that it has not
yet been installed on the portal.

Francisco

---

F. Welter-Schultes
Zoologisches Institut, Berliner Str. 28, D-37073 Goettingen
Phone +49 551 395536, Fax +49 551 395579
http://www.gwdg.de/~fwelter
http://www.animalbase.org

[2011-08-12 17:40] fwelter commented on #126
4.2.3     stable URLs

simple search  mantides
- 3 results

http://bhl-portal-dev.nhm.ac.uk/?q=node/13071
http://bhl-portal-dev.nhm.ac.uk/?q=node/18685
http://bhl-portal-dev.nhm.ac.uk/?q=node/13543
- each node has an obviously individual ID number

Advanced search 2

dc_contributor:n\* AND europeana_dataProvider__facet:"Consejo Superior
de Investigaciones Científicas"
- gave 5 results, all from Co

[2011-08-12 17:41] fwelter commented on #46
1.2.3   range of years, Advanced Search 3

Advanced Search 3 restored the simple search mode automatically after
each single search

1950-1960
- 1 result:
  Oberösterreichisches Landesmuseum (1)
- only year 1960 was found

1894-1921
- no results

1930-1950
- no results

Advanced Search 2

dc_date   1980-1990
- no results

dc_date   1894-1921
- no results

dcterms_issued   1980-1990
- no results

d

[2011-08-12 17:41] fwelter commented on #62
1.4.2      sort result list

(1) category; (2) alphabetically (A B C ..); (3) type of publication
(journal, monograph); ((4) popularity)

(1) category

I tried to list results by clicking on the button sorted by "Subject"

simple search:

uber
- results:
  1. Oberösterreichisches Landesmuseum (1224)
  2. Universitätsbibliothek Bielefeld (188)
  3. NCB Naturalis (106)
  4. Royal Museum for Central

[2011-08-12 17:41] fwelter commented on #124
4.2.1    - change individual setting

I did not know where to click to test for this feature. Clicking on
the link "Manage saved queries" did not yield a page where individual
search settings were displayed.

When I clicked on "User menu: My account" I was able to find a button
to click on "Settings"
- this displayed "View properties" with 3 functions, each had a title
  and a checkbox

1  Node St

[2011-08-12 17:41] fwelter commented on #125
4.2.2     save search results

I tried to test something by clicking on the link "Manage saved
queries"

The following was displayed:

flora   delete
dc_date__facet:[1910 TO 1930]   delete
african crabs   delete
a\*  delete
book    delete
- clicking on "delete" next to "flora" had the effect that the page
  was reloaded and the flora line was removed.
- clicking on "african crabs" (I opened the li

[2011-08-12 17:41] fwelter commented on #33
1.1.1.   unordered keywords

mantides
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 2 + 1.
- of these, search term found in title (and displayed yellow): 1

musee
- the number of hits was not indicated, you have to count "Data
  Provider" or "Rights": 25 + 20 + 7.
- of these, search term found in title (and displayed yellow): 5
- in one title the word "Mu

[2011-08-15 08:18] akohlbecker commented on #176
Hi Jiri, shouldn't we close this ticket, since is obviously is a duplicate of  #36 ?

[2011-08-15 10:45] JiriFrank commented on #176
Hi Andreas,

#36 is a feature, but this issue #176 is a bug, related with that feature. It is not duplication. Bugs have their own issues, because one feature could heave more than one bug. When the all bugs related with concrete feature are fixed, the feature is completely done and will be close.

[2011-08-15 11:53] akohlbecker commented on #176
Ok, Jiri, thanks for clarifying this.

In the description of this ticket you are writing that the "Küsten"-problem is a problem with metadata or OCR and that the same problem exist within the BHL Portal (http://www.biodiversitylibrary.org/), I cannot reproduce it there. Could you give an example?

[2011-08-16 09:36] JiriFrank opened #190 "1.4.1. Numeration in result list (Result list)"
Amount of searching items in the search result which Matches for: x y terms.
Number the items in search result list.

For more details see comments in Issue #33

Related feature: #61

[2011-08-16 12:24] akohlbecker commented on #176
Using the MappingCharFilterFactory seems to be suitable approach to solve this issue ( http://lucene.apache.org/solr/api/org/apache/solr/analysis/MappingCharFilterFactory.html ) it would have to be applied during indexing and before sending the query to Solr.

[2011-08-16 12:52] akohlbecker commented on #176
The MappingCharFilterFactory is already being used in both solr cores, the mapping configuration files are:
- portal/drupal-ait/solr/core1/conf/mapping-ISOLatin1Accent.txt
- portal/drupal-ait/solr/core2/conf/mapping-ISOLatin1Accent.txt

The character mappings are configured by now in the following way: Ä => A
So a search using "Apfel" as query term would find also "Äpfel", however if we now would

[2011-08-16 13:27] akohlbecker opened #191 "No search results when using umlaute and wild-card"
No search results are returned when using umlauts and wild-cards in combination. A search for "Löwe" returns many records (compare with #36 ) however a search with "Löw*" returns no results.

However there is more strange behaviour regarding wild-cards:
- "Northeast" => many pages of results,
- "North*" =>  no results
- "north*" => many pages of results

[2011-08-16 14:43] akohlbecker opened #192 "solr: all text is treated as english [DISCUSS]"
Solr is configured by now as if all text was English.

In the schema.xml the SnowballPorterFilterFactory is being used which usually is a good idea, but this filter is language specific, currently all text is treated as English, so all word tokens are transformed to their English stem ( http://snowball.tartarus.org/algorithms/english/stemmer.html )

[code]

http://wiki.apache.org/solr/LanguageAnal

[2011-08-16 15:26] akohlbecker commented on #176
I did some investigation regarding the "Küsten"-problem: The ü is not a single unicode character (U+00FC Latin Small Letter U with diaeresis) but a combination of
U+0075 Latin Small Letter Uand  U+0308 COMBINING DIAERESIS
The MappingCharacterFilter with mapping-ISOLatin1Accent.txt is not able to normalise combining diacritics.
Proper normalisation of combining diacritics has been identifies as a p

[2011-08-16 20:02] JiriFrank commented on #34
Search with Boolean operators seems to works properly. Serching for exact phrase in the case in one word have some level of tolerance which was reported in bug #177.

[2011-08-16 20:21] JiriFrank commented on #176
Great job Andreas. If we fix the searching with exact phrase for example for – “Äpfel” the result will be really just Äpfel and not also Apfel, it will be great. This problem is related with reported bug #177. In case when I am searching “Král” and the result is for “Kral” which have different meaning.

Sorry for my late response about the “Künste“ ,you have already find out the problem. Exactly t

[2011-08-16 20:33] JiriFrank commented on #37
According to the testing it seems that this function is working properly. It is strength that there is just one book written by Cyrillic alphabet on the portal for now, but it looks like.

[2011-08-16 21:34] JiriFrank commented on #45
Search by year of publication works just for the LANDOE, UBER and UCPH collections, because they have a field Date. Other collections are not possible search or browse by date.

The function itself is ready and the problem is probably just in metadata. But without fixing this problem the function is useless.

Related bug is #183.

[2011-08-16 22:20] JiriFrank commented on #48
This function is working properly. The problem is only with the date field which is connected with metadata and was already reported. After fixing that the feature could be close.

[2011-08-16 23:10] JiriFrank commented on #55
The function seems to work properly, but there is still problem whit the diacritic tolerance, in that case it is not the exact phrase, but the similar phrase. This problem was already reported in bug #177.

[2011-08-16 23:30] JiriFrank commented on #110
The function is implemented in development portal as Andreas mentioned. It need to be styled and designed for the new portal template. This is task for me and IT4Care and it will be related with the Look and Feel feature and with the Portal design development.

[2011-08-16 23:41] JiriFrank commented on #125
This function is implemented and working properly.

[2011-08-16 23:44] JiriFrank commented on #133
This function is working properly.

[2011-08-16 23:49] JiriFrank opened #193 "1.4.x Duplication in content"
Several records are duplicated, for example “Mollusca: Varia II” from RMCA.
Metadata fields are the same and also the book. Change is in Identification and Holding Information field. The duplication is mainly in the content from RMCA collections.

One book has

Identification
2bd5163e-6cce-4096-96b4-c2d3ceed8443
007582589
Holding Information
Royal Museum for Central Africa
http://bhl.ait.co.at/ind

[2011-08-16 23:50] JiriFrank opened #194 "1.4.x Facet list (left column information) data and metadata fields"
Left column (facet list) in result provides incomplete data. This function is probably dependent on the schema and metadata fields.

For example from searching with exact phrase “Von Martens” we will get 7 results. In left column are these categories:

Date – just one record 1866, even the books are form different years. This bug is related with the date bug  #171 and #183
Type – 7 records for “Te

[2011-08-16 23:51] JiriFrank opened #195 "1.4.x Data Provider in Facet list"
In several cases in results shows data provider specific number of records according to result list. After clicking on this data provider in Data provider category, the number of results is different.

For example:
Simple search for – poisson afrique – have 46 items in result lists. The “Data Provider” in facet list shoving 3 content providers together with 46 records, which is right. But when you

[2011-08-16 23:52] JiriFrank opened #196 "1.4.x Right in Facet list"
The links in category “Rights” doesn’t work and reporting error.

Connection with the exact feature need to be defined.

[2011-08-16 23:53] JiriFrank opened #197 "1.1.6 - Search with special characters"
Special character as !?()/+- reporting error and need to be used in combination with quotes. The error screen need to be replaced for example by information that it is necessary to use the quotes or give automatically no results. Others special characters are working properly.

Related feature #38

[2011-08-16 23:54] JiriFrank opened #198 "1.2.2 – Search by year of publication – metadata problem"
Search by year of publication works just for the LANDOE, UBER and UCPH collections, because they have a field Date. Other collections are not possible search or browse by date.

The function itself is ready and the problem is probably just in metadata. But without fixing this problem the function is useless.

Related bug is #183.
Related feature #45

[2011-08-16 23:54] JiriFrank opened #199 "1.4.2 – Sort categories (Result list)"
The main search and also sort categories are: title, author, year and journal title (journal/monograph: information not yet available) – please change the categories.

Please rename all the buttons and the names in the pull down menu. We need have a consistent set of metadata field names based on the OLEF schema. We can contribute.

and lateron: taxon (as soon as services are implemented)

Related

[2011-08-17 08:28] janahoffmann commented on #171
@Melitabirthaelmer
Could you please check the respective metadata of LANDOE collection.

[2011-08-17 08:58] janahoffmann commented on #180
@melitabirthaelmer
@wkollernhm
How many CP's provide the language field? and is there another way to "tag" the language and origin (place) of publication?

[2011-08-17 08:59] janahoffmann commented on #181
@melitabirthaelmer
Do you have an idea what could cause the "S" or "N" problem?

[2011-08-17 09:14] akohlbecker commented on #177
The exact search is by now implemented by just applying the according Solr QuerySyntax to the query string entered in the  field "with exact phrase":

[code]

however the field being used during this search is the same as for all other searches, the tokens in this field are "expanded" by the SnowballPorterFilterFactory. Exact search should use a field with an special field type which is not using

[2011-08-17 09:16] janahoffmann commented on #183
@melitabirthaelmer
Could you please check the UBER date format and find out why they display it in this style 1900-01-01? This might confuse the users and interfer with the search functionalities.

[2011-08-17 09:19] janahoffmann commented on #193
@melitabirthaelmer FYI

[2011-08-17 09:22] janahoffmann commented on #194
I think we have to decide first how we want things to be diplayed before we report this as a bug. I don't think we will stick to this facet list anyway, especially as it is not based on the OLEF but ESE schema right now

[2011-08-17 09:25] janahoffmann commented on #195
@jirifrank
See comment 1.4x Facet list... #194
However, the developers should explore this problem as it will also be present in the "new" facet list style.

[2011-08-17 09:28] janahoffmann commented on #196
@jirifrank
see comment issue #194
but it should be fixed as it will be the same problem in the "new" facet list style

[2011-08-17 09:37] janahoffmann commented on #198
@jirifrank
I am not sure if we should report this a bug as we don't know enough about the pre-ingest process. I informed Melita about these problems but as long as we don't see the fully functional pre-ingest tool we don't know what causes this. However, Melita is exploring the metadata of partners to check whether this is the orginal format, seems to be true for Landoe (year in title) and UBER/ U

[2011-08-17 09:47] janahoffmann commented on #110
@jirifrank
The function is there, yes, but the reshaping needs to me encoded in another task. Either report is as a bug of the feature or create a new task (project tasks): web design of portal (including this task)

[2011-08-17 09:59] janahoffmann commented on #119
New template online and working. Web design work continues.
Open for testing?

[2011-08-17 09:59] #119 closed, assigned to JiriFrank

[2011-08-17 10:00] janahoffmann commented on #128
Please distribute tasks

[2011-08-17 10:01] janahoffmann commented on #116
Please assign task to developer.

[2011-08-17 13:46] melitabirthaelmer commented on #171
This is the current situation using an example:

BHL-Europe portal: http://bhl-portal-dev.nhm.ac.uk/?q=node/13019
Used metadata for this content: http://81.10.192.123:8082/oai/oai2.php?verb=GetRecord&identifier=oai:biologiezentrum.at:125&metadataPrefix=ese

<b>Please note: this is metadata that was used for the Europeana ingest in April 2011 as we had no portal & no ingest tool. Therefore LANDOE p

[2011-08-17 14:40] janahoffmann commented on #171
Sounds like a good solution!!!

Museum für Naturkunde
Leibniz Institute for Research on Evolution and Biodiversity at the Humboldt University Berlin

Jana Hoffmann
BHL-Europe - project assistant

http://www.bhl-europe.eu/
Invalidenstraße 43
10115 Berlin
Germany

phone: +49 (0)30 2093-8650
fax: +49 (0)30 2093-8565
email: jana.hoffmann@mfn-berlin.de
website: http://www.naturkundemuseum-berlin.de

--

[2011-08-17 14:58] janahoffmann commented on #151
This issue cannot be closed if it is not done!

[2011-08-17 14:58] janahoffmann commented on #152
This issue cannot be close if it is not done.

[2011-08-17 14:59] janahoffmann commented on #153
We cannot test this feature and thus it cannot be closed.

[2011-08-18 10:39] melitabirthaelmer commented on #181
It is difficult to test this, as reduction of the retrieved items to an individual "Data Provider" doesnt't work using the faceted navigation.

Here is an example I had a look at (I used one from our CPs who uploaded the metadata file and the scans to the NHM server in order to be able to compare the original metadata with the processed metadata displayed in the portal):
- Used search: Browse by "

[2011-08-18 11:30] melitabirthaelmer commented on #183
For me it looks like it matches the UBER items because of this additional comment in the date field "20. Jahrhundert/Erste Dekade des 20. Jahrhunderts". 20 is marked yellow when I search an the search seams to retrieve everthing with 20XX.

This is the search
(Matches for:dc_date_facet:[1990 TO 2010] AND europeana_dataProvider_facet:"UB der Humboldt-Universität, Zweigbibliothek Museum für Naturkun

[2011-08-18 11:45] melitabirthaelmer commented on #193
This links are refering to the portal on AIT server and not to the portal on the NHM server. Is this correct?

[2011-08-18 12:11] akohlbecker commented on #177
fixed by 53ea228

The the exact search option is implemented by introducing a new copyField "all_exact".  The functionality has been made available by example in the portal implementing a new search page called "Exact Search". It is available from the Navigation menu.

[2011-08-18 12:11] #177 closed, assigned to akohlbecker

[2011-08-18 12:13] akohlbecker commented on #177
In order to test the "Exact Search" you have to drop the selenium core2 and re-index.

[2011-08-18 13:09] melitabirthaelmer commented on #198
I guess this problem occurs because two different field names are used within the portal for displaying the publication date.

For LANDOE the publication date is in the field "Date" within the portal.
For RBGE and NAT the publication date is in the field "Publication" within the portal.

Having a look at the metadata on the NHM server for RBGE the publication date is available within the field
<i>

[2011-08-18 13:30] melitabirthaelmer opened #200 "BHL-Europe book viewer used for Europeana does not display pages"
Problems with the display of content within the currently used BHL-Europe book viewer for Europeana has been noticed.

Here is a detailed error description with an example from our content provider RBGE:
- Content example: Notes from the Royal Botanic Garden Edinburgh, Volume XX, Number XCVI
- You can find the notes in Europeana here:
  http://www.europeana.eu/portal/record/08705/FEF2E25035C1A6EAA

[2011-08-24 09:19] sprogerb commented on #144
Tool ready for testing

[2011-08-24 09:26] sprogerb commented on #70
Relates to Tervuren-Protocol (issue 11) - content viewer related work dedicated to Atos. AIT contributions scheduled within 22.Aug. - 31.Aug.

[2011-08-24 09:27] lobajuluwa commented on #144
@melitabirthaelmer
@bgol

[2011-08-24 09:28] sprogerb commented on #71
Relates to Tervuren-Protocol (issue 12) -  AIT contributions scheduled within 22.Aug. - 31.Aug.

[2011-08-24 09:31] sprogerb commented on #149
Project Task -> dedicated to Project Assistance

[2011-08-24 09:34] sprogerb commented on #71
POrtal Issue

[2011-08-24 09:36] sprogerb commented on #84
Book Viewer Issue (connected with data delivery from data providers)

[2011-08-24 09:37] sprogerb commented on #160
Project Task - dedicated to AIT project assistant

[2011-08-24 09:38] sprogerb commented on #144
sprogerb out of duty

[2011-08-24 13:46] lobajuluwa commented on #152
Hi Wolfgang, I've reopened this Issue as per above comments. This project task was transferred over from the Scrum backlog. Hence, if it's already being covered under several features already assigned to NHMW then we don't need to duplicate effort.
@wkollernhm

[2011-08-24 13:56] lobajuluwa commented on #76
Wolfgang will now be doing the integration work rqd for VIAF_lookup modules into the overall system, upon his returns from hols.
milestone ytbd.
@wkollernhm
@janahoffmann

[2011-08-24 14:01] lobajuluwa commented on #74
Wolfgang will now be doing the integration work reqd for the names_lookup module into the overall system, upon his return from hols.
milestone ytbd.
@wkollernhm
@janahoffmann

[2011-08-24 14:07] lobajuluwa commented on #161
Guidelines for using Issue Tracker is available on the Wiki:
https://bhl.wikispaces.com/GitHub+Issue+Tracker

[2011-08-24 14:07] #161 closed, assigned to lobajuluwa

[2011-08-24 15:48] JiriFrank commented on #193
These links are included in the metadata on the NHM server.
Here is the link to the book anotation with metadata:
http://bhl-portal-dev.nhm.ac.uk/?q=node/20180

and the second one

http://bhl-portal-dev.nhm.ac.uk/?q=node/20208

[2011-08-25 09:56] bendao commented on #193
fixed on http://bhl-ait-dev.nhm.ac.uk and http://bhl.ait.co.at

[2011-08-25 09:56] #193 closed, assigned to bendao

[2011-08-26 08:23] bendao commented on #196
fixed: Special characters in any facet are handled properly.
http://bhl-ait-dev.nhm.ac.uk/

[2011-08-26 08:23] #196 closed, assigned to bendao

[2011-08-26 08:39] bendao commented on #190
This is an additional feature of the search function.
It requires the portal to break the search into pieces and query the indexer for hit counts.

[2011-08-29 09:51] #194 closed, assigned to akohlbecker

[2011-08-29 09:54] #195 closed, assigned to bendao

[2011-08-30 09:37] zhengl commented on #102
Done. The web services are integrated into Fedora Commons. And different formats can be downloaded after ingest.

[2011-08-30 13:00] bendao commented on #170
The portal now accepts ranges in the form of e.g. 1917-1988 in search fields.

[2011-08-30 13:00] #170 closed, assigned to bendao

[2011-08-30 14:45] bendao commented on #132
Once logged in you find the "My account" Link at the top of the page. This allows you change all the your user settings.

Drupal will ask you to log in whenever you access a page you do not have the right credentials for. These rights can be modifies by any site administrator.

[2011-08-30 21:28] JiriFrank commented on #170
On the testing server for search by range of years of publication is necessary chose the field date and the range for example [1872 TO 1890]. In this case the search by range of years of publication is working properly.

[2011-08-31 08:36] #128 closed, assigned to JiriFrank

[2011-08-31 08:37] #116 closed, assigned to leenamba

[2011-08-31 08:42] #102 closed, assigned to zhengl

[2011-08-31 13:46] heimor commented on #81
too large, maybe leave out from BHL-E; too many false positives

[2011-09-02 13:56] zhengl opened #201 "Preingest Tool does not generate clean METS files"
Bugs as followed:
1. LABEL in mets tag: dirty HTML from GUID generator;
2. OBJID in mets tag: dirty too;
3. The indice of IMAGE, JHOVE and TAXA start from 0, 1 or 2, but we need a fix value (1 would be the best).

[2011-09-05 11:16] bendao commented on #201
Thanks, I'll drop you a note when its fixed (It seems my schedule will allow it
by next week.)

best,
odo

On Friday 02 September 2011 15:56:19 you wrote:

##

---

| Odo Benda
| AIT Forschungsgesellschaft mbH
| Klosterwiesgasse 32/I | A-8010 Graz | AUSTRIA

## | Tel.: +43 316 835359-76 | Fax.: +43 316 835359-75

[2011-09-05 14:41] #90 closed, assigned to leenamba

[2011-09-05 14:42] zhengl commented on #90
already implemented in IA Book Reader

[2011-09-06 06:36] wkollernhm commented on #82
Right now webservice calls are cached using the internal drupal caching system. Thus if the webservice is down but the request was made before it will just return the cached result.
If the request wasn't done before, the module will return an error code so that calling functions can react (like displaying a note).

I would suggest we keep that behaviour for all of our webservices.

[2011-09-06 06:43] wkollernhm commented on #185
This is now a duplicate of #76 - hence I will close it.

[2011-09-06 06:43] #185 closed, assigned to wkollernhm

[2011-09-07 10:22] leenamba commented on #54
Two options:
1. Search for a character string and then it is highlighted in an overlay of the OCR on the image of the book.  For this the coordinates of the OCR text as well as the OCR text must be provided to the Book Viewer.  The OCR text and coordinates should be provided by the same OCR process, either by the Content Providers, Pre-ingest, or Ingest.
2. Search for a character string and then t

[2011-09-07 10:26] leenamba commented on #95
Two options:
- Select text in an overlay of the OCR on the images of the book.  For this the coordinates of the OCR text as well as the OCR text must be provided to the Book Viewer.  The OCR text and coordinates should be provided by the same OCR process, either by the Content Providers, Pre-ingest, or Ingest.
- Select text in a separate window with just the OCR text.  For this only the OCR text i

[2011-09-07 10:33] melitabirthaelmer opened #202 "Preingest Tool Test: Submission doesn't work"
<i><b>Test content: </i></b>
RMCA /Monographs/Anderson_Zoology of Egypt_vol_1_Reptilia
RMCA /Monographs/Anderson_Zoology of Egypt_vol_2_Mammalia

<i><b>Description:</i></b>
RMCA tried to submit the test content (Monday,05.09.2011). Two folders have been chosen ( see test content), but after pushing the button "submit selection for processing" nothing happened.
"Queue" was empty.
"Monitor" displaye

[2011-09-07 11:47] melitabirthaelmer opened #203 "Preingest Tool - Footer"
There is following copyright information stated in the footer of the pre-ingest tool:

Copyright © ait.co.at - BHL-Europe PreIngest Tool

[2011-09-07 12:27] zhengl commented on #91
Pagination is not available in AIP for the moment, we can only print per page now (From JPEGs in the Book Reader).

[2011-09-07 12:34] zhengl commented on #131
I suggest to modify the OCR directly in the Book Reader, but since the roles of user are not clear, I can just implement this functionality now.

[2011-09-07 12:38] zhengl commented on #68
I will provide the functionality of packing all requested content in a zip, but UI will also need the D&D animation.

So there must be another UI developer for this issue.

[2011-09-07 12:42] zhengl commented on #94
Only if the pagination is available.

[2011-09-07 12:43] zhengl commented on #84
the prerequisite is the pagination metadata is provided in the AIP

[2011-09-07 12:46] zhengl commented on #115
need more specification about how it looks like, what kind of info inside, and so forth.

[2011-09-07 12:52] zhengl commented on #43
Need more specification.
For all digital objects in Fedora, the URLs and IDs (GUID) are stable. If we want to search for ID/URL, they should be indexed by Solr in the Portal part after the ingest process is finish.

Since this is a functionality of search, in my opinion, should we take this?

[2011-09-07 12:55] zhengl commented on #129
Need more specification.
target-folder: remember the local target-folder as a setting in user profile?
formats: need more info of this field
styles: need a draft of the look & feel

[2011-09-08 11:51] melitabirthaelmer opened #204 "Preingest Tool Test: Monitor - Feedback to user is missing [Usability]"
<b><i>Test content:</b></i>
RBGE/VOC

<b><i>Description:</b></i>
User logged in to the Pre-Ingest tool and followed the instructions (BHL-E-PREINGEST_ FOR CP.pdf at https://bhl.wikispaces.com/Preingest+Test) using the Test content (RBGE/VOC), selecting eng for OCR.
After submitting, user checked the "Monitor" section of the Pre-ingest tool.
See screenshot : Pre-Ingest_RBGE_Monitor1.pdf  at https:/

[2011-09-08 13:42] melitabirthaelmer opened #205 "Preingest Tool Test: Submission - inconsistency tool vs. instruction"
<b><i>Related Issue: </b></i>#204

<b><i>Test content:</b></i>RBGE/VOC

<b><i>Description:</b></i>
User submitted test content. After #204 user switched to "Submissions" and find out that an aip file had been created attached to the VOC file.

See screenshot:  PreIngest_RBGE_Submissions_aip1.pdf  at https://bhl.wikispaces.com/Preingest+Test

Checking through this against what the aip folder should

[2011-09-08 14:07] melitabirthaelmer opened #206 "Preingest Tool Test: View created files within aip folder"
<b><i>Related Issue: </b></i>#204 , #205

<b><i>Test content:</b></i> RBGE/VOC

<b><i>Description:</b></i>
User submitted test content.
Detailed description see #204, #205
User tried to open files within created .aip folder (under register "Submissions") e.g. VOC.mets.xml to check how the metadata looks after the processing.

See also screenshot: PreIngest_RBGE_Submissions_aip1.pdf  at https://bhl

[2011-09-08 14:50] grahamhrbge1670 opened #207 "Pre-Ingest Testing: OCR-Language selection"
How are the entries, lang and language in the OCR-Language selector, to be used.  I cannot match them to anything in the LC MARC Code List for Languages, but am sure they must be there for a reason, are they defaults for unspecified languages ?

[2011-09-08 14:54] grahamhrbge1670 commented on #206
Not sure if I was following the workflow correctly, but I was trying to see if I could open files that would show data as it is presented in  Figure 3-11 and Figure 3-12 in the Content Ingesting Process Technical Note.

[2011-09-08 14:55] grahamhrbge1670 commented on #206
Apologies, closed in error.

[2011-09-08 15:00] grahamhrbge1670 commented on #205
On testing further with RBGE content I think that one reason these files were missing was my misubnderstanding of the workflow.  I had not ticked the tiff boxes for the content and so naturally no
tif.txt
tif.taxa.xml
tif.jhove.xml

files appeared.  However I'm still not sure what is happing to xml.smt.xml file, as I re-run the ingest with different content this morning and this file is still not

[2011-09-08 18:19] chris-sleep commented on #129
target folder remembered in the user profile would be ideal, yes.

For an example (BHL US) see: http://www.biodiversitylibrary.org/bibliography/1417; we will want to provide equivalent download functionality

formats/application overlap and define how the data is rendered

formats: Brief, Detailed (both text)
applications: mods, BibTex, EndNote (.enw format)

style: log into the current portal as

[2011-09-09 08:27] bendao commented on #207
They are indeed defaults, but they should not show up in the list. That's a glitch that will be fixed.

[2011-09-09 13:52] lobajuluwa commented on #43
this will be a solr implementation, but depends on fedora side before it can be implemented

[2011-09-12 09:42] melitabirthaelmer commented on #203
@parmelia-michaela

[2011-09-12 10:47] JiriFrank opened #208 "Portal design concept and workflow"
Updates from the portal design developing:
- new requirements
- new iprovements
- related issues, discussions and features
- updates from the design developing workflow

[2011-09-12 12:04] melitabirthaelmer opened #209 "Preingest Tool Test: No display of Queue & Monitor"
<b><i>Related issue: </b></i> #202

<b><i>Test content 1: </b></i>CSIC000069901/Vol._1 (submitted by testdata provider)
<b><i>Test content 2: </b></i>RMCA/Monographs/Eberstaller_Stirnhirn (submitted by RMCA)

<b><i>Description:</b></i>
No activity was displayed in the Monitor and Queue of the Preingest tool. However the last 100 should be visible according to the stated text "Monitoring last 100 p

[2011-09-12 12:22] bgol commented on #203
Standard license text (URL) for all BHL-E components requested.

[2011-09-12 12:35] melitabirthaelmer opened #210 "Preingest Tool Test: Selection of content"
<b><i>Description:</b></i>
Currently content can only be selected by selecting each available folder.
For content providers providing a huge amount of content (e.g. LANDOE, HNHM) this is very time consuming and not manageable. For instance LANDOE would need to select over 3000 folders manually to be able to submit all their content  at the moment.

<b><i>Suggestion:</b></i>
Provide a possibility t

[2011-09-12 13:32] melitabirthaelmer opened #211 "Preingest Tool Test: Display of available content slow"
<b><i>Description</b></i>: Clicking on submission it takes for content providers with a huge amount of content a long time to display all their content.
See also screenshot:  Submit-Loading slow.pdf at https://bhl.wikispaces.com/Preingest+Test

<b><i>Possible explanation: </b></i>
According to @chris-sleep a reason might be that the Pre-ingest tool for testing is deployed on a shared development m

[2011-09-12 14:07] parmelia-michaela commented on #211
well I do not know if it was said that the machine will be solely for the PreIngest tool but in future this should be faster right?

[2011-09-12 14:42] leenamba opened #212 "gsearch installation"
- Re-install gsearch and integrate with fedora on bhl-int1.nhm.ac.uk
- Commit gsearch scripts to github

References:
- https://wiki.duraspace.org/display/FCSVCS/Generic+Search+Service+2.2

[2011-09-12 15:00] melitabirthaelmer opened #213 "Preingest Tool Test: "Monitor" displays all submitted content - confusing"
<b><i>Description:</b></i>
The "Monitor" displays submitted content from all content providers. In the "Submission" a user can select only his/her own content to be submitted, which is desired in that way. However after submitting his/her own content, switching over to the registers "Queue" and "Monitor" the user is able to see the last 100 activities (processing one image file = 1 activity !) fro

[2011-09-13 10:13] melitabirthaelmer opened #214 "Preingest Tool Test: Content submitted - AIPs empty"
<b><i>Related Issues:</b></i> #202, #213
<b><i>Test content:</b></i> diverse content from LANDOE
<b><i> Note: </b></i> Metadata harvesting over OAI-PMH

<b><i>Description:</b></i>
- <b><i>Test on 06.09.2011 </b></i>

Content submitted at the same time: 1, 10, 100, 101, 102, 11, 114
Content visible in the "Queue" and "Monitor" as "SUBMITTED", but not as "DISPOSED".
One day later on the 07.9.2011 no

[2011-09-13 10:36] melitabirthaelmer opened #215 "Preingest Tool Test: Documentation Feedback - Content upload"
Add more explanations to chapter 3.1.
- Those users who don't use WebDav as their FTP client might be confused. Add an explanation that WebDav is only a suggestion and we made good experiences with it, but of course other FTP clients might work as well, such as ...
- User might ask if his/her FTP client needs to run while using the Preingest tool.
  Mention that the FTP client on the user side is

[2011-09-13 11:03] melitabirthaelmer opened #216 "Preingest Tool Test: Monitor view - too many details"
<b><i>Related Issues:</b></i> #204, #213

<b><i>Description:</b></i>

Submission is on folder level, Monitor is on file level. The Monitor view is too detailed. Currently user needs to check if there is a "DISPOSED" in front of each file (= e. g. 1 page) within a submitted folder. Imagine you have a monograph with more than 700 pages or you submit all your available content. This is very time cons

[2011-09-15 09:24] melitabirthaelmer opened #217 "Preingest Tool Test: Monitor/Queue view - "date"/"displaydate" unclear"
<b><i>Description:</b></i>

User wondered what "date" in Queue and "displaydate" in Monitor means. After some time user concluded that this might be the time when he/she pressed the button "Submit selection for processing"

<b><i>Suggestion:</b></i>
Use a more meaningful word for "date" &"displaydate". If it is really the date when a user submits the content, then you could use "date of submission

[2011-09-15 09:46] bgol commented on #209
We tried out test content 1 on our test-machine and had no issue with it.

<table>
<tr>
<th>Issue
<th>Test Content
<th>File amount
<th>Size
<th>Time
<th>Queue
<th>Monitor
<th>.aip
</tr>
<tr>
<td>PreIngest Tool Test: No display of Queue & Monitor
<td>CSIC000069901/Vol._1
<td>323
<td>2 GB
<td>21 min
<td>Ok
<td>Ok
<td>Ok
</tr>
</table>

[2011-09-15 09:52] melitabirthaelmer commented on #209
@bgol: Can you please specify what "our test-machine" is?

[2011-09-15 09:52] bgol commented on #202
Both test contents worked on our machine submitted one after the other or together.
It may take awhile until the submissions will be shown if there are several of them.

<table>
<tr>
<th>Issue
<th>Test Content
<th>File amount
<th>Size
<th>Time
<th>Queue
<th>Monitor
<th>.aip
</tr>
<tr>
<td>PreIngest Tool Test: Submission doesn't work
<td>RMCA/Monographs/Anderson_Zoology of Egypt_vol_1_Reptilia
<td>

[2011-09-15 11:35] melitabirthaelmer opened #218 "Preingest Tool Test: Which content is already submitted?"
<b><i>Related issue: #219</b></i>

<b><i>Description:</b></i>

a) It is not visible to user which content is already submitted and which one has been processed successfully.
Currently, user needs to keep record on its own of what has been already ingested. This is very time consuming and not user-friendly.

b) Further, after the content has been proccessed - successfully or not - it disappears fro

[2011-09-15 11:45] melitabirthaelmer opened #219 "Preingest Tool Test: Change register term "Submission""
<b><i>Related issue: #218</b></i>

<b><i>Description:</b></i>
In #218 there is the suggestion to create an additional tab called "Submitted Content".
The name of the first register "Submission" could be misleading. We show the available content that can be submitted which is the content of an user. However "Submissions" could also mean, the already submitted content.

<b><i>Suggestion:</b></i>
Cha

[2011-09-15 12:40] melitabirthaelmer opened #220 "Preingest Tool Test: Submission of content with OCR"
<b><i>Related issue: #207, #214</b></i>

<b><i>Question:</b></i>
What should be chosen for content that already has OCR?

Is the user expected to choose the language of the already available OCR within the drop-down list? Or should it be left empty? Or should the user choose the language, but just deactivate the checkbox "detect"?

@LarissaS
@parmelia-michaela
@tiinaonttonen
@grahamhrbge1670

[2011-09-15 12:49] melitabirthaelmer commented on #207
<b><i>Description:</b></i>
Material from a content provider is in several languages. For instance, one book from UH-VIIKKI may be written in three different languages. Typically there are in German, Swedish and Finnish.

What should be chosen here from the drop-down list? Is there a possibility to choose multiple languages?

@LarissaS
@parmelia-michaela
@tiinaonttonen

[2011-09-15 12:58] leenamba commented on #99
The page ranges will be based on the book viewers pages and not the books page numbers since we will not always have the page number metadata.

[2011-09-15 14:03] leenamba commented on #96
@jannahoffmann
Assumes we're in the book viewer only enter the page number and not a page range.
If "real" page numbers are not provided in the metadata image numbers will be used

[2011-09-16 08:47] leenamba commented on #99
@janahoffmann

[2011-09-16 09:48] bendao commented on #207
Multiple languages in the same book are not supported. It would require the information about begin and end of each language. This however is not available.

[2011-09-16 10:37] leenamba opened #221 "Offline process for custom generated derivatives"
- Capture job orders for offline generation from book viewer
- Manage offline jobs in queuing batch system such as Quartz or Spring Batch
- Email notification to user

[2011-09-19 10:59] melitabirthaelmer commented on #202
Second test on 15.09.2011:

<b><i>Test content: </b></i>
RMCA /Monographs/Anderson_Zoology of Egypt_vol_1_Reptilia
RMCA /Monographs/Anderson_Zoology of Egypt_vol_2_Mammalia
Monographs/Eberstaller_Stirnhirn/

<b><i>Description:  </b></i>
Resubmission of RMCA test content from first test and one new monograph. This time it was displayed in Queue and Monitor. AIP folder has been created.

[2011-09-19 11:19] melitabirthaelmer commented on #202
Third test on 16.09.2011

<b><i>Test content:</b></i>
Annals_RMCA_Zoology/serie_1_fishes_reptiles_amphibians/vol_1/Boulenger_Poissons nouveaux
Monographs/Barns_An African Eldorado
Monographs/Burdo_Les Belges

<b><i>Description:</b></i>
Submission of new test content. However, submitted content during third test was not displayed neither in Queue nor in Monitor. Queue displayed 7 records of LANDOE.

[2011-09-19 11:52] melitabirthaelmer commented on #214
<b><i>Test content: </b></i> FI-Hb/FI-Hb_301519_Memoranda_Societatis (UH-Viikki),
all volumes

<b><i>Description:</b></i>
Same issue as LANDOE. AIP folders created, but empty.

<b><i>Note:</b></i>
Difference:Metadata is uploaded to the NHM server and is not provided by OAI-PMH for UH-Viikki.

@tiinaonttonen

[2011-09-19 12:25] melitabirthaelmer commented on #210
During the test we realized that even for a content provider with a smaller amount of content it is not possible to invest a lot of time only for the process of submission.
Therefore this way of submission is not doable:
"It is important to choose the folder in which the files are stored, not the parent directories."  <i>p.8  BHL-E-PREINGEST_+FOR+CP.pdf </i> at https://bhl.wikispaces.com/Preingest

[2011-09-19 12:33] melitabirthaelmer opened #222 "Preingest Tool Test: "Submit selection for processing" button"
<b><i>Description:</b></i>
Two "Submit..." buttons confuses the user. Why is there one beneath the OCR selector and one at the foot of the screen?

@grahamhrbge1670
@LarissaS
@parmelia-michaela
@tiinaonttonen

[2011-09-19 12:54] melitabirthaelmer opened #223 "Preingest Tool Test: Re-submitting content & Feedback"
<b><i>Question:</b></i>
How can content be re-submitted?
For instance:
a) a content provider improves/corrects the metadata of a already submitted material and would like to re-submit it
b) issues with image files occured  (e.g missing pages, corrupted files, ) and content provider re-uploads the content to the BHL-Europe server.

What happens to the aip folders for already submitted content?

<b>

[2011-09-19 13:04] melitabirthaelmer commented on #206
<b><i>Question:</b></i>
Is this functionality disabled? According to the documentation it should be possible p.15  BHL-E-PREINGEST_ FOR CP.pdf at https://bhl.wikispaces.com/Preingest+Test

<b><i>Suggestion:</b></i>
Provide a possibility for the user to check the mapped metadata after the content has been processed by the pre-ingest tool.

[2011-09-19 13:59] melitabirthaelmer opened #224 "Preingest Tool Test: Content is not processed in strict numerical sequence order"
<b><i>Description:</b></i>
When looking at the files as they were being processed for OCR, user noticed that the image files were not being taken in strict numerical sequence order.
See also screenshot: Monitor-mixed order.pdf at https://bhl.wikispaces.com/Preingest+Test

Does this influences the OCR result or is this just an internal workflow of Tesseract or the pre-ingest tool?

However, user is

[2011-09-20 15:10] zhengl commented on #212
Done, please find the XSLT scripts used by Gsearch in data-management folder.

[2011-09-20 15:12] zhengl commented on #84
A live example is here:
http://bhle-dev-1.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods/demo%3AbookSdef/bookreader?ui=#page/1/mode/1up

It is an implementation from IA Bookreader.

[2011-09-20 15:13] zhengl commented on #54
Option 2 is done.

A live example:
http://bhle-dev-1.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods/demo%3AbookSdef/bookreader?ui=#page/1/mode/1up

You can search multiple words separated by SPACE

[2011-09-20 15:15] zhengl commented on #95
Option 2 is done.

A live example:
http://bhle-dev-1.nhm.ac.uk/fedora/objects/demo%3Adarwin/methods/demo%3AbookSdef/bookreader?ui=#page/1/mode/1up

OCR can be selected in a Textarea, and that's the first level of "select directly".

Also, the "Correct it!" is just a demo, wait for the authorization mechanism (LDAP) to be realized.

[2011-09-20 15:19] JiriFrank commented on #113
Could we split this task to separate email option informing user about items in his basket which are ready for download. And also for RSS. The description of this feature need to be changed.

@janahoffmann

[2011-09-20 15:28] JiriFrank commented on #137
What we will do with the results from this feedback?

@janahoffmann

[2011-09-20 15:28] JiriFrank commented on #136
What we will do with the results from this feedback?

@janahoffmann

[2011-09-21 11:01] akohlbecker opened #225 "specify UI for simple and advance search"
Specify the User interface for simple and advance search:

Suggestion for **simple search**:

simple search is without Boolean operators. This is restricted to advanced search.
- text field for **query string**, will not understand solr query syntax (http://wiki.apache.org/solr/SolrQuerySyntax)
- check-box **exact**, will search for the exact terms
- check-box **phrase**,  will search for the full

[2011-09-21 11:03] akohlbecker commented on #225
@JiriFrank @lobajuluwa @janahoffmann : By now am assigning this task to Jiri, please feel free to further distribute and to share it with others.

[2011-09-22 10:25] akohlbecker commented on #225
see http://design.mydev.cz/BHLE/

[2011-09-23 11:02] lobajuluwa opened #228 "Search by Colloquial Name"
New feature request - refer to Issue (#77)

Requirement -  what level of translation is actually required?

Precondition:-  standard integration of web services scheduled for Nov 2011 Release).

[2011-09-23 11:07] lobajuluwa opened #229 "Multilingual expansion of colloquial name"
Precondition:- Standard Integration of web services - scheduled for Nov Sub Release.

Refer to Issue (#77)

[2011-09-23 11:12] lobajuluwa commented on #77
What level of translation is reqd here?

Precondition -  standard integration of web services scheduled for Nov Release.

Wolfgang has suggested this needs to be treated as 2 separate issues:-
1) Search by Colloquial name
2) Multilingual expansion of colloquial name

Jana pls discuss further with Wolfgang before revising Issue in CoR and updates made to Github.

@wkollernhm
@janahoffmann

[2011-09-23 11:46] wkollernhm commented on #79
module is in place, integration into search process is pending.

[2011-09-23 12:48] janahoffmann commented on #35
@jhquentin: Jan, please tell me what the preconditions are for this feature, e.g. special index, full OCR indexing? I need this for the Catalogue of requirements.

[2011-09-23 13:13] janahoffmann commented on #36
@akohlbecker Please check whether the new description is accurate for the indicated problem. Do we get all diacritics with a Unicode translation? What are the preconditions for the features? I need this for the CoRv1. Thanks

[2011-09-23 13:33] #228 closed, assigned to wkollernhm

[2011-09-23 13:33] #229 closed, assigned to wkollernhm

[2011-09-23 13:56] lobajuluwa commented on #180
Requirement - Translation services for language names needed.

Wolfgang has suggested that this should be split into 2 separate issues i.e.
1) document language (Nov 2011 Release and dependent on services) &
2)Search for publishing country.(March 2012).

Jana to discuss further with Wolfgang before feature in CoR is revised and updates made in GitHub.

@wkollernhm
@janahoffmann